
@media  screen and (max-width:1600px) {

.digital-right .img1 {
    
    margin-left: 73px;
}
}
@media  screen and (min-width:1601px) and (max-width:1800px) {
	.digital-right .img1 {
    
    margin-left: 73px;
}
}
@media only screen and (min-width:1300px) and (max-width:1440px) {
.digital-right .img1 {
    
    margin-left: 27px;
}
}
@media  screen and (min-width:1431px) and (max-width:1440px) {
	.digital-right .img1 {
    
    margin-left: 27px;
}
}
@media (max-width:1280px) {
		.digital-right .img1 {
    
    margin-left: 27px;
}
.digital-banner .digital-left .digital-left-heading h1 {
    font-size: 46px;
    line-height: 51px;
}
.digital-banner .digital-left .digital-left-heading p {
    font-size: 20px;
    line-height: 28px;
    
}
.digital-right .img1 {
    margin-left: -14px;
}
.solutions .identity-heading h3 {
    font-size: 18px;
  
}
.solutions .identity-heading p {
    font-size: 13px;
    line-height: 19px;
}










}
@media screen and (min-width:1000px) and (max-width:1024px) {
.slider-box{
width: 263px;
margin-left: 30px;
}

}

@media only screen and (min-device-width:800px) and (max-device-width:820px) {
	.digital-banner .digital-left .digital-left-heading p {
    font-size: 16px;
    line-height: 25px;
}
.digital-banner .digital-left .digital-left-heading h1 {
    font-size: 40px;
    line-height: 51px;
}	

}
/*@media screen and (min-width:0) and (max-width:1023px) {
.digital-banner .digital-left .digital-left-heading p {
    font-size: 16px;
    line-height: 24px;
}
.digital-banner .digital-left .digital-left-heading h1 {
    font-size: 40px;
    line-height: 47px;
}
.digital-right {
   
    margin-top: 50px;
}
.digital-right .row .img2 {
   
   
    float: right;
    margin-right: 30px;
    margin-top: 0px;
   
}

.digital-right .row .img3 {
   
   
    float: right;
    margin-right: 30px;
    margin-top: 0px;
   
}
*/

@media screen and (min-width:0) and (max-width: 1023px){
h1{
            font-size: 37px !important;
            line-height: 44px !important;
    
        }
        p{
            font-size: 15px !important;
            line-height: 20px !important;
        

        }
.digital-banner .digital-left .digital-left-heading h1 {
    font-size: 37px;
    line-height: 44px;
    }
.digital-banner .digital-left .digital-left-heading p {
    font-size: 16px;
    line-height: 24px;
  
}

header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header .navbar {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 20px;

}

header .navbar .left-header {
    padding-top: 20px;
}

header .navbar .left-header img {
    width: 150px;
    display: block;
    margin-right: 30px;
}


/************************************/

.navbar .middle-header .nav-item {
    padding-left: 10px;
    margin-top: 26px;
}


/************************************/

.navbar .middle-header .nav-item ul li {
    display: block;
    vertical-align: middle;
    padding: 10px 16px;
}

.navbar .middle-header .nav-item ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'gt_walsheim_proregular';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar .last-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    margin-bottom: 30px;
}

.navbar .last-header span {
    display: inline-block;
    padding: 8px 25px;
    border: 2px solid #c54031;
    border-radius: 20px;
    color: #c54031;
    font-size: 16px;
    font-weight: 600;
    font-family: 'gt_walsheim_proregular';
    transition: 0.3s all linear;
}

.navbar .last-header span:hover {
    background: #c54031;
    border: 1px solid #fff;
    color: #fff;
}
.menu-icon i, .close-icon i{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;        
    font-size: 40px;
    color: #c54031;
}
.digital-right .row .img1 {
    margin-left: 70px;
}
.digital-right .row .img3 {
    display: inline-block;
    float: right;
    background-size: 388px;
    background-position: center;
    background-position-x: -83px;
    margin-top: 15px !important;
    background-position-y: -12px;
    margin-right: 17px;
    width: 146px;
    height: 170px;
    border-bottom-left-radius: 53px;
}
.digital-right .row .img2 {
    background-size: 208px;
    background-position: -64px;
    background-position-y: bottom;
    margin-top: 15px !important;
    margin-left: 13px;
    border-bottom-right-radius: 53px;
    width: 146px;
    height: 170px;
    display: inline-block;
    margin-top: 20px;
    border-top-left-radius: 70px;
}
.solutions{
margin-top: 20px;
}
.products-section {
    margin-top: 100px;
    padding-bottom: 70px;
}
.products-section {
    margin-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: auto;
}
.accordion{
    width: 100%;
}
.digital-right {
    width: 100%;
    height: 500px;
     margin-left: 0px; 
}

.creditcard-img{
    width: 100%;

}
.Testimonials {
    margin-top: 644px;
    padding-bottom: 70px;
}
.brand-logo img {
    display: block;
    padding: 38px 72px;
    margin: auto;
}
.mainForm{
width: 100%;
}

.contact-form .form-row input{
    width: 100%;
    margin-bottom: 30px;
}
.contact-form .form-row textarea{
    margin-top: 0px;
}
footer .comon-div .footer-logo{
    margin-left: 0px;
}
.digital-banner {
    width: 100%;
    height: auto;
    padding-top: 131px;
}
.footer-p{
margin-left: 0px;
}
.solutions-div, .Products-div, .useful-Links-div{
    padding-left: 40px;
    margin-top: 10px;
}
.copy-right-footer .footer-icons .social-icon{
    margin-left: 0px;
    float: none;
    margin: 20px auto;

}
.digital-banner .digital-left .digital-left-heading span {
  
    padding: 13px 21px;
    border-radius: 68px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
   
}
.img-box {
    width: 100%;
    height: auto;
    margin-left: 0px;

}
footer .top-footer {
    padding-bottom: 50px;
    margin-left: 30px;
}
.brands-name{
    width: 100%;
}
/*.slick-slide {
   padding:10px;
    text-align:center;
  margin-right:38px;
    margin-left:26px;
}*/
.slider-box{
width: 263px;
margin-left: 0px;
}
.about-slider{
width: 100%;

}
.products-section {
    margin-top: 100px;
    padding-bottom: 200px;
}
.about-section {
    margin-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
}
.digital-right .img1 {
    width: 188px;
    height: 282px;
    display: block;
    background-image: url(../images/laptop.jpeg);
    background-position: right;
    border-top-left-radius: 57px;
    border-bottom-right-radius: 75px;
    background-size: 322px;
    background-position-y: -15px;
    background-position-x: -135px;
    margin-left: 27px;
}
.col {
/*    position: absolute;*/
    top: 0px;
    width: 100%;
    left: 0;
}
.img-box {
    width: 100%;
    height: auto;
    margin-left: 0px;
}
.Testimonials {
     margin-top: 644px; 
    padding-bottom: 70px;
    overflow: hidden;
}
.solutions-section-row {
     padding-top: 0px; 
}
.products-section .products-btn span{
    margin-top: 370px;
}
.products-section
{
    padding-bottom: 0px;
}
.about-section {
    margin-top: 200px;
    padding-bottom: 200px;
     height: 1600px; 
    overflow: hidden;
}
.col{
position: relative;
}
.Testimonials {
     margin-top: 0px !important; 
    padding-bottom: 70px;
    overflow: hidden;
}
}
