@font-face {
	font-family: 'gt_walsheim_proregular';
	src: url('fonts/gtwalsheimpro-regular.woff2') format('woff2'), url('fonts/gtwalsheimpro-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gt_walsheim_probold';
	src: url('fonts/gtwalsheimpro-bold.woff2') format('woff2'), url('fonts/gtwalsheimpro-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'gt_walsheim_proregular';
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.footer .comon-div {
	margin-top: -10px;
}


/*footer started*/

footer {
	padding: 310px 0 50px;
	margin-top: -180px;
}

footer .top-footer {
	padding-bottom: 110px;
	margin-left: 30px;
}

footer .comon-div a,
footer .comon-div p {
	text-decoration: none;
	font-size: 14px;
	color: #606060;
	font-weight: 400;
	line-height: 22px;
	display: block;
}

footer .comon-div .footer-logo {
	margin-bottom: 26px;
	margin-left: -30px;
}

footer .comon-div .footer-logo img {
	display: block;
}

footer .comon-div strong {
	font-size: 18px;
	font-weight: 600;
	font-family: 'gt_walsheim_probold';
	color: #000;
}

footer .comon-div .social-icon {
	margin-top: 45px;
}

footer .comon-div .social-icon a {
	display: inline-block;
	vertical-align: top;
	margin-right: 31px;
	color: #000b33;
}

footer .comon-div .social-icon a svg {
	width: 18px;
	height: 18px;
}

footer .comon-div .social-icon a:last-child {
	margin-right: 0;
}

footer .comon-div .social-icon a:hover:nth-child(1) {
	color: #3b5ca1;
}

footer .comon-div .social-icon a:hover:nth-child(2) {
	color: #2ba7dd;
}

footer .comon-div .social-icon a:hover:nth-child(3) {
	color: #547ea4;
}

footer .comon-div .social-icon a:hover:nth-child(4) {
	color: #0f78a8;
}

.comon-div .short-links {
	margin-top: 32px;
}

footer .comon-div .short-links a {
	margin-bottom: 15px;
}

footer .comon-div .short-links a:hover {
	color: #000b33;
}

footer .comon-div.address-part strong {
	margin-bottom: 32px;
}

footer .comon-div.address-part p {
	margin-bottom: 25px;
}

footer .comon-div.address-part p a {
	margin-bottom: 10px;
}

footer .comon-div.address-part p a:hover {
	color: #000b33;
}

footer .copy-right-footer {
	text-align: center;
}

.copy-right-footer .copyright p {
	font-size: 14px;
	font-family: 'gt_walsheim_proregular';
	color: #606060;
	float: left;
	font-weight: 600;
}

.footer-p {
	font-size: 14px !important;
	font-family: 'gt_walsheim_proregular';
	display: block;
	margin-left: -30px;
	padding-right: 40px;
}

.copy-right-footer .footer-icons .social-icon a svg {
	color: #000;
	margin-right: 30px;
}

.copy-right-footer .footer-icons .social-icon {
	margin-left: 50px;
	float: right;
}

.Products-div {
	padding-left: 40px;
}

.solutions-div {
	padding-left: 100px;
}

.useful-Links-div {
	padding-left: 110px;
}

.useful-Links-div a {
	margin-bottom: 15px;
	margin-top: 20px;
}


/*header started*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(../images/nexus-bg.jpg);
	background-size: cover;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header .navbar {
	width: 100%;
	height: 80px;
	padding-top: 10px;
}

header .navbar .left-header {
	padding-top: 20px;
}

header .navbar .left-header img {
	width: 150px;
	display: block;
	margin-right: 30px;
}


/************************************/

.navbar .middle-header .nav-item {
	padding-left: 10px;
}


/************************************/

.navbar .middle-header .nav-item ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 30px 16px;
}

.navbar .middle-header .nav-item ul li a {
	text-decoration: none;
	color: #000;
	font-family: 'gt_walsheim_proregular';
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.navbar .last-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 19px;
}

.navbar .last-header span {
	display: inline-block;
	padding: 8px 25px;
	border: 2px solid #c54031;
	border-radius: 20px;
	color: #c54031;
	font-size: 16px;
	font-weight: 600;
	font-family: 'gt_walsheim_proregular';
	transition: 0.3s all linear;
}

.navbar .last-header span:hover {
	background: #c54031;
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 25px;
}


/*digital banner started*/

.digital-banner {
	width: 100%;
	height: auto;
	padding-top: 210px;
}

.digital-banner .digital-left .digital-left-heading h1 {
	font-size: 48px;
	font-weight: 600;
	font-family: 'gt_walsheim_probold';
	line-height: 53px;
}

.digital-banner .digital-left .digital-left-heading p {
	color: #606060;
	font-size: 22px;
	line-height: 30px;
	font-family: 'gt_walsheim_proregular';
	padding-top: 30px;
}

.digital-banner .digital-left .digital-left-heading span {
	background: #c54031;
	color: #fff;
	padding: 17px 30px;
	border-radius: 68px;
	margin-top: 40px;
	display: inline-block;
	font-size: 16px;
	font-family: 'gt_walsheim_probold';
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s all linear;
}

.digital-banner .digital-left .digital-left-heading span:hover {
	background: #fff;
	border: 1px solid #c54031;
	color: #c54031;
}

.digital-right {
	width: 100%;
	height: 500px;
	margin-left: 55px;
}

.digital-right .img1 {
	width: 218px;
	height: 350px;
	display: block;
	background-image: url(../images/laptop.jpeg);
	background-position: right;
	border-top-left-radius: 69px;
	border-bottom-right-radius: 75px;
	background-size: 387px;
	background-position-y: -5px;
	background-position-x: -169px;
	margin-left: 27px;
}

.digital-right .img1 img {
	display: block;
	width: 100%;
	height: 100%;
}

.digital-right .row .img2 {
	background-image: url(../images/men-portrait.jpg);
	background-size: 269px;
	background-position: -77px;
	background-position-y: bottom;
	margin-top: -60px;
	margin-left: -15px;
	border-bottom-right-radius: 70px;
	width: 194px;
	height: 230px;
	display: block;
	border-top-left-radius: 70px;
}

.digital-right .row .img3 {
	background-image: url(../images/scanner.jpg);
	background-size: 472px;
	background-position: center;
	background-position-x: -88px;
	margin-top: 21px;
	background-position-y: -13px;
	margin-left: -15px;
	width: 194px;
	height: 217px;
	display: block;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
}


/*solutions section started*/

.solutions-section {
	margin-top: 180px;
	padding-bottom: 50px;
}

.solutions-heading {
	margin-bottom: 70px;
}

.solutions-heading h1 {
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	font-family: 'gt_walsheim_probold';
}

.solutions-heading p {
	text-align: center;
	color: #606060;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	line-height: 30px;
}

.solutions .identity-heading h3 {
	font-size: 20px;
	color: black;
	font-weight: 500;
	font-family: 'gt_walsheim_probold';
}

.solutions .identity-heading p {
	font-size: 16px;
	font-family: 'gt_walsheim_proregular';
	font-weight: 500;
	text-align: center;
	padding-top: 20px;
	color: #606060;
	line-height: 22px;
}

.solutions-section-row {
	padding-top: 30px;
}

.solutions-section-row .solutions .identity-img,
.solutions .identity-heading {
	text-align: center;
	margin-bottom: 25px;
}

.solutions .identity-img {
	background: #e5faf5;
	border-radius: 25%;
	padding: 17px 14px;
	display: inline-block;
	text-align: center;
}

.solutions {
	text-align: center;
}

.omnichanel .identity-img {
	padding: 15px 18px;
	background: #fff4ed
}

.multifunction .identity-img {
	padding: 15px 18px;
	background: #eef2ff;
}

.point-scale .identity-img {
	background: #ffeff1;
	padding: 15px 18px;
}


/*products section started*/

.products-section {
	margin-top: 170px;
	padding-bottom: 70px;
}

.products-heading {
	margin-bottom: 70px;
}

.products-heading h1 {
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	font-family: 'gt_walsheim_probold';
}

.products-heading p {
	text-align: center;
	color: #606060;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	line-height: 30px;
}

.products-row {
	width: 100%;
	height: 500px;
}

.creditcard-img {
	width: 393px;
	height: 450px;
	border-radius: 20px;
	background-image: url(../images/creditcard.jpeg);
	background-position: -67px;
}

.creditcard-img img {
	width: 100%;
	height: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.products-section .products-btn span {
	background: #c54031;
	color: #fff;
	padding: 14px 30px;
	border-radius: 68px;
	margin-top: 40px;
	display: inline-block;
	font-size: 16px;
	font-family: 'gt_walsheim_probold';
	font-weight: 500;
	text-align: center;
	margin: auto;
	cursor: pointer;
	transition: 0.3s all linear;
}

.products-section .products-btn span:hover {
	background: #fff;
	border: 1px solid #c54031;
	color: #c54031;
}

.products-section .products-btn {
	text-align: center;
	padding-top: 35px;
}


/*about section started*/

.about-section {
	margin-top: 170px;
	padding-bottom: 70px;
}

.about-heading {
	margin-bottom: 70px;
}

.about-heading h1 {
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	font-family: 'gt_walsheim_probold';
}

.about-heading p {
	text-align: center;
	color: #606060;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	line-height: 30px;
}

.about-heading .btn {
	text-align: center;
	padding-top: 20px;
}

.about-heading .btn span {
	display: inline-block;
	color: #c54031;
	margin: auto;
	padding: 8px 14px;
	border: 1px solid #c54031;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	cursor: pointer;
	transition: 0.3s all linear;
}

.about-heading .btn span:hover {
	background: #c54031;
	border: 1px solid #fff;
	color: #fff;
}

.about-section .row {
	position: relative;
}

.img-box {
	width: 662px;
	height: auto;
	margin-left: 0px;
	position: absolute;
	padding: 30px 25px 40px 4px;
	margin-top: 60px;
	border-radius: 20px;
	background: #fff;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.first-row p {
	font-size: 15px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	line-height: 23px;
	color: #606060;
	padding-left: 30px;
}

.img-row-counts .numbers p {
	text-align: center;
}

.img-row-counts span {
	color: #003087;
	font-size: 37px;
	font-weight: 600;
	font-family: 'gt_walsheim_probold';
}

.brand-name-col {
	border: 1px solid #f1f1f1;
}

.brand-logo {
	height: 130px !important;
	width: auto;
	display: block;
}

.brand-logo img {
	display: block;
	padding: 38px 40px;
	text-align: -webkit-center;
}

.brands-name {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	border-radius: 20px;
	width: 93%;
	margin: auto;
	overflow: hidden;
}

/*.about-img1 {
	width: 300px;
	height: 400px;
	border-radius: 20px;
	background-image: url(../images/mobile-photo.jpeg);
	background-repeat: no-repeat;
	background-position: -171px;
}*/
/*.about-img3 {
	width: 300px;
	height: 400px;
	border-radius: 20px;
	background-image: url(../images/mobile-photo.jpeg);
	background-repeat: no-repeat;
	background-position: -171px;
}*/
/*.about-img2 {
	width: 300px;
	height: 400px;
	border-radius: 20px;
	background-image: url(../images/building.jpeg);
	background-position: -230px;
	background-repeat: no-repeat;
}*/

.img-row-counts .numbers {
	text-align: center;
	margin-left: 0px;
	padding-top: 30px;
}

.img-row-counts .numbers p {
	font-size: 15px;
	font-weight: 600;
	font-family: 'gt_walsheim_probold';
	line-height: 22px;
	color: #000;
}
.about-img1,.about-img2{
width: 300px;
height: 400px;
background: red;
}
.abt-1-img, .abt-2-img{
	width: 300px;
	display: block;
	height: 400px;
}
/*Testimonials started*/

.Testimonials {
	margin-top: 170px;
	padding-bottom: 70px;
}

.Testimonials-heading h1 {
	font-size: 47px;
	font-weight: 600;
	text-align: center;
	font-family: 'gt_walsheim_probold';
}

.Testimonials-img {
	width: 70px;
	height: 70px;
	text-align: center;
	background-image: url(../images/testimonial.jpg);
	margin: auto;
	border-radius: 50%;
	background-position: -43px;
	background-size: 156px;
	background-position-y: -12px;
	margin-top: 60px;
}

.Testimonial-txt {
	text-align: center;
	margin-top: 40px;
}

.Testimonial-txt p {
	font-size: 20px;
	font-family: 'gt_walsheim_proregular';
	line-height: 30px;
	text-align: center;
}

.Testimonial-txt span {
	font-size: 16px;
	margin-top: 40px;
	font-family: 'gt_walsheim_probold';
	display: block;
}


/*esteemed section start*/

.esteemed-section {
	margin-top: 200px;
	padding-bottom: 70px;
}

.esteemed-heading {
	margin-bottom: 70px;
}

.esteemed-heading h1 {
	font-size: 47px;
	font-weight: 600;
	text-align: center;
	font-family: 'gt_walsheim_probold';
}

.esteemed-heading p {
	text-align: center;
	color: #606060;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 500;
	font-family: 'gt_walsheim_proregular';
	line-height: 30px;
}

.esteemed-section .btn span {
	background: #c54031;
	color: #fff;
	padding: 15px 30px;
	border-radius: 68px;
	margin-top: 40px;
	display: inline-block;
	font-size: 16px;
	font-family: 'gt_walsheim_probold';
	font-weight: 500;
	text-align: center;
	margin: auto;
	cursor: pointer;
	transition: 0.3s all linear;
}

.esteemed-section .btn span:hover {
	background: #fff;
	border: 1px solid #c54031;
	color: #c54031;
}

.esteemed-section .btn {
	text-align: center;
	padding-top: 75px;
}

.contact-form {
	margin-top: 180px;
	padding-bottom: 70px;
}

.contact-form .form-heading h1 {
	font-size: 30px;
	font-weight: 500;
	color: black;
	font-size: 34px;
	font-family: 'gt_walsheim_probold';
	line-height: 37px;
}

.contact-form .form-heading p {
	font-size: 16px;
	font-family: 'gt_walsheim_proregular';
	line-height: 24px;
	color: #666666;
	font-weight: 600;
	padding-top: 10px;
}

.contact-form .form-row input {
	border: none;
	background: #f6f6f6;
	width: 90%;
	height: 30px;
	outline: none;
	font-size: 16px;
	font-family: 'gt_walsheim_proregular';
}

.contact-form .form-row ::placeholder {
	color: #ccc5c8;
	padding-left: 10px;
}

.contact-form .form-row textarea {
	width: 97%;
	height: 150px;
	margin-top: 31px;
	background: #f6f6f6;
	border: none;
	outline: none;
	font-size: 16px;
	font-family: 'gt_walsheim_proregular';
}

.contact-form .form-row {
	padding-top: 60px;
}

.mainForm {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
	padding: 52px 48px 70px 55px;
	width: 90%;
	margin: auto;
	border-radius: 20px;
}

.form-row .btn span {
	background: #c54031;
	color: #fff;
	padding: 15px 30px;
	border-radius: 68px;
	margin-top: 40px;
	display: inline-block;
	font-size: 15px;
	font-family: 'gt_walsheim_probold';
	font-weight: 500;
	text-align: center;
	margin: auto;
	cursor: pointer;
	transition: 0.3s all linear;
}

.form-row .btn span:hover {
	background: #fff;
	border: 1px solid #c54031;
	color: #c54031;
}

.form-row .btn {
	padding-top: 40px;
}


/*.form-row .btn span{
display: inline-block;
    color: red;
    margin: auto;
    padding: 6px 8px;
    border: 1px solid red;
    border-radius: 14px;
    

}*/

.accordion {
	background: #f0f0f0;
	color: #000;
	cursor: pointer;
	padding: 18px;
	width: 60%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	font-weight: 500;
	transition: 0.4s;
	border-radius: 30px;
	margin-bottom: 30px;
	font-family: 'gt_walsheim_probold';
	padding-left: 40px;
}

.accordion i {
	float: right;
	padding-right: 20px;
	display: block;
}

.accordion .up {
	display: none;
}

.active,
.accordion:hover {
	background-color: #003087;
	color: #fff;
}

.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
	padding-left: 30px;
}

.panel p {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	font-family: 'gt_walsheim_proregular';
	color: #737477;
}

.panel .btn span {
	display: inline-block;
	padding: 7px 13px;
	border: 1px solid #c54031;
	border-radius: 20px;
	color: #c54031;
	font-size: 12px;
	font-weight: 600;
	font-family: 'gt_walsheim_proregular';
	margin-top: 10px;
	margin-bottom: 30px;
	cursor: pointer;
	transition: 0.3s all linear;
}

.panel .btn span:hover {
	background: #c54031;
	border: 1px solid #fff;
	color: #fff;
}

.short-links bold i {
	margin-top: 3px;
	margin-left: -23px;
	position: absolute;
}
.slick-dots {
    position: absolute;
    bottom: -75px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 20px !important;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 0px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 41px !important;
    height: 2px !important;
    background: #003087;
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots {
    position: absolute;
     bottom:-100px; 
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-slide {
	    display: none;
	    float: left;
	     height: auto !important; 
	    
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px !important;
    height: 30px !important;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;

}

.close-icon, .menu-icon{
display: none;
}

.slick-slide {
    padding:10px;
    text-align:center;
    margin-right:38px;
    margin-left:20px;
}
.slider-box{
width: 260px;
}
.about-slider{
width: 60%;
}
.abt{
position: relative;
}
.col {
    right: 684px;
    position: absolute;
    top: 0;
}