.rounded18{border-radius: 18px}
.rounded25{border-radius: 25px}
.bg-dark{background-color: #343a40 !important;}
.bg-black{background-color: #000 !important;}

.blogpadding{padding: 40px;}
.blogpaddingsmall{padding: 30px 20px;}
.blogpaddingexsmall{padding: 15px 30px;}
.bloglistcntr.mbanner .blogbannerimg{height: 66vh;}
.bloglistcntr .blogbannerimg{overflow: hidden;display: flex;align-items: center;}
.bloglistcntr .blogbannerimg img{transform: scale(1.05) translateX(0);transition: transform .4s ease-out, -webkit-transform .4s ease-out;}
.bloglistcntr img:hover {transform: scale(1.05) translateX(-5px);}
.blogdetails .titlecontent span{display: block;color: #f8922a;text-transform: uppercase;font-size: 15px;margin-bottom: 10px;font-weight: 600;}
.blogdetails .titlecontent .post-title {font-size: 2.2rem;margin-right: 0.1rem;color: #fff;word-spacing: 0px;line-height: 1.25;display: inline;}
.blogdetails .titlecontent .post-excerpt {font-size: 2.2rem;display: inline;margin-right: 0.1rem;display: inline;font-weight: 300;opacity: .8;color: #fff;line-height: 1.25;}
.blogdetails .titlecontent.small .post-title,
.blogdetails .titlecontent.small .post-excerpt  {font-size: 22px;}
.blogdetails .titlecontent.exsmall .post-excerpt,
.blogdetails .titlecontent.exsmall .post-title {font-size: 16px;}

.blogcardlist .titlecontent .post-title,
.blogcardlist .titlecontent .post-excerpt {font-size: 16px;}
.blogcardlist .bl-list {display: flex;align-items: center;position: relative;counter-increment: fbt-counter;}
.blogcardlist .bl-list::before {content: counter(fbt-counter);display: inline-flex;justify-content: center;align-items: center;line-height: 1;border-radius: 1000px;font-size: 14px;font-weight: bold;width: 40px;height: 40px;border: 1px solid #555555;color: #ffffff;position: absolute;left: 5px;background: #343a40;}

.socialmedialist{background: #343a40;border-radius: 23px;}
.socialmedialist h4{display: block;padding: 15px calc(40px - 10px) 17px;background: #555555;border-radius: 23px 23px 0px 0px;font-size: 24px;margin: 0;color: #fff;font-family: var(--text-font);word-spacing: 0px;}
.socialmedialist ul{padding: 30px;}
.socialmedialist ul li{padding: .4rem 0;}
.socialmedialist ul li a{color: #fff;}
.socialmedialist ul li i{font-size: 17px;width: 40px;height: 40px;line-height: 40px;border: 1px solid #555555;border-radius: 2000px;text-align: center;margin-right: 10px;}

.categorieslis{padding: 30px;}
.categorieslis span {background-color: #343a40 !important;color: #ffffff;border: 1px solid #555555;padding: 0.2rem 1rem !important;border-radius: 40px;display: -webkit-inline-box;margin: 3px;height: 25px;font-size: 12px;line-height: 1.4;}
.categorieslis span a{color: #ffffff;}

.blogdetailstext .post-excerpt{font-size: 1rem;display: inline;font-weight: 300;color: #fff;line-height: 1.25;margin-bottom: 20px;}
.blogdetailstext h2{font-size: 1.5rem;color: #fff;word-spacing: 0px;line-height: 1.25;margin-top: 30px;margin-bottom: 10px;font-family: var(--text-font);}
.blogdetailstext ul {padding-left: 15px;margin-top: 30px;margin-bottom: 10px;}
.blogdetailstext ul li {list-style: disc;padding-bottom: 10px;color: #fff;}






@media screen and (max-width: 768px) {  
  .bloglistcntr.mbanner .blogbannerimg {height: 100%;}
  .blogdetails .titlecontent .post-title,
  .blogdetails .titlecontent .post-excerpt {font-size: 1.5rem;}
  .blogcardlist .bl-list::before {left: 35px;}
  .blogpaddingexsmall {padding: 15px 15px;}
  .blogdetails .titlecontent span {font-size: 12px;margin-bottom: 5px;}
  .blogdetails .titlecontent.exsmall .post-excerpt, 
  .blogdetails .titlecontent.exsmall .post-title {font-size: 14px;}
  .blogpadding {padding: 20px;}

}