/*Media Queries for responsive*/
.mobile-icon{display:none}
.mbl-athr-name{display:none}
.mobile-yellowsp{display:none}
@media screen and (min-width: 0) and (max-width:1920px) {

}
@media(min-width:1200px) {/*For big desktop*/
.container {max-width: 1180px; width: 100%;}
}
@media(min-width:769px) {/*For Desktop Only*/
.scrollTop { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; text-align: center; z-index: 6; display: none; background: #f7d213; border-radius: 50%; }
.scrollTop a { display: block; color: #222; }
.scrollTop a:before { font: 20px/40px FontAwesome; content: '\f102'; }
}
@media screen and (min-width: 0) and (max-width:1199px) {
/*overlay*/
.overlay-box{width:96%;min-width:0}
.login-forgot{width:50%;}
/*overlay end*/
}
 @media screen and (min-width: 1024px) and (max-width:1199px) {
	.home-booksList .container{width:983px; margin:0 auto}
	.novel-img img{height:208px;}
	.scroll-width{width:39%;}
	.pickNovel .novel-img img{height:250px;}
	
	/*home*/
	.left-steps{width:54%;}
	.cup-img{display:none}
	.left-steps h1{font-size:38px}
	.half-yellow{width:64.5%;}
	.pickof-day h3{font-size:22px}
	
	/*author-profile*/
	.authod-profile .book-txt{width:64%; margin-left:5%;}
	.authod-profile .novel-img img{height:139px; width:133px;}
	.authod-profile .book-brif-ryt{width:157px;}
	.authod-profile .book-list ul > li{background-size:107px auto; width:110px;}
	.authod-profile .novel-img{width:95%;}
	
	/*book brief*/
	.book-desc{padding-right:20px;}
	.book-txt{width:60%; margin-left:5%;}
	.book-brifs .book-desc{width:65%;}
	.book-brifs .book-brif-ryt{width:35%; padding-left:20px; padding-right:20px;}
	.viewver-info{width:70%;}
	.novel-heading h1{font-size:28px}
}
 @media screen and (min-width: 0) and (max-width:1024px) {/*For ipad and tab*/
}
@media screen and (min-width: 768px) and (max-width:1023px) {
	.menu-catgry-drop{margin-left:2%; margin-right:2%;}
	.menu-search{width:25%;}
	.menu-search input[type="text"]{width:83%;}
	
	.left-steps h1{font-size:30px;}
	.cup-img{display:none}
	.ryt-steps{width:44%;}
	.get-started a{width:130px; height:130px; font-size:18px}
	.left-steps{width:53%;}
	.stepNumbrs .get-show-arrow{width:44%;}
	.book-list ul li{float:none; display:inline-block; width:162px;}
	.home-booksList{text-align:center;}
	.book-list > ul > li{margin-right:25px !important; vertical-align:top}
	.book-list > ul > li:nth-child(4n){margin-right:0px !important}
	.rating{text-align:left}
	.book-list{width:737px; margin:0 auto}
	.novel-img img{height:211px;}
	
	.pickNovel{float:none; margin:0 auto; width:100%; text-align:center; background-image:none; background:#000;}
	.pickNovelDesc{float:none; width:100%; padding-top:50px; min-height:400px}
	.pickNovel .novel-img img{height:250px}
	.pickNovel .book-list{width:223px; display:inline-block; text-align:left;}
	.half-yellow{height:47%; top:auto; bottom:0; width:100%;}
	.pickof-day .bx-wrapper .bx-pager.bx-default-pager a:hover, .pickof-day .bx-wrapper .bx-pager.bx-default-pager a.active{background:#f7d213; color:#f7d213}
	.novel-highlight .container{width:100%;}
	.pickof-day h3{z-index:1; left:25px; top:25px}
	
	/*author profile*/
	.novel-heading h1{font-size:22px}
	.novel-viewrs ul li h2{font-size:22px}
	.briefBand{top:62px !important}
	.book-briefcntr{margin-top:150px !important}
	.authod-profile .book-img{float:none; margin:0 auto; margin-bottom:10px}
	.authod-profile .book-txt{float:none; width:100%;}
	.authod-profile .book-desc{padding-top:30px}
	.novel-heading{width:54%;}
	.novel-viewrs{width:46%;}
	.authod-profile .book-desc{width:75%;}
	.authod-profile .book-brif-ryt{width:25%;}
	.authod-profile .book-list ul > li{width:139px; display:block; margin-right:0 !important}
	.authod-profile .book-list{width:100%;}
	.viewver-info p{font-size:13px;}
	.viewver-info{float:none; width:100%; text-align:center; margin-left:0; height:auto}
	.viewer-img{float:none; margin:5px auto; display:block}
	
	/*book brif*/
	.book-img{float:none; margin:0 auto; margin-bottom:10px;}
	.book-brifs .book-desc{padding-top:20px; padding-right:20px}
	.book-txt{width:100%;}
	.book-brifs .book-brif-ryt{padding-left:20px; padding-right:20px}
	.book-brifs .allLinks{width:100%}
	.briefBand .allLinks ul li{margin-bottom:10px}
	.briefBand .allLinks ul li:nth-child(3n){clear:both}
	
	/*listing*/
	.novel-type-headng{text-align:left}
	
	.list-section .book-list ul li:nth-child(5n) .tooltip{left:96% !important}
	.list-section .book-list ul li:nth-child(5n-1) .tooltip{left:96% !important}
	.list-section .book-list ul li:nth-child(5n) .tooltip{left:96% !important}
	.list-section .book-list ul li:nth-child(5n) .tt-arrow{left:-15px !important; top:10px; transform:none}
	.list-section .book-list ul li:nth-child(5n-1) .tt-arrow{left:-15px !important; top:10px; transform:none}
	.list-section .book-list ul li:nth-child(4n) .tt-arrow {left: auto !important;right: -15px !important;transform: rotate(180deg) !important;}
	.list-section .book-list ul li:nth-child(4n) .tooltip{left:auto !important; right:99.99% !important;}
	.pagination li a, .pagination li span{width:40px;}
	.menu-search input[type="submit"], .menu-search input[type="button"]{width:17%;}
	.join-section{background-position:-500px 55px}
	.join-cntr{margin:0 auto}
}
 @media screen and (min-width: 0) and (max-width:568px) {/*For Big Screen mobile*/

}
@media screen and (max-width:767px) {
	.navigation .logo{width:120px; float:left; padding-top:12px}
.menu-catgry-drop{width:154px; float:right; margin-right:0; margin-left:15px;}
.menu-search{width:85%; float:none; clear:both; margin-left:auto; margin-right:auto;}
.navigation{padding-bottom:15px}
.navigation a{font-size:14px;}
.menu-catLink{padding-top:15px; padding-bottom:15px;}
.sub-dropdown{top:45px; z-index:9}
.menu-search input[type="text"]{width:88%}
.menu-search input[type="submit"], .menu-search input[type="button"]{width:12%;}
.login-linkcntr{float:right; padding-bottom:15px;}
.header{position:static !important}
.commontop{margin-top:0 !important}
.homeBanner{overflow:hidden; opacity:1 !important}
.left-steps{float:none;}
.left-steps h1{font-size:24px;padding:25px 0 25px; text-align:center}
.left-steps h1 br{display:none}
.stepCircle{width:60px; height:60px; font-size:30px; display:block; margin:0 auto}
.get-show-arrow{display:none}
.cup-img{display:none}
.ryt-steps{width:225px; margin:0 auto; float:none;}
.stepCount > span{font-size:14px; width:auto}
.stepNumbrs ul li{text-align:center}
.get-started a{height:120px; width:120px; font-size:16px; left:5%;}
.homeBanner{background-size:auto auto !important; background-position:center 0px !important}

.book-list ul > li{float:none; width:192px; margin:0 auto !important; margin-bottom:25px !important}
.tooltip{display:none !important}

.pickNovel{float:none; width:100%; padding-right:0; background-image:none; padding-bottom:0}
.pickNovelDesc{float:none; width:100%; padding:25px 0 0 0; display:none}
.half-yellow{height:53%; top:auto; bottom:0px; display:none}
.pickof-day .bx-wrapper .bx-pager.bx-default-pager a:hover, .pickof-day .bx-wrapper .bx-pager.bx-default-pager a.active{background:#ffd53f; color:#ffd53f}
.pickof-day h3{font-size:18px; top:50px; padding-top:12px; padding-bottom:12px;}
.editor-pic{float:none; margin:0 auto}
.editor-desc{float:none; margin:0 auto; margin-top:10px}
.pickof-day .bx-wrapper .bx-prev{right:65px;}
.pickof-day .bx-wrapper .bx-next{right:10px;}
.pickof-day .bx-wrapper .bx-controls-direction a{bottom:10px;}
.footer-left{float:none; width:100%; text-align:center}
.footer-ryt{float:none; margin:0 auto; text-align:center; padding-bottom:13px; padding-top:14px;}
.footer .container p{margin-top:0; text-align:center}
.footer-left a{margin-bottom:5px;}
.hidebooklist{width:420px; margin:0 auto}
.book-list ul > li{display:inline-block; vertical-align:top; margin-right:0px !important}
.book-list ul > li:nth-child(2n+1){margin-right:30px !important}

.novel-heading{float:left}
.novel-viewrs ul li{width:33.33%; min-height:70px}
.novel-viewrs ul li h2{font-size:22px;}
.novel-viewrs ul li span{font-size:12px;}
.novel-heading h1{font-size:18px;}
.novel-heading{width:100%; float:none; clear:both}
.novel-viewrs{width:100%; float:none; clear:both}

.briefBand{position:static !important}
.book-briefcntr{margin-top:0 !important}
.authod-profile .book-desc{padding-right:0px; width:100%; float:none}
.yellow-seprator{display:none}
.authod-profile .book-img{float:none; margin:0 auto; margin-bottom:10px}
.authod-profile .book-txt{float:none; width:100%;}
.authod-profile .book-desc{padding-top:20px;}
.book-txt p{font-size:15px; line-height:24px; margin-bottom:18px;}
.authod-profile .all-reviws{margin-top:30px;}
.authod-profile .all-reviws ul > li{margin-right:0px !important; width:100%; float:none}
.viewver-info{width:72%;}

.authod-profile .book-brif-ryt{float:none; width:100%;}
.authod-profile .novel-img img{width:185px; height:250px;}
.authod-profile .book-list ul > li{width:192px;}
.authod-profile .book-desc{padding-bottom:15px;}
.authod-profile .book-brif-ryt{padding-top:50px; min-height:0px !important; text-align:center; position:relative}
.authod-profile .book-list .rating{padding-bottom:25px;}
.hidebooklist{text-align:center}

.authod-profile .book-list .rating ol li button{width:14px; height:15px;}
.authod-profile .book-list .rating.static-rating ol li button{background-size:14px 15px !important}
.authod-profile .book-brif-ryt .rating.static-rating ol li button.active:hover{background-size:14px 15px !important}
.novel-heading h1{font-size:18px;}
.novel-viewrs ul li{min-height:0px; width:auto; padding:0 5px}
.novel-viewrs ul li h2{display:inline-block; font-size:13px;}
.novel-viewrs ul li span{font-size:13px}
.novel-viewrs{margin-top:10px}

.book-desc{width:100%; float:none; padding-right:0px; padding-top:20px; padding-bottom:0; border-right:none}
.book-img{float:none; margin:0 auto; margin-bottom:10px;}
.book-txt{float:none; width:100%;}
.book-brif-ryt{float:none; width:100%; padding-left:0; padding-top:0}
.allLinks{width:100%; display:block !important}
.tooltip-link > a{width:140px; font-size:15px;}
.likeLInk a{width:100px;}
.sharelink a{width:auto}
.briefBand .allLinks{display:none !important}
.allLinks a.startReadng{width:250px}

.list-section .book-list{width:420px; margin:0 auto}
.view-listing .selectMenuCnt{float:none; width:50%; margin:10px auto}

.pagination > li{margin-right:3px; margin-bottom:5px}
.pagination li a, .pagination li span{font-size:12px; width:30px; padding:5px 0}
.pagination li.prev{background-position:10px center;}
.pagination li.next{background-position:14px center}
.login-forgot{width:85%}

.join-cntr{width:100%;}
.join-fields h1{font-size:24px}

.fields-lst ul li.noBottom, .fields-lst2 ul li.noBottom{margin-bottom:3%;}
.join-section .container{padding:40px 0 80px 0}
.login-forgot{width:90%}
.login-forgot ul li input[type="checkbox"]{margin-left:0}
.join-cntr input[type="text"], .join-cntr textarea{font-size:15px}
.two-field select{font-size:15px;}


.header{position:relative;}
.menu-catgry-drop{position:absolute; right:-102%; top:43px; margin-left:0}
.sub-dropdown{display:block}
.sub-dropdown ul li{padding:0}
.sub-dropdown ul li a{padding:5px 15px;}
.menu-catLink{background:#333}
.mobile-icon{display:block; margin:4px 5px 0 14px}
.mobile-icon a{padding:0 !important; width:35px; height:22px; background:url(../images/mobilemenu.png) center center no-repeat;}
.mobile-icon a:hover,.mobile-icon a.activem{background-image:url(../images/mobilemenuh.png)}
.login-linkcntr ul li a{padding:4px 12px;}
.mbl-athr-name{display:block; text-align:center}
.mbl-athr-name a{text-decoration:underline}
.pickNovel .mbl-athr-name a{color:#fff; font-size:14px}
.s2 .owl-wrapper-outer .viewer-img{float:none; margin:0 auto}
.s2 .owl-wrapper-outer .viewver-info{float:none; margin-left:0px; width:100%; height:auto; text-align:center}
.mobile-yellowsp{display:block; right:auto; left:0}
.authod-profile .novel-date img{left:-35px}
.authod-profile .book-list ul > li{display:block; margin-right:0px !important; margin-left:0px !important}
.authod-profile .book-list{width:247px}

.user-profcntr .hidebooklist.book-list ul > li {float: none;margin: 0 auto 25px !important;width: 192px;display: inline-block;
margin-right: 0 !important;vertical-align: top;}
.user-profcntr .hidebooklist.book-list{width:420px; margin:0 auto}
.user-profcntr .hidebooklist.book-list ul > li:nth-child(2n+1) {
  margin-right: 30px !important;
}
.notification-cntr{width:50px; margin:0 auto; float:none}

}
	
	
@media screen and (min-width: 0) and (max-width:480px) {/*For mobile*/
.get-started a{height:100px; width:100px; font-size:16px; left:5%;}
.ryt-steps{width:190px; margin:0 auto; float:none;}
.home-list-filter{text-align:center; margin-bottom:30px;}
.home-list-filter ul li{float:none; display:inline-block; margin-right:5px; vertical-align:top}
.home-booksList .container{padding-top:30px;}
.home-list-filter ul li span{font-size:12px; padding-left:9px; padding-right:9px;}
.selectMenuCnt > h3{font-size:12px; background-position:95% 9px; width:117px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis; }


.book-list ul > li{float:none; width:144px; text-align:left; display:inline-block; margin:0 auto !important; margin-bottom:25px !important}
.novel-img img{height:187px}
.pickNovel .novel-img img{height:250px}
.tooltip{display:none !important}
.book-list ul > li:nth-child(2n+1){margin-right:auto !important}
.book-list ul > li:nth-child(2n){margin-left:15px !important}
.hidebooklist{width:307px; margin:0 auto}
.book-list ul li .rating{padding-left:5px}
.novel-txt h2{font-size:14px}
.selectMenuList ul li{font-size:14px; margin-right:0}


.pickNovel{float:none; width:100%; padding-right:0; background-image:none; padding-bottom:0}
.pickNovelDesc{float:none; width:100%; padding:25px 0 0 0;}
.half-yellow{height:53%; top:auto; bottom:0px}
.pickof-day .bx-wrapper .bx-pager.bx-default-pager a:hover, .pickof-day .bx-wrapper .bx-pager.bx-default-pager a.active{background:#ffd53f; color:#ffd53f}
.pickof-day h3{font-size:18px; top:50px; padding-top:12px; padding-bottom:12px;}
.editor-pic{float:none; margin:0 auto}
.editor-desc{float:none; margin:0 auto; margin-top:10px}
.pickof-day .bx-wrapper .bx-prev{right:65px;}
.pickof-day .bx-wrapper .bx-next{right:10px;}
.pickof-day .bx-wrapper .bx-controls-direction a{bottom:10px;}
.footer-left{float:none; width:100%; text-align:center}
.footer-ryt{float:none; margin:0 auto; text-align:center; padding-bottom:13px; padding-top:14px;}
.footer .container p{margin-top:0; text-align:center}
.footer-left a{margin-bottom:5px;}

/*book brief*/
.briefBand{position:static !important}
.book-briefcntr{margin-top:0 !important}
.authod-profile .book-desc{padding-right:0px; width:100%; float:none}
.yellow-seprator{display:none}
.authod-profile .book-img{float:none; margin:0 auto; margin-bottom:10px}
.authod-profile .book-txt{float:none; width:100%;}
.authod-profile .book-desc{padding-top:20px;}
.book-txt p{font-size:15px; line-height:24px; margin-bottom:18px;}
.authod-profile .all-reviws{margin-top:30px;}
.authod-profile .all-reviws ul > li{margin-right:0px !important; width:100%; float:none}
.viewver-info{width:72%;}

.authod-profile .book-brif-ryt{float:none; width:100%;}
.authod-profile .novel-img img{width:185px; height:250px;}
.authod-profile .book-list ul > li{width:192px;}
.authod-profile .book-desc{padding-bottom:15px;}
.authod-profile .book-brif-ryt{padding-top:50px; min-height:0px !important; position:relative}
.authod-profile .book-list .rating{padding-bottom:25px;}

.authod-profile .book-list .rating ol li button{width:14px; height:15px;}
.authod-profile .book-list .rating.static-rating ol li button{background-size:14px 15px !important}
.authod-profile .book-brif-ryt .rating.static-rating ol li button.active:hover{background-size:14px 15px !important}
.novel-heading h1{font-size:18px;}
.novel-viewrs ul li h2{font-size:20px;}

.book-desc{width:100%; float:none; padding-right:0px; padding-top:20px; padding-bottom:0}
.book-img{float:none; margin:0 auto; margin-bottom:10px;}
.book-txt{float:none; width:100%;}
.book-brif-ryt{float:none; width:100%; padding-left:0; padding-top:0}
.allLinks{width:100%; display:block !important}
.tooltip-link > a{width:140px; font-size:15px;}
.likeLInk a{width:100px;}
.sharelink a{width:auto}
.briefBand .allLinks{display:none !important}

.overlay-box .overlay-header{font-size:14px; text-align:left}
.catType{margin-top:20px;}
.viewver-info{}
.viewver-info p{font-size:14px;}
.viewver-info{width:65%;}
.novel-heading{float:none; width:100%;}
.novel-viewrs{float:none; width:100%;}
.yellow-line{top:46px;}
.novel-type-headng h1{font-size:28px;}
.novel-type-headng h1 span{font-size:16px;}
.view-listing .selectMenuCnt{float:none; width:50%; margin:10px auto}
.selectMenuList{top:27px}
.pagination > li{margin-right:3px; margin-bottom:5px}
.pagination li a, .pagination li span{font-size:12px; width:30px; padding:5px 0}
.pagination li.prev{background-position:10px center;}
.pagination li.next{background-position:14px center}

.join-cntr{width:100%;}
.join-fields h1{font-size:24px}
.fields-lst ul li, .fields-lst2 ul li{width:100%; margin-left:0px !important}
.fields-lst ul li.noBottom, .fields-lst2 ul li.noBottom{margin-bottom:3%;}
.join-section .container{padding:40px 0 80px 0}
.login-forgot{width:90%}
.login-forgot ul li input[type="checkbox"]{margin-left:0}
.join-cntr input[type="text"], .join-cntr textarea{font-size:18px}
.two-field select{font-size:18px;}
.list-section .book-list{width:307px}
.list-section .selectMenuCnt > h3{width:auto}
.novel-viewrs ul li{min-height:0px; width:auto; padding:0 5px}
.novel-viewrs ul li h2{display:inline-block; font-size:12px;}
.novel-viewrs ul li span{font-size:12px}
.novel-viewrs{margin-top:10px}
.mobile-yellowsp{display:block; right:auto; left:0}
.authod-profile .book-list ul > li{display:block; margin-right:0px !important; margin-left:0px !important}
.user-profcntr .hidebooklist.book-list ul > li {display: inline-block;float: none;margin: 0 auto 25px !important;text-align: left;width: 144px;}
.user-profcntr .hidebooklist.book-list{width:307px; margin:0 auto}
.user-profcntr .hidebooklist.book-list .novel-img img{height:187px;}
.user-profcntr .hidebooklist.book-list ul > li:nth-child(2n){margin-left:15px !important}
.user-profcntr .home-booksList .container{width:100%;}
.user-profcntr .hidebooklist.book-list .rating{padding-bottom:8px}
.user-profcntr .hidebooklist.book-list ul > li:nth-child(2n+1) {margin-right: 0px !important;}

}
@media screen and (min-width: 0) and (max-width:320px) {/*For Small screen mobile*/
}
