@media(min-width:1200px) {/*For big desktop*/
.container { max-width: 1024px; width: 100%; }
}
 @media(min-width:769px) {/*For Desktop Only*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
.scrollTop { position: fixed; right: 20px; bottom: 50px; width: 75px; height: 40px; text-align: center; z-index: 999; display: none; }
.scrollTop a { display: block; color: #fff; width: 75px; height: 40px; background: url(../images/scroll-top.png) center top no-repeat; }
.scrollTop a:before { font: 20px/40px FontAwesome; /*content: '\f102';*/ }
}
 @media screen and (min-width: 0) and (max-width:1920px) {
.round-circle { width: 488px; }
.product-list .container { max-width: 900px; }
}
 @media screen and (min-width: 0) and (max-width:1500px) {
.container { max-width: 900px; width: 100%; }
.box-tiles { width: 100%; }
.left-round { width: 48% }
.right-round { width: 48%; }
.city-rounds h2 { font-size: 72px; }
.city-rounds.round-2 h2 { font-size: 58px; }
.city-rounds.round-4 h2 { font-size: 62px; }
.city-rounds.round-3 h2 { font-size: 72px; }
.box-text { font: 60px/55px "FuturaLight"; }
.box-5 .box-text { font-size: 55px; }
.city-rounds.round-1 h2 { top: 80px; }
.showstopper-slider .bx-wrapper .bx-controls-direction a { margin-top: -80px; }
.round-circle {/*width:500px;*/ }
.product-list .container { max-width: 800px; }
.abtimg img{width:400px;}
}
 
 @media screen and (min-width: 0) and (max-width:1199px) {
/*overlay*/

.overlay-box { width: 96%; min-width: 0 }
/*overlay end*/

}
 @media screen and (min-width: 0) and (max-width:1024px) {/*For ipad and tab*/
 .my-enquirylnk{top:26%; bottom:auto}
.my-enquirylnk.tablet-mob{display:none}
.toggle-btn * ,.navigation{ transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; }
.toggle-btn { background:#CAAD40; cursor: pointer; display: block; height: 40px; padding: 12px 0; position: absolute; right: 25px; top: 50%; margin-top:-20px; width: 40px; z-index:8001}
.toggle-btn span { background: none repeat scroll 0 0 #fff; display: block; height: 2px; margin: 0 auto 5px; width: 62%; }
.opened .toggle-btn span { display: none; background:#fff;}
.opened .toggle-btn span:first-child, .opened .toggle-btn span:last-child { display: block; position: absolute; transform: rotate(45deg); }
.opened .toggle-btn span:last-child { left: 8px; top: 19px; transform: rotate(-45deg); }
.opened .toggle-btn span:first-child { left: 9px; margin-top: 5px; top: 14px; }
.opened .toggle-btn{background:#adadad}
.header .logo-band{position:relative; padding-left:25px; padding-right:25px;}
.navigation{left:auto; right:-100%; z-index:8001; top:125px; padding:15px 20px; width:205px; background:rgba(21, 3, 3, 1); display:block !important}
.navigation ul{width:165px;}
.header{z-index:8010}
.opened .navigation{right:0}
.header .logo-band.small-logo{background:rgba(0, 0, 0, 0.7)}
.menu-aniversaryimg{margin-right:55px}
.overlay-box .overlay-content{display:inline-block;}
.overlay-box .content{text-align:center}
.product-lp-row .city-row ul li{width:23%;}
.abtimg img{width:400px;}

.my-enquirylnk{left:10px; top:195px; right:auto}
.toggle-btn{margin-top:0; left:50%; margin-left:-25px; background:none; width:50px; top:190px; text-align:center; color:#fff;transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease;}
.menu-aniversaryimg{margin-right: 0;padding-top: 0;top: 170px;width: 68px; position:absolute; right:-10px;}
.navigation{top:150px;}
.toggle-btn:after{content:'MENU'; color:#fff; font-size:12px; position:absolute; left:0; bottom:-12px; width:100%;}
.opened .toggle-btn{background:none}
.toggle-btn span{background:#caae41; height:3px;}
.header .logo-band a{width:100%; text-align:center}
body.moblebody .toggle-btn{margin-left:0; top:50%; margin-top:-30px;}
body.moblebody .menu-aniversaryimg{display:none}
body.moblebody .my-enquirylnk{left:auto; right:10px; top:50px; z-index:99999}
body.moblebody .navigation{top:150px;}

img.lb-image{max-height:none !important; max-width:none !important;}
img.lb-image{width:100% !important; height:100% !important}
.lb-outerContainer{height:100% !important; width:90% !important}
}
@media screen and (min-width: 0) and (max-width:960px) {
.container { max-width: 750px; width: 100%; }
.box-tiles { width: 100%; }
.round-circle { width: 488px; }
.left-part { width: 49.5% }
.right-part { margin-left: 3%; width: 47.5%; }
.box-4 { margin-right: 0 }
.box-text { font-size: 50px; }
.box-4 .box-text { bottom: 25px; }
.box-5 .box-text { width: 85%; }
.showstopper-slider .bx-wrapper .bx-prev { left: 0 }
.showstopper-slider .bx-wrapper .bx-next { right: 0 }
.city-rounds.round-2 h2 { font-size: 55px; }
.city-rounds.round-4 h2 { font-size: 55px; }
.footer-links ul li { margin-right: 6.2%; }
.footer-links ul li.footer-link-col{margin-right:0}
.footer .container { padding-bottom: 30px; }
.catgory-name-block > div > a { font-size: 40px; }
.showstopper-slider h2 { font-size: 65px; }
.product-desc > ul > li { padding: 0 20px }
.two-rounds h3 { font-size: 40px }
.about-content, .news-cntr, .contact-cntr, .career-cntr { width: 98%; padding: 20px; }
.show-location.bengaluru-show { right: 130px; }
.info-laila img{width:155px;}
.product-desc{text-align:center; padding-left:0}
.locators-icons{position:static; margin-top:15px;}
.product-list .container { max-width: 750px;}
.news-txt p{font-size:17px;}
.contact-row{padding-bottom:15px;}

.footer .container{width:96%}
.showstopper-slider h2{width:94%;}
.showstoppers-txt{padding-top:200px; padding-bottom:150px}
.product-lp-row h2{height:35px; font-size:17px}
.add-list-txt{position:static;}
.locators-icons ul li{margin-right:5px;}
.shiping-show{bottom:150px}
.store-show{bottom:150px}
.form-cntr .form-field{margin-left:0; margin-right:0}
.form-cntr input[type="text"], .form-cntr textarea{width:100%;}
.input-typebtn input[type="submit"], .input-typebtn input[type="button"]{margin-right:0}
.mandatory-txt{margin-right:0}
.form-cntr .grid-3{float:left; width:12%;}
.form-cntr .grid-9{float:left; width:88%}
.contact-cntr .form-cntr{padding-bottom:15px}
.no-enquiry{display:none !important}
.short-links{margin-top:10px}
.abtimg img{width:350px;}
.showstoppers-txt{padding:100px 0}
.emi{margin:0; position:absolute; right:140px; bottom:50px; text-align:center}
.product-desc > ul{width:100%}

}
 @media screen and (min-width: 0) and (max-width:768px) {/*For small tabs*/
}
@media screen and (min-width: 0) and (max-width:767px) {/*For small tabs*/

.header .logo-band{padding:10px}
.header .logo-band a img,.header .logo-band.small-logo a img{width:285px;}
.header .logo-band.small-logo a{width:60px;}
.moblebody .header .logo-band a img,.header .logo-band.small-logo a img{width:375px;}
.moblebody .header .logo-band.small-logo a{width:100px;}
.toggle-btn{right:10px}
.round-circle{width:300px;}
.round-slider{position:static}
.round-circle{margin-top:190px !important}
.common-top{padding-top:50px !important}
.navigation{top:80px;}
.round-logo > div > span img{width:220px}
.down-arrow{display:none}

.left-part{}
.right-part{}
.container{width:96%; max-width:100%;}
.box-1 h2{font-size:42px; margin-top:-23px;}
.box-2{padding:15px; margin:0}
.box-2 h2{font-size:24px; line-height:28px;}
.box-2 p{font-size:18px; margin-top:20px;}
.box-tiles{margin-bottom:15px;}
.box-text, .box-5 .box-text,.box-6 .box-text{font-size:32px; line-height:32px;}
.box-6 .box-text span::after{width:47%}
.box-4 .box-text{width:108px}
.box-6 .box-text span{font-size:22px}
.showstopper-slider h2{font-size:40px; text-align:center; position:static}
.showstopper-slider .bx-wrapper .bx-controls-direction a{font-size:25px; width:30px; height:70px; background-size:30px auto; top:auto; margin-top:0px; bottom:30%;}
.showstopper-slider{width:100%;}
.two-rounds h3{ text-align:center; width:100%; font-size:32px; top:0px}
.two-rounds{position:relative}
.right-round{}
.left-round{}
.city-rounds h2,.city-rounds.round-3 h2{font-size:40px; margin-bottom:15px; bottom:70px; font-size:30px !important}
.box-5 .box-text{width:97%; right:0}
.city-rounds.round-2 h2{font-size:30px}
.city-rounds h2{bottom:75px !important; top:auto }
.city-rounds.round-4 h2{bottom:75px !important; top:auto }
.city-rounds.round-3{margin:0 auto; margin-top:0; margin-bottom:30px}
.city-rounds.round-2{margin-top:30px;}
.showstoppers{margin-top:20px;}
.city-rounds.round-4 h2{font-size:30px;}
.catgory-name-block > div > a{font-size:20px;}
.recatangle-catgry ul li{margin-bottom:15px;}
.city-rounds{width:220px; margin:0 auto}
.two-rounds h4{display:block; }
.box-5{margin-top:0}
.since-img span img{width:135px; padding-bottom:10px}
.abt-top-content .abt-banner{padding:15px 0;}
.abt-row2 .abt-img{margin-top:0}
.abt-row2 .abt-text{padding-top:0}
.abt-row.abt-row2{margin-top:25px}
.info-laila ul li{width:125px; margin-bottom:15px;}
.round-logo{font-size:50px}
.product-desc ul li{text-align:center}
/*.product-desc ul li:first-child{border:none; padding:0 0 15px 0;}
.product-desc ul li:last-child{border:none; padding:0}*/
.locators-icons ul li{padding-bottom:0 !important}
.product-desc{padding-bottom:30px;}
.news-img{float:none; width:200px; margin:0 auto}
.news-desc{float:none; height:auto !important; width:100%; text-align:center; padding-top:10px}
.news-txt h2{padding-bottom:15px;}
.change-row .news-img{float:none; width:200px; margin:0 auto}
.contact-row h2{font-size:32px;}
.city-row.city-row-altr ul li{float:none; width:100%; margin:0 auto}
#gmap_canvas,#gmap_canvas2,#gmap_canvas3,#gmap_canvas4,#gmap_canvas5,#gmap_canvas6{height:250px !important; width:100% !important;}
.contact-cntr .contact-row:last-child{padding-bottom:0}
.show-location{z-index:1; left:0 !important; width:100% !important; bottom:-140px; top:auto}
.career-location ul li{display:block; padding-bottom:10px; padding-left:0; padding-right:0; float:left; width:50%}
.address-career{width:100%; padding:10px;}
.car-adds{float:none; margin:0 auto;}
.car-add-txt{margin-left:0; text-align:center; width:100% !important; margin-top:10px;}
.career-location{margin-bottom:25px;}
.career-desc h1{text-align:center}
.career-desc h3{text-align:center}
.two-rounds h3{display:none}
.navigation{overflow-y:scroll; height:282px}
.down-arrow{display:none !important}
.product-desc > ul > li{vertical-align:top;}
.submenu-box{margin-top:20px;}
.navigation > ul > li,.navigation > ul > li.submenu-cntr{ margin-bottom:18px;}

body{padding-bottom:0}
.footer{position:static; margin-top:15px}
.footer-links{text-align:center}
.footer-links ul li{margin-right:0; width:auto; float:none; display:inline-block; width:49%}
.footer-links ul li.footer-link-col{margin-right:0}
.footer-links ul li a{display:block; padding:5px 0;}
.footer-links ul li dl.footer-products dd{display:none}
.footer-links ul li dl.footer-products:hover dd{display:block}
.social-footer{position:static; text-align:center; width:142px; margin:0 auto; margin-top:20px}
.footer-links ul li dl.footer-products dd{margin-top:0;}
.footer-form ul li{width:45%; margin-bottom:10px;}
.footer-form ul li label{width:55px;}
.footer-formdv input[type="text"]{width:78%}
.footer-buttons{margin-top:20px; text-align:center}
.chk-btns{margin-left:0; display:inline-block; float:none}
.sub-btnsfootr{float:none; margin-top:10px;}
.recatangle-catgry{margin-bottom:20px}
.round-slider.opacity-white{opacity:1 !important}

.my-enquirylnk{top:90px; right:15px}
.showstopper-slider h2{position:relative; display:inline-block; width:auto; top:0}
.showstopper-slider{text-align:center;}
.gold-star img{width:30px}
.gold-star{right:-25px; top:-20px}
.showstoppers-txt{padding-top:25px; padding-bottom:0px;}
.laila-imgcntr img{width:100%}
.overlay{}
.product-lp-row h2{height:auto; font-size:20px}
.product-lp-row .city-row ul li{width:48%;}
.product-lp-row .city-row ul li:nth-child(2n){margin-right:0}
.new-arri{line-height:50px}
.shiping-show,.store-show{z-index:9999; box-shadow:0px 0px 3px 0px rgba(0,0,0,0.7)}
.form-cntr .grid-3{width:20%;}
.form-cntr .grid-9{width:80%}
.add-list-row ul li{width:100% !important; float:none; border-right:none; padding:0 !important; margin-bottom:15px;}
.product-type{height:auto}
.add-list-row ul li.col-4,.add-list-row ul li.col-3{width:30% !important; margin:0 auto;margin-bottom:15px;}
.product-code{height:auto}
.fill-quotes{display:block; margin-left:auto; margin-right:auto}
.store-imgsc1{width:100%;}

.my-enquirylnk{left:10px; top:110px; right:auto}
.toggle-btn{margin-top:0; left:50%; margin-left:-25px; background:none; width:50px; top:110px; text-align:center; color:#fff;transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease;}
.menu-aniversaryimg{margin-right: 0;padding-top: 0;top: 100px;width: 68px; position:absolute; right:-10px;}
.navigation{top:150px;}
.toggle-btn:after{content:'MENU'; color:#fff; font-size:12px; position:absolute; left:0; bottom:-12px; width:100%;}
.opened .toggle-btn{background:none}
.toggle-btn span{background:#caae41; height:3px;}
.header .logo-band a{width:100%; text-align:center}
body.moblebody .toggle-btn{margin-left:0; top:50%; margin-top:-30px;}
body.moblebody .menu-aniversaryimg{display:none}
body.moblebody .my-enquirylnk{left:auto; right:10px; top:27px; z-index:99999}
body.moblebody .navigation{top:115px;}
.store-informatn{padding:25px 0 30px 0}
.store-managment{padding-bottom:50px}
.city-row ul li p span br{display:none}

.product-desc > ul > li{text-align:left; padding-left:10px !important; padding-right:10px !important;}
.locators-icons ul li:last-child{float:left; margin-top:0}
.locators-icons ul li{float:right}
.product-desc ul li{font-size:13px;}
.locators-icons{width:96%; margin-left:auto; margin-right:auto}
.product-desc > ul > li{display:block}
.product-desc ul li:first-child{border:none; padding:0 0 10px 0;}
.product-desc ul li:last-child{border:none; padding:0}
.shiping-show{bottom:75px;}
.store-show{bottom:75px;}
.box-tiles{float:none}
.showstoppers-txt{padding-left:0; padding-right:0}
.bx-wrapper{height: 135px;}
.showstopper-img a img{height: 135px;}
.emi{display:none;}
.footer-form ul li {
    float: right;
}
.copyright{margin:0 auto !important;}
.copyright li:first-child{ width: 350px;}
.big-screen{display:none;}
.mobile{display:blo ck}
.product-desc > ul > li{float:none; width:100%}
.sale-list .bx-wrapper{height:auto}
body.sale-body .product-img .bx-wrapper .bx-controls-direction a{top:30%}
.product-desc > ul > li:first-child,.product-desc > ul > li:last-child{width:100%}
.sale-body .product-desc{position:absolute; bottom:10px; top:auto; width:100%; padding-bottom:0; margin:0 !important}
.sale-list .bx-wrapper .product-desc{position:static}
.sale-list .bx-wrapper li{padding-bottom:30px;}
.sale-list .product-row{margin-bottom:30px; padding-bottom:20px;}
}
 @media screen and (min-width: 0) and (max-width:640px) {/*For Big Screen mobile*/
}
 @media screen and (min-width: 0) and (max-width:480px) {/*For mobile*/
 
 .showstopper-slider .bx-wrapper .bx-prev{left:-10px;}
 .showstopper-slider .bx-wrapper .bx-next{right:-10px;}
 
 .left-part{float:none; width:100%;}
.right-part{float:none; width:100%; margin:0 auto}
.container{width:96%; max-width:100%;}
.box-1 h2{font-size:42px; margin-top:-23px;}
.box-2{padding:15px; margin:0}
.box-2 h2{font-size:24px; line-height:28px;}
.box-2 p{font-size:18px; margin-top:20px;}
.box-tiles{margin-bottom:15px;}
.box-text, .box-5 .box-text,.box-6 .box-text{font-size:42px; line-height:42px;}
.box-6 .box-text span{font-size:22px}
.showstopper-slider h2{font-size:40px; text-align:center; position:static}
.showstopper-slider .bx-wrapper .bx-controls-direction a{font-size:25px; width:30px; height:70px; background-size:30px auto; top:auto; margin-top:0px; bottom:17%;}
.showstopper-slider{width:100%;}
.two-rounds h3{ text-align:center; width:100%; font-size:32px; top:30px}
.two-rounds{position:relative}
.right-round{float:none; width:100%; position:static}
.left-round{float:none; width:100%; padding-top:15px;}
.city-rounds h2,.city-rounds.round-3 h2{font-size:42px !important; margin-bottom:15px}
.city-rounds.round-2 h2{font-size:42px}
.city-rounds.round-3{margin-top:0; margin:30px auto}
.city-rounds.round-2{margin-top:30px;}
.showstoppers{margin-top:0px;}
.city-rounds.round-4 h2{font-size:40px;}
.catgory-name-block > div > a{font-size:20px;}
.recatangle-catgry ul li{margin-bottom:15px;}
.city-rounds{width:300px; margin:0 auto}
.box-5{margin-top:0}
.since-img span img{width:135px; padding-bottom:10px}
.abt-top-content .abt-banner{padding:15px 0;}
.abt-img{float:none; text-align:center; margin:0 auto; width:50%}
.abt-text{float:none; width:100%; margin:0 auto; padding-top:15px;}
.abt-row2 .abt-img{float:none; text-align:center; margin:0 auto; width:50%; padding:15px 0}
.abt-row2 .abt-text{float:none; width:100%; margin:0 auto; padding:0}
.info-laila ul li{width:125px; margin-bottom:15px;}
.info-laila ul li:nth-child(2n){margin-right:0}
.round-logo{font-size:50px}
.product-desc > ul > li{display:block}
.product-desc ul li:first-child{border:none; padding:0 0 10px 0;}
.product-desc ul li:last-child{border:none; padding:0}
.locators-icons ul li{padding-bottom:0 !important}
.product-desc{padding-bottom:30px;}
.news-img{float:none; width:200px; margin:0 auto}
.news-desc{float:none; height:auto !important; width:100%; text-align:center; padding-top:10px}
.news-txt h2{padding-bottom:15px;}
.change-row .news-img{float:none; width:200px; margin:0 auto}
.contact-row h2{font-size:32px;}
.city-row.city-row-altr ul li{float:none; width:100%; margin:0 auto}
#gmap_canvas{height:250px !important; width:100% !important;}
.contact-cntr .contact-row:last-child{padding-bottom:0}
.show-location{position:relative; z-index:1; left:0 !important; width:100% !important; bottom:0;}
.career-location ul li{display:block; padding-bottom:10px; padding-left:0; padding-right:0; float:none; width:auto}
.address-career{width:100%; padding:10px;}
.car-adds{float:none; margin:0 auto;}
.car-add-txt{margin-left:0; text-align:center; width:100% !important; margin-top:10px;}
.career-location{margin-bottom:25px;}
.career-desc h1{text-align:center}
.career-desc h3{text-align:center}
.home-container{width:300px;}
.box-4 .box-text{width:145px}
.footer-formdv input[type="text"]{width:71%}
.product-lp-row .city-row ul li{margin-right:0; width:100%}
.product-lp-row h2{height:auto; font-size:24px}
.sale-headings h2 span{float:none}
.sale-headings h2 strong{float:none}
.sale-headings h2{font-size:20px}
.form-cntr .grid-3{width:30%;}
.form-cntr .grid-9{width:70%}
.add-list-row ul li{width:100% !important; float:none; border-right:none; padding:0 !important; margin-bottom:15px;}
.product-type{height:auto}
.add-list-row ul li.col-3{width:auto !important; margin-bottom:0 !important}
.add-list-row ul li.col-4{width:30% !important; margin:0 auto;margin-bottom:15px;}
.product-code{height:auto}
.fill-quotes{display:block; margin-left:auto; margin-right:auto}
.enquiry-thankyou h1{font-size:25px; line-height:30px; padding-bottom:40px;}
.thank-yourow ul li{width:100%;}
.city-row ul li p strong{width:27%;}
.city-row ul li p span{width:73%;}
}

@media screen and (min-width: 0) and (max-width:400px) {/*For Small screen mobile*/

 .footer-formdv input[type="text"]{width:64%}
 .showstopper-slider h2{font-size:34px;}
 .gold-star{right:-5px; top:-15px}
 .showstoppers-txt{font-size:18px}
 .navigation{height:350px}
 .locators-icons ul li:last-child{display:block; margin-top:10px}
 .sale-list .locators-icons ul li:last-child{display:inline-block; margin-top:0}
 .locators-icons{width:96%; margin:0 auto; margin-top:20px;}
 .locators-icons ul li:last-child{width:110px; text-align:left; margin-top:0}
 .locators-icons ul li:last-child a{padding-top:0}
 .locators-icons ul li:last-child a.enquiry-lnk{padding-top:4px;}
}