@charset "utf-8";
/* CSS Document */

@media screen and (min-width:640px) and (max-width:648px) {
.about-right-inner {
	min-height: 1280px;
	max-height: 2000px;
}
}
 @media screen and (min-width:649px) and (max-width:649px) {
.about-right-inner {
	min-height: 1250px;
	max-height: 2000px;
}
}
 @media screen and (min-width:650px) and (max-width:662px) {
.about-right-inner {
	min-height: 1220px;
	max-height: 2000px;
}
}
 @media screen and (min-width:663px) and (max-width:679px) {
.about-right-inner {
	min-height: 1190px;
	max-height: 2000px;
}
}
 @media screen and (min-width:680px) and (max-width:719px) {
.about-right-inner {
	min-height: 1160px;
	max-height: 2000px;
}
}
 @media screen and (min-width:720px) and (max-width:731px) {
.about-right-inner {
	min-height: 1190px;
	max-height: 2000px;
}
}
 @media screen and (min-width:732px) and (max-width:779px) {
.about-right-inner {
	min-height: 1160px;
	max-height: 2000px;
}
}
 @media screen and (min-width:780px) and (max-width:784px) {
.about-right-inner {
	min-height: 1130px;
	max-height: 2000px;
}
}
 @media screen and (min-width:785px) and (max-width:799px) {
.about-right-inner {
	min-height: 1100px;
	max-height: 2000px;
}
}
 @media screen and (min-width:800px) and (max-width:806px) {
.about-right-inner {
	min-height: 1070px;
	max-height: 2000px;
}
}
 @media screen and (min-width:807px) and (max-width:831px) {
.about-right-inner {
	min-height: 1040px;
	max-height: 2000px;
}
}
 @media screen and (min-width:832px) and (max-width:844px) {
.about-right-inner {
	min-height: 1010px;
	max-height: 2000px;
}
}
 @media screen and (min-width:845px) and (max-width:886px) {
.about-right-inner {
	min-height: 980px;
	max-height: 2000px;
}
}
 @media screen and (min-width:887px) and (max-width:899px) {
.about-right-inner {
	min-height: 950px;
	max-height: 2000px;
}
}
 @media screen and (min-width:900px) and (max-width:955px) {
.about-right-inner {
	min-height: 920px;
	max-height: 2000px;
}
}
 @media screen and (min-width:956px) and (max-width:1001px) {
.about-right-inner {
	min-height: 890px;
	max-height: 810px;
}
}
 @media screen and (min-width:1002px) and (max-width:1019px) {
.about-right-inner {
	min-height: 860px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1020px) and (max-width:1023px) {
.about-right-inner {
	min-height: 830px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1024px) and (max-width:1063px) {
.about-right-inner {
	min-height: 810px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1064px) and (max-width:1103px) {
.about-right-inner {
	min-height: 780px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1104px) and (max-width:1169px) {
.about-right-inner {
	min-height: 750px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1170px) and (max-width:1220px) {
.about-right-inner {
	min-height: 720px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1221px) and (max-width:1235px) {
.about-right-inner {
	min-height: 690px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1236px) and (max-width:1259px) {
.about-right-inner {
	min-height: 660px;
	max-height: 2000px;
}
}
 @media screen and (min-width:1024px) {
.mob-header {
	display: none;
}
}
@media screen and (min-width:1024px) and (max-width:1259px) {
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
.about-div {
	width: 100%;
}
.orange-div {
	width: 100%;
}
.member-join-btn-div {
	width: 100%;
}
nav {
	width: 100% !important;
}
.icon-div {
	margin-right: 5.88%;
}
.container {
	min-height: 440px;
	max-height: 440px;
}
.nav-menu {
	width: 64%;
}
.nav-menu li a {
	padding: 22.5px 10px;
}
.logo {
	padding: 6.3px 30px;
}
#name {
	width: 26%
}
#hospital-name {
	width: 31%;
}
#designation {
	width: 26%
}
#contact {
	width: 31%;
}
#email {
	width: 32.26%;
}
#captcha {
	width: 26%
}
#message {
	width: 67.49%;
}
.about-left-inner {
	min-height: 640px;
	max-height: 2000px;
	padding-bottom: 10px;
}
.member-container {
	width: 30.05% !important;
	min-height: 210px !important;
	max-height: 210px !important;
}
.container3-content {
	float: left;
	width: 59.5%;
}
/*.container {
	min-height: 215px;
	max-height: 215px;
}*/
.articles-banner {
	width: 100%;
	margin: 0 auto;
}
.AC h1 ul#count {
	position: relative;
	top: -35px;
}

.company-name
{
	width:200px;
}

.location
{
	width:200px;
}
.search-bar-btn {
    width: 80px;
}

.mob-clear
{
	display:none;
}
}
 @media screen and (min-width:720px) and (max-width:1023px) {
header {
	display: none;
}
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
.about-div {
	width: 100%;
}
.orange-div {
	width: 100%;
}
.member-join-btn-div {
	width: 100%;
}
.member-info p {
	font-size: 13px;
}
.icon-div {
	margin-right: 5.71%;
	width: 100px;
}
.icon-text {
	font-size: 15px;
}
.icon-div-join {
	width: 100px;
}
.icon-text-join {
	font-size: 15px;
}
.container {
	min-height: 375px;
	max-height: 430px;
}
.container3 {
	min-height: 215px;
	max-height: 238px;
}
.container3 img {
	float: left;
	width: 40% !important;
}
.container3-content {
	float: left;
	width: 55.3%;
}
.mob-header {
	width: 100%;
	height: 62px;
	background-color: #f9f9f9;
}
.about-right-inner {
	padding: 30px 30px 0 30px;
}
.about-left-inner {
	min-height: 540px;
	max-height: 2000px;
	padding-bottom: 10px;
}
#vision-para {
	font-size: 14px;
}
.about-us-content p {
	font-size: 14px;
	line-height: 25px;
}
#para-2 {
	font-size: 18px;
	line-height: 25px;
}
.team-container {
	min-height: 270px !important;
	max-height: 320px !important;
}
.AC h1 p {
	font-size: 30px;
}
.AC h1 {
	bottom: 25px;
	left: 41%;
}
.AC h1 ul#count {
	margin-left: 50px;
	position: relative;
	bottom: 10px;
	margin-bottom: 90px;
	top: auto;
}
.AC h1 ul#count li {
	font-size: 42px;
	width: 80px;
}
.AC h1 ul#count li span {
	font-size: 16px;
}
.more-orange {
	margin-left: 50px;
}
.title {
	bottom: 25px;
}
.date-time {
	font-size: 11px;
}
.center-img-div-header h2 {
	font-size: 16px !important;
}
#name {
	width: 26%;
}
#hospital-name {
	width: 29%;
}
#designation {
	width: 26%;
}
#contact {
	width: 29%;
}
#email {
	width: 29.73%;
}
#captcha {
	width: 26%
}
#message {
	width: 64.74%;
}
.member-container {
	margin-right: 4.4% !important;
	min-height: 300px !important;
	max-height: 300px !important;
}
.dropbtn480 {
	background-color: #2196d1;
	color: white;
	padding: 11.5%;
	font-size: 16px;
	border: none;
	cursor: pointer;
	float: right;
	outline: none;
	border: none;
	display: inline-flex;
}
.dropdown480 {
	position: absolute;
	display: inline-block;
	z-index: 10;
	right: 10px;
	min-width: 160px;
	font-family: 'FuturaLight';
}
.dropdown-content480 {
	display: none;
	position: absolute;
	background-color: #2196D1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 62px;
	z-index: 10;
}
.dropdown-content480 a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #166F9C;
}
.dropdown-content480 a:hover {
	background-color: #f1f1f1;
	color: black;
}
.dropdown480:hover .dropbtn480 {
	background-color: #2196d1;
}
/*sub-menu*/
.dropdown480 a .dropbtn480{float:none;padding:0;}

.dropdown480 a:hover .dropbtn480 {
	color: black;
}
.dropdown480 .sub-menu {
	background-color: #fff;
	box-shadow: none;
	margin-top:0;
}

.dropdown480 .sub-menu a {
	color:#000;
}

.dropdown480 .sub-menu a:hover {
	background-color: #2196D1;
	color: #fff;;
}

.dropdown480:hover a .dropbtn480 {
	background-color: transparent;
}

/*sub-menu*/

.bx-wrapper {
	width: 100% !important;
	float: left;
}
.bxslider img {
	height: 100% !important;
}
.bxslider li {
	float: left;
	list-style: none;
	position: relative;
	width: 538px;
}
#black-div {
	width: 100%;
	float: right;
	color: #fff;
	background-color: #000;
	height: 401px;
}
.thumb-nail {
	position: relative;
	bottom: 160px;
	left: 10px;
}
#thumb img {
	width: 50px;
	height: 38px;
}
.articles-banner {
	width: 100%;
	margin: 0 auto;
}
.company-name
{
	width:35%;
}

.location
{
	width:35%;
}
.search-bar-btn {
    width: 80px;
}
.search-sort{
float:none;
margin-top:10px;
}
}
 @media screen and (min-width:640px) and (max-width:719px) {
.mob-clear {
	clear: both;
}
.no-clear {
	clear: none;
}
.no-clear-association {
	clear: none;
}
header {
	display: none;
}
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
.member-join-btn-div {
	width: 100%;
}
.orange-div {
	width: 100%;
}
.about-div {
	width: 100%;
}
.padding-div-obj ul {
	margin-left: 20px !important;
}
.padding-div-obj ol {
	margin-left: 20px !important;
}
.member-info p {
	font-size: 13px;
}
#name {
	width: 26%
}
#hospital-name {
	width: 28.4%;
}
#designation {
	width: 26%
}
#contact {
	width: 28.4%;
}
#email {
	width: 28.41%;
}
#captcha {
	width: 26%;
}
#message {
	width: 63.5%;
}
#slider-padding {
	padding: 5%;
}
.bx-viewport {
	height: 100% !important;
}
.bxslider img {
	height: 100% !important;
}
.icon-div {
	margin-right: 3%;
	width: 100px;
}
.icon-text {
	font-size: 15px;
}
.icon-div-join {
	width: 100px;
}
.icon-text-join {
	font-size: 15px;
}
.about-right-inner {
	padding: 30px 30px 0 30px;
}
.about-left-inner {
	min-height: 735px;
	max-height: 2000px;
	padding: 0 40px 10px 40px;
}
#vision-para {
	font-size: 14px;
}
.about-us-content p {
	font-size: 14px;
	line-height: 25px;
}
#para-2 {
	font-size: 18px;
	line-height: 25px;
}
.team-container {
	min-height: 285px !important;
	max-height: 285px !important;
}
.join-now-pic img {
	right: auto;
	left: 5%;
}
.padding-div {
	padding: 10% 5%;
	margin: 0 auto;
	width: 90.1% !important;
}
.slider-div {
	background-color: #fff;
	padding: 10px 0 0px 0;
}
.container {
	width: 100% !important;
	margin: 0 0 5% 0;
	min-height: 480px;
	max-height: 520px;
}
.container3 {
	min-height: 402px;
	max-height: 565px;
}
.container3-content {
	float: left;
	width: auto;
}
.container3 img {
	width: 100% !important;
}
.date-time {
	font-size: 11px;
}
.center-img-div-header h2 {
	font-size: 16px !important;
}
.social-icon {
	float: left;
	text-align: center;
	margin: 10px 0;
}
.association-icon {
	left: 75%;
}
.title {
	top: 30%;
	left: 26%;
	font-size: 10px;
	width: 65%;
}
.AC h1 p {
	font-size: 12px;
	margin-bottom: 10px;
}
.AC h1 ul#count {
	margin-left: 50px;
	position: relative;
	bottom: 10px;
	top: auto;
}
.AC h1 ul#count li {
	font-size: 35px;
	width: 80px;
}
.AC h1 ul#count li span {
	font-size: 12px;
}
.more {
	font-size: 8px;
	padding: 6px 9px;
}
.more-orange {
	font-size: 8px;
	padding: 6px 9px;
	margin-left: 50px;
}
.bx-wrapper .bx-controls-direction a {
	top: 40%;
	margin-top: 0px;
	width: 20px;
	height: 35px;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-prev {
	background-size: 20px;
}
.mob-header {
	width: 100%;
	height: 62px;
	background-color: #f9f9f9;
}
#thumb img {
	width: 50px;
	height: 38px;
}
#Silder_holder {
	margin-bottom: 0px
}
.thumb-nail {
	bottom: 160px;
	left: 10px;
}
.member-container {
	min-height: 150px !important;
	max-height: 200px !important;
}
.dropbtn480 {
	background-color: #2196d1;
	color: white;
	padding: 11.5%;
	font-size: 16px;
	border: none;
	cursor: pointer;
	float: right;
	outline: none;
	border: none;
	display: inline-flex;
}
.dropdown480 {
	position: absolute;
	display: inline-block;
	z-index: 10;
	right: 10px;
	min-width: 160px;
	font-family: 'FuturaLight';
}
.dropdown-content480 {
	display: none;
	position: absolute;
	background-color: #2196D1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 62px;
	z-index: 10;
}
.dropdown-content480 a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #166F9C;
}
.dropdown-content480 a:hover {
	background-color: #f1f1f1;
	color: black;
}
.dropdown480:hover .dropbtn480 {
	background-color: #2196d1;
}

/*sub-menu*/
.dropdown480 a .dropbtn480{float:none;padding:0;}

.dropdown480 a:hover .dropbtn480 {
	color: black;
}
.dropdown480 .sub-menu {
	background-color: #fff;
	box-shadow: none;
	margin-top:0;
}

.dropdown480 .sub-menu a {
	color:#000;
}

.dropdown480 .sub-menu a:hover {
	background-color: #2196D1;
	color: #fff;;
}

.dropdown480:hover a .dropbtn480 {
	background-color: transparent;
}

/*sub-menu*/ 
.articles-banner {
	width: 100%;
	margin: 0 auto;
}
.company-name
{
	width:35%;
}

.location
{
	width:35%;
}
.search-bar-btn {
    width: 80px;
}
.search-sort{
float:none;
margin-top:10px;
}
}
 @media screen and (min-width:481px) and (max-width:639px) {
.mob-clear {
	clear: both;
}
.no-clear-association {
	clear: none;
}
header {
	display: none;
}
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
.about-div {
	width: 100%;
}
.orange-div {
	width: 100%;
}
.padding-div-obj ul {
	margin-left: 20px !important;
}
.padding-div-obj ol {
	margin-left: 20px !important;
}
.about-left {
	width: 100%;
}
.about-right {
	width: 100%;
}
.container3-content {
	float: left;
	width: auto;
}
.about-left-inner {
	min-height: 570px;
	max-height: 3000px;
	padding-bottom: 10px;
}
.about-right-inner {
	min-height: 372px;
	max-height: 1500px;
}
.about-us-content p {
	font-size: 14px;
	line-height: 25px;
}
#para-2 {
	font-size: 18px;
	line-height: 25px;
}
#slider-padding {
	padding: 10% 20%;
}
.bx-viewport {
	height: 100% !important;
}
.bxslider img {
	height: 100% !important;
}
.icon-div {
	margin: 0px 0 15px 0;
	width: 100px;
}
.icon-text {
	font-size: 15px;
}
.icon-div-join {
	width: 100px;
}
.icon-text-join {
	font-size: 15px;
}
.mob-float-right {
	float: right !important;
}
.mob-float-none {
	float: none !important;
}
.team-container {
	min-height: 280px !important;
	max-height: 280px !important;
}
.member-info p {
	font-size: 13px;
}
.padding-div {
	padding: 10% 5%;
	margin: 0 auto;
	width: 90.1% !important;
}
.slider-div {
	background-color: #fff;
	padding: 10px 0 0px 0;
}
.container {
	width: 100% !important;
	margin: 0 0 5% 0;
	min-height: 430px;
	max-height: 480px;
}
.container3 {
	min-height: 380px;
	max-height: 530px;
}
.container3 img {
	width: 100% !important;
}
.date-time {
	font-size: 11px;
}
.center-img-div-header h2 {
	font-size: 16px !important;
}
.member-join-btn-div {
	width: 96%;
}
#name {
	width: 96%;
	margin-top: 35px;
}
#hospital-name {
	width: 96%;
	margin-left: 0;
	margin-top: 35px;
}
#designation {
	width: 96%;
	margin-left: 0;
}
#contact {
	width: 96%;
	margin-left: 0;
}
#email {
	width: 96%;
	margin-left: 0;
}
#captcha {
	width: 96%;
	margin-top: 70px;
}
#message {
	width: 96%;
	margin-left: 0;
}
.join-now-pic img {
	right: auto;
	left: 5%;
	width: 90%;
}
.social-icon {
	float: left;
	text-align: center;
	margin: 10px 0;
}
.association-icon {
	left: 70%;
}
.member-container {
	min-height: 150px !important;
	max-height: 200px !important;
}
.AC h1 {
	position: absolute;
	top: 35%;
	left: 33%;
	color: #FFF;
	font-size: 10px;
	text-shadow: 1px 1px 2px #333;
	font-family: 'FuturaHeavy';
}
.title {
	top: 35%;
	left: 26%;
	font-size: 10px;
	width: 65%;
}
.AC h1 p {
	font-size: 12px;
	margin-bottom: 10px;
}
.AC h1 ul#count {
	margin-left: 50px;
	position: relative;
	bottom: 20px;
	top: auto;
}
.AC h1 ul#count li {
	font-size: 35px;
	width: 80px;
}
.AC h1 ul#count li span {
	font-size: 12px;
}
.more {
	font-size: 8px;
	padding: 6px 9px;
}
.more-orange {
	font-size: 8px;
	padding: 6px 9px;
	margin-left: 50px;
}
.bx-wrapper .bx-controls-direction a {
	top: 40%;
	margin-top: 0px;
	width: 20px;
	height: 35px;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-prev {
	background-size: 20px;
}
.mob-header {
	width: 100%;
	height: 62px;
	background-color: #f9f9f9;
}
#thumb img {
	width: 50px;
	height: 38px;
}
#Silder_holder {
	margin-bottom: 0px
}
.thumb-nail {
	bottom: 160px;
	left: 10px;
}
.dropbtn480 {
	background-color: #2196d1;
	color: white;
	padding: 11.7%;
	font-size: 16px;
	border: none;
	cursor: pointer;
	float: right;
	outline: none;
	border: none;
	display: inline-flex;
}
.dropdown480 {
	position: absolute;
	display: inline-block;
	z-index: 10;
	right: 10px;
	min-width: 160px;
	font-family: 'FuturaLight';
}
.dropdown-content480 {
	display: none;
	position: absolute;
	background-color: #2196D1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 58px;
	z-index: 10;
}
.dropdown-content480 a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #166F9C;
}
.dropdown-content480 a:hover {
	background-color: #f1f1f1;
	color: black;
}
.dropdown480:hover .dropbtn480 {
	background-color: #2196d1;
}

/*sub-menu*/
.dropdown480 a .dropbtn480{float:none;padding:0;}

.dropdown480 a:hover .dropbtn480 {
	color: black;
}
.dropdown480 .sub-menu {
	background-color: #fff;
	box-shadow: none;
	margin-top:0;
}

.dropdown480 .sub-menu a {
	color:#000;
}

.dropdown480 .sub-menu a:hover {
	background-color: #2196D1;
	color: #fff;;
}

.dropdown480:hover a .dropbtn480 {
	background-color: transparent;
}

/*sub-menu*/ 
.articles-banner {
	width: 100%;
	margin: 0 auto;
}

.company-name
{
	width:44.5%;
}

.location
{
	width:44.5%;
}

.search-bar-btn {
    width: 80px;
	margin-left:0;
	margin-top:10px;
}
.search-sort{
float:none;
margin-top:10px;
}

}
 @media screen and (min-width:320px) and (max-width:321px) {
.ml {
	margin-left: 18px;
}
}
@media screen and (min-width:320px) and (max-width:480px) {
.mob-clear {
	clear: both;
}
header {
	display: none;
}
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
#slider-padding {
	padding: 10% 15%;
}
.logo {
	padding: 0px;
}
.bx-viewport {
	height: 100% !important;
}
.bxslider img {
	height: 100% !important;
}
.icon-div {
	margin: 0px 0 15px 0;
	width: 100px;
}
.icon-text {
	font-size: 15px;
}
.icon-div-join {
	width: 100px;
}
.icon-text-join {
	font-size: 15px;
}
.mob-float-right {
	float: right !important;
}
.mob-float-none {
	float: none !important;
}
.container3-content {
	float: left;
	width: auto;
}
.padding-div {
	padding: 5%;
}
.social-icon {
	float: left;
	text-align: center;
	margin: 30px 0;
}
.title {
	top: 25%;
	left: 33%;
	font-size: 10px;
	width: 65%;
}
.AC h1 {
	position: absolute;
	top: 12%;
	left: 38%;
	color: #FFF;
	font-size: 10px;
	text-shadow: 1px 1px 2px #333;
	font-family: 'FuturaHeavy';
}
.AC h1 p {
	font-size: 12px;
	margin-bottom: 10px;
}
.AC h1 ul#count {
	margin-left: 10px;
	top: auto;
}
.AC h1 ul#count li {
	font-size: 20px;
	width: 60px;
}
.AC h1 ul#count li span {
	font-size: 10px;
}
.more {
	font-size: 8px;
	padding: 6px 9px;
}
.more-orange {
	font-size: 8px;
	padding: 6px 9px;
	margin-left: 10px;
}
.bx-wrapper .bx-controls-direction a {
	top: 35%;
	margin-top: 0px;
	width: 20px;
	height: 35px;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-prev {
	background-size: 20px;
}
.mob-header {
	width: 100%;
	height: 52px;
	background-color: #f9f9f9;
}
#thumb img {
	width: 50px;
	height: 38px;
}
.active img {
	border: none;
}
#Silder_holder {
	margin-bottom: 0px
}
.thumb-nail {
	bottom: 155px;
	left: 10px;
}
.team-container {
	min-height: 280px !important;
	max-height: 280px !important;
}
.member-info p {
	font-size: 13px;
}
.padding-div {
	padding: 10% 5%;
	margin: 0 auto;
	width: 90.1% !important;
}
.slider-div {
	background-color: #fff;
	padding: 10px 0 0px 0;
}
.container {
	width: 100% !important;
	margin: 0 0 5% 0;
	min-height: 380px;
	max-height: 430px;
}
.container3 {
	min-height: 380px;
	max-height: 530px;
}
.container3 img {
	width: 100% !important;
}
.date-time {
	font-size: 11px;
}
.center-img-div-header h2 {
	font-size: 16px !important;
}
.member-join-btn-div {
	width: 96%;
}
#name {
	width: 96%;
	margin-top: 35px;
}
#hospital-name {
	width: 96%;
	margin-left: 0;
	margin-top: 35px;
}
#designation {
	width: 96%;
	margin-left: 0;
}
#contact {
	width: 96%;
	margin-left: 0;
}
#email {
	width: 96%;
	margin-left: 0;
}
#captcha {
	width: 96%;
	margin-top: 70px;
}
#message {
	width: 96%;
	margin-left: 0;
}
.join-now-pic img {
	right: auto;
	left: 5%;
	width: 90%;
}
.about-div {
	width: 100%;
}
.orange-div {
	width: 100%;
}
.padding-div-obj ul {
	margin-left: 20px !important;
}
.padding-div-obj ol {
	margin-left: 20px !important;
}
.about-left {
	width: 100%;
}
.about-right {
	width: 100%;
}
.about-left-inner {
	min-height: 656px;
	max-height: 3000px;
	padding: 0 30px 10px 30px;
}
.about-right-inner {
	min-height: 420px;
	max-height: 1500px;
	padding: 30px 30px 0 30px;
}
.about-us-content p {
	font-size: 14px;
	line-height: 25px;
}
#para-2 {
	font-size: 18px;
	line-height: 25px;
}
.member-container {
	min-height: 150px !important;
	max-height: 200px !important;
}
.dropbtn480 {
	background-color: #2196d1;
	color: white;
	padding: 8.3%;
	font-size: 16px;
	border: none;
	cursor: pointer;
	float: right;
	outline: none;
	border: none;
	display: inline-flex;
}
.dropdown480 {
	position: absolute;
	display: inline-block;
	z-index: 10;
	right: 10px;
	min-width: 160px;
	font-family: 'FuturaLight';
}
.dropdown-content480 {
	display: none;
	position: absolute;
	background-color: #2196D1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 50px;
	z-index: 10;
}
.dropdown-content480 a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #166F9C;
}
.dropdown-content480 a:hover {
	background-color: #f1f1f1;
	color: black;
}
.dropdown480:hover .dropbtn480 {
	background-color: #2196d1;
}

/*sub-menu*/
.dropdown480 a .dropbtn480{float:none;padding:0;}

.dropdown480 a:hover .dropbtn480 {
	color: black;
}
.dropdown480 .sub-menu {
	background-color: #fff;
	box-shadow: none;
	margin-top:0;
}

.dropdown480 .sub-menu a {
	color:#000;
}

.dropdown480 .sub-menu a:hover {
	background-color: #2196D1;
	color: #fff;;
}

.dropdown480:hover a .dropbtn480 {
	background-color: transparent;
}

/*sub-menu*/


.overlay-box {
	background: #fff;
	position: fixed;
	z-index: 1001;
	display: none;
	margin: 0 auto;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	top: 200px;
}
.articles-banner {
	width: 100%;
	margin: 0 auto;
}

.company-name
{
	width:94%;
}

.location
{
	margin-left:0;
	margin-top:10px;
	width:94%;
}

.search-bar-btn {
    width: 80px;
	margin-left:0;
	margin-top:10px;
}
.search-sort{
float:none;
margin-top:10px;
}
}
 @media screen and (max-width:319px) {
.mob-clear {
	clear: both;
}
header {
	display: none;
}
.center-img-div {
	width: 100%;
}
.blue-banner-content {
	width: 100%;
}
.footer-content {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-div-content {
	width: 100%;
}
.slider-div {
	display: none;
}
.padding-div {
	padding: 5%;
}
.container {
	width: 100%;
	margin: 0 0 5% 0;
}
.social-icon {
	float: none;
	text-align: center;
	margin: 10px 0;
}
}
 @media screen and (min-width:320px) and (max-width:1023px) {
#black-div-content {
	width: 88%;
	margin: 0 auto;
	padding: 2% 0 0% 0;
}
#events-banner-time {
	font-size: 10px;
	font-family: FuturaHeavy;
}
#events-banner-header {
	font-size: 18px;
	font-family: FuturaHeavy;
	line-height: 25px;
	padding-top: 5px;
}
#events-content {
	font-size: 16px;
}
.bulate-num ol li {
	font-size: 16px;
}
.bulate-num ul {
	margin: 0 0 30px 15px;
}
.bulate-num ol {
	margin: 0 0 30px 15px;
}
.padding-div-2 ol, .padding-div-3 ol, .padding-div-4 ol {
	margin: 0 0 30px 15px;
}
.padding-div-2 ul, .padding-div-3 ul, .padding-div-4 ul {
	margin: 0 0 30px 15px;
}
.about-us-content ol {
	margin: 0 0 30px 15px;
}
.about-us-content ul {
	margin: 0 0 30px 15px;
}
#events-banner-title {
	font-size: 10px;
	padding-top: 7px;
}
#events-banner-venue {
	font-size: 10px;
	padding-top: 2px;
}
.bxslider li {
	width: 224px;
}
.bx-wrapper {
	width: 100% !important;
	float: left;
}
#black-div {
	width: 100%;
	float: right;
	color: #fff;
	background-color: #000;
	height: 109px;
}
}
 @media screen and (min-width:1260px) and (max-width:1318px) {
.nav-menu {
	width: 890px;
}
}
 @media screen and (min-width:481px) and (max-width:1023px) {
.logo {
	padding: 6.2px 55px;
}
}
 @media screen and (max-width:1023px) {
.bg-img {
	background-size: inherit !important;
}
.wrapper {
	padding-top: 0;
}

.submit-btn-login {
    width: 100px;
}

.join-now-login
{
	bottom:0;
}
 @media screen and (min-width:360px) and (max-width:480px) {
.association-icon {
	left: 60%;
}
}
 @media screen and (max-width:719px) {
.overlay-box {
	width: 90%;
}
.pager .pager-number
{width:100%;}
}
 @media screen and (min-width:320px) and (max-width:360px) {
.join-now-form {
	margin-bottom: 300px;
}
}
 @media screen and (min-width:361px) and (max-width:420px) {
.join-now-form {
	margin-bottom: 350px;
}
}
 @media screen and (min-width:421px) and (max-width:480px) {
.join-now-form {
	margin-bottom: 380px;
}
}
 @media screen and (min-width:481px) and (max-width:540px) {
.join-now-form {
	margin-bottom: 430px;
}
}
 @media screen and (min-width:541px) and (max-width:580px) {
.join-now-form {
	margin-bottom: 460px;
}
}
 @media screen and (min-width:581px) and (max-width:600px) {
.join-now-form {
	margin-bottom: 480px;
}
}
 @media screen and (min-width:601px) and (max-width:639px) {
.join-now-form {
	margin-bottom: 500px;
}
}
