/*fonts*/



@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
 @font-face {
font-family: 'FontAwesome';
src: url('fonts/fontawesome-webfont.eot?v=4.0.1');
src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
 @font-face {
 font-family: 'CoutureBold';
 src: url('fonts/CoutureBold.eot');
 src: url('fonts/CoutureBold.eot') format('embedded-opentype'),  url('fonts/CoutureBold.woff2') format('woff2'),  url('fonts/CoutureBold.woff') format('woff'),  url('fonts/CoutureBold.ttf') format('truetype'),  url('fonts/CoutureBold.svg#CoutureBold') format('svg');
}
/*fonts font-family: 'Roboto', sans-serif;*/







/*Reset CSS*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
a {
	color: #212121;
	text-decoration: none;
	outline: none;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
a:hover {
}
body {
	line-height: 1;
	font: 12px 'Roboto', sans-serif;
	color: #000; /*padding-bottom: 468px;*/
	position: relative;
	background: #fff;
}
/*Reset CSS end*/







/*global classes*/



*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-word-break: keep-all;
	word-break: keep-all;
	-webkit-word-break: keep-all;
	-moz-word-break: keep-all;
	word-wrap: break-word;
}
img {
	max-width: 100%;
	vertical-align: middle
}
.wrapper {
}
.container {
	margin: 0 auto;
	width: 96%
}
.clear {
	clear: both
}
.clear10 {
	clear: both;
	height: 10px
}
.clear20 {
	clear: both;
	height: 20px
}
.clumn {
	width: 198px;
	float: left
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.text-right {
	text-align: right !important
}
.text-left {
	text-align: left !important
}
.text-center {
	text-align: center !important
}
.error {
	color: #F00;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font: 300 12px 'Roboto', sans-serif;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
/*Form*/



/*form tag*/



input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
	width: 100%;
	padding: 9px 10px;
	border: 1px solid #ddd;
	margin: 0;
	font: 14px 'Roboto', sans-serif;
	outline: none;
}
select {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 100%;
	padding: 9px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
textarea {
	height: 80px;
	resize: none;
	font: 14px 'Roboto', sans-serif;
}
input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
/*Form Tag end*/











/*Common Buttons*/



input[type=button], input[type=submit], input[type=reset], a.box-btn, button.box-btn {
	display: inline-block;
	margin: 0 5px 0 0;
	border: 2px solid #1a5285;
	background: none;
	color: #1a5285;
	min-width: 155px;
	cursor: pointer;
	padding: 7px 15px;
	font: 16px 'CoutureBold';
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	outline: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, a.box-btn:hover, button.box-btn:hover, input[type=button].active, input[type=submit].active, input[type=reset].active, a.box-btn.active, button.box-btn.active {
	background-color: #1a5285;
	color: #fff;
}
input[type=button].secondary-btn, input[type=submit].secondary-btn, input[type=reset].secondary-btn, a.box-btn.secondary-btn, button.box-btn.secondary-btn {
	background-color: #33B7CC;
	color: #fff;
}
input[type=button].secondary-btn:hover, input[type=submit].secondary-btn:hover, input[type=reset].secondary-btn:hover, a.box-btn.secondary-btn:hover, button.box-btn.secondary-btn:hover, input[type=button].secondary-btn.active, input[type=submit].secondary-btn.active, input[type=reset].secondary-btn.active, a.box-btn.secondary-btn.active, button.box-btn.secondary-btn.active {
	background-color: #53d7ec
}
/*Common buttons end*/



.form-layout {
}
.form-layout .form-row {
}
.form-row .form-field {
	padding-bottom: 20px;
}
.form-row:last-child .form-field {
	padding-bottom: 0
}
.form-row label {
	display: block;
	padding: 10px 0;
	font: 14px 'Roboto', sans-serif;
}
.input-type-select {
	border: 1px solid #ddd;
	overflow: hidden;
	position: relative;
}
.input-type-select:after {
	background: url("../images/custom-select.png") no-repeat scroll center center;
	content: "";
	display: block;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 41px;
	z-index: 99999;
	cursor: pointer;
	pointer-events: none;
	-ms-pointer-events: none;
	-webkit-pointer-events: none;
	content:'';
}

/*form end*/



/*hack for mozzila */



@-moz-document url-prefix() {
 a.box-btn {
 padding:8px 15px
}
}
.desktop-only {
	display: block
}
.mobile-only, .tab-only, .tab-mobile-only {
	display: none
}
/*Global Classes End*/







/*List*/



ul.list {
	margin-left: 27px
}
ul.list li {
	padding: 5px 0 5px 7px;
}
ul.list.bullet {
	margin-left: 0
}
ul.list.bullet li {
	background: url("../images/bullet.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding: 5px 0 5px 18px;
}
ul.list.number li {
	list-style-type: decimal;
}
ul.list.lower-roman li {
	list-style-type: lower-roman;
}
ul.list.upper-roman li {
	list-style-type: upper-roman;
}
/*list end*/











/*overlay */



.overlay-bg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}
.overlay {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100001;
	visibility:hidden
}
.overlay-box {
	display: table;
	height: inherit;
	margin: 0 auto;
	width: 600px;
}
.overlay-box .content {
	display: table-cell;
	vertical-align: middle;
}
.overlay-box .closeBtn {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px;
	color: #2A78CB;
	cursor: pointer;
	font: bold 17px/25px Arial, Helvetica, sans-serif;
	height: 25px;
	padding: 0;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 25px;
	z-index: 1002;
}
.overlay-box .overlay-header {
	background: none repeat scroll 0 0 #4066ae;
	color: #fff;
	font: 600 19px 'Roboto', sans-serif;
	padding: 9px 10px;
	position:relative;
}
.overlay-box .overlay-content {
	padding: 20px 10px;
	background: none repeat scroll 0 0 #fff
}
.overlay-box .overlay-footer {
	padding: 9px 10px;
	background: #e3e3e3;
	text-align: right
}
/*overlay end*/











/*loader*/



.loader {
	background: url("../images/loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}
/*loader end*/











/*accordion css*/



.accordion {
}
.accordion dl {
	border: 1px solid #d0d0d0;
	border-radius: 0;
	margin-bottom: 20px;
	box-shadow: 3px 3px #c0c0c0;
}
.accordion dl dt {
	background: none repeat scroll 0 0 #E8E8E8;
	color: #212121;
	cursor: pointer;
	font: 300 20px 'Roboto', sans-serif;
	padding: 8px 1%;
	position: relative;
}
.accordion dl.active dt {
	border-bottom: 1px solid #d0d0d0;
}
.accordion dl dt:after {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	content: "\f103";
	font: 24px/30px FontAwesome;
	height: 30px;
	margin: 6px 1%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 30px;
	color: #2c6a90;
}
.accordion dl.active dt:after {
	content: "\f102"
}
.accordion dl dd {
	display: none;
	padding: 10px 1%;
}
/*accordion css end*/







/*Footer CSS Start*/



.footer { /*position: absolute;*/
	left: 0;
	bottom: 0;
	width: 100%;
	background: #3b3b3b;
	color: #fff;
}
.footer-cntr {
	width: 1100px;
	margin: 0 auto;
	padding: 140px 0 100px 0
}
.footer-cntr > ul > li {
	float: left;
	margin-right: 10%;
	width: 16%;
}
.footer-cntr > ul > li:last-child {
	margin-right: 0;
	width: 20%;
}
.footer-cntr dl dt {
	font:15px 'CoutureBold';
	color: #c3c3c3
}
.footer-cntr dl dd ul li a {
	font-size: 15px;
	color: #c3c3c3
}
.footer-cntr dl dd ul li {
	padding-top: 15px;
}
.footer-cntr dl dd ul li a:hover {
	color: #1EBEF0
}
/*Footer CSS End*/







/*Header*/



.header {
	background: #fff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999
}
.logo {
	float: left;
	padding: 18px 0;
}
.menubar {
	float: right;
	padding-top: 37px;
}
.menubar ul li {
	float: left;
	margin-right: 50px;
}
.menubar ul li:last-child {
	margin-right: 0
}
.menubar ul li a {
	display:block;
	font:15px 'CoutureBold';
	color: #373435;
	position: relative;
}
.menubar ul li a:hover {
	color: #79a446
}
.menubar ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #79a446;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.menubar ul li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.menubar ul li a.active {
	color: #79a446
}
.menubar ul li a.active:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #79a446;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
/*Header end*/







/*Slider*/



.slider {
	padding-top: 91px;
}
.full-slider {
	position: relative;
	background: #f2f2f2
}
.full-slider ul li {
	background-color: transparent;
	background-image: none;
	background-position: center 60%;
	background-repeat: no-repeat;
	background-size: cover;
}
.full-slider .container {
	height:calc(100vh - 91px);
	position: relative;
}
.slider-Large-txt {
	position: absolute;
	left: 0%;
	top: 50%;
	color: #fff;
	margin-top: -137px;
}
.slider-Large-txt span {
	display: block;
	font-size: 42px;
	margin-left: 0px
}
.slider-Large-txt .s-Big-txt {
	font: 42px 'CoutureBold';
}
.slider-Large-txt .slider-smalltxt {
	font:300 20px 'Roboto', serif;
	width: 125%;
	margin-top:20px;
}
.slider-Large-txt .slider-smalltxt abbr {
	display: block;
}
.slider-Large-txt .slider-smalltxt abbr b {
	font-weight: 500
}
.join-us-link a {
	display: block;
	font: 16px 'CoutureBold';
	color: #fff;
	text-transform: uppercase;
	border:#fff solid 2px;
	padding: 8px 0;
	min-width: 150px;
	text-align: center;
}
.join-us-btn {
	position: absolute;
	top: 60%;
	margin-top: 0px;
	left: 0%;
}
.join-us-link a.Sliderjoin-us-icon {
	background-image: url(../images/join-us-icon.png);
	background-repeat: no-repeat;
	background-position: 30px center;
	padding-left: 70px
}
.join-us-link a:hover {
	background-color: #1a5285;
	color: #fff;
	border-color:#1a5285
}
.slide-overlay, .slide-overlay2 {
	visibility: hidden;
}
.slide-overlay.active-slide, .slide-overlay2.active-slide {
	visibility: visible;
}
.custom-pre-control {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	text-align: left;
	font-weight: 700;
	left: 3%;
	z-index: 99;
}
.custom-next-control {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	right: 3%;
	text-align: center;
	font-weight: 700;
}
#slider-prev {
	background: url(../images/prev.png) center center no-repeat;
	position: relative;
	display: block;
	width: 24px;
	height: 42px
}
#slider-next {
	background: url(../images/next.png) center center no-repeat;
	position: relative;
	display: block;
	width: 24px;
	height: 42px
}
.full-slider ul li.slide-1 {
	background-image: url(../images/01-experience.jpg);
}
.full-slider ul li.slide-2 {
	background-image: url(../images/02-practice.jpg);
}
.full-slider ul li.slide-3 {
	background-image: url(../images/03-technology.jpg);
}
/*Slider end*/



.bx-controls-direction {
	position: absolute;
	top: 144px;
	width: 1200px;
}
.bx-controls-direction .bx-prev {
	background: url(../images/prev.png) center center no-repeat;
	position: relative;
	display: block;
	width: 24px;
	height: 42px;
	font-size:0px;
	float: left;
	margin: 0 192px 0 384px;
}
.bx-controls-direction .bx-next {
	background: url(../images/next.png) center center no-repeat;
	position: relative;
	display: block;
	width: 24px;
	height: 42px;
	font-size:0px;
	float: left;
	margin: 0 384px 0 192px;
}
/*Home services list*/



.services-listhm {
	background: #1a5285;
	position: relative;
}
.hm-servicebnr {
	position: absolute;
	;
	left: 0;
	top: 0;
}
.serviceshm-block {
	float: right;
	padding: 112px 0 111px 0;
	position: relative;
	z-index: 1;
}
.hm-rowlistsrvice ul li {
	float: left;
	margin-right: 70px;
}
.hm-rowlistsrvice ul li.margin-botm {
	margin-bottom:40px;
}
.hm-rowlistsrvice ul li.thirdCol {
	margin-right:0
}
.hm-rowlistsrvice ul li.fourthCol {
	clear:both;
}
.distable {
	display: table;
	height: 100%;
	width: 100%;
}
.distable-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.hm-rowlistsrvice ul li .distable {
	background: #29598c;
	text-align: center;
	width: 150px;
	height: 160px;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.hm-rowlistsrvice ul li .distable * {
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.hm-serviceimg i {
	background: none 0 0 no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.hm-servicetxt {
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}
.hm-rowlistsrvice ul li:last-child {
	margin-right: 0
}
.cs-icon .hm-serviceimg i {
	background-image: url(../images/customer-service-icon.png);
	height: 58px;
	width: 50px;
}
.rm-icon .hm-serviceimg i {
	background-image: url(../images/reveue-managment-icon.png);
	height: 58px;
	width: 58px;
}
.cv-icon .hm-serviceimg i {
	background-image: url(../images/customer-verification-icon.png);
	height: 60px;
	width: 65px;
}
.crv-icon .hm-serviceimg i {
	background-image: url(../images/credit-validation-icon.png);
	height: 52px;
	width: 40px;
}
.da-icon .hm-serviceimg i {
	background-image: url(../images/data-analytics-icon.png);
	height: 54px;
	width: 52px;
}
.sm-icon .hm-serviceimg i {
	background-image: url(../images/sales-managment-icon.png);
	height: 47px;
	width: 69px;
}
.hm-rowlistsrvice ul li:hover .distable {
	background:#2965a7;
}
.whowe-box {
	width: 1095px;
	margin:0 auto;
	padding-bottom: 150px;
}
.whowe-img {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 100px;
}
.whowe-img h2 {
	font: 48px 'CoutureBold';
	color:#78a446;
	padding-top:23px;
}
.whowe-img h2 span {
	color:#1a5285
}
.whowe-box p {
	font-weight: 100;
	font-size: 30px;
	color: #373435;
	line-height: 42px;
}
/*Home services list end*/











.industry-knowlage {
	background: #78a446;
	overflow:hidden
}
.ik-big-arrow {
	width:629px;
	height: 315px;
	margin:0 auto;
	background: url(../images/white-big-arrow.png) center top no-repeat;
	padding-top: 10px;
	text-align: center;
	color: #78a446;
	font: 34px 'CoutureBold';
}
.industry-exptxt {
	width: 572px;
	margin: 0 auto;
}
.industry-exptxt p {
	font-weight: 300;
	font-size: 17px;
	color: #fff;
	line-height: 24px;
	padding-top: 25px;
	padding-bottom: 50px;
}
.industry-types {
	background-image: url(../images/industry-banner.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 135px 0 140px 0;
	position: relative;
}
.industry-types h2 {
	font: 52px 'CoutureBold';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 60px;
}
.listof-Industry ul li {
	float: left;
	margin-right: 81px;
	max-width: 240px;
}
.listof-Industry ul li:last-child {
	margin-right: 0
}
.it-boxes {
	position: relative;
}
.hover-itbox {
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	background: rgba(0, 0, 0, 0.5)
}
.listof-Industry ul li:hover .hover-itbox {
	background: rgba(0, 0, 0, 0.7);
	color: #1EBEF0
}
.work-withuscntr {
	width: 995px;
	margin: 0 auto;
}
.work-left {
	float: right;
	text-align: center;
	padding-top: 70px;
}
.work-right {
	float: left;
}
.work-left h2 {
	color: #b1b1b1;
	font: 48px 'CoutureBold';
	padding-bottom: 40px;
}
.work-left p {
	font-weight: 100;
	color: #373435;
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 65px;
	text-align:left;
}
.workwithus {
	overflow:hidden
}
.work-withuscntr {
	padding-top: 100px;
}
.site-buy a {
	text-decoration:underline
}
.site-buy a:hover {
	color:#fff;
}
.copyright-text .grayftr-logo {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.grayftr-logo {
	float: left;
	margin-right: 20px;
	display:none;
}
.copyright-text {
	float: right;
}
.copyright-text {
	font-size: 12px;
	color: #959595
}
.copyright-text a {
	color: #959595
}
.social-icons {
	margin-top: 20px;
}
.social-icons a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}
.social-icons a img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.5s ease;
}
.social-icons a:hover img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
/*Capabilities page*/



.inner-banner {
	height: 450px;
	background-image: url(../images/capabilities-banner.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.inner-banner.industries {
	background-image: url(../images/industries-banner.jpg);
}
.inner-banner .distable-cell {
	vertical-align: bottom;
}
.bredcrums-arrow {
	width: 425px;
	color:#0d487e;
	text-align: center;
	;
	height: 213px;
	background: url(../images/breadcrums-arrow.png) center center no-repeat;
	margin:0 auto;
}
.bredcrums-arrow h2 {
	color:#0d487e;
	font: 32px 'CoutureBold';
	text-transform: uppercase;
	padding-top: 140px;
}
.bredcrums-arrow a {
	color:#0d487e;
	font-size: 18px;
	display: inline-block;
	;
	margin-bottom: 15px;
}
/*Capabilities page end*/







/*tab Layout Css*/



.tabNav {
	position:relative;
	z-index:2;
}
.tabNav ul li {
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: 600;
	list-style: outside none none;
	text-align:center;
}
.tabNav ul li a {
	color:#a2a2a2;
	padding:7px 30px;
	display:block;
	font-weight:600;
	border:transparent solid 1px;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
}
.tabNav ul li a:hover {
	color:#0d487e;
}
.tabNav ul li a.active {
	border:#0d487e solid 1px;
	color:#0d487e;
}
.tabNav ul li:last-child {
	background-image:none;
}
.tabNav ul li a {
}
.tabResult {
	position:relative;
	z-index:1;
	overflow:hidden;
}
.tabResult .tabBx {
	display:none;
}
.tabResult .tabBx.current {
	display:block;
}
.tabResult .col-md-5, .tabResult .col-md-7 {
	padding:0
}
.tabResult p {
	font-weight: 300;
	font-size: 22px;
	color: #373435;
	line-height: 34px;
}
.tabResult .tabBx .mobile-menu {
	display:none
}
.tabNav ul:after {
	display:block;
	content:'';
	float:none;
	clear:both
}
.capab-tabinations .tabNav {
	padding: 0 25px;
}
.capab-tabinations .tabResult {
	padding-top: 80px;
}
.capab-tabinations {
	padding-top: 45px;
	padding-bottom: 150px;
}
.cap-tabTXT {
}
.whatdo-list {
	min-height: 753px;
}
.about-banner {
	background: #78a446 url(../images/about-banner.jpg) right center no-repeat;
}
.customer-service {
	background: #78a446 url(../images/customer-service.jpg) right center no-repeat;
}
.credit-validation {
	background: #78a446 url(../images/credit-validation.jpg) right center no-repeat;
}
.customer-verification {
	background: #78a446 url(../images/customer-verification.jpg) right center no-repeat;
}
.revenue-management {
	background: #78a446 url(../images/revenue-management.jpg) right center no-repeat;
}
.sales-growth {
	background: #78a446 url(../images/sales-growth.jpg) right center no-repeat;
}
.data-analytics {
	background: #78a446 url(../images/data-analytics.jpg) right center no-repeat;
}
.bfsi {
	background: #2077b4 url(../images/bfsi.jpg) right center no-repeat;
}
.education {
	background: #2077b4 url(../images/education.jpg) right center no-repeat;
}
.health-care {
	background: #2077b4 url(../images/health-care.jpg) right center no-repeat;
}
.travel-hospitality {
	background: #2077b4 url(../images/travel-hospitality.jpg) right center no-repeat;
}
.retail {
	background: #2077b4 url(../images/retail.jpg) right center no-repeat;
}
.telecom {
	background: #2077b4 url(../images/telecom.jpg) right center no-repeat;
}
.whatdo-points {
	padding-top: 110px;
}
.whatdo-points h2 {
	color: #fff;
	font: 36px 'CoutureBold';
	padding-bottom: 40px;
}
.whatdo-points h2 span {
	font:300 36px 'Roboto', serif;
}
.whatdo-points ul li {
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	padding-bottom: 13px;
}
.whatdo-points ul li:before {
	font: 6px FontAwesome;
	vertical-align: middle;
	content: '\f111';
	color:#fff;
}
.about-list {
	min-height: 656px;
}
.about-points {
	padding-top: 110px;
}
.about-points h2 {
	color: #fff;
	font: 36px 'CoutureBold';
	padding-bottom: 40px;
}
.about-points h2 span {
	font:300 36px 'Roboto', serif;
}
.about-points p {
	font-weight: 200;
	font-size: 32px;
	line-height: 42px;
	color: #fff;
	padding-bottom: 13px;
	width: 350px;
}
.about-points ul li {
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	padding-bottom: 13px;
}
.about-points ul li:before {
	font: 6px FontAwesome;
	vertical-align: middle;
	content: '\f111';
	color:#fff;
}
.about-capab-tabinations .capab-tabinations {
	padding-top: 45px;
	padding-bottom: 120px;
}
.about-capab-tabinations .capab-tabinations h3 {
	padding-top: 80px;
	font: 400 22px 'Roboto', serif;
}
.about-clients {
	padding-top: 50px;
}
 .about-clients ul li:nth-child(5n) {
margin-right:0px;
}
.about-clients ul {
	text-align: center;
}
.about-clients ul li {
	width: 17%;
	margin-bottom: 40px;
	margin-right: 40px;
	display: inline-block;
}
.about-clients ul li i {
	border: 1px solid #ececec;
	display: inline-block;
	padding: 20px 10px;
}
.about-clients ul li i img {
}
.about-banner-cntr {
	height: 305px;
	background-image: none;
}
.about-banner-cntr .bredcrums-arrow h2 {
	padding-top: 90px;
	padding-bottom:40px;
}
.career-cntr {
}
.career-img-cntr.mobile-only {
	display:none;
}
.career-img-cntr.desktop-only {
	display:block;
}
.career-cntr .career-img-cntr {
	width: 40%;
	float: left;
	margin-top: -100px;
}
.career-cntr .career-info-cntr {
	width: 60%;
	float: right;
}
.career-cntr .career-info-cntr p {
	font-weight: 300;
	font-size: 22px;
	color: #373435;
	line-height: 34px;
	padding-bottom: 60px
}
.career-cntr .career-info-cntr p a {
	color: #175083;
	font-weight: 500;
}
.career-cntr .career-info-cntr p a:hover {
	text-decoration:underline;
}
.inner-banner.parallaxpanel.contact-bg {
	background-image:none;
	height: 304px;
}
.inner-banner.parallaxpanel.contact-bg .bredcrums-arrow h2 {
}
.contact-cntr-form {
	background: #78a446;
	overflow:hidden
}
.contact-cntr-form .ik-big-arrow {
	padding-top: 70px;
}
{
 font-weight: 300;
font-size: 22px;
color: #373435;
line-height: 34px;
}
.address-cntr {
	padding:50px 0 100px 0
}
.contact-info {
	font-family:'Roboto', serif;
}
.contact-info h1 {
	font-size:48px;
	color:#8ac753;
	padding:0px 0 50px 0;
}
.privacy h1 {
	font-size:48px;
	color:#8ac753;
	padding:0px 0 50px 0;
}
.contact-info ul li {
	float:left;
	width:50%;
	padding-left:130px;
}
.contact-info ul li:first-child {
	background:url(../images/adress-icon.png) 30px 0px no-repeat;
}
 .contact-info ul li:nth-child(2) {
padding-left:80px;
padding-top:0px;
background:url(../images/phone-icon.png) 0 0px no-repeat;
}
.contact-info ul li h2 {
	font:20px 'CoutureBold';
	padding-bottom:10px;
}
.contact-info ul li p {
	font-weight: 300;
	font-size: 22px;
	color: #373435;
	line-height: 34px;
}
.contact-info ul li p.contact-number {
	padding-top:0px;
	font-size:22px;
	color: #373435;
}
.contact-info ul li dl dd {
	padding-bottom:15px;
	width: 44%;
	float: left;
}
.contact-info ul li dl dd p strong {
	font-size: 18px;
	font-weight: 900;
}
.contact-info ul li p.contact-number span {
	font-size:18px;
	display:block
}
.contact-form {
	background:#f4f4f4;
	font-family:'Roboto', serif;
}
.contact-form .container {
	padding:50px 0
}
.form-fields {
	width:940px;
	margin:0 auto;
	padding-top:100px;
	padding-bottom:100px;
}
.form-fields h1 {
	text-align:center;
	font-size:30px;
	padding-bottom:40px;
}
.form-fields ul li {
	float:left;
	width:31.33%;
	margin-right:3%;
	margin-bottom:45px;
}
 .form-fields ul li:nth-child(3n) {
margin-right:0
}
.form-fields ul li:last-child {
	margin:0px;
	float:none;
	clear:both;
	width:94%;
}
.form-fields ul li:last-child textarea {
	height:100px;
}
.captcha-field input[type="text"] {
	width:47%;
	float:left;
	margin-left:3%;
}
.captcha-field .captcha_image {
	width:20%;
	float:left;
	margin-top:8px;
}
 .form-fields ul li:nth-last-child(2) {
width:100%;
}
 .form-fields ul li:nth-last-child(2) textarea {
height:100px;
}
.form-fields select {
	width: 100%;
	padding:13px 14px;
	border:none;
	margin:0;
	outline:none;
	cursor:pointer;
	position: relative;
	text-indent: 0.01px;
	overflow: hidden;
	background:url(../images/select-drop.png) 95% center no-repeat #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font:20px 'Roboto', serif;
	font-weight: 300;
	color: #373435;
}
.form-fields input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
	width: 100%;
	padding: 14px 14px;
	border: none;
	margin: 0;
	font: 20px 'Roboto', serif;
	color: #373435;
	background: #fff;
	font-weight: 300;
}
.contact-sub {
	text-align:center;
	margin-top:55px;
}
.form-fields ul li:last-child {
	margin: 0px;
	float: none;
	clear: both;
	width: 94%;
}
.captcha-field .captcha_image {
	width: 20%;
	float: left;
	margin-top: 0px;
	min-height: 52px;
	background-color: #fff;
	text-align: center;
	padding: 5px 0;
}
.captcha-field .captcha_image img {
	width:90%;
}
.captcha-field input[type="text"] {
	width: 47%;
	float: left;
	margin-left: 1%;
}
.contact-sub input[type="submit"], .contact-sub input[type="button"] {
	display: block;
	font: 20px 'CoutureBold';
	color: #fff;
	text-transform: uppercase;
	background-color:#2965a7;
	border: #2965a7 solid 2px;
	padding: 8px 0;
	min-width: 150px;
	text-align: center;
	margin:0 auto;
}
.contact-sub input[type="submit"]:hover, .contact-sub input[type="button"]:hover {
	background-color:#fff;
	color: #2965a7;
}
.mapBox {
	height: 525px;
	width: 100%;
}
.mapBox #map {
	height: 100%;
	width: 100%;
}
.bx-controls.bx-has-pager {
	text-align: center;
	margin-top: 20px;
}
.bx-pager.bx-default-pager {
}
.bx-pager-item {
	display: inline-block;
}
.bx-pager-item a {
	display: block;
	font-size:0px;
	width: 14px;
	height: 14px;
	position: relative;
	top: 12px;
	left: 6px;
	border-radius: 50px;
	border: 1px solid #9fd364;
	background-color: #fff;
	float: left;
	margin: 5px;
}
.bx-pager-item a.active {
	background-color:#9fd364;
}
.mobile-nav-icon {
	display:none
}

/*Media Queries for responsive*/



@media(min-width:1200px) {/*For big desktop*/
 .container {
max-width: 1200px;
width: 100%;
}
}
 @media(min-width:769px) {/*For Desktop Only*/
 .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
float: left;
padding: 0 1%
}
 .grid-layout {
margin: 0 -1%
}
 .grid-12 {
width: 100%;
float: none;
}
 .grid-11 {
width: 91.66666666666666%
}
 .grid-10 {
width: 83.33333333333334%
}
 .grid-9 {
width: 75%
}
 .grid-8 {
width: 66.66666666666666%
}
 .grid-7 {
width: 58.333333333333336%
}
 .grid-6 {
width: 50%
}
 .grid-5 {
width: 41.66666666666667%
}
 .grid-4 {
width: 33.33333333333333%
}
 .grid-3 {
width: 25%
}
 .grid-2 {
width: 16.666666666666664%
}
 .grid-1 {
width: 8.333333333333332%
}
 .scrollTop {
position: fixed;
right: 20px;
bottom: 20px;
width: 40px;
height: 40px;
text-align: center;
z-index: 6;
display: none;
background: #95b044;
border-radius: 50%;
}
 .scrollTop a {
display: block;
color: #fff;
}
 .scrollTop a:before {
font: 20px/40px FontAwesome;
content: '\f102';
}
}
 @media screen and (min-width: 0) and (max-width:1199px) {



/*overlay*/



.overlay-box {
width: 96%;
min-width: 0
}

/*overlay end*/



.footer-cntr {
width:100%;
}
 .whowe-box {
width:100%;
}
}
 @media screen and (min-width: 0) and (max-width:1024px) {/*For ipad and tab*/
 .logo {
width:170px;
padding:14px 0
}
 .menubar {
padding-top:25px;
}
 .menubar ul li a {
font-size:14px;
}
 .menubar ul li {
margin-right:40px
}
 .capab-tabinations .tabNav {
padding:0
}
 .tabNav ul li a {
font-size:18px;
padding-left:16px;
padding-right:16px;
}
 .tabResult p {
font-size:16px;
line-height:26px;
}
 .capab-tabinations .tabResult {
padding-top:50px;
}
 .whatdo-list {
background-position:50px center;
min-height:0
}
 .whatdo-points {
padding:75px 0
}
 .whatdo-points h2 {
font-size:30px;
}
 .whatdo-points ul li {
font-size:20px;
padding-bottom:10px
}
 .capab-tabinations .tabNav ul {
text-align:center
}
 .capab-tabinations .tabNav ul li {
display:inline-block;
float:none;
}
 .footer-cntr > ul > li {
margin-right:6.6%;
}
 .footer-cntr {
padding:75px 0
}
 .hmservices {
text-align:center
}
 .hm-servicebnr {
display:none;
}
 .serviceshm-block {
float:none;
display:inline-block;
padding:75px 0
}
 .whowe-box {
padding-bottom:75px;
}
 .whowe-img {
padding-top:75px;
}
 .listof-Industry ul li {
width:19.9%;
}
 .hover-itbox {
font-size:22px;
}
 .industry-types {
padding:75px 0
}
 .work-withuscntr {
width:100%;
}
}
 @media screen and (min-width: 768px) and (max-width:1023px) {
 .bx-controls-direction {
position: absolute;
top: 72px;
width: 96%;
}
 .bx-controls-direction .bx-prev {
margin: 0px 30% 0px 13%;
}
 .bx-controls-direction .bx-next {
margin: 0 13% 0 30%;
}
 .listof-Industry ul li {
margin: 0 55px 0;
}
 .inner-banner.parallaxpanel.contact-bg {
background-image: none;
height: 204px;
}
 .contact-info ul li {
float: left;
width: 50%;
padding-left: 90px;
margin-bottom: 50px;
}
 .contact-info ul li:first-child {
background: url(../images/adress-icon.png) 30px 0px no-repeat;
background-size: 40px;
}
 .contact-info ul li:last-child {
background: url(../images/phone-icon.png) 30px 0px no-repeat;
background-size: 40px;
}
 .contact-info ul li h2 {
font: 18px 'CoutureBold';
padding-bottom: 10px;
}
 .contact-info ul li p.contact-number {
font-size: 28px;
padding-left:0px;
background-image:none;
}
 .address-cntr {
padding: 50px 0 30px 0;
}
 .form-fields {
width: 100%;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}
 .form-fields ul li {
float: left;
width: 49%;
margin-right: 2%;
margin-bottom: 25px;
}
 .form-fields ul li:nth-child(2n) {
margin-right: 0%;
}
 .form-fields ul li:nth-child(3n) {
margin-right: 2%;
}
 .form-fields ul li:nth-child(6n) {
margin-right: 0%;
}
 .captcha-field .captcha_image {
width: 21%;
float: left;
margin-top: 0px;
padding: 0px 0;
}
 .captcha-field .captcha_image img {
width: 100%;
}
 .captcha-field input[type="text"] {
width: 78%;
float: left;
margin-left: 1%;
}
 .form-fields ul li:last-child {
width: 100%;
}
 .contact-info ul li dl dd {
padding-bottom: 15px;
width: 100%;
float: left;
}
}
 @media screen and (min-width: 768px) and (max-width:1024px) {
 .about-banner {
background-image: none;
min-height: 0;
}
 .about-points {
padding: 75px 0;
}
 .about-points p {
font-size: 20px;
padding-bottom: 10px;
width: 100%;
}
 .about-banner-cntr .bredcrums-arrow h2 {
padding-top: 80px;
padding-bottom: 40px;
}
 .about-banner-cntr {
height: 180px;
background-image: none;
}
 .about-clients ul li {
width: 32%;
margin-bottom: 20px;
margin-right: 10px;
display: inline-block;
background-color: #fff;
}
 .about-clients ul li:nth-child(2n) {
margin-right: 10px;
}
 .about-clients ul li:nth-child(3n) {
margin-right:0px;
}
 .about-clients ul li:nth-child(5n) {
margin-right: 10px;
}
 .career-cntr .career-img-cntr {
width: 40%;
float: left;
margin-bottom: 0px;
margin-top: -40px;
}
 .career-cntr .career-info-cntr {
width: 60%;
float: right;
padding-bottom:40px;
}
 .career-cntr .career-info-cntr p {
font-size: 16px;
line-height: 26px;
padding-bottom: 40px;
}
}
 @media screen and (min-width: 0) and (max-width:979px) {
 .menubar ul li a {
font-size:13px;
}
 .menubar ul li {
margin-right:25px
}
 .capab-tabinations {
padding:50px 0
}
 .tabNav ul li a {
font-size:17px;
}
 .footer-cntr > ul > li {
margin-right:0;
float:none;
width:100%;
}
 .footer-cntr dl dd {/*display:none;*/
padding-left:30px;
padding-bottom:20px
}
 .footer-social {
text-align:center
}
 .copyright-text {
float:none;
}
 .grayftr-logo {
float:none;
display: block;
}
 .copyright-text .grayftr-logo {
display:none;
}
 .social-icons {
margin:0;
padding:30px 0
}
 .footer-cntr {
padding-bottom:30px
}
 .footer-cntr > ul > li > dl {
margin-bottom:15px;
}
 .footer-cntr > ul > li > dl dt {
position:relative; /*padding-left:30px;*/
}

/*.footer-cntr > ul > li > dl dt:after{font: 20px FontAwesome; content: '\f055'; position:absolute; left:0; top:0}

.footer-cntr > ul > li > dl.active dt:after{content:'\f056'}

*/







.work-left, .work-right {
float:none;
}
 .work-right {
width:240px;
margin:0 auto;
padding-top:50px;
}
 .work-withuscntr {
padding-top:0
}
 .ik-img-bottom {
width:350px;
margin:0 auto;
}
 .work-left h2, .industry-types h2 {
font-size:34px;
}
 .ik-big-arrow {
font-size:30px;
}
 .slider {
padding-top:48px;
}
}
 @media screen and (min-width: 0) and (max-width:768px) {/*For small tabs*/
 body {
overflow-x:hidden;
}

/*form*/



.form-row .form-field {
margin: 0;
}

/*form end*/



/*.tabNav{display:none}

*/



.capab-tabinations .tabNav ul li {
width:50%;
float:left
}
 .tabNav ul li a.active {
opacity:1;
background:#e9f4fb
}
 .tabNav ul li a {
opacity:0.6
}
 .tabResult {
padding:20px 0;
}
 .tabResult .tabBx {
display:block !important;
margin-bottom:10px;
}

/*.tabResult .tabBx .content{display:none;padding:10px 3%;}

.tabResult .tabBx .mobile-menu {display:block;color:#fff;background:#eee;font-weight:300; font-size:20px;}

.tabResult .tabBx .mobile-menu a{display:block;padding:15px 3%;}

*/



.tabResult, .tabResult .tabBx .content {
padding:10px;
}
 .tabResult .tabBx:last-child {
margin-bottom:0
}
 .tabResult .tabBx .mobile-menu a br {
display:none
}
 .capab-tabinations {
padding-top:25px;
}
 .capab-tabinations .tabResult {
padding-top:15px;
margin-top:25px;
border-top:#979797 solid 1px;
}
 .mobile-nav-icon {
display:block;
float:right;
margin-top:8px;
}
 .menu-icon {
display: block;
position: relative;
overflow: hidden;
margin: 0;
padding: 0;
width: 35px;
height: 35px;
font-size: 0;
text-indent: -9999px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
box-shadow: none;
border-radius: none;
border: none;
cursor: pointer;
-webkit-transition: background 0.3s;
transition: background 0.3s;
}
 .menu-icon:focus {
outline: none;
}
 .menu-icon span {
display: block;
position: absolute;
top: 17px;
left: 13%;
right: 0px;
height: 2px;
background: #78a446;
width:76%;
}
 .menu-icon span::before, .menu-icon span::after {
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background-color: #78a446;
content: "";
}
 .menu-icon span::before {
top: -6px;
}
 .menu-icon span::after {
bottom: -6px;
}
 .mobil-icon-toggle {
background-color: transparent;
}
 .mobil-icon-toggle span {
-webkit-transition: background 0s 0.3s;
transition: background 0s 0.3s;
}
 .mobil-icon-toggle span::before, .mobil-icon-toggle span::after {
-webkit-transition-duration: 0.3s, 0.3s;
transition-duration: 0.3s, 0.3s;
-webkit-transition-delay: 0.3s, 0s;
transition-delay: 0.3s, 0s;
}
 .mobil-icon-toggle span::before {
-webkit-transition-property: top, -webkit-transform;
transition-property: top, transform;
}
 .mobil-icon-toggle span::after {
-webkit-transition-property: bottom, -webkit-transform;
transition-property: bottom, transform;
}

/* active state, i.e. menu open */







.mobil-icon-toggle.active {
background-color:#fff;
}
 .mobil-icon-toggle.active span {
background: none;
}
 .mobil-icon-toggle.active span::before {
top: 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
 .mobil-icon-toggle.active span::after {
bottom: 0;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
 .mobil-icon-toggle.active span::before, .mobil-icon-toggle.active span::after {
-webkit-transition-delay: 0s, 0.3s;
transition-delay: 0s, 0.3s;
background: #f26d20;
}
 .menubar {
float:none;
clear:both;
padding-top:0;
position:absolute;
right:-100%;
top:50px;
width:100%;
background:#fff;
transition: all 300ms ease;
-moz-transition: all 300ms ease;
-webkit-transition: all 300ms ease;
}
 .menubar ul li {
margin-right:0;
float:none;
border-bottom:#ccc solid 1px;
}
 .menubar ul li a {
padding:10px
}
 .menubar ul li a::before {
display:none
}
 .menubar.open-navigation {
right:0
}
 .logo {
width:125px;
padding:10px 0
}
}
 @media screen and (min-width: 0) and (max-width:767px) {
 .about-banner {
min-height: 0;
background-position: right bottom;
background-size: 100% auto;
}
 .about-points {
padding-top: 50px;
padding-bottom: 190px;
}
 .about-points p {
font-size: 20px;
padding-bottom: 10px;
width: 100%;
}
 .about-banner-cntr .bredcrums-arrow h2 {
padding-top: 80px;
padding-bottom: 40px;
}
 .about-banner-cntr {
max-height: 180px;
background-image: none;
}
 .about-clients ul li {
width: 45%;
margin-bottom: 20px;
margin-right: 10px;
display: inline-block;
background-color: #fff;
}
 .about-clients ul li:nth-child(2n) {
margin-right: 0px;
}
 .about-clients ul li:nth-child(5n) {
margin-right: 10px;
}
 .career-cntr .career-img-cntr {
width: 100%;
float: none;
margin-bottom: 0px;
margin-top: 0;
}
 .career-cntr .career-info-cntr {
width: 100%;
float: right;
padding-bottom:40px;
}
 .career-cntr .career-info-cntr p {
font-size: 16px;
line-height: 26px;
padding-bottom: 40px;
}
}
 @media screen and (min-width: 0) and (max-width:767px) {/*For Big Screen mobile*/
 .slider-Large-txt .s-Big-txt {
font-size:30px
}
 .slider-Large-txt span {
font-size:30px;
}
 .slider-Large-txt .slider-smalltxt {
font-size:18px;
}
 .join-us-btn {
text-align:center;
width:100%;
}
 .slider-Large-txt {
width:100%;
text-align:center
}
 .slider-Large-txt .slider-smalltxt {
width:100%;
}
 .join-us-link a {
display:inline-block
}
 .hm-rowlistsrvice ul li {
clear:none !important;
margin:0 !important;
margin-bottom:30px !important
}
 .hm-rowlistsrvice ul li.mobonly {
clear:both !important
}
 .hm-rowlistsrvice ul li:nth-child(2n) {
margin-left:30px !important
}
 .hm-servicetxt {
font-size: 18px;
line-height: 22px;
}
 .hm-rowlistsrvice ul li .distable {
height: 140px;
width: 135px;
}
 .full-slider .container {
height:calc(100vh - 48px)
}
 .whowe-img img {
width:150px;
margin:0 auto;
}
 .whowe-box p {
font-size:18px;
line-height:26px;
text-align:center
}
 .ik-big-arrow {
font-size:22px;
height:214px;
width:250px;
background-position:center -105px;
}
 .industry-exptxt {
width:100%;
}
 .ik-img-bottom {
width:250px
}
 .listof-Industry ul li {
width:239px;
margin:0 auto;
float:none;
margin-bottom:25px;
}
 .listof-Industry ul li:last-child {
margin-right:auto;
margin-bottom:0
}
 .work-left h2, .industry-types h2, .whowe-img h2 {
font-size:30px
}
 .work-left p {
font-size:18px;
}
 .slider-Large-txt {
margin-top:-105px;
}
 .join-us-btn {
top:70%;
}
 .bredcrums-arrow {
width:290px;
height:160px;
background-position:center 20px
}
 .bredcrums-arrow h2 {
font-size:24px;
padding-top:110px
}
 .whatdo-list {
background-position: right bottom;
 background-size: 100% auto;
}
 .whatdo-points {
padding-top:50px;
padding-bottom:230px;
}
 .bx-controls-direction {
position: absolute;
top: 72px;
width: 96%;
}
 .bx-controls-direction .bx-prev {
margin: 0px 30% 0px 13%;
}
 .bx-controls-direction .bx-next {
margin: 0 13% 0 30%;
}
 .listof-Industry ul li {
margin: 0 55px 0;
}
 .inner-banner.parallaxpanel.contact-bg {
background-image: none;
height: 204px;
}
 .contact-info ul li {
float: left;
width: 100%;
padding-left: 66px;
margin-bottom: 50px;
}
 .contact-info ul li:first-child {
background: url(../images/adress-icon.png) 14px 0px no-repeat;
background-size: 40px;
}
 .contact-info ul li:last-child {
background: url(../images/phone-icon.png) 14px 0px no-repeat;
background-size: 40px;
}
 .contact-info ul li p.contact-number {
font-size: 28px;
padding-left:0px;
background-image:none;
}
 .address-cntr {
padding: 50px 0 30px 0;
}
 .form-fields {
width: 100%;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}
 .form-fields ul li {
float: left;
width: 100%;
margin-right: 0%;
margin-bottom: 25px;
}
 .captcha-field .captcha_image {
width: 40%;
float: left;
margin-top: 0px;
padding: 10px 0;
}
 .captcha-field input[type="text"] {
width: 59%;
float: left;
margin-left: 1%;
}
 .form-fields ul li:last-child {
width: 100%;
}
 .serviceshm-block {
padding-bottom:45px
}
 .inner-banner {
height:300px;
}
 .career-img-cntr.mobile-only {
display:block;
}
 .career-img-cntr.desktop-only {
display:none;
}
}
 @media screen and (min-width: 0) and (max-width:479px) {
 .hm-rowlistsrvice:last-child {
padding-top:0
}
}
 @media screen and (min-width: 414px) and (max-width:500px) {/*For Small screen mobile*/
 .listof-Industry ul li {
margin: 0 85px 0;
}
}
 @media screen and (min-width: 0) and (max-width:350px) {
 .slider-Large-txt {
width:80%;
left:10%;
}
}
 @media screen and (min-width: 0) and (max-width:320px) {/*For Small screen mobile*/
 .bx-controls-direction .bx-prev {
margin: 0px 35% 0px 5%;
}
 .bx-controls-direction .bx-next {
margin: 0 5% 0 35%;
}
 .listof-Industry ul li {
margin: 0 35px 0;
}
}
