@import url(https://fonts.googleapis.com/css?family=Arimo:100,300,400,700,900|Playfair+Display:400,700,900);

.btn {
    color: #fff;
    font-size: 16px;
    transition: all .2s ease;
    display: inline-block;
    padding: 9px 20px;
    border: 2px solid transparent;
    background: #df6518;
    border-radius: 50px;
    font-weight: 700;
}.l-main {
	z-index:1;
	position:relative
}
.l-canvas.type_wide .l-subheader-h, .l-canvas.type_wide .l-submain-h, .l-canvas.type_wide+.l-footer .l-subfooter-h {
	max-width:940px
}
.l-submain-h {
	width:100%;
	max-width:1000px;
	margin:0 auto
}
.l-submain {
	padding:60px 0;
	position:relative;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
}
.page-404, .pre-container, .social-media ul li, .tabNav ul li {
	text-align:center
}
.icon-compass img{margin:0 auto;}
.page-404 h1 {
	margin-top:40px;
	margin-bottom:10px;
	font-size:36px;
	line-height:46px;
	color:#000;
	text-transform:uppercase;font-family: "Playfair Display", serif;
}
.page-404 p {
	margin-bottom:24px;
	font-size:14px;
	line-height:24px;
	color:#686868
}
.page-404 a {
    color: #fff;
    border-color: #1f73e6;
    margin-top: 0;
    background: #1f73e6;
    min-width: 200px;
}
.page-404 a:hover {
    color: #fff;
    border-color: #df6518;
    background: #df6518;
}
.error{padding:100px 0;}
.sk-double-bounce {
	width:40px;
	height:40px;
	position:relative;
	margin:40px auto
}
.loader, .sk-double-bounce .sk-child {
	height:100%;
	left:0;
	top:0;
	width:100%
}
.sk-double-bounce .sk-child {
	border-radius:50%;
	background-color:#46c7ce;
	opacity:.6;
	position:absolute;
	-webkit-animation:sk-doubleBounce 2s infinite ease-in-out;
	animation:sk-doubleBounce 2s infinite ease-in-out
}
.sk-double-bounce .sk-double-bounce2 {
	-webkit-animation-delay:-1s;
	animation-delay:-1s
}
@-webkit-keyframes sk-doubleBounce {
0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes sk-doubleBounce {
0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}


@media screen and (min-width:0) and (max-width:1024px) {
.l-submain {
padding:50px 0 0
}
.page-404 h1 {
margin-top:20px;
font-size:24px;
line-height:32px
}
.error {padding:0;margin:0px;}
.l-submain-h {overflow: hidden;}

}