#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}

div.rangeslider {
    box-sizing:content-box;
    position:relative;
}
div.rangeslider *{
    box-sizing:content-box;
}
div.rangeslider div {
    position:absolute;
}
div.rangeslider .rangeouter {
    background:#ddd;
    width:100%;
}
div.rangeslider .rangeinner {background:#00b6f1 !important;}
div.rangeslider .rangeinner {
    background:#04B404;
}
div.rangeslider .rangeselector {
    background:#04B404;
    background-clip:padding-box;
    border:0.4em solid rgba(0, 0, 0, 0);
}

div.rangeslider.disabled .rangeinner, div.rangeslider.disabled .rangeselector {
    background-color:#777!important;
}

/* Colour Animations */
div.rangeslider .rangeouter, div.rangeslider .rangeinner, div.rangeslider .rangeselector {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}