
/* basic styles for black background and crosshair cursor */
body {
	/*background: transparent;*/
	background: url(../image/banner.jpg) center center no-repeat;
	margin: 0;
}

canvas {
	cursor: crosshair;
	display: block;
}