  $pf:'Roboto', sans-serif;;
  $sf: 'Exo', sans-serif;
  $fv1:'Ubuntu', sans-serif;;
  $fv2:'Engagement', cursive;

  $image-path:'../../images/';

  $cntWidth:96%;
  $cntMxWidth:1200px;

  // Primary colors
  $pc:#e71732;

  //colors in websites
  $body-bg:#fff;
  $body-color:#000;
  $body-size:16;
  $link-color:#000;
  $heading-color:#444;
  $para-color:#333;
  $footer-bg:#444;
  $footer-color:#fff;

  //colors in overlay
  $overlay-bg:#fff;
  $overlay-color:#000;
  $overlay-heading-bg:#f00;
  $overlay-heading-color:#fff;
  $overlay-footer-bg:#eee;
  $overlay-footer-color:#010101;

  //heading sizes
  $heading-size:34;
  $heading-size-differnce:3;
  $para-size:24;
  $para-line-height:24;
  $footer-height:0;
  $headingSpacer:24px;

  // form element
  $txtfs:14px;
  $txth:80px;

  // Button Styles
  $boxBtnBg:#fff;
  $boxBtnColor:#000;
  $boxBtnBgHvr:#e42f45;
  $btnBrdClr:#9a9595;

  $secondBoxBtnBg :#000;
  $secondBoxBtnColor:#fff;
  $secondBoxBtnBghvr :#000;
  $scndbtnBrdClr:#000;
