<table width="600" border="0" cellspacing="5" align="center" style="border:#999 solid 5px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333;padding:10px;">

  <tr><td align="left" colspan="3"><img src="http://staging.intermind.in/speciality/html/images/logo.png" style="margin-top:0px;width:25%;padding-left:0px;"></td></tr>

  <tr>

    <td colspan="3" align="center">&nbsp;</td>

  </tr>

  <tr>

    <td colspan="3">Dear Administrator,<br>You have a new job application from {name}, following are the details and attached resume.</td>

  </tr>

  <tr>

    <td colspan="2">&nbsp;</td>

    <td width="73%">&nbsp;</td>

  </tr>

  <tr>

    <td colspan="3"><h3>Application Detail</h3></td>

  </tr>

  <tr>

    <td width="23%" align="left"><span style="font-weight:bold; width:300px">Full Name</span></td>

    <td width="4%" align="left"><span style="font-weight:bold; width:300px">:</span></td>

    <td align="left">{name}</td>

  </tr>

  <tr>

    <td align="left" width="30%"><strong>Apply for </strong></td>

    <td align="left"><strong>:</strong></td>

    <td align="left">{apply_for}</td>

  </tr>

  <tr>

    <td align="left" width="30%"><strong>Location</strong></td>

    <td align="left"><strong> :</strong></td>

    <td align="left">{location}</td>

  </tr>

  <tr>

    <td align="left" width="30%" style="vertical-align:top"><strong>Technical Skills</strong></td>

    <td align="left" style="vertical-align:top"><strong>:</strong></td>

    <td align="left">{technical_skill}</td>

  </tr>

  <tr>

    <td align="left" width="30%" style="vertical-align:top"><strong>Work Experience</strong></td>

    <td align="left" style="vertical-align:top"><strong>:</strong></td>

    <td align="left">{work_experience}</td>

  </tr>

  <tr>

    <td align="left" width="30%" style="vertical-align:top"><strong>Education Qualification</strong></td>

    <td align="left" style="vertical-align:top"><strong>:</strong></td>

    <td align="left">{qualification}</td>

  </tr>

  <tr>

    <td align="left" width="30%" style="vertical-align:top"><strong>Experience</strong></td>

    <td align="left" style="vertical-align:top"><strong>:</strong></td>

    <td align="left">{experience}</td>

  </tr>

  <tr>

    <td align="left" width="30%" style="vertical-align:top">&nbsp;</td>

    <td align="left" style="vertical-align:top">&nbsp;</td>

    <td align="left">&nbsp;</td>

  </tr>

  <tr>

    <td colspan='3'>Kindly contact {name} at the earliest.

    <br/><br/>From,<br/>Speciality Restaurants Ltd.

    </td>

  </tr>

</table>

