.is { display: inline-block; vertical-align: middle; background: url(../images/sprite.png) no-repeat 0 0; }
.is-call { width: 18px; height: 18px; background-position: -52px 0; vertical-align: text-bottom; }
.is-search { width: 22px; height: 22px; background-position: -28px 0; }
.is-drop-down { width: 9px; height: 5px; background-position: 0 -26px; margin: 0 0 0 6px; }
.is-cart-bucket { width: 30px; height: 23px; background-position: -54px -23px }
.is-cart-bucket-filled {
  background-position: -60px -114px;
  height: 20px;
  vertical-align: top;
  width: 25px;
}
.is-right-arrow { width: 35px; height: 71px; background-position:-118px -86px }
.is-home { width: 26px; height: 24px; }
.is-pin { background-position: -84px 0; width: 57px; height: 56px }
.is-facebook, .is-google-plus, .is-twitter { width: 29px; height: 29px; background-position: -1px -56px; }
.is-google-plus { background-position: -61px -56px; }
.is-twitter { background-position: -31px -56px; }
.is-scroll-top { width: 21px; height: 10px; background-position: -143px -32px; vertical-align: initial; }
.is-time { background-position: -92px -57px; height: 27px; width: 27px; }
.is-delivery { width: 33px; height: 19px; background-position: 0 -88px; }
.is-car{
  background-position: -31px -88px;
   width: 33px; height: 19px;
}
.is-reload {
  background-position: -23px -131px;
  height: 19px;
  width: 22px;
}
.is-reviews { width: 25px; height: 20px; background-position: 0 -108px; }
.is-faqs { width: 9px; height: 15px; background-position: 0 -131px; }
.is-enlarge { background-position: -29px -24px; height: 18px; width: 22px; }
.is-filter { background-position: 0 -149px; width: 19px; height: 21px; }
.is-your-order { background-position: -40px -157px; height: 20px; width: 20px; }
.is-alerts { background-position: -80px -159px; height: 19px; width: 16px; }
.is-my-wishlist { background-position: -116px -159px; height: 16px; width: 18px; }
.is-my-profile { background-position: -156px -158px; height: 20px; width: 20px; }
.left-nav li a:hover .is-your-order, .left-nav li a.active .is-your-order { background-position: -20px -157px; }
.left-nav li a:hover .is-alerts, .left-nav li a.active .is-alerts { background-position: -62px -159px; }
.left-nav li a:hover .is-my-wishlist, .left-nav li a.active .is-my-wishlist { background-position: -97px -159px; }
.left-nav li a:hover .is-my-profile, .left-nav li a.active .is-my-profile { background-position: -135px -158px; }
.is-cart-remove{background-position: -153px -124px;width: 22px;height: 26px;}