@-webkit-keyframes fadeIn {
0% {
opacity:0
}
to {
	opacity:1
}
}
@keyframes fadeIn {
0% {
opacity:0
}
to {
	opacity:1
}
}
.CommunityHero {
	position:relative;
	width:100%;
	min-height:calc(100vh - 70px)
}
@media(min-width:800px) {
.CommunityHero {
margin-bottom:0;
min-height:calc(100vh - 350px)
}
.Feed__item {
    margin-bottom: 150px;
    margin-right: 100px;
    margin-left: 100px;
}
}

.CommunityHero__titles {
	padding-top:34vh;
	text-align: center;
}
.js-enabled .CommunityHero__titles {
	opacity:0;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
-webkit-animation-duration:.5s;
animation-duration:.5s;
-webkit-animation-delay:.75s;
animation-delay:.75s;
	-webkit-animation-timing-function:cubic-bezier(.4, 0, 1, 1);
	animation-timing-function:cubic-bezier(.4, 0, 1, 1);
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards
}
.CommunityHero__subtitle, .CommunityHero__title {
	font-weight:700;
	line-height:1;
	font-size:6vw
}
@media(min-width:600px) {
.CommunityHero__subtitle, .CommunityHero__title {
font-size:48px
}
}
@media(min-width:800px) {
.CommunityHero__subtitle, .CommunityHero__title {
font-size:48px
}
}

.CommunityHero__title {
    display: inline-block;
    background: -webkit-linear-gradient(left,#79cd37,#39ae33);
    font-size: 82px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.CommunityHero__subtitle {
	margin-bottom:50px
}
@media(min-width:800px) {
.CommunityHero__subtitle {
margin-bottom:100px
}
}
.CommunityHero__logo {
	display:inline;
	vertical-align:baseline;
	height:.75em
}
.CommunityHero__tagline {
	max-width:300px
}
.CommunityHero__handle {
	color:#d40031;
	font-size:14px;
	font-family:Druk Wide, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue
}

