@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.Generic__container{padding-top:75px}@media(min-width:800px){.Generic__container{padding-top:100px}}.Generic-hero{position:relative;z-index:1}.Generic-hero--large .Generic-hero__title{max-width:20em;margin-bottom:-2.7em;line-height:1.125;color:#d3d3d3}@media(min-width:800px){.Generic-hero--large .Generic-hero__title{margin-bottom:-1.7em}}.Generic-hero--large .Generic-hero__title strong{display:inline-block;background:-webkit-linear-gradient(left,#79cd37,#39ae33);font-size:82px; -webkit-background-clip:text;-webkit-text-fill-color:transparent}.Generic-hero__title{text-align:center;max-width:16em;margin-left:auto;margin-right:auto;margin-bottom:-.7em;padding-top:calc(50vh - .5em)}.js-enabled .Generic-hero__title{opacity:0;-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:.75s;animation-delay:.75s;-webkit-animation-timing-function:cubic-bezier(.4,0,1,1);animation-timing-function:cubic-bezier(.4,0,1,1);-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}


@media(min-width:320px) and (max-width:767px) {
.Generic-hero--large .Generic-hero__title strong {
     font-size: 32px; 
}
.Generic-hero--large .Generic-hero__title {
    margin-bottom: -0.7em;
}
.Split--first .grid {
    margin-top: 20px !important;
}
.Generic-hero__title {
    padding-top: calc(50vh - 3.5em);
}
.Split.block.theme-grey.Split--first{padding-bottom:0px !important;}
.Split.block.theme-grey{padding-bottom:0px !important;}

}