RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://ashutoshshinde.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashutoshshinde.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashutoshshinde.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashutoshshinde.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elceducation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elceducation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elceducation.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elceducation.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://explore.asianpaints.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://explore.asianpaints.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://explore.asianpaints.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://explore.asianpaints.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intermind.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intermind.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intermind.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intermind.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mumbaibengalclub.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mumbaibengalclub.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mumbaibengalclub.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mumbaibengalclub.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://opc.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://opc.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://opc.co.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://opc.co.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rajinterior.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rajinterior.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rajinterior.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rajinterior.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://step2stepdance.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://step2stepdance.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://step2stepdance.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://step2stepdance.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techmahindrabps.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techmahindrabps.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techmahindrabps.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techmahindrabps.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirdrockalive.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirdrockalive.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirdrockalive.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thirdrockalive.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashutoshshinde.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashutoshshinde.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashutoshshinde.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashutoshshinde.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elceducation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elceducation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elceducation.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elceducation.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.explore.asianpaints.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.explore.asianpaints.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.explore.asianpaints.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.explore.asianpaints.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intermind.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intermind.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intermind.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intermind.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mumbaibengalclub.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mumbaibengalclub.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mumbaibengalclub.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mumbaibengalclub.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.opc.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.opc.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.opc.co.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.opc.co.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rajinterior.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rajinterior.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rajinterior.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rajinterior.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.step2stepdance.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.step2stepdance.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.step2stepdance.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.step2stepdance.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techmahindrabps.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techmahindrabps.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techmahindrabps.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techmahindrabps.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirdrockalive.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirdrockalive.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirdrockalive.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thirdrockalive.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashutoshshinde.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashutoshshinde.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashutoshshinde.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashutoshshinde.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elceducation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elceducation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elceducation.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elceducation.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://explore.asianpaints.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://explore.asianpaints.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://explore.asianpaints.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://explore.asianpaints.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intermind.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intermind.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intermind.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intermind.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mumbaibengalclub.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mumbaibengalclub.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mumbaibengalclub.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mumbaibengalclub.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://opc.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://opc.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://opc.co.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://opc.co.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rajinterior.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rajinterior.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rajinterior.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rajinterior.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://step2stepdance.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://step2stepdance.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://step2stepdance.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://step2stepdance.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techmahindrabps.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techmahindrabps.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techmahindrabps.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techmahindrabps.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thirdrockalive.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thirdrockalive.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thirdrockalive.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thirdrockalive.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashutoshshinde.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashutoshshinde.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashutoshshinde.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashutoshshinde.com.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elceducation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elceducation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elceducation.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elceducation.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.explore.asianpaints.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.explore.asianpaints.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.explore.asianpaints.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.explore.asianpaints.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intermind.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intermind.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intermind.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intermind.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mumbaibengalclub.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mumbaibengalclub.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mumbaibengalclub.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mumbaibengalclub.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.opc.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.opc.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.opc.co.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.opc.co.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rajinterior.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rajinterior.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rajinterior.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rajinterior.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.step2stepdance.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.step2stepdance.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.step2stepdance.in.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.step2stepdance.in.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techmahindrabps.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techmahindrabps.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techmahindrabps.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techmahindrabps.kalphosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thirdrockalive.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thirdrockalive.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thirdrockalive.com.kalphosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thirdrockalive.com.kalphosting.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

