Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^foxorthodontics.com.au [NC]
RewriteRule ^(.*)$ http://www.foxorthodontics.com.au/$1 [L,R=301]

RewriteRule blog.html blog.php [NC,L]
RewriteRule blog/(.*)-description.html$ blog-description.php?slug_name=$1 [NC,L]
