@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500);
@import url(http://weloveiconfonts.com/api/?family=entypo);

.fa {
            margin-right: 5px;
        }
body
{
	font-family: 'roboto', sans-serif;
	padding-top:8%;
	color: #666666;
}
a
{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
a:hover
{
	text-decoration: none;
	color:#738ec8; 
}
.navbar-default
{
	background: #ffffff;
}

.navbar-default .contact
{
	padding-top:15px;
}


.navbar-default .contact i
{
	color: #738ec8;
}

.navbar-default .contact span
{
	padding-right: 15px;
}

.navbar-default .contact a
{color: #3e3e3e;}

.navbar-default .contact a:hover
{
	color:#738ec8; 
}

.top-bar
{
	border-bottom:1px solid #f5f6f7;
}

.top-bar .social-icons li{
	border-left: 1px solid #f5f6f7;
}

.top-bar .social-icons li:last-child
{
	border-right: 1px solid #f5f6f7;
}
#navbar .navbar-right
{
	padding-bottom: 0;
}

#navbar .navbar-right li a
{
	color: #8E8E8E;
	-webkit-transition:border 150ms ease-in-out, background 150ms ease-in-out;
	transition:border 150ms ease-in-out, background 150ms ease-in-out;
	padding-top:30px;
	padding-bottom:10px
	border-top:2px solid #ffffff;
	position: relative;
}
#navbar .navbar-right li a:after
{
	content: '';
  display: block;
  border-top:2px solid #ef7c00;
  top: 0;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
#navbar .navbar-right li a:hover
{
	color: #ef7c00;
}
#navbar .navbar-right li a:hover:after
{
	
	width: 100%;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	background:none;
	color:#ef7c01 !important;
	border-top:1px solid #ef7c01; 
}
.container { margin: 0 auto; width: 100% }
.navbar-brand
{
	height: auto;
}
.icon
{
	padding:20px 10px;
	border-radius: 5px;
	border:1px solid #ffffff;
	font-size: 16px;
	display: block;
}
.icons a
{
	color: #ffffff;
}
.icon span
{
	display: block;
}
.icon span.fa
{
	font-size:60px;
}
.carousel-caption
{top:15%; width: 100%; left:0;}

.carousel-caption h1
{margin-bottom:40px; font-size:60px;}


.btn-transparent
{
	color: #ffffff;
	border:1px solid #ffffff;
	border-radius: 5px;
	margin-top:35px;
	background: transparent;
}
.copy-left p{margin:0px !important;}
.copyright-band .copy-left ul {
    padding-top: 7px !important;
}
dl {
    margin-top: 0;
    margin-bottom: 0px !important;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px !important;
}
.navbar {
    margin-bottom: 0px !important;
}
.btn-transparent:hover
{
	color: #ef7c00;
}
.carousel-indicators li, .carousel-indicators li.active
{
	width: 30px;
	height: 10px;

}
.carousel-indicators li.active
{
	background: #738ec8;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev
{
	width: auto;
	height: auto;
	padding:20px 8px;
    border: 1px solid #ffffff;
    border-radius:3px;
    display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .fa-angle-left {
  margin-left: -10px;
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .fa-angle-right{
  right: 50%;
  margin-right: -10px;
}
.carousel-caption h2
{font-size:36px; margin-top: 0;}
.carousel-caption small
{
	font-size: 16px;
}
.banner
{
	border-bottom: 12px solid #fdebd9;
}
.sp-features
{
	margin-top:30px;
	margin-bottom:30px;
}
.sp-features span
{
	color:#ef7c00;
	font-size:60px;
}
.sp-features div
{
	padding: 20px;
}
.light
{
	font-weight:300;
}
.sp-features h2
{
	margin-top:10px;
	font-size:26px;
	margin-bottom:10px;
}
.sp-features p, .points p
{
	color: #757575;
	line-height: 1.8em;
}
.title 
{
	font-weight: 300;
	text-align: center;
}
 sub
{
	text-align: center;
	display: block;
	font-size: 12px;
	color: #939091;
	margin-bottom:5%;
}
.no-padding
{
	padding: 0;
}
.points h4
{
	font-weight: 300;
}

.points span
{
	padding: 10px;
	border-radius: 50%;
	background: #738ec8;
	color: #ffffff;
	margin-top:5px;
}

#feature-carousel .carousel-indicators li
{
	border-color: #738ec8;
}
#feature-carousel .carousel-indicators 
{
	bottom: 0;
}

.testimonials .title
{
	color: #ffffff;
}

.testimonials {
	padding-top:2%;
	padding-bottom:4%;
	z-index: 9999999;
}
.image img
{
	padding:5px;
	border:1px solid #ffffff;
	border-radius: 50%;
	width:120px;
}

.testi-text p
{
	color: #dcdcdc;
	font-size: 15px;
	padding: 20px;
	font-style: italic;
	border-radius: 5px;
	border:1px solid #dcdcdc;
	line-height: 1.8em;
}
.testi-text i
{
	color: #dcdcdc;
}
.color
{
	color: #ef7c01;
}

.clients
{
	padding:25px;
	padding-bottom:0px;
	background: #F9F9F9;
	border-bottom: 2px solid #f1f1f1;
}
.clients img
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.clients img:hover
{
	cursor: pointer;
	 -webkit-filter: none;
  filter:none;
}
.owl-theme .owl-controls .owl-page span
{
	background: #dcdcdc !important;
	margin-top:20px !important;
	display: none !important;
}
.cta a
{
	padding-top: 10px !important;
	margin-top: 20px;
	padding-bottom: 10px !important;
	color: #ffffff !important;
	background: #ef7c01;
	margin-left: 20px;
}
.cta a:hover
{
	color:#ef7c01 !important;
	border-color:#ef7c01;
}
.section
{
	padding-top: 30px;
	padding-bottom:50px;
}

.bg-color-gray
{
	background: #a0a5aa;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.bg-color-orange
{
	background: #ef7c01;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	
}

.section a
{
	padding: 20px;
	color: #ffffff !important;
	display: inline-block;
	width:320px;
}
.btn-transparent-color
{
	color: #ef7c00 !important;
	border:1px solid #ef7c00;
	border-radius: 5px;
	margin-top:35px;
	background: transparent;
}
.bg-color-orange sub, .bg-color-gray sub
{
	color: #ffffff !important;
}
.section sub
{
	margin-bottom:3% !important;
}
.bg-color-orange span, .bg-color-gray span
{
	display: block;
}

.section-det
{
	margin-right:3px;
}

.or
{
	background-color: #fff;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 42px;
    text-align: center;
    margin-left: -23px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 99;
    font-weight: 700;
    border-radius: 50%;
}


.footer-list
{
	list-style-type: none;
	padding-left: 0;
}

.footer-list li a
{	
	display: block;
	color: #ffffff;
	font-weight: 300;
	padding-bottom:5px;
	font-size: 13px;
}
.copyright{
	padding: 10px;
	font-size: 12px;
}

.copyright .fa
{
	padding-right: 10px;
	font-size: 16px;
	color: #738ec8;
}
.copyright a
{
	color: #738ec8;
}
.why
{
	margin-top: 30px;
}
.testimonials
{
	background:url(../images/parallax.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.login
{
	padding-left: 22px;
}
.actual-video iframe
{
	width: 100% !important;
	height:432px !important;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.sub-banner
{
	background-image: url(../images/sub-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	padding:30px 20px;
	color: #ffffff;

}

.sub-banner .sub-title
{
	padding-top:55%;
}
 .sub-banner .breadcrumbs
 {
 	padding-top:42%;

 }
.sub-title h3
{
		font-weight: 600;
		font-size: 2em;
}

.breadcrumb
{
	margin-top: 20%;
	background: none;
}
.breadcrumb li
{
	vertical-align: baseline;
	color: #ffffff;
}
.breadcrumb a
{
	font-weight: 500;
 	color: #ffffff;
}
.breadcrumb a:hover
{
	text-decoration: underline;
	color: #ef7c01;
}

.sub-title, .breadcrumb
{
	margin-top:10%;
}
.breadcrumb .active
{
	color: #ffffff;
}
.content
{
	padding: 20px 0;
}
.content .title
{
	font-size: 20px;
	font-weight:500;
}
.content h4
{
	font-size:16px;
	line-height: 1.5em;
}
.title-sub
{
	font-size: 14px;
}
.text p
{
	margin-top: 20px;
	color: #666666;
	line-height: 1.7em;
}

#accordion
{
	margin-top:30px;

}

#accordion h4
{
	font-weight: 300;
}

#accordion .panel
{
	border-radius: 0;
}
#accordion .panel-default>.panel-heading
{
	background-color:#FDFDFD;
	padding:15px;

}
.acc-list li
{
	list-style-image: url(../images/bullet.png);
	margin-bottom: 10px;
}
.sub-banner
{
	margin-bottom:3%;
}
.acc-list .fa
{
	font-size: 16px;
}
.acc-list .fa-facebook-square
{
	color: #2a388f;
}

.acc-list .fa-twitter-square
{
	color: #27aae1;
}
.acc-list .fa-youtube-square
{
	color: #ec1c24;
}
.title .fa
{
	color: #738ec8;
	font-size: 20px;	
}
.login-bg
{
	background: url(../images/login-bg.jpg);
	background-repeat:no-repeat;
	padding:50px 20px;
	background-size: cover;
}
.no-margin
{
	margin:0;
}

.login-box
{
	padding:40px 20px;
	background:#ffffff;
	width:350px;
	margin: 0 auto;
	border:1px solid #f1f1f1;
	box-shadow: 1px 1px 7px #717171;
	position: relative;
	margin-top:5%;
}

.user
{
	position: absolute;
	top:-37px;
	left: 40%;
	color: #738ec8;
	font-size: 30px;
	width:80px;
	padding: 20px;
	background: #ffffff;
	border-radius: 50%;

}
.btn-warning {
    border: 2px solid #ef7f1a;
    display: inline-block;
    background: #ef7f1a;
    padding: 7px 15px;
    color: #fff;
    font: 18px 'Roboto', sans-serif;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    min-width: 160px;
}

.btn-warning:hover {
    background-color: #fff !important;
    border-color: #ef7f1a !important;
    border: 2px solid #ef7f1a;
}
.login-box a
{
	color: #738ec8;
}
.login-box a:hover
{
	color:#EF7C01; 
}
.login-box .form-control
{
	border-radius: 0;
}
.content-image
{
	border:1px solid #dcdcdc;
}
.icon-section .title
{
	text-align: center !important;
}
.icon-sp
{
	width:100px;
	height:100px;
    margin: 0 20px;
    float: left;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    vertical-align: middle;
    line-height: 1em;
    border-radius: 50%;
}

.bg1
{
	background: #e02222;
}

.bg2
{
	background: #00aced;
}

.bg3
{
	background: #ff8d00;
}
.subscribe
{
	color: #ffffff;
}
.subscribe-title
{
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
}
.subscribe .btn-warning
{
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.map
{
	padding-bottom:300px;
}
.no-padding-left{
	padding-left: 0;
}
.contact-details
{
	margin-top: 30px;
	margin-bottom: 30px;
}
.contact-details .title
{
	margin-bottom:30px;
}
.contact-form .form-control, .login-form .form-control
{
	border-radius:2px;
	background: #FBFBFB;
	border-color: #dcdcdc;
	margin-bottom: 20px;
}
.contact-form  label
{
	font-weight: 400;
}
.circle
{
	width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background-color: #738ec8;
    text-align: center;
    float: left;
    -webkit-transition: all .3s ease-in-out,box-shadow .2s ease-in-out;
    -moz-transition: all .3s ease-in-out,box-shadow .2s ease-in-out;
    -o-transition: all .3s ease-in-out,box-shadow .2s ease-in-out;
    -ms-transition: all .3s ease-in-out,box-shadow .2s ease-in-out;
    transition: all .3s ease-in-out,box-shadow .2s ease-in-out;
    position: relative;
    overflow: hidden;
}
.circle i
{
	    font-size: 20px;
    margin: 0;
    top: 12px;
    left: 30%;
    float: left;
    color: #ffffff;
    z-index: 5;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.desc
{
	text-align: left;
    margin: 40px 10px 0px 70px;
}
.address .col-md-6, .address .col-sm-6 
{
	border-right:1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}
.circle .fa-map-marker
{
	left:35%; 
}
.add-box
{
	
	height: 130px;
	padding:0 15px ;
}
.no-padding-right
{
	padding-right: 0;
}
.no-border-bottom
{
	border-bottom: 0 !important;
}
.no-border-right
{
	border-right: 0 !important;
}
.login-form .login-title
{
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.signup-box
{
	background: #ffffff;
	padding:20px;
	border:7px solid rgba(164,164,164,0.2);
}
.signup-box .title
{
	text-align: center !important;
	font-weight: 400;
	margin-bottom:1%;
}

.signup-form 
{
	border-left: 1px solid #dcdcdc;
	padding-left: 20px;
}
.signup-box .testi-text p, .signup-box .testi-text i
{
	color: #666666;
}

.testi img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.testi .social-links
{
	margin-top: 10px;
}
.testi .social-links span
{
	padding:3px 5px;
	width: 25px;
	height: 25px;
	background: #F5F5F5;
	border-radius:4px;
	line-height:1.4em;
}
.testi .social-links a
{
	color: #ffffff;
	padding-right:5px;
	font-size: 14px;

}

.testi .social-links .fa-facebook
{
	color:#113083; 
}

.testi .social-links .fa-twitter
{
	color: #1ac5ea;
}
.testi .social-links .fa-linkedin
{
	color: #1f88bd;
}

@media(max-width: 767px){
	.top-bar .nav>li>a
	{
		display: inline-block;
		float: left;
	}
}

.section .acc-list
{
	padding-left: 20px;
}

.video-bg
{
	position: relative;
}

.vid-cont iframe
{
	padding-top: 20px;
  min-width: 100%; 
  min-height: 100%; 
  height: 340px;
 // Put the video behind all other elements
}
.features
{
	padding-top: 0;
}
.features .title
{
	margin: 20px;
	text-align: center !important;
	font-size: 45px;
    color: #31364c;
}

.features  .points
{
	text-align: justify;
	margin-bottom:3%;
}
.features  .points span
{
	font-size: 24px;
}
.features  .points h4
{
	font-size:24px;
	margin:0;
}
.content p strong
{
	display: block;
}
.text-title
{
	font-size:18px !important;
}

.feature-banner
{
	background: url(../images/banner-new.jpg);
	background-repeat: no-repeat;
}

.press
{
	background: url(../images/press.jpg);
	background-repeat: no-repeat;
}

.press-r .col-md-4, .press-r .col-sm-4
{
	margin-bottom:30px;
}
.press .breadcrumbs
{
	padding-top: 32%;
}

.press-r  .p-logo
{
	padding:10px 0;
}

.press-r  .badge-warning
{
	padding:5px 0px;
	border-radius:5px;
	font-weight: 200;
	background-color:transparent;
	color: #738ec8;
}

.press-r  p
{
	font-size: 18px;
	font-weight:300;

}

.btn-warning-trans
{
	background-color: transparent;
	border:1px solid #ef7c01;
	color: #ef7c01;
}

.brand-banner
{
	background:url(../images/brand.jpg);
	background-size: cover;
}

.publishing-banner
{
	background:url(../images/listen.jpg);
	background-size: cover;
	
}

.listening-banner
{
	background:url(../images/publishing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.about-banner
{
	background:url(../images/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#analytics-carousel .carousel-control.left, #analytics-carousel .carousel-control.right
{
	background-image: none;
}

#analytics-carousel .carousel-indicators li
{
	border-color:#738ec8;
}

#analytics-carousel .carousel-control .glyphicon-chevron-left, #analytics-carousel .carousel-control .icon-prev
{
	left:20%;
}

#analytics-carousel .carousel-control .glyphicon-chevron-right, #analytics-carousel .carousel-control .icon-next
{
	right: 20%;
}


 .startup
{
	border-top:5px solid  #FB3D72;
	color: #FB3D72;
}
 .standard-plus
{
	border-top:5px solid #1ec6e4;
	color: #1ec6e4;
}
 .standard
{
	border-top:5px solid #ffb71c;
	color: #ffb71c;
}
 .agency
{
	border-top:5px solid #ef7c00;
	color: #ef7c00;
}
.market
{
	 border-top:5px solid #00c99a;
	 color: #00c99a;
}

.pricing .btn-transparent
{
	margin-top:15px;
	margin-bottom:30px;
}
.pricing .quote
{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 16px;
	content: #ffffff;
	left: 0;
	font-weight:400;
	padding:5px;

}
.pricing .quote a
{
	color: #ffffff;
}
.standard .quote
{
	background-color: #e7a20e;
}	
.agency .quote
{
	background-color: #0db1cf;
}	
.market .quote
{
	background-color: #05a17d;
}	
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #EB9605 100%);
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #EB9605;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EB9605;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #EB9605;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EB9605;
}
.vertical
{
	 -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    vertical-align: inherit !important;
}
.free-trial
{
	margin-bottom: 10px;
	display: block;
}

.table-list
{
	list-style-type: square;
	color: #ef7c00;
}

.table-list span
{
	color: #666666;
}


.navbar-toggle
{
		border-radius: 0;
		
}

.navbar-default .navbar-toggle
{
	border-color: #ef7c00;
}

		.mobile-slide
		{
			display: none !important;
		}

.content-image img
{
	padding:3px;
	border:10px solid #585858;
	border-radius:5px;
	box-shadow: 1px 1px 4px #3e3e3e;
}

.know-more .content-image
{
	border:0;
}
.mobile-content
{
	display: none;
}

.btn-custom {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.pricing .it
{
	display: block;
	color: #fff;
	margin-top: 10px;
	font-size: 14px;
    font-weight: 500;
}
.theme-green .scale ins {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-top: 2px;
}
.popover-title
{
	color: #000000;
}
#pricing-table .pricing {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 30px;
}
.color1{background: #ef7f1a !important;}
.color2{background: #fecc00 !important;}
.color3{background: #7690c9 !important;}
.color4{background: #e31e24 !important;}
.color5{background: #04a9b4 !important;}
.color56{background: #2a343d !important;}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}
.checklist
{
	margin-top:50px;
	font-weight:300;
}

.checklist ul li
{
	margin-bottom: 20px;
}
.currency span
{
	height: 25px;
	width: 25px;
	background-color: #dddddd;
	border-radius:5px;
	line-height: 25px;
	text-align: center;
}

.currency
{
	padding-right:20px;
	margin-bottom: 10px;
	color: #dcdcdc
}

.currency a
{
	color: #B1B1B1;
}

.currency a.active, .currency a:hover, .currency a:active
{
	color: #ef7c00;    display: inline-block;
}
.currency a.active span{background-color: #ef7c01;}
.currency a:hover span {background-color: #ef7c01;}
.switch {
  position: relative;
  display: inline-block;
  width:80px;
  height: 34px;
}
#IntegratedAnalytics sub {
    margin-bottom: 3%;
    color: #9699a6;
    margin-top: 25px;
    font-weight: 300;
    font-size: 22px;
    font-family: 'roboto', sans-serif;
}



.trial span
{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	padding:0 5px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#ef7c01;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left:5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#ef7c01;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ef7c01;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Media queries*/
@media(min-width: 684px) and (max-width: 1200px){
.sub-banner .breadcrumbs
{
	padding-top:45%;
}
.sub-banner .sub-title
{
	padding-top: 38%;
	margin: 0;
}
.btn-transparent
		{
			margin-top: 5px;
		}
}
@media(min-width:240px) and (max-width:1024px){
		.title-sub
		{
			display: inline;
		}
}

@media(min-width: 240px) and (max-width: 683px){
	.sub-banner
	{
		position: relative;
		padding-top: 25%;
	}

	body
		{
			padding-top: 0%;
		}
	.features {
    padding-top: 0px;
    position: relative;
    top: 0px;
}
.features .title {
    margin: 20px;
    text-align: center !important;
    font-size: 42px;
    color: #31364c;
}
		.sub-banner .breadcrumbs
		{
			position: absolute;
			top: 0;
		}
		.sub-banner .sub-title
		{
			position: absolute;
			top: 0;
			margin: 0;
		}


}

@media(min-width: 240px) and (max-width:401px){
	.navbar-brand img
	{
		width:200px;
	}
	.section a
	{
		width: 100%;
	}

	.section-det sub
	{
		display:initial;
	}
	.bg-color-gray
	{
		margin-top: 20px;
	}

	.carousel-caption h1
		{
			font-size: 40px;
			margin-bottom:20px;
		}
}

@media(min-width:767px) and (max-width:1001px){
		.carousel-caption h1
		{
			font-size: 40px;
			margin-bottom:5px;
		}
		.btn-transparent
		{
			margin-top: 0;
			padding: 5px 10px;
			font-size: 14px;
		}

		.navbar-brand img
	{
		width:200px;
	}

	.navbar-nav li a
	{
		padding-left: 10px;
		padding-right: 10px;
	}


}	

@media(min-width:634px) and (max-width:767px){
	.carousel-caption h1
		{
			font-size:30px;
			margin-bottom:5px;
		}

		.btn-transparent
		{
			margin-top:20px;
			padding: 5px 10px;
			font-size: 14px;
		}

		.carousel .item img
		{
			padding-top:8%; 
		}

		.icon
		{
			padding:5px;
		}
}	

@media(min-width:240px) and (max-width:767px){
		body {
    padding-bottom: 0px !important;
}
		.points 
		{
			text-align: center !important;
		}

		body
		{
			padding-top: 0%;
		}
	.features {
    padding-top: 0px;
    position: relative;
    top: 0px;
}
.features .title {
    margin: 20px;
    text-align: center !important;
    font-size: 42px;
    color: #31364c;
}
		.desktop-content{
			display: none !important;
		}
		.mobile-content
		{
			display: inline-block;
		}
		#IntegratedAnalytics sub {
    margin-bottom: 10%;}
	.container {
    margin: 0 auto;
    width: 94%;
}

.mainlinks {
    display: block;
    background: #7690C9;
    position: absolute;
    top: 50px;
	}

@media(min-width:240px) and (max-width:634px){
		.desktop-slide
		{
			display: none !important;

		}
		.mobile-slide
		{
			display: block !important;
		}

	}

@media(min-width:520px) and (max-width:634px){
		.carousel-caption h1
		{
			font-size:30px;
			margin-bottom:25px;
		}

		.btn-transparent
		{
			margin-top: 0;
			padding:10px;
			font-size: 14px;
		}

		.carousel .item img
		{
			padding-top:8%; 
		}

		.icon
		{
			padding:5px;
		}

}

@media(min-width:240px) and (max-width:519px){
		.carousel-caption h1
		{
			font-size:22px;
			margin-bottom:25px;
		}

		.btn-transparent
		{
			margin-top: 0;
			padding:10px;
			font-size: 14px;
		}

		.carousel .item img
		{
			padding-top:20%; 
		}

		.icon span.fa
		{
			font-size:18px;
		}
		.carousel-caption
		{
			top: 32%;
		}
		.icons .col-xs-3
		{
			width:49%;
			padding: 0;
		}

		.icon
		{
			border:0;
			padding: 5px;
		}

		
}

@media(min-width:240px) and (max-width:420px){
	
	.carousel .item img
		{
			padding-top:40% !important; 
		}

		.navbar-brand img
		{
			width: 150px;
		}

		.icon .fa
		{
			display: none;
		}
		.carousel-caption
		{
			top: 32%;
		}
		.icons .col-xs-3
		{
			width:49%;
			padding: 0;
		}

		.icon
		{
			border:0;
			padding: 5px;
		}

		.sub-banner .col-xs-6
		{
			width: 100%;
			display: block;
		}
		.contact span
		{
			display: block;
		}
	}

@media(min-width:240px) and (max-width:330px){
.carousel-caption h1
		{
			font-size:12px;
			margin-bottom:0px;
		}

		.login-box
		{
			width: 100%;
			margin-top: 50%;
		}

		.user
		{
			left: 30%;
		}

	}