@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900');

.fl { float: left !important; }
.fr { float: right !important; }
/*Global Classes End*/
.left-cntr{width:41.7%;margin-top:200px}
.right-cntr{width:49.3%;margin-top:250px}
.mr p{margin-right: 7vw;}
.block-wrapper-cntr h2 {font-family: 'Archivo', sans-serif;letter-spacing: -1px;font-size: 40px;line-height: 1.14;margin-bottom: 25px;font-weight: 700;margin-top: 20px;padding-bottom:0px}
.bowser-windows body.pll-en-gb .block-wrapper-cntr p {font-size: 18px;line-height: 28px;font-weight: normal;color: #8c8c8c;margin-top: 0px;font-weight: normal;}
.image-wrapper {margin-bottom:30px;}
.image-wrapper img{width:100%;}
.space-l{margin-left:15%;}
.space-R{margin-right:15%;}


.image-wrapper{overflow: hidden;}
.image-wrapper img{transition: all 900ms ease; -moz-transition: all 900ms ease;-webkit-transition: all 900ms ease;transform: scale(1);}
.image-wrapper img:hover{transform: scale(1.1);}


@media screen and (min-width: 1024px) and (max-width:1400px) {
.block-wrapper-cntr h2 {font-size: 34px;}
.bowser-windows body.pll-en-gb .block-wrapper-cntr p {font-size: 18px;line-height: 28px;}
}

@media screen and (min-width: 0) and (max-width:1023px) {
.slider-boxes.slider-boxes--three-columns .carousel__item:nth-child(1){min-width:100%;}
.block-cntr {display: grid !important;padding-bottom: 150px;padding-top:50px;}
.block-cntr h1 {font-size: 36px;}
.left-cntr{width:96%;margin: 50px auto 0;}
.right-cntr{width:96%;margin: 50px auto 0;}
.space-l{margin-left:0%;}
.space-R{margin-right:0%;}
.block-wrapper-cntr h2 {font-size: 30px;}	
}