.vlt-site-preloader.is-loaded .vlt-stroke-text a {color: #000;background-position: -100% 0;}
.vlt-stroke-text {font-weight: 700;line-height: 1.15;margin: 0;padding: 0;-webkit-text-stroke-color: currentColor;-webkit-text-fill-color: transparent;-webkit-text-stroke-width: 1px}
.vlt-stroke-text--lg {font-size: 130px}
@media only screen and (max-width:767px) {
.vlt-stroke-text--lg {font-size: 84px}
}
.vlt-stroke-text--md {font-size: 70px}
.vlt-stroke-text a {-webkit-transition: background-position .5s;transition: background-position .5s;color: inherit;background-image: -webkit-gradient(linear, right top, left top, from(currentColor), color-stop(50%, currentColor), color-stop(50%, transparent));background-image: -webkit-linear-gradient(right, currentColor 0, currentColor 50%, transparent 50%);background-image: linear-gradient(to left, currentColor 0, currentColor 50%, transparent 50%);background-position: 0 0;-webkit-background-clip: text;background-clip: text;background-size: 200%}
.vlt-stroke-text a:hover {color: currentColor;background-position: -100% 0}