/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face { font-family: 'FontAwesome'; src: url('fonts/fontawesome-webfont.eot?v=4.0.1'); src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x:hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{box-sizing: border-box;transition: all .5s ease;outline: none;}

/* Embed Fonts */
/*@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Roboto:100,300,400|Rubik');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../fonts/futurah-webfont.woff2') format('woff2'),
         url('../fonts/futurah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */


/* Global CSS */
body{font-family: 'Roboto', sans-serif;font-weight: 300;}
h1{font-family: 'futura_hv_btheavy';font-size:80px;}
h2{font-family: 'futura_hv_btheavy';font-size:52px;font-weight:600;letter-spacing:-2px;margin-bottom: 40px}
h3{font-family: 'futura_hv_btheavy';font-size:30px;margin: 30px 0 30px;line-height: 40px;}
h4{font-family: 'futura_hv_btheavy';font-size:20px;margin: 20px 0 15px; }
h5{font-family: 'futura_hv_btheavy';font-size:18px;margin: 20px 0 15px; }
p{font-family: 'Roboto', sans-serif;font-weight: 300;color:#6f6f71;font-size: 18px;line-height: 30px;margin-bottom: 30px}
a{text-decoration:none;cursor: pointer;}
a.button.button_orange {
    background: #ce6511;
    color: #fff;
}


a.button {
    padding: 14px 20px;
    border-radius: 4px;
    font-family: 'futura_hv_btheavy';
    text-transform: uppercase;
    margin: 5px 0;
    display: inline-block;
}
a.button:hover {background: #f99d2f;transform: scale(1.05) !important;transition: transform .5s ease;}
section{max-width: 1920px;margin:0 auto;}

/* Global Classes */
.container{max-width: 1280px;width: 100%;margin: 0 auto;padding: 15px}
.col3{width:33.33%;float: left;padding:0 15px;}
.fl{float:left;}
.fr{float:right;}
.f_w_r{font-weight: 400}
.clear:after,.clear:before{content:'';display:table;clear:both;}
.text_center{text-align:center;}
ul.list_type_1{margin: 20px 0 20px;display: block}
.list_type_1 li{position:relative;font-family: 'Roboto', sans-serif;font-size: 18px;font-weight:300;line-height:26px;padding: 7px 10px 7px 35px;color:#6f6f71;}
.list_type_1 li strong{font-weight:bold;display:block;}
.list_type_1 li a{color:#6f6f71;}
.list_type_1 li:after{position:absolute;content:'';background-color:#8b8b8d;top:22px;display: block;height:2px;width:22px;left:0;}
.padTB100{padding-top:100px;padding-bottom: 100px;display: block}
.padTB150{padding-top:150px;padding-bottom: 150px;display: block}
.padT50{padding-top:50px;}



/* Page Specific */
.banner_overlay:after{content:'';display:block;opacity: .8;position: absolute;top:0;left:0;height: 100%;width: 100%}
header.banner_overlay{background-position: 0 0;background-repeat: no-repeat;background-size:cover;}
header.blockchain_banner{background-image: url(../images/main-banners/blockchain-banner.jpg)}
header.iot_banner{background-image: url(../images/main-banners/iot-banner.jpg)}
header.data_science_banner{background-image: url(../images/main-banners/data-science-banner.jpg)}
header.artificial_intelligence_banner{background-image: url(../images/main-banners/artificial-intelligence-banner.jpg)}
header.cloud_banner{background-image: url(../images/main-banners/cloud-banner.jpg)}
#header_top .container{padding: 0 15px;}
.blue_color, .blue_color h2, .blue_color h5, .blue_color li a:hover, .blue_color li.active a{color:#3284b6 !important;}
.red_color, .red_color h2,.red_color h5, .red_color li a:hover, .red_color li.active a{color:#db4b50 !important;}
.orange_color, .orange_color h2,.orange_color h5, .orange_color li a:hover, .orange_color li.active a{color:#f47920 !important;}
.purple_color, .purple_color h2,.purple_color h5, .purple_color li a:hover, .purple_color li.active a{color:#6e389a !important;}
.sky_blue_color, .sky_blue_color h5, .sky_blue_color li a:hover, .sky_blue_color li.active a{color:#2cb5c0 !important;}

.blue_color .list_type_1.whyvsynergizeglobal li:after, .banner_overlay_blue:after{background: #3284b6;}
.red_color .list_type_1.whyvsynergizeglobal li:after, .banner_overlay_red:after{background:#db4b50;}
.orange_color .list_type_1.whyvsynergizeglobal li:after, .banner_overlay_orange:after{background:#f47920;}
.purple_color .list_type_1.whyvsynergizeglobal li:after, .banner_overlay_purple:after{background:#6e389a;}
.sky_blue_color .list_type_1.whyvsynergizeglobal li:after, .banner_overlay_sky_blue:after{background:#2cb5c0;}
.list_type_1.whyvsynergizeglobal li {padding-left:20px;}
.list_type_1.whyvsynergizeglobal li::after {top: 8px;height: 0;width: 0;content: "\f105";font: normal normal normal 25px/1 FontAwesome;}


.blue_color .list_type_1 li:after{color: #3284b6;}
.red_color .list_type_1 li:after{color:#db4b50;}
.orange_color .list_type_1 li:after{color:#f47920;}
.purple_color .list_type_1 li:after{color:#6e389a;}
.sky_blue_color .list_type_1 li:after{color:#2cb5c0;}

.product_features.industries-why-bg {min-height: 100% !important;height:100% !important;background-size: cover;background-image:url(../images/industries-why-bg.jpg);}
.product_features.industries-why-bg .section_info{padding:200px;width:100%;background: #00000060;}
.product_features.industries-why-bg .section_info .dis-table { width: 50%;margin: 0 auto;padding-bottom: 20px;}
.orange_color.industries-why-bg h2,
.orange_color.industries-why-bg li{color:#fff !important;}
.orange_color.industries-why-bg li{color:#fff !important;padding-bottom:20px;}

#maintenance.blue_color .tab_nav li.active{color:#3284b6;}
#maintenance.blue_color .tab_nav li.active:after{background:#3284b6;}
#maintenance.red_color .tab_nav li.active{color:#cf5453;}
#maintenance.red_color .tab_nav li.active:after{background:#cf5453;}
#maintenance.orange_color .tab_nav li.active{color:#f47920;}
#maintenance.orange_color .tab_nav li.active:after{background:#f47920;}
#maintenance.purple_color .tab_nav li.active{color:#6e389a;}
#maintenance.purple_color .tab_nav li.active:after{background:#6e389a;}
#maintenance.sky_blue_color .tab_nav li.active{color:#2cb5c0;}
#maintenance.sky_blue_color .tab_nav li.active:after{background:#2cb5c0;}


.blue_color .numbering{background: rgba(50, 132, 182, .85);}
.red_color .numbering{background: rgba(219, 75, 80, .85);}
.orange_color .numbering{background: rgba(244, 121, 32, .85);}
.purple_color .numbering{background: rgba(110, 56, 154,.85);}
.sky_blue_color .numbering {background: rgba(44, 181, 192, 0.85);}

/* Header */
header{/*background:url(../images/banner.jpg) 0 0 no-repeat;background-size:cover;*/height:85vh;position: relative;background-attachment: fixed; }
#header_top{padding:0 15px;z-index: 9999;position:fixed;top:0;left: 0;width:100%;transition: all .5 ease}
#header_top.fixed{background:#000}
#header_top.menu_fixed{background:#000}
#main_nav {margin-right: 200px;}
#main_nav li{float:left;display: block;position: relative;}
#main_nav li a{font-family: 'futura_hv_btheavy';color:#fff;font-size:18px;display:block;padding: 26px 15px;}
#main_nav li a:hover {color:#f99d2f;}
#main_nav li.active>a {/*color:#f99d2f;*/text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.53);}
#header_top.fixed #main_nav li.active>a{color: #f99d2f;}
#main_nav li ul{display:none;position:absolute;top:70px;left:0;right: 0;/*background: rgba(0,0,0,0.85);*/background:#000 ;width:250px;/*border-radius:4px;*/box-shadow: 0px 0px 15px #000;}
#main_nav li:hover ul{display: block;}
#main_nav li ul:after{content:''; width: 0;height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid rgba(0,0,0,0.85);position: absolute;top:-10px;left: 40px}
#main_nav li li{float: none}
#main_nav li li a{float: none;padding: 10px;font-size: 14px;}
#header_banner h2 {text-align: center;font-size: 80px;color: #fff;max-width: 768px;width:100%;margin:0 auto;position: absolute;z-index:1;top:50%;left: 50%;transform: translate(-50%, -50%);}

#header_banner a.view-learn-more-btn {text-align: center;font-size: 14px;color: #fff;margin:0 auto;padding: 15px 30px;border: 1px solid;margin-top: 50px;display: table;width: auto;letter-spacing: 0px;font-family: 'futura_hv_btheavy';text-transform:uppercase}
#header_banner a.view-learn-more-btn:hover{background:#fff;color:#000 !important;border: 1px solid #fff;}


#home_slider,
#home_slider .slider-row{height: 100vh;position:relative;}
.header_banner {position: absolute;z-index:1;top:50%;left: 50%;transform: translate(-50%, -50%);}
.header_banner h2 {text-align: center;font-size: 70px;color: #fff;max-width: 850px;width:850px;margin:0 auto;opacity: 1 !important;transform: scale(1) !important;}
.header_banner a.view-learn-more-btn {text-align: center;font-size: 14px;color: #fff;margin:0 auto;padding: 15px 30px;border: 1px solid;margin-top: 50px;display: table;width: auto;letter-spacing: 0px;font-family: 'futura_hv_btheavy';text-transform:uppercase}
.header_banner a.view-learn-more-btn:hover{background:#fff;color:#000 !important;border: 1px solid #fff;}
.slick-arrow{display:none !important;}

a.view-learn-more-btn {text-align: center;font-size: 14px;margin:0 auto;padding: 15px 30px;color: #fff;border: 1px solid;margin-top:10px;display: inline-block;font-family: 'futura_hv_btheavy';text-transform:uppercase}
a.view-learn-more-btn:hover{color:#fff !important;}
a.view-learn-more-btn.blue_color:hover{background:#3284b6 !important;color:#fff;border: 1px solid #3284b6 !important;}
a.view-learn-more-btn.red_color:hover{background:#db4b50 !important;color:#fff;border: 1px solid #db4b50 !important;}
a.view-learn-more-btn.orange_color:hover{background:#f47920 !important;color:#fff;border: 1px solid #f47920 !important;}
a.view-learn-more-btn.purple_color:hover{background:#6e389a !important;color:#fff;border: 1px solid #6e389a !important;}
a.view-learn-more-btn.sky_blue_color:hover{background:#2cb5c0 !important;color:#fff;border: 1px solid #2cb5c0 !important;}


.product_features{height:740px;background-color:#f6f6f6;}
.product_features.less_height{height:600px;}
.section_bg{width:55%;background-size:cover !important;height:100%;position: relative;}
.section_bg.bg1{background:url(../images/blockchain-home-banner.jpg) center center no-repeat;}
.section_bg.bg2{background:url(../images/iot-home-banner.jpg) center bottom no-repeat;}
.section_bg.bg3{background:url(../images/data-science-analytics-home-banner.jpg) 0 0 no-repeat;}
.section_bg.bg4{background:url(../images/artificial-intellligence-home-banner.jpg) center right no-repeat;}
.section_bg.bg5{background:url(../images/application-development-support-services-home-banner.jpg) center right no-repeat;}


.section_info{padding: 0px 70px 0px;width:45%;height:100%;}
.numbering{width: 210px;display: block;height: 261px;position: absolute;line-height: 95px;top: 0;padding: 25px;font-family: 'futura_hv_btheavy';font-size:24px;color: #fff;}
.numbering_leftside{-webkit-clip-path: polygon(0 0, 0% 100%, 66% 0);clip-path: polygon(0 0, 0 100%, 66% 0);left: 0;}
.numbering_rightside{-webkit-clip-path: polygon(100% 0, 100% 100%, 24% 0);clip-path: polygon(100% 0, 100% 100%, 24% 0);background: rgba(50, 132, 182, .85);right: 0;text-align: right;}


#cloud_logos{background:url(../images/cloud.jpg) 0 0 no-repeat;background-size: cover}
#cloud_logos .container{max-width: 1024px;text-align: center;}
#cloud_logos h2{color:#fff;}
.cloud_logo_container{-webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 52%);
clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 52%);width: 227px;height: 194px;background:#fff;display: inline-block;margin:40px 50px;position:relative;}
.cloud_logo_container img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

#contact_form{background:#191919;padding:130px 0 130px;color:#fff;text-align: center;}
#contact_form .container{max-width:1024px;}
#contact_form h2:after{content:'';display: block;width: 100px;height: 2px;background: #df6300;margin: 30px auto 20px}
#contact_form p{color:#fff;font-size: 24px;margin-bottom: 50px}
#contact_form form input,
#contact_form textarea{width: calc(50% - 30px);background:#2b2b2b;border:none;padding: 20px;display: block;float: left;margin:0 15px 30px;font-size: 16px;color:#fff;}
#contact_form textarea{width: calc(100% - 30px);}
#contact_form form{margin:0 -15px;}

#contact_form form input.button.button_orange {background: #ce6511;color: #fff;}
#contact_form form input.button {padding: 14px 20px; border-radius: 4px;font-family: 'futura_hv_btheavy';text-transform: uppercase;margin: 5px 0;display: inline-block;width: auto;float: none;}
#contact_form form input.button:hover {background: #f99d2f;transform: scale(1.05) !important;transition: transform .5s ease;}


#sub_footer{padding-top:80px;padding-bottom: 50px}
#sub_footer .col {float: left;margin-bottom: 20px;padding: 0 22px}
#sub_footer .col:last-child{width: 23%;}
#sub_footer ul li a{font-family: 'Roboto', sans-serif;color: #666666;font-size:14px;font-weight:300;line-height:30px;padding: 4px 0px;display:block;}

#footer_end{background:#eaeaea;padding: 20px 0;}
.copyrights, .copyrights a{font-size:16px;color:#666666;line-height: 24px}
.copyrights a{margin:0 10px;}
.copyrights strong a{color:#000;margin: 0}
.social-icon{background-image:url(../images/social-icon.png);background-repeat: no-repeat;width:25px;height:25px;display:block;float:left;margin:0 5px;}
.social-icon.tw{background-position:0 0;}
.social-icon.ln{background-position:-37px 0;}
.social-icon.fb{background-position:-75px 0;}
.social-wrapper{padding:10px;}
/* hamberger Animation */
.hamburger{padding:15px;display:none;cursor:pointer;transition-property:opacity,filter;transition-duration:.15s;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}.hamburger.is-active:hover,.hamburger:hover{opacity:.7}.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner::after,.hamburger.is-active .hamburger-inner::before{background-color:#fff}.hamburger-box{width:40px;height:24px;display:inline-block;position:relative}.hamburger-inner{display:block;top:50%;margin-top:-2px}.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before{width:40px;height:4px;background-color:#fff;border-radius:4px;position:absolute;transition-property:transform;transition-duration:.15s;transition-timing-function:ease}.hamburger-inner::after,.hamburger-inner::before{content:"";display:block}.hamburger-inner::before{top:-10px}.hamburger-inner::after{bottom:-10px}.hamburger--spin .hamburger-inner{transition-duration:.22s;transition-timing-function:cubic-bezier(.55,.055,.675,.19)}.hamburger--spin .hamburger-inner::before{transition:top .1s .25s ease-in,opacity .1s ease-in}.hamburger--spin .hamburger-inner::after{transition:bottom .1s .25s ease-in,transform .22s cubic-bezier(.55,.055,.675,.19)}.hamburger--spin.is-active .hamburger-inner{transform:rotate(225deg);transition-delay:.12s;transition-timing-function:cubic-bezier(.215,.61,.355,1)}.hamburger--spin.is-active .hamburger-inner::before{top:0;opacity:0;transition:top .1s ease-out,opacity .1s .12s ease-out}.hamburger--spin.is-active .hamburger-inner::after{bottom:0;transform:rotate(-90deg);transition:bottom .1s ease-out,transform .22s .12s cubic-bezier(.215,.61,.355,1)}.hamburger--spin-r .hamburger-inner{transition-duration:.22s;transition-timing-function:cubic-bezier(.55,.055,.675,.19)}.hamburger--spin-r .hamburger-inner::before{transition:top .1s .25s ease-in,opacity .1s ease-in}.hamburger--spin-r .hamburger-inner::after{transition:bottom .1s .25s ease-in,transform .22s cubic-bezier(.55,.055,.675,.19)}.hamburger--spin-r.is-active .hamburger-inner{transform:rotate(-225deg);transition-delay:.12s;transition-timing-function:cubic-bezier(.215,.61,.355,1)}.hamburger--spin-r.is-active .hamburger-inner::before{top:0;opacity:0;transition:top .1s ease-out,opacity .1s .12s ease-out}.hamburger--spin-r.is-active .hamburger-inner::after{bottom:0;transform:rotate(90deg);transition:bottom .1s ease-out,transform .22s .12s cubic-bezier(.215,.61,.355,1)}


/* IOT Page */
#info_wrap{padding:150px 0;}
#info_wrap p{font-size: 24px;line-height: 35px}

#info_wrap p strong{font-weight:bold;}
.table-design li {font-weight: 300;padding: 0px 15px 15px 40px;color: #6f6f71;position: relative;font-size: 22px;line-height: 35px;}
.table-design li strong {font-weight:bold;}
.table-design li:before {content: '';width: 7px;height: 12px;position: absolute;top: 11px;left: 13px;z-index: 1;background: url(../images/bullet.png);background-size: 7px 12px;background-repeat: no-repeat;}
.table-design li:after {content: '';width: 20px;height: 20px;position: absolute;top: 7px;left: 5px;background: #f99d2f;margin: 0;padding: 0;border-radius: 50%;}
.table-design {/*border: 1px solid #eaeaea;margin-top: 50px;box-shadow: 5px 10px 23px #eaeaea;*/}
.table-design h3 {/*padding: 20px;border-bottom: 1px solid #eaeaea;box-shadow: 0px 1px 3px #eaeaea;*/margin: 0;font-size: 35px;letter-spacing: -1px;padding-bottom:20px;padding-top:20px;}
.table-design p{margin-bottom:15px;}
.table-design li:nth-child(even) { /*background-color: #f8f8f8;*/}
#info_wrap .grid-6 {width: 100%;float: left;}
#info_wrap .grid-4 {width: 100%;float: left;margin-top:30px;}
#info_wrap .grid-4 li{padding-left:0px;width: 100px;float:left;padding: 20px 0;text-align: center;margin-right:90px;}
#info_wrap .grid-4 li i {width: 100px;height: 100px;display: inline-flex;border: 2px solid #3284b6;border-radius: 50px;padding: 10px;}
#info_wrap .grid-4 li i img{width: 80px;}
#info_wrap .grid-4 li p{margin: 34px 0;margin: 10px 0px 0px; font-size: 16px;line-height: 22px}
#info_wrap .grid-4 li:before,
#info_wrap .grid-4 li:after {display:none;}
#info_wrap .grid-4 li:nth-child(even) { /*background-color: #f8f8f8;*/}
#info_wrap .grid-4 h3 {padding: 20px 0;margin:0px;font-size:35px;letter-spacing: -1px;}
#info_wrap .grid-4 li p{font-weight: 500;}
#info_wrap .grid-4 li:last-child{margin-right:0px;}


#featured_services{background: url(../images/iot-bg.jpg) center center no-repeat;background-size: cover;display: block;padding-top:80px;}
#featured_services *,#maintenance *{color:#fff;}
#featured_services h5 {margin: 6px 0 15px;}
.feature_box_inner{position:relative;}
.feature_box_inner:before {/*content: '';top: 50px;left: 0px;width: 8px;height: 8px;position: absolute;background: #fff;border-radius: 50px;*/}
#featured_services .container{padding-bottom: 0}
.feature_box_inner{padding: 40px 15px 20px;min-height: 283px;}
.feature_box_inner:last-child{padding-bottom:300px;}
.feature_box_wrap{background:url(../images/mobile-app.png) center bottom no-repeat;}
/* Particles */
/* ---- reset ---- */  canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #00222f; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

#maintenance{background:url(../images/iot-bg-2.png) 0 0 no-repeat;background-size: cover;background-attachment:fixed;height:650px;min-height: 800px;position: relative}
#maintenance .container{padding-top:0;position: relative;min-height: 800px;}
#maintenance h3{padding-top: 100px}
.tab_box_wrap:after{content:'';height: 100%;width: 2px;position: absolute;top:0;left:416px;background: #fff}
.tab_box_wrap .tab_nav{width:33.33%;padding:30px 40px 80px 0;float:left;}
.tab_nav li{padding:10px 0;font-family: 'futura_hv_btheavy';font-size: 20px;line-height:30px;position:relative;cursor: pointer}


.feature-details .strip i.ic.ic-circle,
.full-on-window .feature-details .strip .ic.ic-circle {width: 50px;height: 50px;color: #fff;border-radius: 50px;padding: 18px 16px;top: 50.3%;left: 66%;}
#features-group {position: relative;}
.full-on-window .feature-details {background: #000;}


 h3.slider-header{transform: rotate(-90deg);
    position: absolute;
    top: 270px;
    left: -100px;
    color: #fff;
    z-index: 999;min-height: 100px;width: 400px;
}
.slide-group.full-on-window h3.slider-header{
    position: fixed;
    top: 270px;
    left: -100px;
    color: #fff;
    z-index: 999;min-height: 100px;width: 400px;
}
h3.slider-header br {display:none;}
.full-on-window .feature-details .text-wrap p strong{font-weight:bold;}

.tab_nav li:after{content:'';display: block;width: 16px;height: 16px;background:#fff;border-radius: 50%;position:absolute;top: 24px;right: -33px;z-index: 9}
.tab_content_wrap{float: right;padding:50px 200px 50px 150px;width: calc(100% - 420px);position:relative;height:350px;}
.tab_content {position: absolute;top: 10%;transform: translateY(-50%);width:600px;opacity: 0;transition: opacity 0.5s ease-in}
.tab_content h4{display: none}

.ico{background-image:url(../images/iot-sprite.png);background-repeat: no-repeat;height:115px;width:120px;}
.ico.ico-retro{background-position:0 0;}
.ico.ico-connect{background-position:0 -119px;}
.ico.ico-data{background-position:0 -263px;}


@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#features-group.blue .feature-details .strip i.ic.ic-circle{background-color: #3284b6;}
#features-group.red .feature-details .strip i.ic.ic-circle {background-color: #db4b50;}
#features-group.orange .feature-details .strip i.ic.ic-circle {background-color: #f47920;}
#features-group.purple .feature-details .strip i.ic.ic-circle {background-color: #6e389a;}
#features-group.sky_blue .feature-details .strip i.ic.ic-circle {background-color: #2cb5c0;}
.slide-group{transition: all .5s ease;}



.landing-page-header-cntr{margin-top: 70px;padding:100px 0;} 
.landing-page-header-cntr h1{font-size: 38px;padding-bottom: 50px;font-weight: inherit;letter-spacing: -1px;text-transform: uppercase;color:#fff;text-align: center;}
.landing-page-header-cntr p{font-weight: 300;color: #fff;font-size: 18px;line-height: 32px;width:90%;margin:20px auto 0;} 
.landing-page-cntr{position:relative;background:#f4f4f4;}
.landing-page-cntr h2 {padding: 20px 0;font-family: 'futura_hv_btheavy';font-size: 22px;line-height: 30px;letter-spacing: 0px;text-align: center; background: url("../images/our-service-offerings.png");background-size: auto;position: absolute;z-index: 1;top: -61px;left: 50%;transform: translate(-50%, 0%);background-size: inherit;width: 425px;height: 63px;cursor:pointer;}
.landing-page-cntr:before {content: '';width: 0;height: 0;border-right: 27px solid transparent;border-top: 27px solid transparent;border-left: 27px solid transparent;position: absolute;top: 0px;left: calc(50% - 13.5px);background: transparent;display:none;}
.landing-page-cntr .container {padding: 120px 0 80px;width: 90%;max-width: 90%;}
.landing-page-cntr .landing-page-list li {position: relative;overflow: hidden;}
.landing-page-cntr .landing-page-list li:nth-child(3n) {margin-right: 0px;}
.landing-page-cntr .landing-page-list li {width: 29%;float: left;text-align: left;border: 0px solid #eee;margin-right: 82px;margin-bottom: 82px;position: relative;}
.landing-page-cntr .landing-page-list li {margin-right: 30px;margin-bottom: 55px;width: 31%;}
.landing-page-cntr .landing-page-list ul {width: 100%;margin: 0 auto;}
.landing-page-cntr .landing-page-list ul.active li .blog-wraper h3{color:#9e9e9e;}
.landing-page-cntr .landing-page-list ul.active li.active .blog-wraper h3{color:#fff;}
.landing-page-cntr .landing-page-list li a img {width: 100%;}
.landing-page-cntr .landing-page-list li a {padding: 0px;border: 0px;display: inline-block;height: 100%;width: 100%;}
.landing-page-cntr .landing-page-list h3 {color: #444;font-size: 18px; line-height:26px;font-weight: 700;margin-bottom: 10px;padding: 0px;margin:0px;margin-bottom: 10px;transition: all 0s ease-in;}
.landing-page-cntr .landing-page-list p{font-size: 14px;color: #444444;line-height: 18px;margin: 10px auto 10px;font-weight: 100;display:none;overflow: hidden;transition: all 0s ease-in;}
.landing-page-cntr .landing-page-list .cta{transition: all 0s ease-in;color: #6f6f71;}
.landing-page-cntr .landing-page-list li:hover p {display: -webkit-box;transition: all 0s ease-in;}
.landing-page-cntr .landing-page-list li:hover{cursor:pointer;}
.landing-page-cntr .landing-page-list li{position:relative;overflow: hidden;}
.landing-page-cntr .landing-page-list li .blog-wraper {transition: all 0s ease-in;height: 95px;position: absolute;bottom: 0px;width: 100%;background: #fff;}
.blog_body{display:none;transition: all 0s ease;margin: 0 0px;}

.landing-page-cntr .landing-page-list li .blog_body a:first-child{/*font-weight:bold;*/}
/*.landing-page-cntr .landing-page-list li .blog_body a {padding: 5px 10px;padding-left: 10px;color: #fff;background: url(../images/bullet.png);background-position-x: 0%;background-position-y: 0%;background-repeat: repeat;background-size: auto;background-repeat: repeat;background-size: auto;background-size: 7px 12px;background-repeat: no-repeat;background-position: 0px 7px;padding-left: 15px;}*/
.landing-page-cntr .landing-page-list li .blog_body a {padding: 10px 20px;color: #fff;border-top: 1px solid #fff2;}

.landing-page-cntr .landing-page-list li:hover .blog-wraper {transition: all 0s ease-in;height: 100%;bottom: 0;background: #3284b6;padding: 35% 20px}
.landing-page-cntr .landing-page-list li:hover h3,
.landing-page-cntr .landing-page-list li:hover p,
.landing-page-cntr .landing-page-list li:hover .cta{color:#fff;transition: all 0s ease-in;}
.blog-wraper{padding: 20px;}
.landing-page-cntr .landing-page-list li:hover .blog-wraper h3{color: #fff !important;}
.sub-contener {}
.sub-contener h2{font-family: 'futura_hv_btheavy';font-size: 52px;font-weight: 600;letter-spacing: -2px;margin-bottom: 10px;text-align:center}
.sub-contener p{font-family: 'Roboto', sans-serif;font-weight: 300;color: #6f6f71;font-size: 18px;line-height: 30px;margin-bottom: 80px;text-align:center}
.verticaly-center {text-align: left;color: #fff;max-width: 1280px; width: 100%;margin: 0 auto;position: absolute;z-index: 1;top: 50%;left: 50%; transform: translate(-50%, -75%);}

/*Header*/
.navmenu-icon {width: auto;height: 40px;padding-top: 6px;background: #f9931b;box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);border-radius: 4px;border: #f9931b solid 1px;color: #fff;position: fixed;float: right;z-index: 99999999;  top: 14px;right: 14px;cursor: pointer;}
.navmenu-icon .hamburger.is-active:hover, .navmenu-icon .hamburger:hover {opacity: 1; }
.navmenu-icon .hamburger { position: relative; top: 0px; right: 0px; margin: 0 auto; width: 28px; height: 26px; cursor: pointer; overflow: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 9999999;display: flex;float: left;margin-left: 15px;margin-right: 15px;}
.navmenu-icon .hamburger.is-active .hamburger--outer:nth-child(1), 
.navmenu-icon .hamburger.is-active .hamburger--outer:nth-child(2), 
.navmenu-icon .hamburger.is-active .hamburger--outer:nth-child(3), 
.navmenu-icon .hamburger.is-inactive:hover .navmenu-icon .hamburger--outer:nth-child(6), 
.navmenu-icon .hamburger.is-inactive:hover .hamburger--outer:nth-child(7) { display: none }
.navmenu-icon .hamburger.is-active .hamburger--outer:nth-child(6) { -webkit-transform: rotate(225deg) translateX(0) scaleX(1); transform: rotate(225deg) translateX(0) scaleX(1); top: 21px; left: 25px }
.navmenu-icon .hamburger.is-active .hamburger--outer:nth-child(7) { -webkit-transform: rotate(-45deg) translateX(0) scaleX(1); transform: rotate(-45deg) translateX(0) scaleX(1); top: 21px; left: 5px }
.navmenu-icon:hover .hamburger.is-inactive .hamburger--outer:nth-child(1) { -webkit-animation: hamburgerHover .33s ease-out .32s; animation: hamburgerHover .33s ease-out .32s }
.navmenu-icon:hover .hamburger.is-inactive .hamburger--outer:nth-child(2) { -webkit-animation: hamburgerHover .33s ease-out .21s; animation: hamburgerHover .33s ease-out .21s; left: 0; width: 100%; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease; transition-timing-function: ease }
.navmenu-icon:hover .hamburger.is-inactive .hamburger--outer:nth-child(3) { -webkit-animation: hamburgerHover .33s ease-out .1s; animation: hamburgerHover .33s ease-out .1s }
.navmenu-icon .hamburger--outer { display: block; position: absolute; height: 3px; background: #fff; border-radius: 9px; opacity: 1; -webkit-transform: rotate(0); transform: rotate(0) }
.navmenu-icon .hamburger--outer:nth-child(1), 
.navmenu-icon .hamburger--outer:nth-child(4), 
.navmenu-icon .hamburger--outer:nth-child(6) { top: 4px; left: 0; width: 100%; -webkit-transform-origin: left center; transform-origin: left center }
.navmenu-icon .hamburger--outer:nth-child(2) { top: 12px; left: 6px; width: 22px; -webkit-transform-origin: left center; transform-origin: left center }
.navmenu-icon .hamburger--outer:nth-child(3), 
.navmenu-icon .hamburger--outer:nth-child(5), 
.navmenu-icon .hamburger--outer:nth-child(7) { top: 20px; left: 0; width: 100%; -webkit-transform-origin: left center; transform-origin: left center }
.navmenu-icon .hamburger--outer:nth-child(4) { top: -1px; left: 4px; -webkit-transform: rotate(45deg) translateX(0) scaleX(0); transform: rotate(45deg) translateX(0) scaleX(0) }
.navmenu-icon .hamburger--outer:nth-child(5) { top: -1px; left: 22px; -webkit-transform: rotate(135deg) translateX(0) scaleX(0); transform: rotate(135deg) translateX(0) scaleX(0) }
@-webkit-keyframes hamburgerHover {  0% {
 -webkit-transform: translateX(0);
 transform: translateX(0)
}
 50% {
 -webkit-transform: translateX(110%);
 transform: translateX(110%)
}
 50.001% {
 -webkit-transform: translateX(0) translateY(11px);
 transform: translateX(0) translateY(11px)
}
 100% {
 -webkit-transform: translateX(0) translateY(0);
 transform: translateX(0) translateY(0)
}
}
@keyframes hamburgerHover {  0% {
 -webkit-transform: translateX(0);
 transform: translateX(0)
}
 50% {
 -webkit-transform: translateX(110%);
 transform: translateX(110%)
}
 50.001% {
 -webkit-transform: translateX(0) translateY(11px);
 transform: translateX(0) translateY(11px)
}
 100% {
 -webkit-transform: translateX(0) translateY(0);
 transform: translateX(0) translateY(0)
}
}
.closeNavBar { position: fixed; right: 0; top: 0; width: 30%; height: 100%; overflow: hidden; z-index: -1; }
.closeNavBar.openNavBar .nav-overlay{content: "";width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: #00000080;cursor:pointer;}


.closeNavBar.openNavBar { z-index: 9999 !important; }
.closeNavBar.openNavBar + .header { background: none; box-shadow: none }
.pageNavigation { border-radius: 50%; width: 49px; height: 49px; float: right; background-color: #fff; border: none; transition: all 0.5s ease-out; }
.menubar { position: relative; z-index: 99; }
.openRound { transform: scale(100); transition: all 0.5s ease-in; cursor: default; }
.circle-nav { /*height: 700px; width: 700px; border-radius: 50%; background: #f6f6f6; position: absolute; left: -200px; top: -200px;*/ }
.circle-nav {margin-top: 70px;height: 180px;width: 180px;position: absolute;left: 0px;top: 0px;opacity: 0.2;}
.circle-nav img {max-width: 100%;vertical-align: middle;}
.menucontent { opacity: 0; transition: all 0.300s; transition-delay: 0s; }
.closeNavBar.openNavBar .menucontent { opacity: 1; transition: all 0.4s; transition-delay: 0.4s; }
.ballonboy { position: absolute; right: 0; bottom: 0; width: 150px; }
.teddyballon { position: absolute; right: 50px; bottom: 70px; }
.navigation-links ul li a { display: inline-block; position: relative; padding-bottom: 0px; color: #222222; font-size: 26px; font-weight: 600;font-family: 'futura_hv_btheavy'; }
.navigation-links ul li a:hover{text-decoration:underline;}
.navigation-links { position: relative; z-index: 99; position: absolute; right: 15%; top: 170px;width: 76%; }
.navigation-links ul li { margin-bottom: 35px }
/*Header end*/
#main_nav ul.main_nav_ul.active{display: block !important;overflow: visible !important;}
#main_nav .main_nav_ul.active.overflow{overflow: visible !important;}
.more-menu {
    float: left;
    padding: 0px 0px 5px 10px;
    font-family: 'futura_hv_btheavy';
    font-size: 14px;
}
#main_nav li.active.down-arrow:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.85);
    position: absolute;
    bottom: -10px;
    left: 40px;
}




.scrol {
    height: 120px;
    margin-bottom: -20px;
    position: absolute;
    text-align: center;
    z-index: 16;
    top: -100px;
    left: 0;
    width: 100%;
}
.scroll-next{
    animation: 2s ease 0s normal none infinite running bounce1;
}
.scroll-next, .scroll-next:hover, .scroll-next:active, .scroll-next:focus {
    border: 2px solid #e2e2e2;
    border-radius: 16px;
    display: inline-block;
    height: 58px;
    left: 0;
    margin: auto;
    outline: medium none !important;
    position: absolute;
    right: 0;
    width: 32px;
}

.scroll-next::before {
    background: white none repeat scroll 0 0;
    border-radius: 40%;
    content: "";
    height: 10px;
    left: 12px;
    position: absolute;
    top: 10px;
    width: 4px;
}

.scroll-next span {
    display: block;
    margin-top: 56px;
    position: relative;
}
/*.scroll-next span::before, .scroll-next span::after {
    animation: 2s ease 0s normal none infinite running bounce1;
    border-left: 2px solid #fff;
    border-radius: 0 !important;
    border-top: 2px solid #fff;
    content: "";
    height: 23px;
    left: 3px;
    position: absolute;
    top: 0;
    transform: rotate(-135deg);
    width: 23px;
}*/


.scroll-next span::after {
    animation-name: bounce2;
    top: 15px;
}

@keyframes bounce1 {
0%, 20%, 50%, 80%, 100% {
    top: 0;
}
40% {
    top: -5px;
}
60% {
    top: -5px;
}
}
@keyframes bounce2 {
0%, 20%, 50%, 80%, 100% {
    top: 15px;
}
40% {
    top: 10px;
}
60% {
    top: 10px;
}
}

#team_details{background:#fff;overflow: hidden;}
#team_details .container{max-width: 1024px;text-align: center;}
#team_details h2{color:#000;}
.team_details_container{width: 227px;height: 227px;margin:40px 50px;position:relative;display: inline-block;cursor:pointer;}
.team_details_container span{-webkit-clip-path:  circle(50% at 50% 50%);clip-path:  circle(50% at 50% 50%);width: 227px;height: 227px;background:#9e9e9e;display: inline-block;}
.team_details_container img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 227px;}


/*i.close_btn {position: absolute;top: 0;right: 0;font-size: 30px;padding: 10px 20px;cursor: pointer;color:#000;}*/
i.close_btn {background: none repeat scroll 0 0 #FFFFFF;color: #000;height: 25px;width: 25px;font-size: 20px;line-height: 22px;font-weight: 700;border-radius: 5px;padding: 0;position: absolute;right: 20px;top: 20px;z-index: 1002;cursor: pointer;text-align: center;}
.form_container{max-width:800px;background: #fff;}
.enquiry_pop {position:fixed;top: 0;left: 0;background: rgba(0,0,0,0.5);width: 100vw;height: 100vh;z-index: 99;transition: all 0s ease;}
.enquiry_pop .form_container {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width:800px;margin:0px;}
.enquiry_pop a.btn.btn_style_green{margin:40px 0 0;padding: 20px}
.close_box{width: 100%;height: 100%;display: table;margin: 0 auto;}
.pop-header{background:#d66704;color: #fff;padding: 20px;position: relative;}
.pop-content{padding: 20px;max-height: 400px;overflow: auto;padding-bottom: 0px;margin-bottom: 20px;}
.pop-header h3{margin:0;font-size: 22px;line-height: 32px;}
.pop-header h3 span {-webkit-clip-path:  circle(50% at 50% 50%);clip-path:  circle(50% at 50% 50%);width: 50px;height: 50px;background:#9e9e9e;display: inline-block;position:relative;float: left;top: -10px;margin-right: 10px;}
.pop-header h3 span img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 50px;}
.pop-content h3{margin:0;}
.pop-content p{margin-bottom: 20px;}


.middle_align {position: absolute;top: 50%;transform: translateY(-50%);}
.scroll_hidden,.menu-open{overflow: hidden;}

.how-smart-contracts-work h2{margin-bottom: 10px;}
.how-smart-contracts-work p{text-align:center;}
.how-smart-contracts-work ul li:last-child{margin-right:0px;margin: 0px;}
.how-smart-contracts-work ul li {width: 285px;height: 220px;float: left;margin-right:30px;padding: 20px 40px 20px 20px;-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);}
.how-smart-contracts-work ul li p{color:#fff;margin-bottom: 0px;font-weight:300;line-height:26px;font-size: 22px;text-align: left;}


/*Contact Page*/
.contact-cntr {padding-bottom: 100px;padding-top: 80px;}
.contact-box{margin-top: 70px;} 
.contact-box h2 {font-size: 38px;padding-bottom: 0px;font-weight: inherit;letter-spacing: -1px;text-transform: uppercase;text-align:center;margin-bottom:80px;}
.contact-box p{font-size: 16px;line-height: 24px;color: #787878;padding-bottom:0px;text-align:center;margin-bottom:80px;}
.india-map .india-add {background: #fff none repeat scroll 0 0;float: left;margin-right: 0%;padding: 15px 30px 30px 30px;width: 50%;min-height: 125px;}
.bengaluru .india-add{margin-right:0px !important;}
.india-cntr h2 {color: #d66704;font-size: 18px;font-weight: inherit;margin-bottom: 20px;padding-bottom: 10px;padding-top: 0px;position: relative;margin: 0px;text-align: left;}
.india-cntr p {color: #696969;font-size: 16px;line-height: 26px;margin-bottom: 18px;padding-left: 45px;text-align: left;}
.india-cntr a{color: #d66704;}
.india-cntr a:hover{text-decoration:underline;}
.india-cntr p.addressPin {padding-left:0px;}
.phone-icon {background: url(../images/phone-icon.png) 0 2px no-repeat;}
.fax-icon {background: url(../images/fax-icon.png) 0 2px no-repeat;}
.voip-icon {background: url(../images/voip-icon.png) 0 3px no-repeat;}
.email-icon {background: url(../images/email-icon.png) 0 7px no-repeat;}
.india-cntr p.managment-pic {background: url(../images/map-icon.png) 0 2px no-repeat;}
.india-cntr p.managment-pic a {color: #d66704;font-weight: bold;}
.india-cntr p.managment-pic a:hover {text-decoration:underline;}

.india-cntr.mumbai .india-add {padding: 0px 0px 0px 0px;width: 50%;}
.india-cntr.mumbai .india-add {padding: 0px 20px 0px 0px;}
.india-cntr.mumbai .india-add + .india-add{padding: 0px 0px 0px 20px;}
.india-cntr.new-delhi .india-add {padding: 0px 20px 0px 30px;width: 52%;}
.india-cntr.bengaluru .india-add {padding: 0px 0px 0px 0px;min-height: 255px;}
.india-map h3 {font-size: 22px;padding-bottom: 10px;letter-spacing: -1px;text-transform: uppercase;margin: 0;border-bottom: #DDD 1px solid;margin-bottom: 40px;}
.india-map{position:relative;margin:15px 0px 30px 0px;}
.usa-offices {display: inline-block;width: 45%;float: left;padding: 50px;}
.india-office{display: inline-block;width: 45%;float: left;padding: 50px;}
.india-office .india-add{width:100%;}

.india-cntr.bengaluru{width: 90%;margin: 0 auto;display: flow-root;}

.international-office {display: inline-block;width: 100%;}
.usa-map-cntr{margin-top:50px;display: inline-block;width:100%;height:350px;}
.usa-map-cntr iframe{width:100%;height:100%;}
.india-map-cntr{margin-top:50px;display: inline-block;width:100%;height:350px;}
.india-map-cntr iframe{width:100%;height:100%;}

.mapBox {height: 350px;width: 100%;margin-top:50px;}
.mapBox #gmap_canvas_india_offices{height: 100%;width: 100%;}
.mapBox #gmap_canvas_usa_offices {height: 100%;width: 100%;}

.map-cntr {height: 350px;width: 100%;}
.map-cntr iframe {height: 100%;width: 100%;}

.mapBox .marker-info-win{text-align:left}
.mapBox .marker-heading{color: #d66704;font-size: 30px;padding: 10px 0px;}
.mapBox .info-content{color: #696969;font-size: 0.938em;line-height: 26px;}
#map {height: 100%;}

/*Contact Page End*/


.dis-table { display: table; width: 100%; height: 100%; }
.dis-tablecell { display: table-cell; vertical-align: middle; height: 100%; width: 100%; }
.ic-wrap .grid-12 {position: relative;left: 6.2em;}
.ic-wrap .grid-12 .grid-6 {float: left;width: 50%;}
.ic-wrap .grid-12 .grid-12 {float: left;width: 100%;left: 0;}
.ic-wrap .grid-12 .grid-6:first-child {width: 45%;margin-right:5%;}
.ic-wrap .grid-12 .grid-6:last-child {width: 45%;margin-left:5%;}
#main_nav li.active ul li ul{display:none;}

.send-enquiry{position: fixed;right: 80px;bottom: 15px;text-align: center; z-index: 99;display: none;border: 2px solid #ce6511;background: #ce6511;color: #fff;border-radius: 4px;font-family: 'futura_hv_btheavy';text-transform: uppercase;margin: 5px 0;cursor:pointer;}
.send-enquiry a{font-family: 'futura_hv_btheavy';font-size:14px;color:#fff;padding: 14px 20px;display: block;}
.send-enquiry:hover{border: 2px solid #ce6511;background-color: #fff;}
.send-enquiry:hover a{color:#ce6511;}


.scrollTop {position: fixed;right: 20px;bottom: 20px;width: 50px;height: 50px;text-align: center; z-index: 99;display: none;border: 2px solid #f9931b;background-color: #fff;border-radius: 50px;}
.scrollTop a { display: block; color: #fff; }
.scrollTop:hover{border: 2px solid #f9931b;background-color: #f9931b;}
.scrollTop:hover a:before{color:#fff;}
.scrollTop a:before { font: 30px/44px FontAwesome; content: '\f102'; color:#f9931b;}
@media screen and (min-width: 1400px) {
 .product_features{min-height: 800px !important}
}
@media screen and (min-width: 1500px) and (max-width: 1920px) {
 h3.slider-header{transform: rotate(-90deg);position: absolute;top: 350px;left: -45px;color: #fff;z-index: 999;min-height: 100px;width: 500px;}
.slide-group.full-on-window h3.slider-header{position: fixed;top: 350px;left: -45px;color: #fff;z-index: 999;min-height: 100px;width: 500px;}
.landing-page-cntr .landing-page-list li {margin-right: 45px;}
#main_nav {margin-right: 0px;}
}

@media screen and (max-width: 1024px) {
  .section_bg,.section_info{width:50%;}
  .section_info{padding:50px;}
  .enquiry_pop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100%;
    z-index: 99;
    transition: all 0s ease;
}
.enquiry_pop .form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 96%;
    margin: 0px;
}
.header_banner h2 {
    text-align: center;
    font-size: 32px;line-height: 42px;
    color: #fff;
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
    opacity: 1 !important;
    transform: scale(1) !important;
}

#info_wrap .grid-4 li {width: 50%;margin-right: 0;}
#info_wrap .grid-4 li:last-child{margin-left:25%}
#info_wrap .grid-4 {text-align: center;}
#info_wrap .grid-6 {width: 100%;float: left;}
#info_wrap .grid-4 {width: 100%;float: right;}

.how-smart-contracts-work {width: 92%;margin: 0 auto;}
.how-smart-contracts-work ul li:last-child{margin-right:0px;margin: 0px;margin-bottom:0px;}
.how-smart-contracts-work ul li {width: 100%;height: 150px;margin-right:0px;padding: 20px ;margin-bottom:30px;-webkit-clip-path: none;clip-path: none;text-align: center;}
.how-smart-contracts-work ul li p{color:#fff;}
#main_nav {margin-right: 0px;}
.product_features.industries-why-bg .section_info {padding: 80px 0;background: #00000090;}
.product_features.industries-why-bg .section_info .dis-table { width: 80%;margin: 0 auto;}
.product_features.industries-why-bg {background-position: 85% center;}

}

@media screen and (max-width: 768px) {
  .section_bg,.section_info{width:100%;}
  .section_bg{float:left;height:480px;}
  .product_features,.product_features.less_height {height:auto;}
  #contact_form form input,#contact_form form textarea{width: calc(100% - 50px);margin: 0 25px 30px;}
  .hamburger{display:inline-block;}
  #main_nav{position:relative;}
  #main_nav ul li{display: block;float:none;}
  #main_nav ul{
    display:none;
    position: absolute;
    top:50px;
    right:0;
    width:40vh;
    background: #00222f;
    z-index: 999;
  }

  #menu ul li{
  padding: 10px 0;
  transition-delay: 2s;
  }
  .feature_box.col3 {
    float: none;
    display: block;
    width: 100%;
    padding: 30px 0;
    margin: 0;
  }
  .feature_box_inner:last-child {
    padding-bottom: 1px;
  }

  .feature_box_inner {
      min-height: auto;
  }

  .col3 {
      width: 100%;
      text-align: center;
  }

  .ico {
      margin: 0 auto;
  }
  #sub_footer .col{float:none;}
  .feature_box_wrap {padding-bottom: 650px}
  section{overflow-x: hidden;max-width: 100%}
  .product_features {
    height: auto !important;
}
#maintenance h3{padding-left:50px}
.tab_content_wrap{padding:50px;width: 100%;float: none}
.tab_content{width:90%;}
.tab_box_wrap:after{left:416px;}
.tab_box_wrap .tab_nav,.tab_box_wrap:after{display: none}
.tab_box_wrap .tab_content{width: 100%;display: block;position: static;padding: 20px 0;transform: none}
#device_management .col3{padding:30px 15px;}
.tab_content h4{display: block;}
#main_nav li ul:after{content:none}
#main_nav li ul {position: static;background: #021821;width: 100%;border-radius: 0;box-shadow: inset 0 0 9px 0px rgba(0,0,0,.5);width:100%;height: 0;overflow: hidden;transition: max-height 0.15s ease-out;}
#main_nav li ul.active{height: auto}
.feature-details .strip{display:none;}
.feature-details {
    position: static !important;
}
.feature-details .text-wrap>.ic-wrap {
    padding-left: 0 !important;
}
.feature-details .text-wrap {
    width: 100% !important;padding: 20px;
}
#features-group.blue {background-color: #3284b6;}
#features-group.red {background-color: #db4b50;}
#features-group.orange {background-color: #f47920;}
#features-group.purple {background-color: #6e389a;}
#features-group.sky_blue {background-color: #2cb5c0;}



.feature-details .text-wrap h2 {
    font-size: 1.6em !important;
    line-height: normal;
    margin-top: 0.8em;
    margin-right: 0% !important;margin-bottom: 0px !important;margin-top: 0px !important;
}
h3.slider-header {
    position: static;
    color: #000;
    z-index: 99999;
    padding: 40px 20px;
    margin: 0px;
    font-size: 24px;
    line-height: 28px;
}.feature-details .cont {
    margin-top: 0px !important;
}.feature-details .text-wrap p {
    margin-top: 20px !important;margin-bottom: 0px !important;
}
.wrapper-content {
    width: 100% !important;
}
.bgs {position: static !important;}
.bgs.w>div {position: static !important;}
.bgs.w>div>img {position: static !important;}
.bgs>div {position: static !important;height: auto !important;width: 100% !important;}
.bgs>div>img {position: static !important;}
.bgs>div>img {display: inline-block !important;width: 100% !important;}
.feature-details .bgs::after,
.feature-details .bgs,
.bgs.c-c>div>img{display:none !important;}
.feature-details .bgs.mobile-view{display:flex !important;}

#contact_form {overflow: hidden;}
#sub_footer{overflow: hidden;}
#info_wrap {padding: 40px 0;}
h3.slider-header br{display:none;}
h3.slider-header{transform: rotate(0deg);position:static;color:#fff;z-index:99999;padding:40px 20px 40px;margin:0px;font-family: 'futura_hv_btheavy';font-size:36px;line-height:42px;font-weight:600;letter-spacing:-2px;margin-bottom:0px;width: 100%;}
.navmenu-icon{display:none;}
#main_nav li.active ul li ul{display:none;}
.ic-wrap .grid-12 {position: relative;left: 0;}
.ic-wrap .grid-12 .grid-6:first-child {width: 100%;margin-right: 0;margin-left: 0;margin-bottom: 50px;}
.ic-wrap .grid-12 .grid-6:last-child {width: 100%;margin-right: 0;margin-left: 0;margin-bottom: 10px;}
.landing-page-list li {min-width: 100%;margin-bottom: 50px;}
.landing-page-cntr .landing-page-list li .blog-wraper,
.landing-page-cntr .landing-page-list li:hover .blog-wraper {background: #fff !important;margin-bottom: 0px;position: static;height: auto;padding: 30px 20px;margin-top: -3px;}
.landing-page-cntr .landing-page-list p {display: block;}
.landing-page-cntr .landing-page-list li:hover h3, 
.landing-page-cntr .landing-page-list li:hover p, 
.landing-page-cntr .landing-page-list li:hover .cta,
.landing-page-cntr .landing-page-list li:hover .blog-wraper h3 {color: #000 !important;}
.landing-page-header-cntr {margin-top: 57px;padding: 30px 0;height: auto !important;}
.landing-page-cntr .container {padding: 80px 0 50px;}
.sub-contener h2 {font-size: 36px;}
.sub-contener p {font-size: 18px;line-height: 30px;margin-bottom: 50px;}
.verticaly-center {text-align: left;color: #fff;max-width: 100%;width: 100%;margin: 0 auto;position: static;z-index: 1;top: 50%;left: 50%;transform: translate(0%, 0%);padding: 50px 20px;}
.landing-page-header-cntr h1 {padding-bottom: 10px;}
.landing-page-header-cntr p{}
	
	
.india-map {margin: 0px;}
.contact-cntr {padding: 50px 0px;}
.usa-offices {width: 100%;padding: 0px 0px 20px 0px;}
.india-cntr.mumbai .india-add {padding: 0px 0px 0px 0px;margin-bottom: 0px;border-right: 0px;width: 100%;min-height: 100%;}
.mapBox {height: 350px;width: 100%;margin-top: 20px;}
.india-cntr.bengaluru {width: 100%;margin: 0 auto;display: flow-root;}
.usa-offices:before{display:none}
.india-cntr.new-delhi .india-add {padding: 0px;width: 100%;}
.usa-map-cntr {margin-top: 10px;}
.india-office {width: 100%; float: left;padding: 20px;margin-left:0px;margin-right:0px;}
.india-cntr.bengaluru .india-add { min-height: 100%;}
.india-map-cntr {margin-top: 10px;}
#sub_footer .col:last-child {width: 100%;}
#info_wrap .grid-4 li i {width: 100px;height: 100px;}
#info_wrap .grid-4 li i img {width: 76px;}
}
@media screen and (max-width: 600px) {
  
  #header_banner h2 {font-size:50px;width:auto;max-width: 100%}
  #sub_footer .col{float:none;display: block;width:100%;}
  .logo_container.fl img {width: 150px;}
  .hamburger-box {width: 17px;
    height: 24px;display: inline-block;
    position: relative;
}
#maintenance h3{padding-left: 10px}
.tab_content_wrap{padding:10px;}
}


@media screen and (min-width: 0) and (max-width:980px) {/*For small tabs*/
/*form*/
.form-row .form-field { margin: 0; }
/*form end*/
body { overflow-x: hidden }
.logo{position:static; float:left; transform:none; padding:5px 0}
.logo img{width:60px}
.header.fixNav .logo img{width:60px}
.header{position:fixed}
.commonSpace{padding-top:96px}
.menulinks ul li a.active::before, .menulinks ul li a:focus::before{display:none}
.menulinks ul li{float:none; margin-right:0;line-height:normal}
.header.fixNav .menulinks ul li{line-height:normal}
.menulinks{float:none !important; clear:both !important}
.mobile-nav-icon { display: block; padding-top:15px }
.menu-icon { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 31px; height: 31px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; -webkit-transition: background 0.3s; transition: background 0.3s; }
.menu-icon:focus { outline: none; }
.menu-icon span { display: block; position: absolute; top: 13px; left: 0px; right: 0px; height: 3px; background: #66615e; }
.menu-icon span::before, .menu-icon span::after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #66615e; content: ""; }
.menu-icon span::before { top: -8px; }
.menu-icon span::after { bottom: -8px; }
.mobil-icon-toggle { background-color: transparent; }
.mobil-icon-toggle span { -webkit-transition: background 0s 0.3s; transition: background 0s 0.3s; }
.mobil-icon-toggle span::before, .mobil-icon-toggle span::after { -webkit-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }
.mobil-icon-toggle span::before { -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.mobil-icon-toggle span::after { -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
/* active state, i.e. menu open */

.mobil-icon-toggle.active { background-color: transparent; }
.mobil-icon-toggle.active span { background: none; }
.mobil-icon-toggle.active span::before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.mobil-icon-toggle.active span::after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.mobil-icon-toggle.active span::before, .mobil-icon-toggle.active span::after { -webkit-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; background: #f86759; }
.menulinks ul li a::before{display:none !important}
.mobileNav{position:fixed; right:-100%; top:57px; height:calc(100% - 57px); background:#00222f; width:100%; overflow-y:scroll;transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease;}
.menulinks ul li a{display:block; padding:15px}
.menulinks ul li{border-bottom:#e6e6e6 solid 1px}
.menulinks + .menulinks ul li:last-child{border-bottom:none;position: relative;}
.menulinks ul li.search-btn.active .search-container {right: auto;top: 6px;display: block;left: 44px;width: 44%;}
.menulinks ul li.search-btn.active a:before{content: '\f00d';font-family: 'FontAwesome';display:block;}
.menulinks ul li.search-btn.active>a::before {top: 16px; left: 15px;right: 0px;width: 20px;height: 20px;display: block !important;}
.mobileNav.menubaropen{right:0%;}
#main_nav ul {display: block;position: absolute;top: 0px;right: 0;width: 100%;height: 100%;background: #00222f;z-index: 999;}
#main_nav li a {padding: 15px 15px;border-bottom: 1px solid #757575;}
#main_nav li ul {display: block;}
#main_nav ul li.active ul {display: block;height: auto;}
#main_nav ul li.active>a{color: #f99d2f;}
#main_nav ul li.active ul li a{padding-left: 30px;}
#main_nav ul li.active ul li:before {content: '';width: 6px;height: 6px;position: absolute;top: 13px;left: 17px;background: #f99d2f;border-radius: 50px;}
#main_nav ul li.active ul li ul {}
#main_nav ul li.active ul li ul li a{padding-left: 60px;} 
#main_nav ul li.active ul li ul li:before { content: '';width: 0;height: 0;border-bottom: 4px solid transparent;border-top: 4px solid transparent;border-left: 4px solid rgb(249, 157, 47);position: absolute;top: 10px;left: 46px;background: transparent;}
.logo_container{padding:7px 0;}
#header_top {background: #000;}
.feature_box_inner:before{display:none;}
#main_nav li.active ul li ul {display: block;}
}
