/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/*fonts font-family: 'Ubuntu', sans-serif; font-family: 'Cormorant Garamond', serif;*/

/*Reset CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
a { color: #707070; text-decoration: none !important; outline: none; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; }
a:hover { }
html { }
body { overflow-x: hidden; position: relative; background: #fff;color: #757575;font-weight: 400;font-size: 16px;line-height: 1.95;letter-spacing: 0;font-family: 'Poppins', sans-serif;}

/*Reset CSS end*/

/*global classes*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-word-break: keep-all; word-break: keep-all; -webkit-word-break: keep-all; -moz-word-break: keep-all; word-wrap: break-word; }
*, *:focus { outline: none; }
img { max-width: 100%; vertical-align: middle }
.wrapper { min-height: 100vh; }
.container { margin: 0 auto; width: 96%; }
.clear { clear: both }
.clear10 { clear: both; height: 10px }
.clear20 { clear: both; height: 20px }
.clumn { width: 198px; float: left }
.fl { float: left !important; }
.fr { float: right !important; }
.text-right { text-align: right !important }
.text-left { text-align: left !important }
.text-center { text-align: center !important }
.error { color: #F00; }
button { border: none; cursor: pointer; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1 { font-size: 24px; }
h2 { font-size: 48px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { font-size: 17px; line-height: 26px; margin-bottom: 2rem; }
p.small {margin-top: 1.5rem !important;font-size: 14px;line-height: 22px;font-weight: 400;margin-top: 15px !important;}
strong{font-weight:bold;}
.w-1050px { width: 1050px; margin: 0 auto }
.w-900px { width: 900px; margin: 0 auto }
.w-1100px { width: 1100px; margin: 0 auto }
.clearfix::after { display: block; content: ""; clear: both; }

.paddingTop30{padding-top:30px;}
.paddingBottom30{padding-bottom:30px;}

.paddingTop70{padding-top:70px;}
.paddingBottom70{padding-bottom:70px;}

.paddingTop100{padding-top:100px;}
.paddingBottom100{padding-bottom:100px;}

.marginTop0{padding-top:0}
.marginBottom0{margin-bottom:0}

.oh {overflow: hidden;}
.pr {position: relative;}	

/*Form*/
/*form tag*/
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea { width: 100%; padding: 15px 15px; border: 1px solid #ddd; margin: 0; outline: none; font-size: 16px; color: #a2a2a2 }
select { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); width: 100%; padding: 15px 10px; border: none; outline: none; cursor: pointer; color: #a2a2a2 }
textarea { height: 150px; resize: none; }
input[type="checkbox"], input[type="radio"] { display: inline-block; vertical-align: middle; margin: 0 5px 0 0; }
.input-checkbox input[type="checkbox"] { display: none }
.input-checkbox input[type="checkbox"] + label i { width: 18px; height: 18px; display: inline-block; background-image: url(../images/checkbox.png); vertical-align: middle; margin-top: -3px; border: #999999 1px solid }
.input-checkbox input[type="checkbox"]:checked + label i { background-position: 0 -18px }
.input-checkbox input[type="checkbox"] + label { color: #a2a2a2; font-size: 14px; padding: 0; cursor: pointer }
html [type="button"]{outline:none;}
/*Form Tag end*/

/*Common Buttons*/
input[type=button], input[type=submit], input[type=reset], a.box-btn, button.box-btn { display: inline-block; margin: 0 0px 0 0; background: #fff;border: 2px solid #e01f23; color: #e01f23; cursor: pointer; padding: 10px 30px; text-transform: uppercase;transition: all 700ms ease; -moz-transition: all 700ms ease; -webkit-transition: all 700ms ease; vertical-align: middle; text-decoration: none; text-align: center; outline: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; font-size: 18px;font-weight:700; min-width: 160px; border-radius: 0px; }
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, a.box-btn:hover, button.box-btn:hover, input[type=button].active, input[type=submit].active, input[type=reset].active, a.box-btn.active, button.box-btn.active { background: #e01f23;border: 2px solid #e01f23;color:#fff; }
input[type=button].secondary-btn, input[type=submit].secondary-btn, input[type=reset].secondary-btn, a.box-btn.secondary-btn, button.box-btn.secondary-btn { background-color: #33B7CC; color: #fff; }
input[type=button].secondary-btn:hover, input[type=submit].secondary-btn:hover, input[type=reset].secondary-btn:hover, a.box-btn.secondary-btn:hover, button.box-btn.secondary-btn:hover, input[type=button].secondary-btn.active, input[type=submit].secondary-btn.active, input[type=reset].secondary-btn.active, a.box-btn.secondary-btn.active, button.box-btn.secondary-btn.active { background-color: #53d7ec }
/*Common buttons end*/
.form-layout { }
.form-layout .form-row { }
.form-row .form-field { padding-bottom: 25px; }
.input-type-select { border: 1px solid #ddd; overflow: hidden; position: relative; }
.input-type-select:after { background: url("../images/custom-select.png") no-repeat scroll center center; content: ""; display: block; height: 100%; position: absolute; right: 0; top: 0; width: 41px; z-index: 99999; cursor: pointer; pointer-events: none; -ms-pointer-events: none; -webkit-pointer-events: none; content: ''; }
.animate-label .inputType { border: 0; background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)); background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2); background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2); background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2); -webkit-background-size: 0 2px, 100% 1px; background-size: 0 2px, 100% 1px; background-repeat: no-repeat; background-position: center bottom, center -webkit-calc(100% - 1px); background-position: center bottom, center calc(100% - 1px); background-color: rgba(0, 0, 0, 0); -webkit-transition: background 0s ease-out; -o-transition: background 0s ease-out; transition: background 0s ease-out; float: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; color: #53607c; padding-left: 0; font-size: 15px }
.animate-label label.active + .inputType { outline: 0; background-image: linear-gradient(#00bff3, #00bff3), linear-gradient(#d2d2d2, #d2d2d2) !important; -webkit-background-size: 100% 2px, 100% 1px; background-size: 100% 2px, 100% 1px; -webkit-box-shadow: none; box-shadow: none; -webkit-transition-duration: .3s; -o-transition-duration: .3s; transition-duration: .3s; }
.animate-label .input-group { position: relative; }
.animate-label .input-group label { position: absolute; color: #53607c; font-size: 16px; left: 0; top: 16px; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; z-index: 1; background: #fff }
.animated-form2 .animate-label .input-group label { font-weight: 300; left: 20px; top: 15px; }
.animated-form2 .animate-label .input-group label.active { left: 15px; top: -7px; font-size: 12px;color: #e01f23; }

/*form end*/
/*hack for mozzila */
@-moz-document url-prefix() {
}
/*Global Classes End*/

/*List*/
ul.list { }
ul.list li { padding: 5px 0 5px 7px; }
ul.list.bullet { margin-left: 0 }
ul.list.bullet li { background: url("../images/bullet.png") no-repeat scroll left center rgba(0, 0, 0, 0); padding: 5px 0 5px 18px; }
ul.list.arrow li { background: url("../images/arrow.png") no-repeat scroll left 0 rgba(0, 0, 0, 0); padding: 5px 0 5px 35px; }
ul.list.number li { list-style-type: decimal; }
ul.list.lower-roman li { list-style-type: lower-roman; }
ul.list.upper-roman li { list-style-type: upper-roman; }
/*list end*/

/*overlay */
.overlay-bg { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); height: 100%; left: 0; margin: 0 auto; position: fixed; top: 0; width: 100%; z-index: 100000; }
.overlay { height: 100%; left: 0; margin: 0 auto; position: fixed; top: 0; width: 100%; z-index: 100001; visibility: hidden }
.overlay-box { display: table; height: inherit; margin: 0 auto; width: 650px; }
.overlay-box .content { display: table-cell; vertical-align: middle; height: auto }
.overlay-box .closeBtn { background: none repeat scroll 0 0 #0F7EC9; border-radius: 50%; color: #fff; cursor: pointer; font: bold 17px/25px Arial, Helvetica, sans-serif; height: 25px; padding: 0; position: absolute; right: 10px; text-align: center; top: 20px; width: 25px; z-index: 1002; }
.overlay-box .overlay-header { background: none repeat scroll 0 0 #fff; padding: 15px 20px; position: relative; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); border-top-left-radius: 15px; border-top-right-radius: 15px; }
.overlay-box .overlay-header h2 { color: #ff7954; font-size: 24px; }
.overlay-box .overlay-content { padding: 30px 20px 20px 20px; background: none repeat scroll 0 0 #fff; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
.overlay-box .overlay-footer { padding: 9px 10px; background: #e3e3e3; text-align: right; }
/*overlay end*/
/*tab Layout Css*/
.tabCnt { position: relative }
.tabNav { position: absolute; z-index: 2; right: 60px; top: 50%; transform: translate(0, -50%) }
.tabNav ul li { cursor: pointer; font-size: 13px; font-weight: 800; list-style: outside none none; text-align: center; }
.tabNav ul li a { color: #cdcdcd; padding: 15px 9px; display: block; font-size: 25px; }
.tabNav ul li a:hover { color: #ff7954; text-decoration: underline }
.tabNav ul li a.active { color: #ff7954; text-decoration: underline }
.tabNav ul li:last-child { background-image: none; }
.tabNav ul li a { }
.tabResult { padding: 55px 110px 55px 80px; border: #dbdde3 solid 1px; position: relative; z-index: 1; overflow: hidden; background: #f2f4f8; min-height: 565px; }
.tabResult:before { content: ''; background: url(../images/usp-before.png) center 0 no-repeat; position: absolute; left: 0; top: 0; width: 100%; height: 185px; z-index: -1 }
.tabResult:after { content: ''; background: url(../images/usp-after.png) center 0 no-repeat; position: absolute; left: 0; bottom: 0; width: 100%; height: 128px; z-index: -1 }
.tabResult .tabBx { display: none; }
.tabResult .tabBx.current { display: block; }
.tabResult .tabBx .mobile-menu { display: none }
.tabNav ul:after { display: block; content: ''; float: none; clear: both }
.tabResult h2 { font-size: 35px; font-weight: 800; color: #ff7954 }
.tabResult ul.list.arrow li { font-size: 18px; font-weight: 800; color: #53607c; padding: 0 0 0 35px; background-position: left 9px; margin-bottom: 22px; }
/*loader*/
.loader { background:#fff url(../images/preloader.gif) center center no-repeat; font-weight: 600; font-size: 20px; font-style: italic; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 99999; background-size:200px auto }
/*loader end*/


/*accordion css*/
.accordion { }
.accordion dl { border: 1px solid #d0d0d0; border-radius: 0; margin-bottom: 20px; box-shadow: 3px 3px #c0c0c0; }
.accordion dl dt { background: none repeat scroll 0 0 #E8E8E8; color: #212121; cursor: pointer; padding: 8px 1%; position: relative; }
.accordion dl.active dt { border-bottom: 1px solid #d0d0d0; }
.accordion dl dt:after { background: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 3px; content: "\f103"; font: 24px/30px FontAwesome; height: 30px; margin: 6px 1%; position: absolute; right: 0; text-align: center; top: 0; width: 30px; color: #2c6a90; }
.accordion dl.active dt:after { content: "\f102" }
.accordion dl dd { display: none; padding: 10px 1%; }
/*accordion css end*/

::-webkit-input-placeholder {
 opacity:1;
}
::-moz-placeholder {
 opacity:1;
}
:-ms-input-placeholder {
 opacity:1;
}
input:-moz-placeholder {
 opacity:1;
}
.dis-table { display: table; width: 100%; height: 100%; }
.dis-tablecell { display: table-cell; vertical-align: middle; height: 100%; width: 100%; }
.addSpacing { padding-top: 92px; }
.spacing { padding: 50px 0 }
/*Header*/
.header-area { position: absolute; left: 0; top: 0; width: 100%; top: 0; left: 0; width: 100%; transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; z-index: 999;background: #f7f7f7;}
.header-lower {box-shadow: 0 0 7px 2px rgba(0,0,0,0.25);}
.header-lawer-content .logo { text-align: center; padding: 0px  0; width:103px; }
.header-lawer-content .logo a { display: inline-block; }
.main-menu { position: relative; }
.main-menu .navigation { margin: 0; position: relative; text-align: center }
.main-menu .navigation li { margin-left: 20px; position: relative; display: inline-block; vertical-align:middle }
.main-menu .navigation li .menuIcons{margin-left: 0px;}
.main-menu .navigation li:first-child { margin-left: 0px; }
.main-menu .navigation li::before { }
.main-menu .navigation li:last-child:before { display: none; }
.main-menu .navigation li a { text-decoration: none; position: relative; color: #404041; display: block; font-size: 15px; line-height: 16px; text-transform: uppercase; opacity: 1; padding: 25px 0px 25px 0; transition: all 300ms ease; }
.main-menu .navigation li a i{margin-left: 5px;}
.main-menu .navigation li .menuIcons a { font-size: 20px; display: inline-block; vertical-align: middle; margin: 0 5px }
.main-menu .navigation li .menuIcons a:first-child { margin-left: 0 }
.main-menu .navigation li .menuIcons a:last-child { margin-right: 0 }
.main-menu .navigation li .menuIcons a:hover { color: #e01f23; }
.main-menu .navigation > li > ul > li { float: none; margin: 0; padding: 0; position: relative; width: 100%; display: block; }
.main-menu .navigation > li > ul li::before { display: none; }
.main-menu .navigation li ul li a { color: #353535; display: block; font-size: 15px; line-height: 15px; padding: 15px 10px 15px 10px !important; position: relative; text-transform: capitalize; transition: all 500ms ease 0s; }
/*.main-menu .navigation li ul li a:before { position: absolute; right: 15px; top: 0; bottom: 0; content: "\f105"; font-family: FontAwesome; font-size: 16px; color: #ffffff; display: block; transition: all 300ms ease; opacity: 1; margin: 15px 0; }*/
.main-menu .navigation li ul li a:after { display: none; }
.main-menu .navigation > li > ul > li:hover > a { color: #fff; background-color: #e01f23; }
.mainmenu-middle { margin-left: 35px; }
.main-menu .navigation li a .flaticon-globe { font-weight: 400; vertical-align: middle }
.mainmenu-middle ul { }
.mainmenu-middle ul li { display: inline-block; float: left; margin-right: 10px; border-right: 1px solid #e4e4e4; padding-right: 10px; }
.mainmenu-middle ul li:last-child { margin-right: 0px; border-right: 0px solid #e4e4e4; padding-right: 0px; }
.header-lower-left { float: left }
.header-lower-right { float: right; margin-top: 20px; }
.header-lower-left .dsirLogo{float:left; width:27px; margin-left:40px; margin-top:40px;}
.header-lower-left .logo{float:left}
.dsirLogo img{max-width:100%;}
.fixed-header .header-lower-left .dsirLogo{margin-top: 11px;}
/*Header End*/

/* Update header Style */
@keyframes menu_sticky { 0% {
margin-top:-100px;
}
 50% {
margin-top: -74px;
}
 100% {
margin-top: 0;
}
}
.fixed-header .header-lower { position: fixed; opacity: 0; visibility: hidden; left: 0px; top: 0px; width: 100%; padding: 0px 0px; background: #fff; z-index: 0; box-shadow: 0 0 7px 2px rgba(0,0,0,0.25); transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; }
.fixed-header .header-lower .logo { padding: 0px 0px; width: 70px; }
.fixed-header .header-lower .logo a { display: inline-block; }
.fixed-header .header-lower { z-index: 999; opacity: 1; visibility: visible; animation-name: menu_sticky; animation-duration: 0.60s; animation-timing-function: ease-out; -webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }
.fixed-header.header-area .header-lower { min-height: auto }
.fixed-header.header-area .header-lower-right { margin-top: 0px }

.mainbody{min-height:47vh;padding-top:103px;}
/*** 
====================================================================
	Main Slider style
====================================================================
***/
 h3 {font-size: 27px;line-height: 35px;font-weight: 600;text-transform: uppercase;color: #000;margin-bottom: 10px;}
/*Home Page*/
.mainslidercntr .animated {-webkit-animation-duration : 3s  ;animation-duration : 3s  ;-webkit-animation-delay : 500ms  ;animation-delay : 500ms  ;}
.mainslidercntr .animate-out {-webkit-animation-delay : 0ms  ;animation-delay : 0ms  ;}
.mainslidercntr .owl-item {display: table;}
.bannerwrapper{display: flex;}
.bannerwrapperimage{width:50%;}
.bannerwrappertxt{width:45%;text-align:left;margin-left: 5%;align-self: center;}
.mainslidercntr .owl-carousel .item {height: 75vh;background-color: #000;display: table-cell;vertical-align: middle;text-align: center;}
.bannerwrappertxt h2{font-size: 42px;line-height: 56px;color: #000;font-weight: 600;align-self: center;}
.bannerwrappertxt p {font-size: 18px;line-height: 27px;font-weight: 400; color: #333333;}
.bannerwrappertxt p a{}
.bannerwrappertxt p a.btn {display: inline-block;text-align: center;width: auto;background-color: #e01f23;color: #fff;padding: 13px 35px 11px;font-size: 17px;line-height: 17px;font-weight: 500;border-radius: 0;outline: none;}
.bannerbg{background-repeat: no-repeat;background-image: url(../images/home-banner/banner-bg.jpg);background-size: cover;background-position: center center;width: 100%;}
.product-banner-1{background-repeat: no-repeat;background-image: url(../images/home-banner/banner1.jpg);background-size: cover;background-position: center center;width: 100%;}
.product-banner-2{background-repeat: no-repeat;background-image: url(../images/home-banner/banner2.jpg);background-size: cover;background-position: center center;width: 100%;}
.product-banner-3{background-repeat: no-repeat;background-image: url(../images/home-banner/banner1.jpg);background-size: cover;background-position: center center;width: 100%;}

.owl-carousel .owl-item .bannerwrapperimage img {width: auto;margin: 0 auto;float: right;position: absolute;bottom: 0;right: 0;height: 65vh;}
.owl-carousel .owl-item .bannerwrapperimage {margin-top: 0px;height: 75vh;position:relative;}
.fa-cart-plus{position: relative;}
.fa-cart-plus .cart-count {font-size: 12px;min-width: 17px;padding: 0 3px;height: 17px;text-align: center;line-height: 17px;border-radius: 50%;right: -8px;top: -8px;background-color: #e01f23;color: #FFF;}
/*Home Page*/
ul.bannerli {width: 100%;display: grid;}
ul.bannerli li {background: #f3f5f7;margin-bottom: 20px;font-size: 22px;font-weight: 500;color: #000;}
.owl-carousel .owl-item ul.bannerli li img{width:75px;float:left;}
.owl-carousel .owl-item ul.bannerli li p{padding: 28px;float: left;margin: 0;padding-right: 0;padding-left: 20px;font-weight: bold;}
/* collections box start*/
.collections-box #collections-slider .item img{display: block;width: 100%;height: auto;}
.collections-box .item .secondary-image {-webkit-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);-moz-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0,0,0.44,1.18);}
.collections-box .secondary-image {position: absolute;max-width: 100%;height: 100%;}
.collections-box .item .secondary-image {top: 0;left: 0;right: 0;opacity: 0;}
.collections-box .item:hover .secondary-image {opacity: 1;-webkit-transform: scale(1.09);-moz-transform: scale(1.09);-o-transform: scale(1.09);-ms-transform: scale(1.09);transform: scale(1.09);}
.collections-box .item:hover .product-box{-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;}
.collections-box .product-box {position: relative;padding: 7px 7px 7px 7px;margin: -7px;}
.collections-box .owl-theme .owl-nav {margin-top: 30px;}
.collections-box .item-wrap .item{margin-bottom: 0px;}

.collections-box .owl-carousel .owl-stage-outer{padding: 20px 20px 30px 20px;margin: -20px -20px -30px -20px;}
.collections-box .product-box .product-info .woocommerce-loop-product__link {font-size: 15px;line-height: 25px;letter-spacing: 0.5px;}
.collections-box .product-box .product-info .woocommerce-loop-product__link {color: #000;}
.collections-box .product-box .product-info .product-cat a {font-size: 15px;-webkit-filter: brightness(85%);filter: brightness(85%);}
.collections-box .product-box .product-info {padding-top: 15px;text-align: center;}
.collections-box .product-box .product-info .title-product {font-size: 18px;color: #21426E;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;font-weight: bold;}
.collections-box .product-box .product-info .product-cat {font-size: 13px;font-weight: 300;line-height: 1.4;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.collections-box .owl-carousel .price-box {min-height: 33px;}
.collections-box .product-box .product-info .price {font-weight: 300;font-size: 17px;color: #e01f23;}

.collections-box .product-box .product-thumb{position:relative}
.collections-box .product-box .product-thumb i.fa-heart{position:absolute;right:10px;top:10px;z-index: 99;font-size:24px;cursor: pointer;color: #707070;}
.collections-box .product-box .product-thumb i.fa-heart:hover{font-weight: 900;color: #e01f23;}

.owl-theme .owl-nav [class*=owl-] {opacity: 1;-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
.next-prev-arrow .owl-theme .owl-nav .owl-next{ font-size: 0;padding: 20px;}
.next-prev-arrow .owl-theme .owl-nav .owl-prev{ font-size: 0;padding: 20px;}
.next-prev-arrow .owl-theme .owl-nav .owl-next:before,
.next-prev-arrow .owl-theme .owl-nav .owl-prev:before {content: '';display: block;border-top: 1px solid #000000;border-right: 1px solid #000000;height: 20px;width: 20px;position: relative;top: -10px;}
.next-prev-arrow .owl-theme .owl-nav .owl-next:before{transform: rotate(45deg);left: -15px;}
.next-prev-arrow .owl-theme .owl-nav .owl-prev:before{transform: rotate(225deg);left: -5px;}
.next-prev-arrow .owl-theme .owl-nav .owl-next:hover:before,
.outarrow .owl-theme .owl-nav .owl-prev:hover:before{border-top: 1px solid #e01f23;border-right: 1px solid #e01f23;}
.next-prev-arrow .owl-theme .owl-nav .owl-next:hover,
.next-prev-arrow .owl-theme .owl-nav .owl-prev:hover{box-shadow: 0px 0px 15px 0px rgba(14, 14, 14, 0.15);border-radius: 50%;}

.inarrow .owl-theme .owl-nav .owl-prev {left: 30px;}
.inarrow .owl-theme .owl-nav .owl-next {right: 30px;}

.projectssliderarrow .owl-theme .owl-nav .owl-prev {left: 140px;}
.projectssliderarrow .owl-theme .owl-nav .owl-next {right:140px;}


/* collections box end*/
.projectsslidercntr .item {opacity: 0.4;transition: .4s ease all;margin: 0 20px;transform: scale(.8);padding-bottom: 60px;}
.projectsslidercntr .active .item {opacity: 1;transform: scale(1);}
.projectsslidercntr .content {position: absolute;bottom: 10px;left: 50px;background: #ffffff;width: 480px;padding: 30px;box-shadow: 0px 3px 8px 1px rgba(212, 212, 212, 0.5);}
.projectsslidercntr .content p.lead{font-size: 20px;line-height: 1.4em;font-weight: 600;text-transform: uppercase;color: #000;margin-bottom: 30px;}
.projectsslidercntr .content a.btn {display: inline-block;text-align: center;width: auto;border: 1px solid #e01f23;background-color: #e01f23;color: #fff;padding: 13px 35px 11px;font-size: 17px;line-height: 17px;font-weight: 500;border-radius: 0;outline: none;}
.projectsslidercntr .content a.btn:hover{border: 1px solid #e01f23;background-color: #fff;color: #e01f23;}
#custom-furniture-slider .owl-item img {height: 100%;}

/*Expetise*/
.AboutBlock{position:relative; z-index:99; background: url(../images/About.jpg) 75% 0 no-repeat fixed; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover; background-size: cover;}
.AboutBox{ min-height:900px}
.AboutTextBx{width:600px; min-height:342px; background:rgba(255,255,255,0.95); padding:60px 45px; overflow:hidden}
.AboutTextBx h3{color: #e01f23;}
.AboutTextBx p{font-size: 14px;color: #000;font-weight:300;}
/*Expertise end*/







.jms-instagram .cols-3 .item {width: 33.333333%;}
.jms-instagram .item {float: left;padding: 5px;}
.jms-instagram .item a {display: block;overflow: hidden;position: relative;}
.jms-instagram .item a:before {content: "\f16d";font-family: "Font Awesome 5 Brands";font-size: 25px;position: absolute;left: 10px;right: 10px;top: 10px;bottom: 10px;display: -webkit-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;opacity: 0;z-index: 3;color: #fff;}
.jms-instagram .item a:after {content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.6);opacity: 0;}
.jms-instagram .item:hover a:before, .jms-instagram .item:hover a:after {opacity: 1;}
.img-responsive{display: block;max-width: 100%;height: auto;}
#footer-wrapper .container .footer-bottom{border-top: 2px solid #e9edf0;}
#footer-wrapper .footer-bottom .footer-block.widget-bottom ul li {display: inline-block;margin-left: 15px;}
.footer-block a{color: #e01f23;}
.footer-block .social-network a{color: #888;}
.footer-block .social-network a:hover{color: #e01f23;}
footer a{color: #888;}
footer a:hover{text-decoration:underline !important;color: #e01f23;}
.footer h3{font-size: 20px;line-height: 1.4em;font-weight: 600;text-transform: uppercase;color: #000;margin-bottom: 30px;}
.social-network li {float: left;margin-right:10px;}
.footer-block{margin-bottom:10px;}
.footer-block a{font-size:15px;}

.footer{background:#f9f9f9; padding:40px 0}
.footrInfo p{margin:0px 0 40px 0}
.footer-logo{margin-bottom:40px; width:200px;}
.contactBlock dl dt{text-transform:uppercase; color:#e01f23; font-size:18px; padding-bottom:21px; font-weight:100}
.footerContnt p{font-size:14px; line-height:20px; margin-bottom:1.5rem;}
.footerContnt p a{color:#404040}
.footerContnt p a:hover{color:#e01f23;}

.mobile-nav-icon { display: none; float: right; }
.mobileDropDown { display: none; position: absolute; right: -30px; top: 14px; font-size: 15px; color: #fff; width: 35px; text-align: center; }
.scrollTop { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; text-align: center; z-index: 100; display: none; background: #e01f23; border-radius: 50%; }
.scrollTop a { display: block; color: #fff; line-height: 40px; font-size: 20px; }
.scrollTop a:before { font: 20px/40px 'Font Awesome 5 Free'; font-family: "Font Awesome 5 Free"; }

.deskview{display:block !important}
.mobview{display:none !important}
/*Media Queries*/
@media(min-width:769px) {/*For Desktop Only*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
}
@media screen and (min-width: 1601px) and (min-width:1920px) {
.mainbody{min-height:63vh;}
.mainslidercntr .owl-carousel .item {height: 65vh;}
.owl-carousel .owl-item .bannerwrapperimage {height: 65vh;}
.owl-carousel .owl-item .bannerwrapperimage img{height: auto;}
/*
.bannerwrappertxt{width:40%;}
.owl-carousel .owl-item .bannerwrapperimage img{width: 100%;margin: 0 auto;float: right;}
.owl-carousel .owl-item .bannerwrapperimage {margin-top: 70px;}
*/

}
@media(min-width:1600px) {
}
@media screen and (min-width: 1367px) and (max-width:1600px) {
/*.bannerwrappertxt {width: 50%;}
.owl-carousel .owl-item .bannerwrapperimage {margin-top: 85px;}*/
	
}
@media(min-width:1601px) {
.container { max-width: 1200px; }
}
@media screen and (min-width: 1200px) and (max-width:1600px) {
.container { max-width: 1200px; }
}
@media screen and (min-width: 0) and (max-width:1199px) {
/*overlay*/
.overlay-box { width: 96%; min-width: 0 }
/*overlay end*/

.header-lawer-content .logo { width: 75px; }
.header-lower-left .dsirLogo { margin-top: 25px; margin-left: 20px; }
.main-menu .navigation li { margin-left: 15px; }
.container { padding-left: 0; padding-right: 0 }
.fixed-header.header-area .header-lower-right { margin-top: 8px; }
}
@media screen and (min-width: 0) and (max-width:1024px) {/*For ipad and tab*/
}
@media(min-width:980px) {
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a { color: #e01f23; opacity: 1; }
.main-menu .navigation li a:after { position: absolute; left: 0px; top: 45px; content: ""; display: block; background: #e01f23; width: 100%; height: 1px; transition: all 300ms ease; text-align: center; opacity: 0; }
.main-menu .navigation li:hover > a:after, .main-menu .navigation li.current > a:after, .main-menu .navigation li.current-menu-item > a:after { opacity: 1; }
.main-menu .navigation > li:hover > a { color: #e01f23 }
.main-menu .navigation > li > ul { position: absolute; text-align: left; left: 0px; top: 110%; width: 200px; background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0; z-index: 100; visibility: hidden; opacity: 0; transition: all 500ms ease; -moz-box-shadow: -1px -2px 4px #e8e8e8; -webkit-box-shadow: -1px -2px 4px #e8e8e8; box-shadow: 0px -2px 5px #e8e8e8; display: block; padding: 10px 10px 10px; }
.main-menu .navigation > li:hover > ul { top: 80%; opacity: 1; visibility: visible; }
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a { color: #e01f23; opacity: 1; }
.main-menu .navigation li a:after { position: absolute; left: 0px; top: 40px; content: ""; display: block; background: #e01f23; width: 100%; height: 1px; transition: all 300ms ease; text-align: center; opacity: 0; }
/*.main-menu .navigation li:hover > a:after, .main-menu .navigation li.current > a:after, .main-menu .navigation li.current-menu-item > a:after { opacity: 1; }*/
.main-menu .navigation > li:hover > a { color: #e01f23 }
.main-menu .navigation > li > ul { position: absolute; text-align: left; left: 0px; top: 110%; width: 250px; background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0; z-index: 100; visibility: hidden; opacity: 0; transition: all 500ms ease; -moz-box-shadow: -1px -2px 4px #e8e8e8; -webkit-box-shadow: -1px -2px 4px #e8e8e8; box-shadow: 0px -2px 5px #e8e8e8; display: block; padding: 0px; }
.main-menu .navigation > li:hover > ul { top: 100%; visibility: visible; opacity: 1 }
}
@media screen and (min-width: 0) and (max-width:980px) {/*For small tabs*/
/*form*/
.form-row .form-field { margin: 0; }
/*form end*/
body, html { overflow-x: hidden }
.mobile-nav-icon { display: block; padding-top: 25px }
.menu-icon { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 31px; height: 31px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; -webkit-transition: background 0.3s; transition: background 0.3s; }
.menu-icon:focus { outline: none; }
.menu-icon span { display: block; position: absolute; top: 13px; left: 0px; right: 0px; height: 3px; background: #000; z-index: 99 }
.menu-icon span::before, .menu-icon span::after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #000; content: ""; }
.menu-icon span::before { top: -8px; }
.menu-icon span::after { bottom: -8px; }
.mobil-icon-toggle { background-color: transparent; }
.mobil-icon-toggle span { -webkit-transition: background 0s 0.3s; transition: background 0s 0.3s; }
.mobil-icon-toggle span::before, .mobil-icon-toggle span::after { -webkit-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }
.mobil-icon-toggle span::before { -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.mobil-icon-toggle span::after { -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
/* active state, i.e. menu open */

.mobil-icon-toggle.active { background-color: transparent; }
.mobil-icon-toggle.active span { background: none; }
.mobil-icon-toggle.active span::before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.mobil-icon-toggle.active span::after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.mobil-icon-toggle.active span::before, .mobil-icon-toggle.active span::after { -webkit-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; background: #e01f23 !important; }
.menulinks ul li a::before { display: none !important }
.mobileNav { position: fixed; right: -100%; top: 55px; height: calc(100% - 55px); background: #fff; width: 100%; overflow-y: scroll; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.25) }
/*tab Layout Css*/
.tabNav { display: none }
.tabResult { padding: 0px 0; border: none; }
.tabResult .tabBx { display: block !important; border: 1px solid #ccc; margin-bottom: 25px; }
.tabResult .tabBx .content { display: none; padding: 10px 3%; }
.tabResult .tabBx .mobile-menu { display: block; font-size: 16px; color: #fff; display: none }
.tabResult .tabBx .mobile-menu a { display: block; font-size: 35px; font-weight: 800; padding-left: 10px; padding-right: 10px; color: #ff7954; }
.tabResult .tabBx .content { padding: 30px 10px 10px 25px; display: block }
.tabResult .tabBx:last-child { margin-bottom: 0 }
.main-menu .navigation li { display: block; margin-left: 0 }
.main-menu .navigation { text-align: left }
.main-menu .navigation li a { padding: 15px;padding-right: 40px;font-size: 13px;}
.main-menu .navigation > li > a { border-bottom: rgba(0,0,0,0.2) solid 1px }
.header-lower-right { float: none !important; clear: both; position: fixed; right: 0; top: 70px; height: calc(100% - 70px); overflow-y: auto; background: #fff; width: 50%; right: -100%; box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2); margin-right: 0; }
.header-lower-right.menubaropen { right: 0;}
.header-lower-right {width: 80%;top: 74px;margin-top: 0 !important;}
.main-menu .navigation li a i {display: none;}
.mobileDropDown {color: #e01f23;right: 0px;font-size: 20px;line-height: 24px;top: 0px;cursor: pointer; display: block;padding: 11px;width: auto;border-left: 1px solid rgba(0,0,0,0.2);}
.main-menu .navigation > li > ul { display: none }
.main-menu .navigation > li > ul.rightMenu.openSubMob {padding: 0;width: 100%;display: block;}
.main-menu .navigation > li > ul > li > a { border-bottom: rgba(0,0,0,0.2) solid 1px;font-size: 13px; line-height: 16px; text-transform: uppercase; padding: 10px 10px 10px 30px !important;position:relative; }
.main-menu .navigation > li > ul > li > a:before {content: '';display: block;border-top: 1px solid #e01f23;border-right: 1px solid #e01f23;height: 6px;width: 6px;transform: rotate(45deg);position: absolute;top: 14px;left: 15px;}
.header-lawer-content .logo { padding: 0px 0 }
.header-lower-left .dsirLogo { margin-top: 17px }
.projectsslidercntr .item {margin: 1px;box-shadow: 0px 3px 8px 1px rgba(212, 212, 212, 0.5);padding-bottom: 0;}
.projectsslidercntr .content p.lead {margin-bottom: 10px;}
.projectsslidercntr .content {box-shadow:none; }

.mainbody {min-height: 47vh;padding-top: 73px;}
.mainslidercntr .owl-carousel .item{padding-top:40px;padding-bottom: 0;height: auto;background-color: #e4e7ec;background-image: none;}
.bannerwrapper {display: block;}
.bannerbg {background-repeat: no-repeat;background-image: url(../images/home-banner/banner-bg.jpg);background-size: cover;background-position: center center;width: 100%;}
.bannerwrapperimage {width: 100%;margin: 0 auto;}
.owl-carousel .owl-item .bannerwrapperimage img {width: 80%;margin: 0 auto;float: none;position: unset;height: auto;}
.owl-carousel .owl-item .product-image1 .bannerwrapperimage img {width: 90%;margin-top: -35px;}

.owl-carousel .owl-item .bannerwrapperimage {margin-top: 0px;height: auto;}
.bannerwrappertxt {width: 100%;text-align: left;min-height: 255px;}
.projectsslidercntr .content {position: relative;left: 0px;width: 100%;padding: 10px;}
.bannerwrappertxt h4 {font-size: 42px;line-height: 52px;margin-bottom: 20px;}
.main-menu .navigation li .menuIcons {margin-left: 0px;}
.owl-carousel .owl-item ul.bannerli li img {width: 50px;}
.owl-carousel .owl-item ul.bannerli li p {padding: 15px;padding-left: 15px;font-size: 14px;}
.bannerwrappertxt p {font-size: 16px;line-height: 22px;}
.bannerwrappertxt p:last-child{margin-bottom:0px;}
#project-slider .owl-item{margin:0px !important;}
.projectssliderarrow .container + .col-md-12 {width: 96%;padding: 0 !important;margin: 0 auto;}
.collectionsslidercntr .owl-carousel{display:block;}
.collectionsslidercntr .item-wrap{width: 48%;float: left;margin-right: 10px;margin-bottom:30px;border: 1px solid #f7f5f6;}
.collectionsslidercntr .item-wrap:nth-child(2n){margin-right:0px;}
.collections-box .product-box .product-thumb img{width: 100%;height: 100%;}
.collections-box .product-box .product-info {padding: 10px;}
.collectionsslidercntr .col-md-9{padding-left:0px;}
.collections-box .product-box .product-info .title-product {font-size: 15px;line-height: 20px;white-space: unset;margin-bottom: 5px;}
.collections-box .product-box .product-info{min-height:87px;}
.collections-box .owl-carousel .price-box {min-height: 15px;line-height: 15px;}
.collections-box .product-box .product-info .price { font-size: 13px;}
#collections-slider .product-box .product-info{min-height: auto;}


.AboutTextBx {width: 100%;min-height: 100%;padding: 0px;}
.AboutBlock {background: none;}
.AboutBox {min-height: auto;}
.AboutTextBx h3{margin-top:10px;}

.mainslidercntr .mainbannerslider .owl-controls .owl-dots {margin-top: -40px;position: relative;}
.mainslidercntr .mainbannerslider .owl-controls .owl-dots .owl-dot {background: transparent;}



.paddingBottom70 {padding-bottom: 40px;}
p {font-size: 15px;line-height: 22px;margin-bottom: 2rem;}
.mobnone{display:none;}
.footer-block{text-align:center;font-size: 14px;}
.footer-block a{display:block;}
.footer {padding: 0px 0;}
.social-network{text-align: center;display: inline-flex;}

.deskview{display:none !important}
.mobview{display:block !important}
}
@media screen and (min-width: 0) and (max-width:767px) {
.md-pt0{padding-top:0px !important;}
.md-pb0{padding-bottom:0px !important;}
.md-pr0{padding-right:0px !important;}
.md-pl0{padding-left:0px !important;}

.md-mt0{margin-top:0px !important;}
.md-mb0{margin-bottom:0px !important;}
.md-mr0{margin-right:0px !important;}
.md-ml0{margin-left:0px !important;}

}
@media screen and (min-width: 0) and (max-width:480px) {
}
@media screen and (min-width: 0) and (max-width:480px) {
}
@media screen and (min-width: 0) and (max-width:330px) {

}
