
/*Reset CSS2*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font-family:Bookman Old Style;vertical-align:bottom;color:#241D1D}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
/*ol, ul {list-style:none}*/
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
/*table {border-collapse:collapse}*/
a{color:#757f8c;text-decoration:none;outline:none;transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease;}
.actionBtn .btn input[type="button"],.btn input[type="submit"],.leftNav dl dt,.leftNav dl dt span,.leftNav dl dt span{transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease;}
body {line-height:1;font:12px Arial, Bookman Old Style, sans-serif;color:#757f8c;background:url(../images/body-bg.gif) repeat 0 0;top: 0 !important;}
/*global classes*/
select{color:#757f8c;}
.wraper{width:960px;margin:0 auto}
.clear{clear:both}
h1,h2,h3,h4,h5,h6{color:#2C6EB5;font:bold 12px Bookman Old Style,Arial,sans-serif;}
h1{font-size:20px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
/*Global Classes End*/

/*form in 1 clumn End*/

.headertop{background: #FFF; border-bottom:1px solid #2C6FB6; height:60px}
.header{background: #2c6eb5; border-bottom:1px solid #2C6FB6;height:10px}
.headertop .logoLeft{padding:12px;float:left;width:457px;}
.header .logoLeft img{width:150px}
.header .logoRight{float:right; width:380px}

.bodyCnt h1{/*border-bottom:1px solid #B5C0CB;*/padding:0 0 10px;}
.bodyCnt1 h1{border-bottom:1px solid #B5C0CB;padding:0 0 10px;}
.loginCnt{position:relative;padding:20px;width:340px;border:1px solid #B5C0CB;border-radius:5px;background:#fff;margin:0 auto;}
.loginCnt .formLayout{border:1px solid #d1d1d1;border-radius:3px;padding:0;margin:35px 0}
.loginCnt .formLayout input{display:block;width:96%;padding:0 2%;border:none;background:url(../images/username.png) no-repeat 10px center #fff; padding:13px 0 13px 38px;width: 299.5px;font:12px Arial, Helvetica, sans-serif;color:#666666;}
.loginCnt .formLayout input[type="text"], .loginCnt .formLayout input[type="password"]{border-bottom:1px solid #d1d1d1;}
.loginCnt .btn input[type="button"]{background-color:#ed2e62;font:bold 12px Bookman Old Style, Helvetica, sans-serif;text-transform:none;height:28px;width:90px;}

.btn{text-align:center;padding:0 0 0px}
.btn a,.btn input[type="button"],.btn input[type="submit"]{text-align:center;display:inline-block;font:bold 10px/25px Bookman Old Style, sans-serif;background:#a2a4a8;border-radius:4px;color:#fff;padding:0 7px;height:25px;}/*text-transform:uppercase;*/

.footer p{text-align:center;font:11px Arial, Bookman Old Style, sans-serif;color:#fff;padding:5px 5px}


.goog-te-combo {
    width: 140px;
}
select {
    border: 1px solid #c8c8c8;
    color: #2f3e5e;
    padding: 3px 40px 3px 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
    text-indent: 0.01px;
    text-overflow: "";
    overflow: hidden;
    background: url(../images/select.png) right center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    height: 23px;
}
.goog-te-combo{width:140px;}
.goog-te-gadget .goog-te-combo {
    margin: 18px 20px 0px 0px !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active{display:none;}
.goog-te-gadget {
    color: #fff !important;
}
div#goog-gt-tt {
    padding: 10px 14px;
    display: none !important;
}
.goog-te-banner-frame{visibility: hidden !important;}
