@charset "utf-8";
/* CSS Document */



@media screen and (min-width:1280px) {
}

 @media screen and (min-width:320px) and (max-width:1023px) {
.wrapper{position:relative; top:90px;}
.header header nav ul.menu { padding: 0px 0px;}

}
 @media screen and (min-width:1024px) and (max-width:1180px) {
	 .news-events-wrapper .container .news-articles {
    width: 100%;
    float: none;
}

.news-events-wrapper .container .upcoming-events {
    float: none;
    width: 440px;
    margin-top: 40px;
}

 }
 @media screen and (min-width:1024px) and (max-width:1219px) {
.header {	height:auto;}

.header header {
	width: 100%;
}


.quick-help .container {
	width: 100%;
     height: auto; 
}

.quick-help .container .quick-name {width: 100%;height:auto;float:none;}
.quick-help .container .quick-name h2 {margin:0;text-align:center;padding: 10px 0;}
.quick-help-list {float:none;width:1024px;margin:0 auto;}
.arrow-right-1 { border-top: 30px solid #e97818;border-left: 30px solid transparent; border-right: 30px solid transparent;border-bottom:none;float:none;margin: 0 auto;}
.footer footer {
	width: 100%;
}
.news-events-wrapper .container {
	width: 95%;
}

}

 @media screen and (min-width:720px) and (max-width:1023px) {
.header {
	width: 100%;
	z-index: 999;
	position: fixed;
}
.header header {
	width: 100%;
}
.header header .logo {
	float: none;
}
.header header .logo div.compy-name {
	float: left;
	padding: 12px 0px 12px 12px;
}
.header header nav {
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.header header nav ul.menu li {
	display: block;
}
.header header nav ul.menu li ul {
	position: relative;
	top: 5px;
}
.header header nav ul.menu li:hover ul {
	display: none;
}
.header header nav ul.menu li:hover ul li:hover {
	background-color: transparent;
}
.header header nav ul.menu li ul li a {
	font-size: 16px;
}
.header header nav ul.menu li:hover ul li:hover::before {
	content: url(../images/black-arrow.png);
}
.header header nav ul.menu li:hover ul li:hover a {
	color: #000;
	font-weight: 700
}
.mobile-icon {
	display: block;
	float: right;
	padding: 6.5px 0;
}
.mobile-icon a {
	width: 35px;
	height: 30px;
	background: url(../images/mobilemenu.png) center center no-repeat;
	display: block;
	padding: 5px 10px;
}
.mobile-icon a.activem {
	background-image: url(../images/mobilemenuh.png)
}
.menu-catgry-drop {
	position: absolute;
	top: 90px;
}
.navigation-left {
	left: -100%;
}
.menu-catLink {
	width: 215px;
}

/*-----*/	 
	 
section {
    display: flex;
}
.mid-banner-contant h3 {
    font-size: 18px;
	line-height: 22px;
}
.mid-banner-contant a {
    font-size: 16px;
}
.mid-banner-contant strong {
    font-size: 18px;
	line-height: 22px;
}
.mid-right-contant {
    min-height: 250px;
}
.mid-banner-contant {
    width: 85%;
}


.quick-help .container {
	width: 100%;
     height: auto; 
}

.quick-help .container .quick-name {width: 100%;height:auto;float:none;}
.quick-help .container .quick-name h2 {margin:0;text-align:center;padding: 10px 0;}
.quick-help-list {float:none;width:100%;margin:0 auto;}
.arrow-right-1 { border-top: 30px solid #e97818;border-left: 30px solid transparent; border-right: 30px solid transparent;border-bottom:none;float:none;margin: 0 auto;}
.quick-help-list .quick-list {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    padding: 20px;
}
.quick-help-list ul li {
    display: block;
    width: 50%;
    float: left;
}
.news-events-wrapper .container {
    width: 95%;
    margin: 0 auto;
}
.news-events-wrapper .container .news-articles {
    width: 100%;
    float: none;
}
.news-events-wrapper .container .upcoming-events {
    float: none;
    width: 440px;
    margin-top: 40px;
}
.people-speak .container {
    width: 95%;
    margin: 0px auto;
    padding-top: 95px;
    padding-bottom: 150px;
}
.testimonial-contant {
    width: 70%;
    float: left;
}
.testimonial ul li {
    padding-top: 40px;
    min-width: 685px;
}
.img-div h2 {
    font-size: 14px;
    line-height: 20px;
}
.img-div span {
    line-height: 12px;
    font-size: 10px;
}
.shadow .more-blogs {
    font-size: 24px;
    padding: 0px 33% 3% 33%;
}
}
 @media screen and (min-width:480px) and (max-width:719px) {
	 .news-events-wrapper .container .news-articles .articles-list .articles img {
    float: left;
	width:auto;
	}
	.news-events-wrapper .container .news-articles .articles-list .articles .articles-info {
		margin-left: 20px;
		width: 65%;
	}
	
	.quick-help-list ul li {
    display: inline-block !important;
	width: 45.5%;
	}
	.quick-list-text {
    font: 18px/25px 'Oxygen', sans-seri;
	}
	.shadow .more-blogs {
    font-size: 18px;
    padding: 0px 39% 20% 42% !important;
}
 }
 
@media screen and (min-width:320px) and (max-width:479px) {
	  
	  
.news-events-wrapper .container .news-articles .articles-list .articles img {
    float: none;
    margin-bottom: 20px;
	width: 50%;
}

.news-events-wrapper .container .news-articles .articles-list .articles .articles-info {
    float: left;
    margin-left: 0px;
    width: 100%;
	text-align: left;
}
.news-events-wrapper .container .news-articles .articles-list .articles {
    text-align: center;
}
.feedback-form .form-wrapper .form input[type="submit"] {
    width: 100%;
}
	
}
@media screen and (min-width:320px) and (max-width:639px) {
.feedback-form .form-wrapper .form input[type="text"] {
    width: 95%;
}
.feedback-form .form-wrapper .form input[placeholder="Email"] {
    margin-left: 0px; 
    margin-top: 20px;
}
.feedback-form .form-wrapper .form textarea {
    width: 95%;
	float:none;
}

.footer footer p span {display: block;margin-top: 10px;}  
.footer ul li .facebook {position: relative;bottom: 10px;top:auto;}
.footer ul li .twittter {position: relative;bottom: 10px;top:auto;}
.footer ul .social-icon{display:block ;}
}
@media screen and (min-width:640px) and (max-width:719px) {
	.feedback-form .form-wrapper {
    width: 600px !important;
}
.feedback-form .form-wrapper .form input[type="text"] {
    width: 275px;
}
.feedback-form .form-wrapper .form textarea {
    width: 585px;
	float:none;
}

  
}
  
 @media screen and (min-width:320px) and (max-width:719px) {
.header {
	width: 100%;
	z-index: 999;
	position: fixed;
}
.header header {
	width: 100%;
}
.header header .logo {
	float: none;
}
.header header .logo div.compy-name {
	float: left;
	padding: 12px 0px 12px 12px;
}
.header header nav {
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.header header nav ul.menu li {
	display: block;
}
.header header nav ul.menu li ul {
	position: relative;
	top: 5px;
}
.header header nav ul.menu li:hover ul {
	display: none;
}
.header header nav ul.menu li:hover ul li:hover {
	background-color: transparent;
}
.header header nav ul.menu li ul li a {
	font-size: 16px;
}
.header header nav ul.menu li:hover ul li:hover::before {
	content: url(../images/black-arrow.png);
}
.header header nav ul.menu li:hover ul li:hover a {
	color: #000;
	font-weight: 700
}
.mobile-icon {
	display: block;
	float: right;
	padding: 6.5px 0;
}
.mobile-icon a {
	width: 35px;
	height: 30px;
	background: url(../images/mobilemenu.png) center center no-repeat;
	display: block;
	padding: 5px 10px;
}
.mobile-icon a.activem {
	background-image: url(../images/mobilemenuh.png)
}
.menu-catgry-drop {
	position: absolute;
	top: 90px;
}
.navigation-left {
	left: -100%;
}
.menu-catLink {
	width: 215px;
}


/*-----------------*/
.mid-banner-img {
    width: 100%;
    float: right;
}

.mid-right-contant {
    width: 100%;
}
.mid-banner-contant {
    width: 95%;
    margin: 0 auto;
    float: none;
    padding-right: 0px;
    margin-top: 20%;
}

.news-events-wrapper .container {
    width: 95%;
    margin: 0 auto;
}
.news-events-wrapper .container .news-articles {
    width: 100%;
    float: none;
}
.news-events-wrapper .container .upcoming-events {
    float: none;
    width: 100%;
    margin-top: 40px;
}
.news-events-wrapper .container .upcoming-events ul .event-name {
    float: left;
    padding:20px;
    width: 43%;
}
.left-blog {
    float: none;
    width: 100%;
}
.right-blog {
    float: none;
    width: 100%;
}
.img-div h2 {
    position: absolute;
    bottom: 20px;
    color: #fff;
    z-index: 1;
    padding: 0 20px 0 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Oxygen', sans-serif;
}
.img-div span {
    display: block;
    line-height: 10px;
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}


.shadow .more-blogs {
    font-size: 18px;
    padding: 0px 33% 4% 33%;
}
.shadow .more-blogs img {
    margin-bottom: 8px;
    margin-left: 7px;
    width: 75%;
}

.quick-help .container {
	width: 100%;
     height: auto; 
}

.quick-help .container .quick-name {width: 100%;height:auto;float:none;}
.quick-help .container .quick-name h2 {margin:0;text-align:center;padding: 10px 0;}
.quick-help-list {float:none;width:100%;margin:0 auto;}
.arrow-right-1 { border-top: 30px solid #e97818;border-left: 30px solid transparent; border-right: 30px solid transparent;border-bottom:none;float:none;margin: 0 auto;}
.quick-help-list .quick-list {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    padding: 20px;
}
.quick-help-list ul li {
     display: block; 
}

.people-speak .container {
    width: 95%;
    margin: 0px auto;
    padding-top: 95px;
    padding-bottom: 150px;
}
.testimonial ul li {
    padding-top: 40px;
    min-width: 20%;
}	
.testimonial-contant {
    width: 95%;
    float: left;
}
.testimonial-contant p {
    margin-left: 0px;
	margin-top: 20px;
}
.testimonial-img {
     float: none; 
    width: 95%;
}
.testimonial-img img{margin:0 auto;}


/*feedback*/
.feedback-form .form-wrapper {
    width: 95%;
}
.feedback-form .form-wrapper h2
{
	    line-height: 35px;
}

.feedback-form .form-wrapper p {
    font-size: 22px;
}

.feedback-form .form-wrapper .form input[type="submit"] {
    height: 40px;
}
.footer footer {
    width: 95%;
}

}

/*---Firefox only---*/
@media screen and (-moz-images-in-menus:0) {
	
@media screen and (min-width:320px) and (max-width:639px) {
	
	.feedback-form .form-wrapper .form input[placeholder="Email"] {
    margin-left: 0px;
    margin-top: 20px;
}
	
}
 }