html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main_body {
  overflow-x: hidden;
}
.container {
  max-width: 1440px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}


h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #111827;
    line-height: 1.75rem;
    margin-bottom: .5rem;
  }
  
  h4 {
    color: #111827;
    font-size: 1.225rem;
    letter-spacing: -.025em;
    margin-bottom: 0.25rem;
    font-weight: 700;
  }
  
  h5 {
    font-weight: bold;
  }
  
  h6 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #111827;
    line-height: inherit;
  }
  
  p {
    font-size: 20px;
    font-weight: 500;
    color: #141029;
    opacity: 0.8;
  }
  img {
    vertical-align: middle;
    border-style: none;
}



.btn_primary {
  background-image: linear-gradient(90deg, #4a0e8f 0%, #b430a7 100%);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff !important;
  font-weight: 600;
  border: 0px;
}
div .btn_primary:hover{
    background-image: linear-gradient(90deg, #b430a7 0%, #4a0e8f 100%) !important;
    color: #ffff !important;
}

.btn_primary.btn_signIN {
  font-size: 12px;
  height: 40px;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: 0.5em;
}

.btn_primary.btn_readmore {
  background-image: linear-gradient(100deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0)) !important;
  background-color: #303337 !important;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  height: 40px;
}

.btn_learnmore {
  color: #0b8e90;
  font-weight: bold;
  padding-top: 2rem;
}

.btn_learnmore:hover {
  color: #0b8e90;
}

.btn_learnmore img {
  margin-left: .5rem;
}
.btn_primary.btn_pitchdeck {
    background-image: linear-gradient(107deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0));
    background-color: hsla(0,0%,100%,.34901960784313724)!important;
    color: #141029!important;
    background-color: #fff !important;
}
.btn_primary.btn_audit{
    background-image: linear-gradient(100deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0))!important;
    background-color: #303337!important;
}



.text-center {
    text-align: center!important;
}









.logocntr{width: 300px;margin-bottom: 30px;}

.banner-bg {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    position: relative;
    height: 100vh;
    
    background-size: cover;
    height: 100%;
    padding-bottom: 50px;
        overflow: hidden;
    overflow-y: auto;
}

.header_section {
    background-position: 50%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 0px;
}
.pRelative {
    position: relative;
    padding: 0 4%;
}
.header_section .header_section_left {
    padding-bottom: 30px;width: 100%;
}
.header_section_left, .header_section_right {
    z-index: 1;
}
.header_section .header_section_left h1 {
    padding-bottom: 20px;
}
.header_section .header_section_left .desc {
    max-width: 600px;
    opacity: 1;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.custom-btn {
    width: 100%!important;
}

.header_section .dapp_bar {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: #303337;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
}
.header_section .dapp_bar {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgb(0 0 0/15%)!important;
}
.dapp_bar p {
    margin: auto;
    font-size: 16px!important;
    padding-right: 20px;
}
.list-group.list-group-horizontal {
    flex-direction: row;
}

.header_section .dapp_bar .social_links .list-group-item {
    border-radius: 50px;
    padding: 0;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .75rem;border: none;
    background-color: #f5f7fa;
}

.header_section .dapp_bar .social_links .list-group-item:hover {
    background-color: #b430a7;
}

.header_section .dapp_bar .social_links .list-group-item i{font-size: 20px;color: #6e647d;}
.header_section .dapp_bar .social_links .list-group-item:hover i {color: #ffffff;}

.planet8_img {
    position: absolute;
    left: 48%;
    top: 100px;
}
.planet8_img {
    position: absolute;
    left: 48%;
    top: 100px;
    width: 300px;
    animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}


.shapes_img{
    width: 300px;
    position: absolute;
    top: 15%;
    right: -9%;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.banner-one__shape-5 {
	top: 15%;
	left: 6%;
	-webkit-animation-name: bubbleMover;
	animation-name: bubbleMover;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}

.banner-one__shape-6 {
	bottom: 29%;
	right: 50%;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.banner-one__shape-7 {
	bottom: 19%;
	right: 1%;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

[class*=banner-one__shape-] {
    position: absolute;
}



@keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes shapeMover {

	0%,
	100% {
		transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
	}

	50% {
		transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
	}
}


@keyframes bubbleMover {
	0% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
	}

	30% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}

	50% {
		-webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
		transform: translateY(50px) translateX(100px) rotate(45deg);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}

	80% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	100% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
}

@keyframes banner3Shake {
	0% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	60% {
		-webkit-transform: rotate3d(1, 0, 0, 0deg);
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}
}



.scan_img {
    width: 20px;
    margin-right: 10px;
}
.pRelativeSecond {
    display: flex;
    justify-content: right;
}

.header_section .header_section_right .header_presale_board {
    width: 383px;
    padding: 24px 11px;
    border-radius: 12px;
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 40%), -4px -4px 8px 0 rgb(224 224 255 / 4%), 0 1px 1px 0 rgb(9 13 20 / 40%);
    border: 1px solid rgba(245,247,250,.06);
    background-image: linear-gradient(145deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0));
}
.header_section .header_section_right .header_presale_board {
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 6%), -4px -4px 8px 0 hsl(0deg 0% 100% / 40%), 0 1px 1px 0 rgb(9 13 20 / 6%);
    background-image: linear-gradient(145deg,#fff,#fafbfc 52%,#f5f7fa);
}
.header_section_right .header_presale_board h5 {
    text-align: center;
}
.carousel-item.active {
    display: block;
}
.header_section_right .presale_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header_section_right .presale_info_rectangle {
    width: 174px;
    height: 60px;
    margin-top: 8px;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 40%), -4px -4px 8px 0 rgb(224 224 255 / 4%), 0 1px 1px 0 rgb(9 13 20 / 10%);
    border: 1px solid rgba(245,247,250,.06);
    background-image: linear-gradient(135deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0));
}
.presale_info {
    text-align: center;
    width: 100%;
}
.header_section_right .presale_info_rectangle {
    box-shadow: none;
    background-color: #f5f7fa;
}
.header_section_right .presale_info_rectangle.token_price {
    width: 100%!important;
    height: 70px!important;
}

.header_section_right .header_presale_board p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 3px;
}

.header_section_right .header_presale_board h5 {
    text-align: center;
    color: #141029;
    font-size: 18px;
}
.header_section_right .presale_info_rectangle h6 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.header_section_right .presale_info_rectangle.long_width0 {
    width: 100%!important;
    height: 64px!important;
}
.highlight.active {
    color: #b430a7;
}
.presale_tips .tips_item {
    display: flex;
}
.header_section_right .header_presale_board .presale_tips {
    display: flex;
    justify-content: space-between;
}

.header_section_right .header_presale_board .presale_tips span {
    color: #141029;
    font-size: 13px;
}


.RSPBprogressBar {
    border-radius: 4px;
    box-shadow: inset 8px 8px 40px 0 rgb(9 13 20 / 40%), inset -4px -4px 8px 0 rgb(224 224 255 / 4%), inset 0 1px 1px 0 rgb(9 13 20 / 40%);
    background-image: linear-gradient(180deg,#090d14,#282a2e 53%,#2d2f33);
}
.RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: hsla(0,0%,82.7%,.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.light-theme .RSPBprogressBar {
    box-shadow: inset 8px 8px 40px 0 rgb(9 13 20 / 6%), inset -4px -4px 8px 0 hsl(0deg 0% 100% / 40%), inset 0 1px 1px 0 rgb(9 13 20 / 6%);
    background-image: linear-gradient(180deg,#ebeff5,#f5f7fa 53%,#fff);
}
.RSPBprogressBar .RSPBstep {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition-property: all;
    transition-timing-function: ease;
}
.RSPBstep {
    -webkit-transform: none!important;
    transform: none!important;
}
.jvCTkj {
    width: 16px;
    height: 16px;
    margin: 0px 111px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.fqrzuJ div.presale_progress > div > div:nth-child(2) {
    left: 100% !important;
}
div.presale_progress>div>div:nth-child(3) {
    left: 95%!important;
}
.RSPBprogressBar .RSPBprogression {
    box-shadow: 0 8px 8px -4px rgba(69,121,245,.12),0 16px 24px 0 rgba(69,121,245,.24),0 2px 4px -1px rgba(27,10,82,.12),0 0 1px 0 rgba(69,121,245,.24)!important;
    background-image: linear-gradient(90deg, #4a0e8f 0%, #b430a7 100%)!important;
}
.RSPBprogressBar .RSPBprogression {
    position: absolute;
    transition: width .3s ease;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0,116,217,.8);
    z-index: -1;
}


.soft-cap2 {
    border: none;
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 6%), -4px -4px 8px 0 hsl(0deg 0% 100% / 40%), 0 1px 1px 0 rgb(9 13 20 / 6%), inset 0 -2px 1px 0 rgb(9 14 20 / 6%);
    background-image: linear-gradient(180deg,#fff,#fafbfc 52%,#f5f7fa);
}
.dJXsSm {
    width: 86px;
    height: 38px;
    padding: 10px 16px;
    backdrop-filter: blur(40px);
    box-shadow: rgb(9 13 20 / 40%) 8px 8px 24px 0px, rgb(224 224 255 / 4%) -4px -4px 8px 0px, rgb(9 13 20 / 40%) 0px 1px 1px 0px;
    border: 1px solid rgba(43, 43, 43, 0.5);
    background-image: linear-gradient(117deg, rgba(245, 247, 250, 0.12), rgba(43, 43, 43, 0.5) 52%, rgba(245, 247, 250, 0) 100%);
}
.dJXsSm {
    width: 86px;
    height: 38px;
    padding: 10px 16px;
    backdrop-filter: blur(40px);
    box-shadow: rgb(9 13 20 / 40%) 8px 8px 24px 0px, rgb(224 224 255 / 4%) -4px -4px 8px 0px, rgb(9 13 20 / 40%) 0px 1px 1px 0px;
    border: 1px solid rgba(43, 43, 43, 0.5);
    background-image: linear-gradient(117deg, rgba(245, 247, 250, 0.12), rgba(43, 43, 43, 0.5) 52%, rgba(245, 247, 250, 0) 100%);
}
.hard-cap,
.soft-cap2 {
    border: none;
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 6%), -4px -4px 8px 0 hsl(0deg 0% 100% / 40%), 0 1px 1px 0 rgb(9 13 20 / 6%), inset 0 -2px 1px 0 rgb(9 14 20 / 6%);
    background-image: linear-gradient(180deg,#fff,#fafbfc 52%,#f5f7fa);
}
.soft-cap2 {
    margin: 15px 185px 0 15px;
}
.dJXsSm::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 18%;
    margin-left: -13px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(71, 73, 77);
}


.d-caharp div {
    width: 60px;
}
.kksiKu {
    width: 54px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.4px;
    color: rgb(255, 255, 255);
}
.presale-text-cap {
    color: rgba(20,1,41,.6);
}

.hard-cap:after,
.soft-cap2:after, 
.soft-cap:after {
    border-color: transparent transparent #fff;
}
.hard-cap:after {
    left: 92%!important;
}
.hard-cap {
    margin: 15px 0;
}
.hard-cap div {
    width: 60px;
}

.banner-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(177, 47, 166, 0.5);
}



#countdown {display: flex;justify-content: center;margin-bottom: 30px;}
#countdown .counter {width: 80px;position: relative;font-size: 45px;text-transform: uppercase;text-align: center;line-height: 1;}
#countdown .counter span::before {content: attr(b);display: inline-block;text-shadow: 0 0 12px rgba(238,238,238,0.5), 0 0 32px rgba(238,238,238,0.3), 0 24px 48px rgba(238,238,238,0.1), 0 -24px 48px rgba(238,238,238,0.1);color: #b430a7;}
#countdown .counter span::before {-webkit-animation: pingEffect 0.4s 1 forwards;animation: pingEffect 0.4s 1 forwards;}
#countdown .counter span{
    border-radius: 12px;
    box-shadow: 8px 8px 24px 0 rgb(9 13 20 / 40%), -4px -4px 8px 0 rgb(158 158 165 / 4%), 0 1px 1px 0 rgb(9 13 20 / 40%);
    border: 1px solid rgba(245,247,250,.06);
    background-image: linear-gradient(135deg,rgba(245,247,250,.12),rgba(245,247,250,.06) 52%,rgba(245,247,250,0));
    text-align: center;
    font-size: 34px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#countdown .counter b {font-size: 14px;display: block;color: #b430a7;margin-top: 15px;}
  @-webkit-keyframes pingEffect {
    0% {
      transform: scale(0.92);
    }
    10% {
      opacity: 0.7;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pingEffect {
    0% {
      transform: scale(0.92);
    }
    10% {
      opacity: 0.7;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

@media (max-width: 768px) {
    .planet8_img,
    .shapes_img,
    .banner-one__shape-5,
    .banner-one__shape-6,
    .banner-one__shape-7{
        display: none;
    }
    .header_section .dapp_bar {
        flex-direction: column;
        margin: auto;
    }
    .header_section .dapp_bar .social_links .list-group-item {
        width: 35px;
        height: 35px;
    }
    .header_section .dapp_bar .social_links .list-group-item i {
        font-size: 18px;
    }
    .pRelativeSecond {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .header_section .header_section_right .header_presale_board {
        width: 100%;
    }
    .banner-bg {
        background-size: cover;
        height: 100%;
        padding-bottom: 30px;
    }
    .header_section_right .presale_info_rectangle {
        width: 48%;
    }
    .soft-cap2 {
        margin: 15px 44% 0 15px;
    }
    
.banner-bg:before {
    background-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(177, 47, 166, 0.5);
}
}



.Subscribeus {
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 30px;
  }
  
  .Subscribeus .content {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 470px;
    min-width: 200px;
    border-radius: 10px;
    text-align: center;
  }
  
  .Subscribeus .content h1 {
    font-size: 36px;
    margin-top: 0;
    color: #000;
    padding: 0;
  }
  .Subscribeus .content section {
    color: var(--p-color);
    font-size: 15px;
  }
  .Subscribeus .content footer input {
    border: unset;
    background-color: var(--input-background);
    padding: var(--padding-15);
    font-size: 13px;
    border-radius: var(--radius-50);
    width: 290px;
  }
  .Subscribeus .content footer button {
    background-color: var(--button-background);
    color: #fff;
    border: unset;
    width: 120px;
    border-radius: var(--radius-50);
    padding: var(--padding-15);
    margin-left: 10px;
    cursor: pointer;
    background-image: linear-gradient(90deg, #b430a7 0%, #4a0e8f 100%) !important;
  }
  
  .Subscribeus .content footer input:focus, .Subscribeus .content footer button:focus {
    outline: none;
  }
  
  @media screen and (max-width: 720px) {
    .Subscribeus .content {
      margin-right: 20px !important;
      margin-left: 20px !important;
      padding: var(--padding-15);
    }
    .Subscribeus .content footer input {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  :root {
    --start-color: #0575E6;
    --end-color: #021B79;
    --p-color: #929DA6;
    --button-background: #0575E6;
    --input-background: #e4eff8;
    --radius-50: 50px;
    --padding-15: 10px;
  }