/*
====================================
large Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {































}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {








.platform-item-inner2 {
    width: 61%;
}

.platform-item-inner3 {
    width: 39%;
}

.prize-item h6 br {
    display: none;
}

.quint-item3-inner h2 {
    font-size: 22px;
}

/*=== page 03 start ===*/

.earned-item-inner2 {
    padding-left: 20px;
}

.essential-item h2 {
    font-size: 25px;
}

.essential-item2 {
    padding: 22px 20px 30px 20px;
}

.essential-item2 h2 {
    font-size: 20px;
}

.essential-item2 h2 span {
    font-size: 10px;
}

/*=== page 04 start ===*/

.accordion-area2 .ziehharmonika {
    width: 750px;
}

.accordion-area2 .ziehharmonika h3 {
    padding: 20px 25px;
    padding-right: 70px;
    width: 750px;
}

.accordion-area2 .ziehharmonika > div {
    width: 750px;
}

.accordion-area2 .quint-item {
    width: 220px;
}























}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {	






.header-area {
    padding-top: 25px;
}

.navbar-nav {
    height: 100%;
    width: 100%;
}

.navbar-nav li {
    width: 100%;
}

.collapse > div {
    display: none;
}

/*=== platform area start ===*/

.platform-area {
    padding: 30px 0;
}

.inner-container h2 {
    font-size: 20px;
    margin: 0;
}

.platform-item {
    height: 240px;
    padding: 35px 15px 15px;
    border-radius: 20px;
}

.platform-item-inner2 {
    width: 100%;
}

.platform-item-inner3 {
    width: 100%;
}

.platform-item2 {
    padding: 23px 15px;
}

.platform-item2 h3 {
    font-size: 20px;
}

.platform-item2 h3 {
    font-size: 20px;
}

.prize-item {
    padding-top: 30px;
    flex-wrap: wrap;
}

.prize-item-inner {
    width: 100%;
}

.prize-item-inner2 {
    flex-direction: column;
    align-items: flex-start;
}

.prize-item-inner2 > div {
    margin-bottom: 25px;
}

.prize-item-inner3 {
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.prize-item-inner3 > div {
    margin-bottom: 25px;
}

.prize-item-inner5 {
    width: 100%;
}

.ziehharmonika {
    width: 650px;
}

.quint-item {
    width: 180px;
}

.quint-item2 {
    width: 290px;
}

.quint-item3-inner h2 {
    font-size: 20px;
}

.quint-item3-inner h2 span {
    font-size: 11px;
}

/*=== page 03 start ===*/

.earned-item-inner2 {
    width: 100%;
    padding-left: 0px;
}

.essential-item {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
}

.essential-item h2 {
    font-size: 25px;
}

.essential-item2 {
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 22px 15px 20px 15px;
}

.essential-item2 > ul {
    padding-bottom: 30px;
}

.essential-item2 ul li {
    font-size: 12px;
}

.essential-item2 > ul > li a {
    font-size: 10px;
    width: 110px;
    height: 35px;
}

.essential-item2 h4 {
    font-size: 13px;
}

.essential-item2 h2 {
    font-size: 15px;
}

.essential-item2 h2 span {
    font-size: 10px;
    margin-left: 4px;
}

.essential-item2-inner3 ul li a {
    font-size: 10px;
    width: 130px;
    height: 35px;
}

/*=== page 04 start ===*/

.prize-item2 {
    padding-top: 0;
}

.prize-item2 .prize-item-inner3 {
    margin-top: 13px;
}

.accordion-area2 .ziehharmonika {
    width: 700px;
}

.accordion-area2 .ziehharmonika h3 {
    padding: 20px 20px;
    padding-right: 70px;
}

.accordion-area2 .ziehharmonika .quint-item {
    max-width: 90%;
}

.accordion-area2 .ziehharmonika .quint-item span {
    font-size: 13px;
}

.platform-item {
    padding: 15px;
}
.platform-item h3{
    font-size: 36px;    
    /* background: linear-gradient(to right, #03746e, #03746e, #03746e, #03746e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.platform-item h3.text2 {
    font-size: 36px;
}




















}