.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
/* Slider */

@font-face{font-family:'slick';font-weight:normal;font-style:normal;src:url('./fonts/slick.eot');src:url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');}
.slick-prev,
.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:35px;padding:0;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity:.25;}
.slick-prev:before,
.slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-25px;}
[dir='rtl'] .slick-prev{right:-25px;left:auto;}
.slick-next{right:-25px;}
[dir='rtl'] .slick-next{right:auto;left:-25px;}
.slick-dots{position:absolute;bottom:-25px;display:block;width:50px;padding:0;margin:0;list-style:none;text-align:center;right:0;}
.slick-dots li{position:relative;display:inline-block;width:8px;height:8px;margin:5px 5px;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:8px;height:8px;padding:3px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
/* Slider Theme */

.breadcrumb_area{margin-top:95px;}
/*Navigation*/
.header { background: #fff; position: relative; z-index: 99; position: fixed; width: 100%; top: 0;/*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);*/}
.header.fixNav{ box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);background: #fff;}
.header.fixNav .menubar ul li a {color: #383838;}
.header:after {content: "";background: url(../images/header-bg.jpg) 0 0 no-repeat;position: absolute;right: 0px;top: 0px; width: 79.5%;height: 100%;z-index: -1;background-size: cover;}
.navigation { padding: 0px 0 }
.logo { float: left; margin-top: 0px; padding: 20px 0px; }
.menuL { float: left; margin-top: 36px; margin-left: 70px; }
.menuR { float: right; margin-top: 32px; }
.menubar { padding: 0px; }
.menubar .menuL ul li { float: left; margin-left: 50px; }
.menubar .menuR ul li { float: left; margin-left: 15px; }
.menubar ul li.hasDropDown { background: url(../images/down-arrow.png); background-repeat: no-repeat; background-position: 96% center; background-size: 11px; }
.menubar ul li a {color: #fff;display: inline-block; vertical-align: middle; font-size: 18px; line-height: 16px; font-family: 'Noto Sans TC', sans-serif;}
.menuL ul li a { padding: 8px 0px; border: 2px solid transparent; }
.menuR ul li a { padding: 12px 0px; border: 2px solid transparent; }
.menuR ul li a { color: #fff; }
.menuR ul li a.check-prices { background: #e77123; color: #fff; font-size: 14px;font-weight: bold;border-radius: 5px;padding: 12px 10px;}
.header.fixNav .menuR ul li a.check-prices {color: #fff;}
.menuR ul li a.check-prices:hover { background: #fff; color: #212121; font-size: 14px; }
.menubar ul li:hover a { color: #ee7e32; }
.menubar ul li.active a { color: #ee7e32; }
.menubar ul li.home-iconmenu a { height: 20px; width: 20px; background: url(../images/sprite.png) -1px -1px no-repeat }
.menubar ul li.home-iconmenu a:hover { background-position: -1px -21px; }
.menubar ul li:last-child { margin-right: 20px; }
.menubar .menuR ul li:last-child { margin-right: 0px;margin-left:20px;}
.mobile-nav-icon{display:none}
.main-banner ul li {float:left;}
.login-mblmenu{float:left;}
/*Navigation end*/

.home-cntr { padding: 50px 0 75px; background: transparent; }
.home-cntr .col-6 { }
.home-cntr .col-6 span.breadcrum { font-size: 14px; color: #8c8c8c; }
.home-cntr .col-6 h1 { font-weight:500; font-size: 32px; color: #383838; padding-bottom:0px;}
.home-cntr .col-6 h2{ font-weight:500; font-size: 32px; color: #383838; padding-bottom:0px;}
.home-cntr .col-6 p.address { font-size: 14px; padding: 5px 0px 10px 30px; background: url(../images/blue-location-icon.png) 0px 0px no-repeat; background-size: 26px; }
.home-cntr .col-6 p.address a { color: #016fc0; }
.home-cntr .col-6 p.address a:hover { text-decoration: underline; }
.home-cntr .col-6 ul { width: 50%; margin-top: 10px; }
.home-cntr .col-6 ul li { width: 50%; float: left; margin-bottom: 20px; padding: 10px 0px 10px 0px; }
/*.home-cntr .col-6 ul li.Parking { background: url(../images/free-parking-icon1.png) 0px 0px no-repeat; background-size: 40px; }
.home-cntr .col-6 ul li.Wifi { background: url(../images/free-wifi-icon1.png) 0px 0px no-repeat; background-size: 40px; }
.home-cntr .col-6 ul li.No-Smoking { background: url(../images/no-smoking.png) 0px 0px no-repeat; background-size: 40px; padding-top: 0px;}
.home-cntr .col-6 ul li.Facilities { background: url(../images/facilities.png) 0px 0px no-repeat; background-size: 30px; padding-top: 0px;padding-left: 35px;}
.home-cntr .col-6 ul li.Services-icon { background: url(../images/Services-icon-icon1.png) 0px 0px no-repeat; background-size: 38px; }*/
.home-cntr .col-6 h3 { font-size: 22px; margin-top: 50px; padding: 0px; }
.home-cntr .col-6 .Ratings-cntr .stars-cntr { display: inline-block; width: 100%; padding: 3px 0 7px; float: left; }
.home-cntr .col-6 .Ratings-cntr .stars-cntr .star { float: left; }
.home-cntr .col-6 .Ratings-cntr .stars-cntr .star i.active { color: orange; }
.home-cntr .col-6 .Ratings-cntr .stars-cntr .star i { color: #c9c9c9; font-size: 20px; margin-right: 7px; }
.home-cntr .col-6 .Ratings-cntr p.ratings { color: #b4b4b4; float: left; margin-left: 10px; font-size: 14px; margin-top: 8px; }
.home-cntr .col-6 .Ratings-cntr p.Start-price { float: left; width: 100%; font-size: 18px; color: #383838; margin-bottom: 15px; }
.home-cntr .col-6 .Ratings-cntr .com-btn { float: left; margin-top: 0; display: inline-block; position: relative; }
.home-cntr .col-6 .Ratings-cntr .com-btn .secondary { border-color: #17b1bb; background: #fff; color: #17b1bb; padding: 5px 15px; margin-left: 20px; cursor: pointer; margin-top: 5px; }
.home-cntr .col-6 .Ratings-cntr .com-btn .secondary:hover { border-color: #17b1bb; background: #17b1bb; color: #fff; }
.home-cntr .col-6 .Ratings-cntr { margin-top: 0px; }
.home-cntr .col-6 .com-btn.reserve-now { margin-top: 10px;float: left;display:block;}
.home-cntr .col-6 .com-btn.reserve-now .secondary { border-color: #1a73e8; background: #1a73e8; color: #fff; padding: 10px 40px;font-weight:500; cursor: pointer; margin-top: 5px; text-transform: uppercase;border-radius: 5px;}
.home-cntr .col-6 .com-btn.reserve-now .secondary:hover { border-color: #1a73e8; background: #fff; color: #1a73e8; }
.star-rating { border: 1px solid #ddd; border-radius: 0px; white-space: nowrap; padding: 5px; position: absolute; background: #000; width: 240px; display: none; left: -44px; top: 5px; }
.star-rating .star-rating-delete { margin-right: 5px; height: 20px; width: 20px; text-align: center; color: #383838; background: #ddd; line-height: 22px; font-size: 12px; border-radius: 50%; float: left; cursor: pointer; }
.star-rating .star-rating-delete:hover { color: #fff; background: #9e9e9e; }
.star-rating .rating-container { height: 22px; float: left; }
.rating-container i { margin: 0 5px; font-size: 22px; }
.user-rating { display: inline-block; margin-top: 0px; margin-left: 10px; float: left; }
.callEnquiry { display: inline-block; margin-top: 0px; margin-left: 10px; float: left;margin-top: -4px;}
.callEnquiry .btn{padding: 0px 10px;background: #1a73e8;}
.callEnquiry .btn:hover {background: #e77123;}
.callEnquiry .btn img {height: 20px;margin-right: 5px;margin-top: -5px;}
.rating-val { font-size: 18px; color: #fff; float: right; margin-right: 10px; }
.rating-container { display: flex; justify-content: center; align-items: center; flex-direction: row-reverse; }
.fa { color: #dddddd;}
.com-btn .fa { cursor: pointer; }
.fa.active { color: orange; }
.com-btn .fa:hover { color: orange; }
.com-btn .fa:hover ~ .fa { color: orange; }
.comments_pop ul { display: inline-block; }
.comments_pop ul li input, .comments_pop ul li textarea, .comments_pop ul li tel { display: block; border: none; border-bottom: 1px solid #7d7d7d; padding: 15px 0; color: #7d7d7d; font-size: 18px; font-family: 'Noto Sans TC', sans-serif; outline: none; }
.comments_pop ul { margin: 0 0px; }
.comments_pop ul li { width: 100%; float: left; margin-right: 0px; margin-bottom: 20px; }
.comments_pop ul li:nth-child(3) { margin-right: 0px; }
.comments_pop ul li:nth-child(4) { width: 100%; }
.comments_pop ul li input, .comments_pop ul li textarea, .comments_pop ul li tel, .comments_pop ul li .g-recaptcha { margin: 0px; width: 100%; }
.pop-content .com-btn { margin-top: 0px; text-align: center; }
.pop-content input[type=submit].secondary { margin: 0 auto; background: #fff; color: #39c3c5; border: 2px solid #39c3c5; padding: 12px 30px; font-family: 'Noto Sans TC', sans-serif; letter-spacing: 1px; }
.pop-content input[type=submit].secondary:hover { margin: 0 auto; background: #39c3c5; color: #fff; border: 2px solid #39c3c5; }


.banner{position:relative;margin-top:82px;}
.banner ul{width:100%;padding: 20px;border: 1px solid #eeee;background: #fff;}
.banner .cta{padding-top:30px;}
.banner .banner-caption{position:absolute;left:0;bottom:-140px;z-index:100;background-color:rgba(49, 81, 156, .7);padding:12px 0;width:100%;color:#fff;transition:all 300ms ease;-moz-transition:all 300ms ease;-webkit-transition:all 300ms ease;width:364px;right:0;left:auto;height:100%;bottom:-500px;padding:40px 40px;}
.banner .banner-caption h2 span {font-size: 18px; }
.banner .banner-caption h2.jscb {font-size: 30px;line-height: 38px;}
.banner .bx-pager.bx-default-pager {display:none;}
.loader {display:block;background-color: rgba(255, 255, 255, 0.7);height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 99999;}
.banner .banner-caption {bottom: 0px;left: -500px;opacity: 0;}

/*Slider*/
.full-slider { position: relative; }
.slider-Large-txt {}
.slider-Large-txt .s-Big-txt {  width: 430px;height: 380px;background-color: #fff;padding: 40px;}
.slider-Large-txt .s-Big-txt img{margin-bottom:40px;}
.slider-row { background-color: transparent; background-image: none; background-position: center 50%; background-repeat: no-repeat; background-size: cover; height: 74vh;}
.slider.single-item{max-height: 74vh;display: block;}
.banner .loader{position: absolute;background-color: #fff;}
.slider-Large-txt .s-Big-txt P{font-size: 17px ; line-height: 22px;color: #000000;}
.slider-row .container{position: absolute;height: 100%;right: 0%;top: 0;}
.bgfull{position: absolute;width: 100%;height: 100%;bottom: 0;right: 0;}
.banner ul.slick-dots{display:none !important;}
.slick-prev {left: 50px !important;background: url(../images/overlay-left-arrow.png) -5px 0px no-repeat !important;z-index: 9;background-size: 35px !important;width: 25px;}
.slick-next {right: 50px !important;background: url(../images/overlay-right-arrow.png) -5px 0px no-repeat !important;z-index: 9;background-size: 35px !important;width: 25px;}
.banner .slick-prev, .banner .slick-next {top: 46%;min-width: 24px;min-height: 42px;}

.slider-Large-txt .s-Big-txt a.primary{background-color: #046a8c;border: 2px solid #046a8c;color: #fff;}
.slider-Large-txt .s-Big-txt a.primary:hover{background-color: #fff;border: 2px solid #046a8c;color: #046a8c;}
.slider-Large-txt .s-Big-txt a.secondary{background-color: transparent;border: 2px solid #e77123;color: #e77123;}
.slider-Large-txt .s-Big-txt a.secondary:hover{background-color: #e77123;border: 2px solid #e77123;color: #fff;}

.clickable {cursor:pointer;}
/*Slider end*/

.home-cntr .col-6 .bigImageSlider ul { width: 100%; margin-top: 0 }
.home-cntr .col-6 .bigImageSlider ul li { width: 100%; float: none; margin-bottom: 0px; padding: 0px 0px 0px 0px; }

.home-cntr .col-6 .smallImageSlider ul { width: 100%; margin-top: 0 }
.home-cntr .col-6 .smallImageSlider ul li { width: 100%; float: none; margin-bottom: 0px; padding: 0px 0px 0px 0px; }
.thumbnailSlider{margin:0 -3px;}
.thumbnailSlider .slick-slide{margin:0 1px; width:55.4px !important; cursor:pointer; border:transparent solid 2px; float: none !important; display:inline-block; outline:none;}
.thumbnailSlider .slick-track{width:100% !important; transform:none !important;margin-top: 5px;}
.thumbnailSlider .slick-slide.slick-current{border-color:#17b1bb}

.home-cntr .col-6 .withWhiteBoxSlider {}
.home-cntr .col-6 .withWhiteBoxSlider ul{width: 100%;}
.home-cntr .col-6 .withWhiteBoxSlider ul li{margin: 0;padding: 16px 0;border-bottom: 1px solid #ededed;width: 100%;}
.home-cntr .col-6 .withWhiteBoxSlider ul li p{font-size: 14px;line-height: 24px;}
.home-cntr .col-6 .withWhiteBoxSlider ul li span{font-size: 14px;margin-top: 20px;display: block;position: relative;}
.home-cntr .col-6 .withWhiteBoxSlider ul li span .star {margin-top: 0px;display: inline-block;position: absolute;top: 16px;left: 40px;}
.home-cntr .col-6 .withWhiteBoxSlider ul li.google-review img {max-width: 100%;vertical-align: top;margin-top: 2px;}
.home-cntr .col-6 .withWhiteBoxSlider ul li.google-review h3 {font-size: 14px;margin-top: 10px;}
.home-cntr .col-6 .withWhiteBoxSlider ul li span img{width: 30px;border-radius: 50%;height: 30px;margin-right: 10px;}
.home-cntr .col-6 .withWhiteBoxSlider h2{font-weight:500;font-size: 28px;color: #383838;float: left;width: 100%;padding:0px;}
.home-cntr .col-6 .withWhiteBoxSlider .star{float: left;margin-top: 5px;}
.home-cntr .col-6 .withWhiteBoxSlider .user-rating {margin-top: 5px;}
.home-cntr .col-6 .withWhiteBoxSlider .hotel-title{display: grid;padding: 25px;margin: -25px;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.05);box-shadow: 0 2px 4px rgba(0,0,0,0.05);border-bottom: 1px solid #ededed;margin-bottom: 0;}

.bigImageSlider{height: 65.5vh;overflow: hidden;display: contents;}
.thumbnailSlider img{max-height:38px}
.thumbnailSlider img:hover{opacity: 0.4;}
.thumbnailSlider>div {float: left;}



.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0;
  bottom: 95px;
}
.fancybox-thumbs-x{overflow-x:hidden; width:75%; margin:0 auto; background:transparent;}
.fancybox-thumbs__list a{opacity: .4;}
.fancybox-thumbs__list a.fancybox-thumbs-active{opacity: 1;}
.fancybox-thumbs__list a.fancybox-thumbs-active:before,
.fancybox-thumbs__list a:hover:before{background:rgba(0,0,0,0); border:none}
.fancybox-thumbs__list a:before{background:rgba(0,0,0,0.35); border:none; width:100%; height:100%}
.thumbnailSlider figcaption{display:none}
.fancybox-caption{background:none;}
.slick-slide img{width:100%;}

.fancybox-toolbar {opacity: 1;visibility: visible;}
.ReserveNowBoxSlider {position: fixed;width: 78%;z-index: 99999;overflow-y: auto;top: 0;left: -100%;padding: 20px 0;text-align: center;padding-left: 2%;}
.ReserveNowBoxSlider h6{font-size: 16px;line-height: 34px;padding: 0;overflow: hidden;color: #fff;}
.ReserveNowBoxSlider a, 
.ReserveNowBoxSlider a:link, 
.ReserveNowBoxSlider a:visited{border: 2px solid #17b1bb;background: #17b1bb;color: #fff;padding: 5px 15px;margin-left: 20px;cursor: pointer;margin-top: 5px;}
.ReserveNowBoxSlider a:hover{border: 2px solid #17b1bb;background: #fff;color: #17b1bb;text-decoration: none;}

.withWhiteBoxSlider{transition: all 400ms ease; -moz-transition: all 400ms ease; -webkit-transition: all 400ms ease;background:#fff; position:fixed; right:-100%; width:20%; z-index:99; height:100%; overflow-y:auto; top:0; padding:25px;}
.fancybox-infobar{left:50%; margin-left:-20px;top: auto;bottom: 3px;}
.bigImageSlider .slick-arrow{border-radius:0%; z-index:9; background:none center center no-repeat;width:32px; height:32px; }
/*.bigImageSlider .slick-prev{background-image:url(../images/previous-arrow.png) !important; left: -25px !important;}
.bigImageSlider .slick-next{background-image:url(../images/next-arrow.png) !important;right: -25px !important;}*/
.bigImageSlider .slick-prev {left: 0px !important;background: #fff url(../images/overlay-left-arrow.png) center no-repeat !important;background-size: 30px !important;padding: 20px;width: 50px;height: 70px;box-shadow: 1px 0px 3px #989898;}
.bigImageSlider .slick-next {right: 0px !important; background: #fff url(../images/overlay-right-arrow.png) center no-repeat !important;background-size: 30px !important;padding: 20px;width: 50px;height: 70px;box-shadow: 1px 0px 3px #989898;}

.fancybox-button.fancybox-button--close {background: #fff;color: #383838;border-radius: 50% !important;}
.fancybox-button.fancybox-button--close:hover{background: #848484;color: #fff;}

.fancybox-caption.fancybox-caption--separate{top:0px;bottom: auto;}
.fancybox-slide--image {padding: 80px 0 40px;}
.fancybox-caption__body h6{font-size: 16px;line-height: 34px;padding: 0;overflow: hidden;}
.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited{border: 2px solid #17b1bb;background: #17b1bb;color: #fff;padding: 5px 15px;margin-left: 20px;cursor: pointer;margin-top: 5px;}
.fancybox-caption a:hover{border: 2px solid #17b1bb;background: #fff;color: #17b1bb;text-decoration: none;}
@media screen and (min-width: 1024px) and (max-width:1600px){
.fancybox-container {width: 75%;}
.thumbnailSlider .slick-slide {width: 62.5px !important;}
.bigImageSlider .bigSlider {z-index: 1;min-height: 480px;}
}

@media screen and (min-width: 1025px) and (max-width:1400px){
.main-banner .slider-row .container {height: 88vh;}	
.slider-row {height: 88vh;}
.slider.single-item {max-height: 88vh;}
.homebannerimage img, .banner, .main-banner .slider-row .banner-wrap {height: calc(100vh - 77px);}
}
@media screen and (min-width: 0) and (max-width:1024px) {
.servicesbanner {width: 96%;}
.servicesbanner h1 {font-size: 32px;line-height: 44px;}
.slider-Large-txt .s-Big-txt P {font-size: 20px;line-height: 26px;}
.slider-row {height: 92vh;}
.slider-Large-txt .s-Big-txt{min-height:290px;}
.banner .slick-prev, .banner .slick-next {top: 20%;}
.slick-prev {left: 10px !important;}
.slick-next {right: 10px !important;}
.slider-row .container {position: unset;height: 100%;left: 0%;top: 0;width: 90%;}
.slider-Large-txt {position: unset;left: 0;top: 0;margin-top: 0px;z-index: 999;}
.slider-Large-txt .s-Big-txt {width: 100%;height: 100%;background-color: #fff;border-radius: 0%;padding: 20px;}


.banner {margin-top: 57px;}
.slider-Large-txt .s-Big-txt img {margin-bottom: 20px;}
.slider-row .container {height: 100% !important; margin:0px auto;display: block;padding: 30px 0;}

.main-banner .slider-row h2 {padding-bottom: 40px;}
.main-banner .slider-row h2 {text-align: center;padding: 5px 30px !important;width: 100%;margin-bottom: 15px;}
.banner ul {width: 100%;padding: 0px;border: 0px solid #eeee;background: transparent;}
.homebannerimage img, .banner {height: 100%;width: 100%;}
.slider.single-item {max-height: 100%;height: 100%;}
.main-banner .slider-row {height: 100%;}
.main-banner .slider-row .banner-wrap {width: 100%;height: 100%;}
.fancybox-container {width: 100%;}
.home-page .mountainsImgSep {background: transparent;margin-top: -50px;position: relative;}
.home-page .about-cntr.faqs-cntr {padding-bottom: 80px;}

.thumbnailSlider .slick-slide {width: 56.5px !important;}
.thumbnailSlider{display:none;}
}
@media screen and (min-width: 0) and (max-width:568px) {/*For Big Screen mobile*/
}
@media screen and (min-width: 0) and (max-width:480px) {/*For mobile*/
}
@media screen and (min-width: 0) and (max-width:320px) {/*For Small screen mobile*/
}

@media screen and (min-width: 768px) and (max-width:1024px) {
.slider-Large-txt .s-Big-txt {min-height: 160px;}
.slider-row {height: 67vh;}
.banner .slick-prev, .banner .slick-next {top: 36%;}

}
 @media screen and (min-width:320px) and (max-width:767px) {
}