@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('plugin-style.css');

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
ol,ul {list-style:none}
blockquote,q {quotes:none}
blockquote:after,blockquote:before,q:after,q:before {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
a {color:#212121;text-decoration:none;outline:0}
body{overflow-x: hidden;}
*,:after,:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-word-break:keep-all;word-break:keep-all;-webkit-word-break:keep-all;-moz-word-break:keep-all;word-wrap:break-word}
img {max-width:100%;vertical-align:middle}
.container {margin:0 auto;width:96%}
.clear {clear:both}
.clear10 {clear:both;height:10px}
.clear20 {clear:both;height:20px}
.clumn {width:198px;float:left}
.fl {float:left!important}
.fr {float:right!important}
.text-right {text-align:right!important}
.text-left {text-align:left!important}
.text-center {text-align:center!important}
.error {color:red}
h1,h2,h3,h4,h5,h6 {padding: 0px;}
h1 {font-size:24px}
h2 {font-size:20px}
h3 {font-size:18px}
h4 {font-size:16px}
h5 {font-size:14px}
h6 {font-size:12px}
.familyopensans{font-family: 'Open Sans', sans-serif;}
.light-orange{color: #e2a355 !important}
.orange{color:#deb37e !important;}
.light-brown{color:#7f7770 !important;}
.light-brown-bg{background:#7f7770 !important}
.brown{color:#54524f !important;}
.white{color:#fff;}
.container{max-width: 1200px;width: 100%;margin: 0 auto;}
body{font-family: 'Open Sans', sans-serif;}
a{color:#54524f}
.header
{
	position: fixed;
	width: 100%;
	background: white;
	z-index: 100
}
.header:after,/*.float-block:after*/.mountains-crap:after
{
	content: '';
    background: url(../images/header-above-image.png);
    position: absolute;
    width: 100%;
    height: 28vh;
    top: 0px;
    background-repeat: no-repeat;
    background-position: -28px 0px;
    background-size: cover;
    transform: translate(0px, -36px);

}
.header-contain
{
	position: relative;
	z-index: 99;
}
.navbar-ul li
{
	display: inline-block;
	font-size: 16px;
	padding: 20px;
}
.navbar-ul li:hover a
{
	color: #deb37e;
	transition: 1s
}
.search-icon
{
	position: relative;
}
.input-nav
{
	padding: 15px;
	width: 180px;
	border-radius: 100px;
	border:none;
	background: #c3bfbc;
	transition: 1s;
}

.search-button
{
	font-size: 25px;
	transform: translate(-50px, 4px);
}
.close
{
	width: 25%;
	border-radius: 50%;
	transition: 1s;
}
.close:disabled
{

}
/*.section-banner:before
{
	content: "";
    background: black;
    opacity: 0.2;
    height: 100vh;
    width: 100%;
    display: block;
    position: absolute;

}
.section-banner
{
	/*background: url(../images/banner.jpg);
	height: 100vh;
	z-index: -2;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed*/
	
}
.lets-go-section:before
{
	content: '';
    background: url(../images/banner-lower.png);
    position: absolute;
    width: 100%;
    height: 28vh;
    top: 0px;
    background-repeat: no-repeat;
    background-position: -28px 0px;
    background-size: cover;
    transform: translate(0px, -115px);
}
.lets-go-section
{
   position: relative;
}
.shadow-leaf-left
{
   position: absolute;
   width: fit-content;
   bottom: 0;
   right:0;
   left:0;
   transform: translate(0px, 80px);
}
/*.mobile-img
{
	overflow: hidden;
}*/
.parallax-window, .parallax {
    min-height: 100vh;
    background: transparent;
}
.mobile-img
{
	position: relative;
}
.mobile-img img
{
	width: 100%;
} 
.text-over-image
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text
{

}
.header-text .text-shadow
{
	    text-shadow: 5px 0px 6px grey;
}
.header-text p
{
	font-style: italic;
	font-weight: bold;
	color:#54524f ;
}
.lets-go-img img
{
	width: 100%;
	height: 300px;
}
.lets-go-img .text
{
	background:#7f7770;
	padding: 48px 20px 48px 20px
}
.lets-go-img .text h3
{
	margin-bottom: 28px;
}
.button-contain
{
	display: flex;
	justify-content: center;
}
.button-contain .button
{
  width: 300px;
  border-radius: 100px;
  background:#54524f;
  padding: 20px;
  text-align: center;
  
}
.button-contain .button:hover
{
	background: #e2a355;
	transition: 1s;
}
.button a
{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;

}
.left-one, .right-one
{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #7f7770;
	color: white;
}
.right-one
{
	background: #deb37e;
}
.right-image-wrap .button-contain
{
	display: block;
	padding-left: 50px;
}
.left-button
{
	background: #e2a355 !important;
}
.left-image img, .right-image img
{
	width:100%;
}
.explore-text-section
{
	position: relative;
}
.explore-text-section .explore-text-over-image
{
   justify-content: flex-end;
   align-items: center;
} 
.explore-sec-text
{
	font-weight: bold
}
.mountains:before
{
	content: "";
    background: #99928d;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute
}
.mountains
{
	background: url(../images/lets-go-leaf.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left
}
.mountains,.mountains-crap
{
	position: relative;
}
.mountains .shadow-leaf-left
{
	transform: translate(0px, 0px);
}
.mountains-crap:after
{
   transform: translate(0px,20px);
}
.hike-mt-sec .text
{
   width: 88%;
   margin:0 auto;
   color: #dbdbdb
}
.testimonial-slider-container .quote
{
    transform: rotate(180deg);
    text-align: center;
    display: inline-block;
    font-style: italic;
}
.subscribe:before
{
  background: #deb37e
}
.subscribe .text
{
	color: #54524f;
	width: 87%;
}
.email
{
	border-radius: 100px;
    padding: 22px;
    width: 600px;
    border: 0;
}
.sub
{
	border-radius: 100px;
    padding: 15px;
    width: 220px;
    border: 0;
    position: absolute;
    right: 0;
    background:#54524f;
    color: white;
    text-transform: uppercase;
    
}
.form-wrap
{
	display: flex;
	justify-content: center;
}