/*fonts*/
@font-face { font-family: 'gilroybold'; src: url('fonts/gilroybold.eot'); src: url('fonts/gilroybold.eot') format('embedded-opentype'),  url('fonts/gilroybold.woff2') format('woff2'),  url('fonts/gilroybold.woff') format('woff'),  url('fonts/gilroybold.ttf') format('truetype'),  url('fonts/gilroybold.svg#gilroybold') format('svg'); }
@font-face { font-family: 'gilroyregular'; src: url('fonts/gilroyregular.eot'); src: url('fonts/gilroyregular.eot') format('embedded-opentype'),  url('fonts/gilroyregular.woff2') format('woff2'),  url('fonts/gilroyregular.woff') format('woff'),  url('fonts/gilroyregular.ttf') format('truetype'),  url('fonts/gilroyregular.svg#gilroyregular') format('svg'); }
@font-face { font-family: 'gilroymedium'; src: url('fonts/gilroymedium.eot'); src: url('fonts/gilroymedium.eot') format('embedded-opentype'),  url('fonts/gilroymedium.woff2') format('woff2'),  url('fonts/gilroymedium.woff') format('woff'),  url('fonts/gilroymedium.ttf') format('truetype'),  url('fonts/gilroymedium.svg#gilroymedium') format('svg'); }
@font-face { font-family: 'FontAwesome'; src: url('fonts/fontawesome-webfont.eot?v=4.0.1'); src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }
/*fonts font-family:  'gilroyregular'; font-family: 'Poppins', sans-serif;*/

/*Reset CSS*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
a { color: #212121; text-decoration: none; outline: none; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; }
a:hover { }
html { }
body { overflow-x: hidden; line-height: 1; font: 16px 'gilroyregular'; color: #fff; position: relative; background: #000; }
/*Reset CSS end*/

/*global classes*/

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-word-break: keep-all; word-break: keep-all; -webkit-word-break: keep-all; -moz-word-break: keep-all; word-wrap: break-word; }
*, *:focus { outline: none; }
img { max-width: 100%; vertical-align: middle }
.wrapper { }
.container { margin: 0 auto; width: 100%; padding: 0 30px; }
.clear { clear: both }
.clear10 { clear: both; height: 10px }
.clear20 { clear: both; height: 20px }
.clumn { width: 198px; float: left }
.fl { float: left !important; }
.fr { float: right !important; }
.text-right { text-align: right !important }
.text-left { text-align: left !important }
.text-center { text-align: center !important }
.error { color: #F00; }
h1, h2, h3, h4, h5, h6 { color: #333; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
/*Form*/

/*form tag*/

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea { width: 100%; padding: 15px 20px; border: 1px solid #a1a1a1; margin: 0; outline: none; font: 20px 'gilroyregular'; color: #58585b }
select { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); width: 100%; padding: 14px 10px; border: none; outline: none; cursor: pointer; color: #a2a2a2 }
textarea { height: 170px; resize: none; }
input[type="checkbox"], input[type="radio"] { display: inline-block; vertical-align: middle; margin: 0 5px 0 0; }
.input-checkbox input[type="checkbox"] { display: none }
.input-checkbox input[type="checkbox"] + label i { width: 18px; height: 18px; display: inline-block; background-image: url(../images/checkbox.png); vertical-align: middle; margin-top: -3px; border: #999999 1px solid }
.input-checkbox input[type="checkbox"]:checked + label i { background-position: 0 -18px }
.input-checkbox input[type="checkbox"] + label { color: #a2a2a2; font-size: 14px; padding: 0; cursor: pointer }
/*Form Tag end*/

/*Common Buttons*/

input[type=button], input[type=submit], input[type=reset], a.box-btn, button.box-btn { display: inline-block; background-color: #0e678e; border: none; cursor: pointer; padding: 15px 60px; color: #fff; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; vertical-align: middle; text-decoration: none; text-align: center; outline: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; font: 700 25px 'gilroyregular'; }
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, a.box-btn:hover, button.box-btn:hover, input[type=button].active, input[type=submit].active, input[type=reset].active, a.box-btn.active, button.box-btn.active { background-color: #0068a5; }
input[type=button].secondary-btn, input[type=submit].secondary-btn, input[type=reset].secondary-btn, a.box-btn.secondary-btn, button.box-btn.secondary-btn { background-color: #33B7CC; color: #fff; }
input[type=button].secondary-btn:hover, input[type=submit].secondary-btn:hover, input[type=reset].secondary-btn:hover, a.box-btn.secondary-btn:hover, button.box-btn.secondary-btn:hover, input[type=button].secondary-btn.active, input[type=submit].secondary-btn.active, input[type=reset].secondary-btn.active, a.box-btn.secondary-btn.active, button.box-btn.secondary-btn.active { background-color: #53d7ec }
/*Common buttons end*/

.form-layout { }
.form-layout .form-row { }
.form-row .form-field { padding-bottom: 35px; }
.input-type-select { border: 1px solid #ddd; overflow: hidden; position: relative; }
.input-type-select:after { background: url("../images/custom-select.png") no-repeat scroll center center; content: ""; display: block; height: 100%; position: absolute; right: 0; top: 0; width: 41px; z-index: 99999; cursor: pointer; pointer-events: none; -ms-pointer-events: none; -webkit-pointer-events: none; content: ''; }
/*form end*/

/*hack for mozzila */

@-moz-document url-prefix() {
}
/*Global Classes End*/

/*List*/

ul.list { margin-left: 27px }
ul.list li { padding: 5px 0 5px 7px; }
ul.list.bullet { margin-left: 0 }
ul.list.bullet li { background: url("../images/bullet.png") no-repeat scroll left center rgba(0, 0, 0, 0); padding: 5px 0 5px 18px; }
ul.list.number li { list-style-type: decimal; }
ul.list.lower-roman li { list-style-type: lower-roman; }
ul.list.upper-roman li { list-style-type: upper-roman; }
/*list end*/

/*overlay */

.overlay-bg { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); height: 100%; left: 0; margin: 0 auto; position: fixed; top: 0; width: 100%; z-index: 100000; }
.overlay { height: 100%; left: 0; margin: 0 auto; position: fixed; top: 0; width: 100%; z-index: 100001; visibility: hidden }
.overlay-box { display: table; height: inherit; margin: 0 auto; width: 650px; }
.overlay-box .content { display: table-cell; vertical-align: middle; }
.overlay-box .closeBtn { background: none repeat scroll 0 0 #2A78CB; border-radius: 50%; color: #fff; cursor: pointer; font: bold 17px/25px Arial, Helvetica, sans-serif; height: 25px; padding: 0; position: absolute; right: 10px; text-align: center; top: 20px; width: 25px; z-index: 1002; }
.overlay-box .overlay-header { background: none repeat scroll 0 0 #fff; color: #000; font-size: 26px; padding: 15px 20px; position: relative; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2) }
.overlay-box .overlay-content { padding: 20px; background: none repeat scroll 0 0 #fff }
.overlay-box .overlay-footer { padding: 9px 10px; background: #e3e3e3; text-align: right }
/*overlay end*/

/*loader*/

.loader {height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 99999;}

.progress-container {
    width: 100%;
    height: 5px;
    position: fixed;
    z-index: 9999;
}

.progress-bar {
  height: 3px;
  background: #fff;
  width: 0%;
}
.preloader {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000
}
.flex-center {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.dots .dot {
	display:inline-block;
	width:25px;
	height:25px;
	margin:0 10px;
	clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
	background:#FFF;
	-webkit-animation:dot-dot-dot 1.4s linear infinite;
	animation:dot-dot-dot 1.4s linear infinite
}
.dots .dot:nth-child(2) {
animation-delay:.2s
}
.dots .dot:nth-child(3) {
animation-delay:.4s
}
.dots .dot:nth-child(4) {
animation-delay:.6s
}
@keyframes dot-dot-dot {
0%, 100%, 60% {
-webkit-transform:initial;
-ms-transform:initial;
transform:initial
}
30% {
-webkit-transform:translateY(-25px);
-ms-transform:translateY(-25px);
transform:translateY(-25px)
}
}
/*loader end*/

/*accordion css*/

.accordion { }
.accordion dl { border: 1px solid #d0d0d0; border-radius: 0; margin-bottom: 20px; box-shadow: 3px 3px #c0c0c0; }
.accordion dl dt { background: none repeat scroll 0 0 #E8E8E8; color: #212121; cursor: pointer; padding: 8px 1%; position: relative; }
.accordion dl.active dt { border-bottom: 1px solid #d0d0d0; }
.accordion dl dt:after { background: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 3px; content: "\f103"; font: 24px/30px FontAwesome; height: 30px; margin: 6px 1%; position: absolute; right: 0; text-align: center; top: 0; width: 30px; color: #2c6a90; }
.accordion dl.active dt:after { content: "\f102" }
.accordion dl dd { display: none; padding: 10px 1%; }
/*accordion css end*/

::-webkit-input-placeholder {
 opacity: 1;
}
::-moz-placeholder {
 opacity: 1;
}
:-ms-input-placeholder {
 opacity: 1;
}
input:-moz-placeholder {
 opacity: 1;
}
.dis-table { display: table; width: 100%; height: 100%; }
.dis-tablecell { display: table-cell; vertical-align: middle; height: 100%; width: 100%; }
.d-flex { display: flex; }
/*Header*/

.header { position: fixed; left: 0; top: 0; width: 100%; z-index: 9999;height: 0;}
.header  .container{background:transparent}


.header.fixNav { background: rgba(0,0,0,0.8); }
.header.filter { background: rgba(0,0,0,0.0); }
/*.header.fixNav:before{content: "";height: 85px;width: 90%;position: absolute;top: 0;right: 0;background: #000;}
.header.fixNav:after{content: "";height: 85px;width: 40px;position: absolute;top: 0;left: 0;background: #000;}

.logo img.non-fixNav{display:block}
.logo img.fixNav{display:none}

.header.fixNav .logo img.non-fixNav{display:none}
.header.fixNav .logo img.fixNav{display:block}
*/

.header.fixNav .navigations.d-flex { padding: 40px 0 20px;}
.header.fixNav .logo { }
.header.fixNav .navigations.d-flex .logo img {/*width: 75px;*/}
.header.fixNav .MenuLinks { padding-top: 16px; }
.header .navigations.d-flex .logo img { transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; }
.commonSpace { padding-top: 300px; }
.addSpacing.commonSpace { padding-top: 300px; }
.navigations.d-flex { justify-content: space-between;padding: 40px 0 0;width: 18%;}
navigations d-flex:after { display: block; clear: both; float: none; content: ''; }
.header.filter .filterOptions { /*display: none; opacity: 0*/ }
.filterOptions { /*align-self: flex-end; padding: 0 0px; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; opacity: 1;float: right;margin: 50px 0 0;*/ }
.filterLinks { width: 100%; margin-bottom: 0px;}
.filterLinks ul li { float: left; margin-right: 35px; font-size: 1.1em; margin-bottom: 5px; cursor: pointer; position: relative; font-family: 'gilroybold';color: #4e4e4e;}
.filterLinks ul li.active, .filterLinks ul li:hover {color: #fff;}
.filterLinks p{display: block;float: right;margin-right: 5px;margin-top: 10px;}
/*.filterLinks p:first-child{display:table;position: relative;right: -23%;}*/


.filterLinks a { float: left; margin-right: 15px; font-size: 1.35em; margin-bottom: 0px; cursor: pointer; position: relative; font-family: 'gilroymedium';color: #4e4e4e;letter-spacing: 3px;}
.filterLinks a.active, .filterLinks a:hover {color: #fff;border-bottom: 1px solid #fff;}
.filterLinks a, .filterLinks span {float: left;margin-right: 15px;color: #808080;font-size: 1.3em;}
.filterLinks span {margin-bottom: 4px;}

.MenuLinks { padding-top: 0; transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; }
.MenuLinks a { color: #fff; margin-right: 20px; display: inline-block; font-family: 'gilroymedium'; }
.tiles-boxes { margin-top: 10px; }
.tileCol:after { content: ''; clear: both; float: none }
.tileCol img { width: 100% }
.tileCol div { border: #000 solid 10px; position: relative; overflow: hidden }
.tile-1-same { width: 33.333% }
.tile-2-same { width: 33.333% }
.tile-3-same { width: 50% }
.row-1-tile-1 { }
.row-1-tile-2 { }
.tile-1-big { width: 66.666%; }
.row-2-tile-1 { width: 33.333% }
.row-2-tile-2 { width: 33.333% }
.row-2-tile-2 { width: 33.333% }
.row-2-tile-3 { width: 33.333% }
.row-2-tile-center { width: 33.333% }
.row-2-tile-4 { width: 66.666% }
.row-4-tile-1 { width: 33.333% }
.row-4-tile-2 { width: 33.333% }
.row-4-tile-3 { width: 33.333% }
.mb10px { margin-bottom: 1%; }
.paddingRyt { padding-right: 0.7%; }
.paddingLeft { padding-left: 0.7%; }
.paddingbotom { padding-bottom: 0.7%; }
.tileCol div.noBorder { border: none }
.tileCol div.noleftBorder { border-left: none }
.tileCol div.noryttBorder { border-right: none }
.tileCol div.notopBorder { border-top: none }
.tileCol div.nobottomtBorder { border-bottom: none }
.tileCol div.ShowOnHover { position: absolute; top: 0%; left: -100%; width: 100%; z-index: 1; text-align: center; color: #fff; border: transparent solid 2px !important; border-radius: 0px; height: 100%; transition: all 0.4s; opacity: 0; background: rgba(0,0,0,0.8); }
.tileCol div.ShowOnHover div { border: none !important }
.ShowOnHover a { color: #fff; font-size: 22px; /*text-decoration: underline;*/ display: block; height: inherit;letter-spacing: 2px;}
.ShowOnHover a h2 { transition: all 0.6s; transform: translateX(100%); color: #fff; font-size: 22px; text-decoration: none; font-family: 'gilroymedium';letter-spacing: 2px;width: auto;display: inline-block;border-bottom: 1px solid #fff;padding-bottom: 5px;}
.tileCol div.showMe img { display: block; width: 100%; transition: all .8s; }
.tileCol div.showMe:hover .ShowOnHover { opacity: 1; left: 0 }
.tileCol div.showMe:hover .ShowOnHover h2 { text-shadow: 0 0 10px rgba(0, 0, 0, 0.4); transform: translateX(0%); }
.tileCol div.showMe:hover img { opacity: 1; transform: scale(1.04); }
.filterLinks ul li:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: -4px; left: 0; background: #fff; visibility: hidden; border-radius: 5px; transform: scaleX(0); transition: .25s linear; }
.filterLinks ul li:hover:before, .filterLinks ul li:focus:before { visibility: visible; transform: scaleX(1); }
.filterLinks ul li.active:before, .filterLinks ul li:focus:before { visibility: visible; transform: scaleX(1); }
.copyText { color: #fff; text-align: center; padding: 10px 0 }
.mobileClose { display: none }
.MenuLinks a.mobilFilter { display: none }

/*Project Details*/
.mainSliderBox{padding: 0 0%; padding-top:0px;position: relative;}
.mainSliderBox .slick-slide, .mainSliderBox .slick-slide::before, .caption { -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.mainSliderBox .slick-slide::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.mainSliderBox .main-slider { position: relative; width: 100%; height: 100vh; min-height:  100vh; margin-bottom: 0px; opacity: 0; visibility: hidden; transition: all 1.2s ease; }
.mainSliderBox .main-slider.slick-initialized { opacity: 1; visibility: visible; }
.mainSliderBox .slick-slide { position: relative; height: 100vh; }
.mainSliderBox .slick-slide::before { background-color: #000; opacity: .3; z-index: 1; }
.mainSliderBox .slick-slide video { display: block; position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.mainSliderBox .slick-slide iframe { position: relative; pointer-events: none; }
.mainSliderBox .slick-slide figure { position: relative; height: 100%; }
.mainSliderBox .slick-slide .slide-image { opacity: 0; height: 100%; background-size: cover; background-position: center; transition: all .8s ease; }
.mainSliderBox .slick-slide .slide-image.show { opacity: 1; }
.mainSliderBox .slick-slide .image-entity { width: 100%; opacity: 0; visibility: hidden; }
.mainSliderBox .slick-slide .loading { position: absolute; top: 50%; left: 0; text-align: center; width: 100%; }
.mainSliderBox .slick-slide .slide-media { -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.mainSliderBox .slick-slide.slick-active { z-index: 1; }
.mainSliderBox .slick-slide.slick-active .slide-media { -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.mainSliderBox .slick-slide.slick-active .caption { opacity: 1; transition: all .3s ease;top: calc(50% - -200px);left: calc(50% - 0px);transform: translate(-50%, -50%);}
.mainSliderBox p.detail {position: absolute;top: 50%;left: 50%;width: 64%;text-align: justify;padding: 0px;/*color: #4f4f4f;*/color: #6d6d6d;margin: 0;font-size: 20px;line-height: 42px;font-weight: 400;letter-spacing: 2px;z-index: 1;transition: all .3s ease;transform: translate(-50%, -50%);}
.mainSliderBox p.detail strong {color: #fff;font-weight: bold;position:relative;}
.mainSliderBox p.detail strong:before {content: "";width: 100%;height: 1px;background: #fff;position: absolute;bottom: -4px;}


.mainSliderBox .caption { position: absolute; top: 50%; left: 5%; text-align: center; padding: 16px; border: 3px solid; color: #fff; margin: 0; font-size: 30px; font-weight: bold; letter-spacing: .02em; opacity: 0; z-index: 1; transition: all .3s ease; -webkit-transform: translateY(0px); transform: translateY(0px); }
.mainSliderBox .slick-dots { text-align: center; padding-top: 15px; bottom:20px; }
.mainSliderBox .slick-dots li { display: inline-block; vertical-align: top; margin: 0 3px; }
.mainSliderBox .slick-dots li button { width: 12px; height: 12px; border: none; cursor: pointer; border-radius: 50%; border: 2px solid #fff; box-shadow: 0 0 0 0 transparent; vertical-align: middle; color: #fff; background-color: #fff; transition: all .3s ease; opacity: .4; }
.mainSliderBox .slick-dots li button:focus { outline: none; }
.mainSliderBox .slick-dots li button:hover { opacity: 1; }
.mainSliderBox .slick-dots li.slick-active button { border-color: #2d3042; box-shadow: 0 0 0 2px #fff; opacity: 1; }
.mainSliderBox .container { background-color: #f2f2f2; color: #444; line-height: 1.6; padding: 40px 0; }
.mainSliderBox .container .content { width: 90%; max-width: 980px; margin: 0 auto; }
.mainSliderBox .container p { margin-bottom: 40px; }
.slick-dots li button::before{content:'';}

.mainSliderBox .slick-prev:before,
.mainSliderBox .slick-next:before {content: '' !important;}
.mainSliderBox .slick-prev, 
.mainSliderBox .slick-next {top: 50%;width: 11px;height: 20px;background-size: 11px 20px;}
.mainSliderBox .slick-prev { left: 50px; background-image: url(../images/prev.png) ;z-index: 9;}
.mainSliderBox .slick-next { right: 50px; background-image: url(../images/next.png) ;z-index: 9;}
 @-webkit-keyframes slideIn {  from {
 -webkit-filter: blur(15px);
 filter: blur(15px);
}
to { -webkit-filter: blur(0); filter: blur(0); }
}
 @keyframes slideIn {  from {
 -webkit-filter: blur(15px);
 filter: blur(15px);
}
to { -webkit-filter: blur(0); filter: blur(0); }
}
@-webkit-keyframes slideOut {  from {
 -webkit-filter: blur(0);
 filter: blur(0);
}
to { -webkit-filter: blur(15px); filter: blur(15px); }
}
@keyframes slideOut {  from {
 -webkit-filter: blur(0);
 filter: blur(0);
}
to { -webkit-filter: blur(15px); filter: blur(15px); }
}


.projectDesc{width:65%;}
.projectDesc h1{font-family: 'gilroybold'; font-size:36px; color:#fff; padding-bottom:7px;}
.projectDesc h1 b{display:inline-block; border-bottom:#fff solid 3px;}
.projectDesc span{font-size:18px; font-family: 'gilroymedium'; color:#fff}
.projectDesc p{font-size:14px; color:#fff; padding-top:30px; line-height:20px;}
.projectDesc abbr{font-family: 'gilroybold'; font-size:18px;}
.projectInfo{padding-top:70px;}

.projectName{align-self:flex-end;align-content:stretch;}
.projectName h2{font-family: 'gilroybold'; font-size:26px; color:#fff;}
.projectName h2 span{display:inline-block; border-bottom:#fff solid 3px; text-transform:uppercase}
.projectName p{font-size:14px; color:#fff; line-height:20px;}

.projectInfo.d-flex { justify-content: space-between; }
.detailRow{margin:0 -5px; border:none !important}
.detailRow .clear{border:none !important}
.detailRow .SameCol{width:50%; float:left}
.detailRow .FullCol{width:100%;}
/*Media Queries*/



.scrol {height: 62px;margin-bottom: 50px;position: absolute;text-align: center;top: auto;z-index: 16;bottom: 0px;right: 51.3%;animation: 2s ease 0s normal none infinite running bounce1;}
.scroll-next {border: 2px solid #e2e2e2;border-radius: 16px;display: inline-block;height: 58px;left: 0;margin: auto;outline: medium none !important;position: absolute;right: 0;width: 32px;animation: 2s ease 0s normal none infinite running bounce1;box-shadow: 0px 0px 25px 2px #000;animation: yb 1.5s infinite alternate;-webkit-animation: yb 1.5s infinite alternate;}
.scroll-next:hover{border: 2px solid #6d6d6d;}
.scroll-next:hover::before {background: #6d6d6d none repeat scroll 0 0;}
.scroll-next::before {background: white none repeat scroll 0 0;border-radius: 40%;content: "";height: 10px;left: 12px;position: absolute;top: 10px;width: 4px;}
.scroll-next span {display: block;margin-top: 56px;position: relative;}
.scroll-next span::after {animation-name: bounce2;top: 15px;}
.scroll:hover {background: url(../images/scroll_hover.png) no-repeat;}

@keyframes bounce1 {
0%, 20%, 50%, 80%, 100% {
    bottom: 0px;
}
40% {
    bottom: 5px;
}
60% {
    bottom: 5px;
}
}



















/*Header*/
.header-menu { position: fixed; left: 0; top: 0; width: 100%; z-index: 999; transition: all 800ms ease; -moz-transition: all 800ms ease; -webkit-transition: all 800ms ease;height: 0;}
.header-menu.fixNav { background: rgba(255,255,255,0.9); box-shadow: 0 0 10px 0 rgba(0,0,0,0.3) }
.header-menu .container,
.header .container,
.footer .container{ width: 100%; padding: 0 40px; max-width: 100%;height: 0;}
.header-menu.fixNav .navRytbar { padding-top: 5px }
.navRytbar { float: right; width: 32px; padding-top: 0px }
.navmenu-icon { float: left; width: 32px; height: 66px; padding-top: 40px;}
.hamburger { position: relative; top: 0px; right: 0px; margin: 0 auto; width: 32px; height: 26px; cursor: pointer; overflow: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 9999999 }
.hamburger.is-active .hamburger--outer:nth-child(1), .hamburger.is-active .hamburger--outer:nth-child(2), .hamburger.is-active .hamburger--outer:nth-child(3), .hamburger.is-inactive:hover .hamburger--outer:nth-child(6), .hamburger.is-inactive:hover .hamburger--outer:nth-child(7) { display: none }
.hamburger.is-active .hamburger--outer:nth-child(6) { -webkit-transform: rotate(225deg) translateX(0) scaleX(1); transform: rotate(225deg) translateX(0) scaleX(1); top: 21px; left: 25px }
.hamburger.is-active .hamburger--outer:nth-child(7) { -webkit-transform: rotate(-45deg) translateX(0) scaleX(1); transform: rotate(-45deg) translateX(0) scaleX(1); top: 21px; left: 5px }
.hamburger.is-inactive:hover .hamburger--outer:nth-child(1) { -webkit-animation: hamburgerHover .33s ease-out .32s; animation: hamburgerHover .33s ease-out .32s }
.hamburger.is-inactive:hover .hamburger--outer:nth-child(2) { -webkit-animation: hamburgerHover .33s ease-out .21s; animation: hamburgerHover .33s ease-out .21s; left: 0; width: 100%; -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: ease; transition-timing-function: ease }
.hamburger.is-inactive:hover .hamburger--outer:nth-child(3) { -webkit-animation: hamburgerHover .33s ease-out .1s; animation: hamburgerHover .33s ease-out .1s }
.hamburger--outer { display: block; position: absolute; height: 3px; background: #fff; border-radius: 9px; opacity: 1; -webkit-transform: rotate(0); transform: rotate(0);box-shadow: 0 0px 2px 0px rgb(216, 216, 216);border: 0.5px solid rgba(0, 0, 0, 0.1);}
.hamburger--outer:nth-child(1), .hamburger--outer:nth-child(4), .hamburger--outer:nth-child(6) { top: 0; left: 0; width: 100%; -webkit-transform-origin: left center; transform-origin: left center }
.hamburger--outer:nth-child(2) { top: 10px; left: 0px; width: 32px; -webkit-transform-origin: left center; transform-origin: left center }
.hamburger--outer:nth-child(3), .hamburger--outer:nth-child(5), .hamburger--outer:nth-child(7) { top: 20px; left: 0; width: 100%; -webkit-transform-origin: left center; transform-origin: left center }
.hamburger--outer:nth-child(4) { top: -1px; left: 4px; -webkit-transform: rotate(45deg) translateX(0) scaleX(0); transform: rotate(45deg) translateX(0) scaleX(0) }
.hamburger--outer:nth-child(5) { top: -1px; left: 22px; -webkit-transform: rotate(135deg) translateX(0) scaleX(0); transform: rotate(135deg) translateX(0) scaleX(0) }
@-webkit-keyframes hamburgerHover {  0% {
 -webkit-transform: translateX(0);
 transform: translateX(0)
}
 50% {
 -webkit-transform: translateX(110%);
 transform: translateX(110%)
}
 50.001% {
 -webkit-transform: translateX(0) translateY(11px);
 transform: translateX(0) translateY(11px)
}
 100% {
 -webkit-transform: translateX(0) translateY(0);
 transform: translateX(0) translateY(0)
}
}
@keyframes hamburgerHover {  0% {
 -webkit-transform: translateX(0);
 transform: translateX(0)
}
 50% {
 -webkit-transform: translateX(110%);
 transform: translateX(110%)
}
 50.001% {
 -webkit-transform: translateX(0) translateY(11px);
 transform: translateX(0) translateY(11px)
}
 100% {
 -webkit-transform: translateX(0) translateY(0);
 transform: translateX(0) translateY(0)
}
}
.closeNavBar { position: fixed; right: 0; top: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; }
.closeNavBar.openNavBar { z-index: 98; }
.closeNavBar.openNavBar + .header { background: none; box-shadow: none }
.pageNavigation { border-radius: 0%; width: 49px; height: 100vh; float: right; background-color: #000; border: none; transition: all 1s ease-out; }
.menubar { position: relative; z-index: 99;height: 0;}
.openRound { transform: scale(100); transition: all 0.8s ease-in; cursor: default;width: 100vw;}
.circle-nav { height: 700px; width: 700px; border-radius: 50%; background: #f6f6f6; position: absolute; left: -200px; top: -200px; }
.menucontent { opacity: 0; transition: all 0.300s; transition-delay: 0s; }
.closeNavBar.openNavBar .menucontent { opacity: 1; transition: all 1s; transition-delay: 1s; }
.closeNavBar.openNavBar .menucontent .social-icons{margin-top: 140px;}
.closeNavBar.openNavBar .menucontent .social-icons a{ color:#393939;}
.closeNavBar.openNavBar .menucontent .social-icons a img{-webkit-filter: brightness(0.7) invert(1);filter: brightness(0.7) invert(1);}
.closeNavBar.openNavBar .menucontent .social-icons a:hover img{-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}

.closeNavBar .logo{/* opacity: 0;*/ /*transition: all 0.300s; transition-delay: 0s; */display: none;}
.closeNavBar.openNavBar .logo {/* opacity: 1;*//*transition: all 1s;transition-delay: 1s;*/z-index: 99;position: absolute;/*top: 40px;left: 40px;*/padding: 40px 0 0 40px;}

.ballonboy { position: absolute; right: 0; bottom: 0; width: 300px; }
.teddyballon { position: absolute; right: 50px; bottom: 70px; }
.sliding-u-l-r-l { display: inline-block; position: relative; padding-bottom: 0px; color: #393939; font-size: 46px; font-weight: bold;text-transform: uppercase;font-family: 'gilroybold';letter-spacing: 6px; }
.sliding-u-l-r-l:hover{color:#fff;}
.sliding-u-l-r-l span { position: relative; z-index: 2 }
.sliding-u-l-r-l:before { content: ''; display: block; position: absolute; left: 0; bottom: -15px; height: 3px; width: 0; transition: width 0s ease, background .5s ease; z-index: 1 }
.sliding-u-l-r-l:after { content: ''; display: block; position: absolute; right: 0; bottom: -10px; height: 3px; width: 0; background: #fff; transition: width .5s ease; z-index: 1 }
.sliding-u-l-r-l:hover:before { width: 100%; background: #fff; transition: width .5s ease; }
.sliding-u-l-r-l:hover:after, .sliding-u-l-r-l.active:hover:after { width: 100%; background: transparent; transition: all 0s ease; }
.navigation-links { position: relative; z-index: 99; position: absolute; right: 16.5%; top: 120px }
.navigation-links ul li { margin-bottom: 10px }
/*Header end*/


.desk-view{display:block !important}
.mob-view{display:none !important}
/*Footer CSS Start*/
.footer {left: 0;bottom: 0;width: 100%;background: #000;color: #fff;}
.footer-cntr {margin: 0 auto;padding: 50px 0 150px 0}
/*.footer-cntr > ul > li {float: left;margin-right: 6%;width: 20%;}*/
.footer-cntr > ul > li {float: left;margin-right: 0%;margin-right:0px;}
.footer-cntr > ul > li:nth-child(1) {width: 33.33%;padding-right: 3.3%;}
.footer-cntr > ul > li:nth-child(2) {width: 33.33%;padding-right: 3.3%;padding-left:80px;}
.footer-cntr > ul > li:nth-child(3) {width: 33.33%;padding-right: 3.3%;padding-left:80px;}
.footer-cntr > ul > li:nth-child(2) ul li,
.footer-cntr > ul > li:nth-child(3) ul li{padding-left:0px;}
.footer-cntr > ul > li:last-child {margin-right: 0}
.footer-cntr dl dt,
.copyright-text h2 {color: #fff;letter-spacing: 2px;text-transform: uppercase;font-size: 22px;padding-bottom: 15px;background: transparent;font-family: 'gilroybold';letter-spacing: 3px;}
.footer-cntr dl dd {font-size:1.1em;line-height: 32px;letter-spacing: 2px;}
.footer-cntr dl dd a {color: #fff;background: url(../images/mail-icon.png) 0px center no-repeat;padding-left: 30px;background-size: 20px;}
.footer-cntr dl dd ul li a {font-size: 15px;color: #c3c3c3}
.footer-cntr dl dd ul li {margin-top: 15px;color: #c3c3c3;font-size: 15px;line-height: 22px;padding-left: 0px;background-repeat: no-repeat;background-position: 0px 4px;}
.footer-cntr dl dd ul li a:hover {color: #f57921}
.copyright-text p{color: #959595;font-size: 14px;margin-bottom: 5px;font-weight: 400;}

.site-buy a {text-decoration:underline}
.site-buy a:hover {color:#fff;}
.copyright-text .grayftr-logo {display: block;width: 100%;margin-bottom: 20px;}
.grayftr-logo {float: left;margin-right: 20px;display:none;}
.copyright-text {float: left;}
.copyright-text {font-size: 12px;color: #959595}
.copyright-text a {color: #959595}
.copyright-text a:hover {text-decoration:underline;color:#f57921}
.social-icons {margin-top: 20px;}
.social-icons a {display: inline-block;vertical-align: middle;margin-right: 20px;}
.social-icons a img {-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%);transition: all 0.5s ease;height: 24px;}
.social-icons a:hover img {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%);}
/*Footer CSS End*/

@media(min-width:769px) {
/*For Desktop Only*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
.scrollTop { position: fixed; right: 10px; bottom: 20px; width: 20px; height: 11px; text-align: center; z-index: 6; display: none; border-radius: 50%; text-align:right }
.scrollTop a { display: block; color: #fff; }
}

@media(min-width:1601px) {
body{font-size:16px;}
.footer-cntr > ul > li:nth-child(1) {padding-right: 7%;}
.footer-cntr > ul > li:nth-child(2) {padding:0 110px 0 80px;}
.navigation-links { top: 340px }
.navigation-links ul li { margin-bottom: 40px }
.sliding-u-l-r-l {font-size: 62px;line-height: 46px;}
/*.mainSliderBox p.detail {width: 68%;font-size: 35px;line-height: 72px;letter-spacing: 1px;margin-top: 40px;}*/
.mainSliderBox p.detail {width: 100%;font-size: 32px;line-height: 72px;letter-spacing: 2px;margin-top: 40px;padding: 0 16%;}	
.footer-cntr dl dd a {background: url(../images/mail-icon.png) 0px 6px no-repeat;}
.filterLinks span {margin-bottom: 4px;}
.social-icons a {margin-right: 33px;}
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
body { font-size: 14px; }
.header .navigations.d-flex .logo img,
.closeNavBar.openNavBar .logo img{width:198px}
.sliding-u-l-r-l {font-size: 42px;line-height: 48px;letter-spacing: 5px;}
.closeNavBar.openNavBar .menucontent .social-icons {margin-top: 80px;}
.navigation-links {right: 16.5%;top: 220px;}
.commonSpace {padding-top: 250px;}
/*.closeNavBar.openNavBar .logo {top: 20px;left: 20px;}
.navigations.d-flex { padding: 20px 0 0;}
.container {padding: 0 10px;}
.header-menu .container, .header .container, .footer .container {padding: 0 20px;}*/
.filterLinks a,
.filterLinks span {font-size: 1.2em;letter-spacing:3px;}
.tiles-boxes {margin-top: 15px;}
.tileCol div {border: #000 solid 7px;}
.sliding-u-l-r-l:before {bottom: -15px;}
.mainSliderBox p.detail{font-size: 18px;}
.footer-cntr dl dd {font-size: 1em;}
}

@media only screen and (max-width: 1280px) {
.sliding-u-l-r-l:before {bottom: -5px;}
.navigation-links ul li {margin-bottom: 18px;}
.filterLinks a, .filterLinks span {font-size: 1em;letter-spacing: 3px;}
}
/*@media screen and (min-width: 2560px) , screen and (min-height: 1440px) {*/
/*@media(min-width:2560px) {*/
@media only screen and (min-width: 2500px) {
/*.mainSliderBox .slick-slide::before {background-color: #ffc800;opacity: 1;}*/
/*@media(min-width:2560px) {*/
/*@media screen and (min-width: 1440px) and (max-width: 2560px) {*/
.mainSliderBox p.detail {width: 100%;font-size: 46px;line-height: 106px;letter-spacing: 4px;margin-top: 40px;padding: 0px 12%;}
.filterLinks p {margin-right: 10px;}
.navigations.d-flex {width: 12%;}
.filterLinks a, .filterLinks span {font-size: 1.5em;letter-spacing: 4px;}
.filterLinks p {margin-top: 15px;}
.tiles-boxes {margin-top: 15px;}
.footer-cntr dl dd {font-size: 1.2em;line-height: 32px;letter-spacing: 3px;}
.filterLinks a.active, .filterLinks a:hover {border-bottom: 2px solid #fff;}
.footer-cntr dl dd a {background-size: 17px;}
.footer-cntr dl dt, .copyright-text h2{letter-spacing: 4px;}
.tileCol div {border: #000 solid 10px;}
.navigation-links {top: 30%;}
.sliding-u-l-r-l {font-size: 6em;line-height: 52px;letter-spacing: 6px;}
.navigation-links ul li {margin-bottom: 60px;}
.sliding-u-l-r-l:before {bottom: -20px;}
.social-icons a img {height: 35px;}
.social-icons a {margin-right: 50px;}
.filterLinks span {margin-bottom: 4px;}

}
@media screen and (min-width: 0) and (max-width: 1199px) {
body { font-size: 12px; }
/*overlay*/
.overlay-box { width: 96%; min-width: 0 }
/*overlay end*/
}
@media screen and (min-width: 0) and (max-width: 1024px) {
.social-icons a img {height: 14px;}
.header.fixNav .navigations.d-flex .logo img {width: 175px;}
tileCol div {border: #000 solid 5px;}
}

@media screen and (min-width: 0) and (max-width: 768px) {
/*For ipad and tab*/
body, html { overflow-x: hidden; }
body { position: relative }
.container { padding: 0 2%; }
.header-menu .container, .header .container, .footer .container {padding: 0 2%;}
.header.fixNav .navigations.d-flex .logo img {height: 42px;width:auto !important;margin: 10px 0;}
.header.fixNav .navigations.d-flex {padding: 0px 0;}


.header.fixNav:before {content: "";height: 58px;width: 80%;}
.header.fixNav:after {content: "";height: 58px;width: 2%;}

.navigations.d-flex { padding: 0px; }
.header .navigations.d-flex .logo img {height: 42px;width:auto !important;margin: 10px 0;}
.navigations { display: block; }
.logo { float: left; width: auto; }
.MenuLinks { float: right; margin-top: 12px; }
.page-filter-cntr{position:relative;}
.page-filter-cntr .filterOptions { transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; position: absolute; right: -100%; width: 50%; padding: 0; background: #fff; z-index: 1; top: 0; height: 100%; overflow-y: auto; }
.filterLinks ul li { float: none; margin-right: 0; padding: 10px 15px; color: #000; margin-bottom: 0; border-bottom: rgba(0,0,0,0.2) solid 1px }
.filterLinks ul li:before { display: none }
/*.mobileClose { display: none; position: absolute; right: 10px; top: 10px; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; background: #000; color: #fff; text-align: center; font-family: 'gilroybold'; font-size: 16px; }*/
.mobileClose {display: none;position: absolute;right: 50px;top: 15px;width: 62px;height: 40px;line-height: 37px;border-radius: 0%;background: #000;color: #fff;text-align: center;font-family: 'gilroybold';font-size: 20px;}
.header-menu.menubaropen .mobileClose{display:block;}
.filterLinks { margin-bottom: 0; padding-top: 30px; }
.filterIcon:after { font: 20px/40px 'FontAwesome'; content: '\f0b0'; }

.filterOptions.menubaropen { right: 0;height: 100vh;top: 0px;margin-top: 66px;width: 100vw;}
.filterLinks span{display:none;}
.filterLinks a{width:100%;font-size: 18px;border-bottom: 1px solid #eee;margin: 0;padding: 5px 0 5px 20px;}
.filterLinks p:first-child {right: 0%;padding-left: 0px;}
.filterLinks a.active, .filterLinks a:hover {background: #000;}


.tiles-boxes { margin-top: 16px; }

.sliding-u-l-r-l {font-size: 32px;}
.navigation-links {right: 20%;top: 100px;}

.filterOptions {transition: all 300ms ease;-moz-transition: all 300ms ease;-webkit-transition: all 300ms ease;position: absolute;right: -100%;width: 50%;padding: 0;background: #fff;z-index: 1;top: 0;height: 100%;overflow-y: auto;}
.mainSliderBox .item.image.slick-slide::before {opacity: 1;}
.mainSliderBox .slick-prev, .mainSliderBox .slick-next{display:none !important;}

.scrol {right: 55.3%;}
.logo img{height: 42px;}
.closeNavBar.openNavBar .logo {top: 10px;left: 10px;}
.closeNavBar.openNavBar .menucontent .social-icons {margin-top: 60px;}





.desk-view{display:none !important}
.mob-view{display:block !important}
.navmenu-icon {padding-top: 22px;}
.footer-cntr { margin: 0 auto;padding: 80px 0 0;}
.footer-cntr > ul > li {margin-right: 0%;width: 100%;margin-bottom: 60px;}
.footer-cntr > ul > li:nth-child(1) {padding-left: 10px;}
.footer-cntr > ul > li:nth-child(2) {margin-bottom:50px;;padding-left: 10px;}
.footer-cntr > ul > li:nth-child(3) {padding-left: 10px;}
.footer-cntr dl dd a {background: url(../images/mail-icon.png) 0px 1px no-repeat;}
.copyright-text {float: left;}
}
@media screen and (min-width: 0) and (max-width: 980px) {
/*For small tabs*/
	/*form*/
.form-row .form-field { margin: 0; }
/*form end*/


.commonSpace { padding-top: 63px }
.menulinks ul li a.active::before, .menulinks ul li a:focus::before { display: none }
.menulinks ul li { float: none; margin-right: 0; line-height: normal }
.header.fixNav .menulinks ul li { line-height: normal }
.menulinks { float: none !important; clear: both !important }
.mobile-nav-icon { display: block; padding-top: 19px }
.menu-icon { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 31px; height: 31px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; -webkit-transition: background 0.3s; transition: background 0.3s; }
.menu-icon:focus { outline: none; }
.menu-icon span { display: block; position: absolute; top: 13px; left: 0px; right: 0px; height: 3px; background: #66615e; }
.menu-icon span::before, .menu-icon span::after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #66615e; content: ""; }
.menu-icon span::before { top: -8px; }
.menu-icon span::after { bottom: -8px; }
.mobil-icon-toggle { background-color: transparent; }
.mobil-icon-toggle span { -webkit-transition: background 0s 0.3s; transition: background 0s 0.3s; }
.mobil-icon-toggle span::before, .mobil-icon-toggle span::after { -webkit-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }
.mobil-icon-toggle span::before { -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.mobil-icon-toggle span::after { -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
/* active state, i.e. menu open */
.mobil-icon-toggle.active { background-color: transparent; }
.mobil-icon-toggle.active span { background: none; }
.mobil-icon-toggle.active span::before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.mobil-icon-toggle.active span::after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.mobil-icon-toggle.active span::before, .mobil-icon-toggle.active span::after { -webkit-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; background: #f86759; }
.menulinks ul li a::before { display: none !important }
.mobileNav { position: fixed; right: -100%; top: 60px; height: calc(100% - 96px); background: #fff; width: 100%; overflow-y: scroll; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; }
.menulinks ul li a { display: block; padding: 15px }
.menulinks ul li { border-bottom: #e6e6e6 solid 1px }
.menulinks + .menulinks ul li:last-child { border-bottom: none }
.mobileNav.menubaropen { right: -50%; }
.innerHeading h1 { font-size: 3em; text-align: center }
.mainSliderBox p.detail {font-size: 16px;line-height: 24px;width:90vw;top: 57%;}


}
@media screen and (min-width: 0) and (max-width: 767px) {
body { font-size: 11px; }
.menulinks ul li { margin-right: 25px; line-height: normal }
.shipping-icon > ul > li { margin-right: 15px }
.freeshipngtxt { font-size: 12px }
.slider .slick-next { right: 10px }
.slider .slick-prev { left: 10px }
.slider .slick-arrow { width: 25px; height: 25px; background-size: 25px auto }
.slider .slick-dots { bottom: 15px; right: 15px }
.banner-txt { padding-left: 15px }
.banner-txt:before { display: none }
.banner-txt h2 { font-size: 22px; line-height: 28px }
.banner-txt h2 span { width: 135px; line-height: 16px; font-size: 16px; position: static; vertical-align: middle; padding-top: 0 }
.desktopBanner { display: none }
.mobileBanner { display: block }
.tileCol >div { float: none !important; width: 100% !important; border: none !important; margin-bottom: 10px; }
.tileCol > div > div { border: none !important; margin-bottom: 10px }
.tileCol > div > div:last-child { margin-bottom: 0 }
.scrollTop { text-align: center; padding-bottom: 0px; position: fixed; bottom: 10px; right: 10px }
.scrollTop img{width:30px;}
.filterOptions { height: 100vh;top: 0px;margin-top: 66px;width: 100vw; }
.detailRow .SameCol{width:100%; float:none}
.detailRow .SameCol:last-child{margin-bottom:0}
.detailRow{margin:0 auto}
.detailRow{margin-bottom:0 !important}
.mainSliderBox .caption{border:none; width:90%; text-align:center; top:45%; font-size:26px;}
.mainSliderBox .main-slider { height: 75vh; min-height:  75vh;}
.mainSliderBox .slick-slide { height: 75vh; }
.MenuLinks a.mobilFilter { display: inline-block }



.mainSliderBox .main-slider {height: 100vh;min-height: 100vh;}
.mainSliderBox .slick-slide { height: 100vh; }
.projectInfo.d-flex{display:block}
.projectDesc{width:100%;}
.projectName {text-align:center; padding-top:15px;}

}
@media screen and (min-width: 0) and (max-width: 480px) {
}
@media screen and (min-width: 0) and (max-width: 480px) {
}
@media screen and (min-width: 0) and (max-width: 320px) {
}
