/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
/* @import url(https://allfont.net/allfont.css?fonts=agency-fb); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

@font-face{
    font-family:agency fb;
    font-style:normal;
    font-weight:400;
    src:local('Agency FB'),
    local('AgencyFB-Regular'),
    url(fonts/agency-fb.woff) format('woff'),
    url(fonts/agency-fb.ttf) format('truetype')
}
/*@font-face{
	font-family:"CircularStd";
	src:url(fonts/CircularStd-Book.woff) format("woff");
	font-weight:400;
	font-style:normal
}
@font-face{
	font-family:"CircularStd";
	src:url(fonts/CircularStd-Bold.woff) format("woff");
	font-weight:700;
	font-style:normal
}*/

/* #Primary================================================== */
body{font-family: 'Agency FB', arial;font-weight:400;font-size:18px;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
::selection {color: #fff;background-color: #1ca6c9;}
::-moz-selection {color: #fff;background-color: #1ca6c9;}

.bg-dark {background-color: #222222 !important;}
.section {position: relative;width: 100%;display: block;}
.full-height {height: 100vh;}
.over-hide {overflow: hidden;}
.absolute-center {position: absolute;top: 50%;left: 0;width: 100%;margin-top: 40px;transform: translateY(-50%);z-index: 20;}
section {padding: 80px 0;position: relative;}
.btn{outline: none;}

.btn-primary{font-size: 18px;font-weight: 700; border-radius: 50px;padding: 20px 50px;background-color: #354b7a;border-color: #354b7a;}
.btn-primary:hover{background-color: #fff;border-color: #354b7a;color:#354b7a}
.btn-primary.isreversed{background-color: #fff;border-color: #354b7a;color:#354b7a}
.btn-primary.isreversed:hover{background-color: #354b7a;border-color: #354b7a;color:#fff}

.btn-secondary{font-size: 18px;font-weight: 700; border-radius: 50px;padding: 20px 50px;background-color: #8fd7f7;border-color: #8fd7f7;}
.btn-secondary:hover{background-color: #fff;border-color: #8fd7f7;color:#8fd7f7}
.btn-secondary.isreversed{background-color: #fff;border-color: #8fd7f7;color:#8fd7f7}
.btn-secondary.isreversed:hover{background-color: #8fd7f7;border-color: #8fd7f7;color:#fff}


/*.btn-primary {background-color: #fff;border-color: #354b7a;color:#354b7a}
.btn-primary::after {background: #354b7a;border-color: #354b7a;color:#fff}
.btn-primary:hover {background-color: #fff;border-color: #354b7a;}
.btn-primary.is-reversed {background: #fff;border-color: #354b7a;color:#fff}
.btn-primary.is-reversed::after {width: 100%;}
.btn-primary.is-reversed:hover {color: #354b7a;}
.btn-primary.is-reversed:hover::after {width: 0;}
[class*="btn"] {font-size: 18px;font-weight: 700; border-radius: 50px;padding: 20px 50px;outline: none;}
[class*="btn-"] {position: relative;z-index: 1;-webkit-transition-delay: 0.2s !important;transition-delay: 0.2s !important;overflow: hidden;}
[class*="btn-"]::after,
[class*="btn-"]::before {content: "";display: block;position: absolute;z-index: -1;}
[class*="btn-"],
[class*="btn-"]:hover {-webkit-transition: color 0.5s  ease-in-out;transition: color 0.5s  ease-in-out;}
.btn::after {-webkit-transition: width 0.5s ease-in-out;transition: width 0.5s ease-in-out;top: 0;right: 0;bottom: 0;left: 0;width: 0;}
.btn:hover::after,
.btn.active::after {-webkit-transition: width 0.5s ease-in-out;transition: width 0.5s ease-in-out;width: 100%;}*/

.readmorebtn {font-size: 18px;font-weight: 400;padding: 10px 30px;}

.font400{font-weight: 400;}
.font700{font-weight: 400;}
ul li{margin-bottom: 10px;}
h1, h2, h3, h4, h5, h6{font-family: 'Agency FB', arial;}
h1 {font-size: 56px;margin-bottom: 10px;color: #fff;font-weight:700}
h2 {font-size: 38px;margin-bottom: 10px;font-weight:700}
h3 {font-size: 32px;margin-bottom: 10px;font-weight:500}
p {font-size: 18px;line-height: 1.8; color:#fff;font-family: 'Agency FB', arial;font-weight:400}
.text-black{color: #000 !important;}
.text-white{color: #fff !important;}
.bgblack{background: #000 !important;}
.bgwhite{background: #fff !important;}
.bgblue{background: #1ca6c9 !important;}
.bg_dot_pattern {background-image: url(../images//dot_pattern.png);background-position: center center;background-repeat: repeat;background-size: 14% auto; transition: background .3s,border-radius .3s,opacity .3s;background-color: rgba(241,245,255,.45);}
.dotbgoverlay {background-image: url(../images//dot_pattern.png);background-position: center center;background-repeat: repeat;background-size: 14% auto; transition: background .3s,border-radius .3s,opacity .3s;background-color: rgba(241,245,255,.45);height: 100%;width: 100%;top: 0;left: 0;position: absolute;}
.mb_-700{margin-bottom:-700px;}
.mt_-320{margin-top: -320px;}
.mt_380{margin-top:550px;}
.wrapper{padding-top:80px;}
.imgcntrwhitebg{padding:30px;background:#fff;border-radius: 25px;}
.br5{border-radius: 5px;}
.br10{border-radius: 10px;}
.br15{border-radius: 15px;}
.br25{border-radius: 25px;}
.br50{border-radius: 50px;}
.posabs{position: absolute;}
.posfix{position: fixed;}
.posrel{position: relative;}
.border0{border: 0px !important;}
ol, ul {padding-left: 0rem;list-style: none;}
ol.checkmark li,
ul.checkmark li{position:relative;padding-left: 25px;}
ol.checkmark li,
ul.checkmark li:before{content: "\f00c";font: normal normal normal 14px/1 FontAwesome;position: absolute;left: 0px;top: 5px;color: #1ca6c9;}
ol.checkmark.whitearrow li,
ul.checkmark.whitearrow li:before{color: #fff;}
ul.checkmark.blackarrow li:before{color: #000;}
ul.circle li:before{content: "\f111";font: normal normal normal 8px/1 FontAwesome;position: absolute;left: 0px;top: 7px;color: #1ca6c9;}
ul.circle li {padding-left: 15px;}
  
  
  
/* #pre loader================================================== */
.loader {background: #99ccff;padding: 0px; margin: 0;overflow: hidden;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99999999999;}
#ocean {top: 300px;left: 0;height: 100%;width: 100%;position: fixed;background-color: rgba(0, 51, 102, .5);z-index: 120;}
#wholeship {top: 200px;height: 105px;position: relative;width: 450px;left: 0;float: left;}
#ship-container {}
#ship-container div {position: absolute;}
.hull {border-right: 10px solid transparent;border-top: 25px solid #cc3333;border-left: 16px solid transparent;width: 350px;height: 0px;top: 80px;left: 50px;}
.hull:after {content: '';display: block;position: absolute;top: -40px;left: -23px;border-right: 10px solid transparent;border-top: 17px solid #333333;border-left: 7px solid transparent;width: 376px;height: 0px;}
.hull:before {content: '';display: block;position: absolute;top: -43px;left: -24px;border-right: 1px solid transparent;border-top: 3px solid #0066cc;border-left: 1px solid transparent;width: 393px;height: 0px;}
.hull-top {width: 395px;height: 5px;background: #333333;top: -48px;left: -25px;}
.hull-top:after {content: '';display: block;position: absolute;height: 5px;width: 20px;background: red;-webkit-transform: skewX(-40deg);-moz-transform: skewX(-40deg);background: #333333;right: -4px;}
.porthole {position: absolute;width: 8px;height: 8px;background: #ffffff;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;top: 12px;z-index: 2;}
.p1 {left: 25px;}
.p2 {left: 50px;}
.p3 {left: 75px;}
.p4 {left: 100px;}
.p5 {left: 125px;}
.p6 {left: 150px;}
.p7 {left: 175px;}
.p8 {left: 200px;}
.p9 {left: 225px;}
.p10 {left: 250px;}
.p11 {left: 275px;}
.p12 {left: 300px;}
.p13 {left: 325px;}
.p14 {left: 350px;}
.compartments-lower {top: 46px;left: 55px;background-color: #cccccc;border-top: solid 1px #999;height: 10px;width: 350px;position: absolute;z-index: 99;}
.door {width: 5px;height: 7px;background: #999999;border-radius: 50% 50% 0 0;-webkit-border-radius: 50% 50% 0 0;-moz-border-radius: 50% 50% 0 0;top: 3px;z-index: 2;}
.d1 {left: 25px;}
.d2 {left: 50px;}
.d3 {left: 75px;}
.d4 {left: 100px;}
.d5 {left: 125px;}
.d6 {left: 150px;}
.d7 {left: 175px;}
.d8 {left: 200px;}
.d9 {left: 225px;}
.d10 {left: 250px;}
.d11 {left: 275px;}
.d12 {left: 300px;}
.d13 {left: 325px;}
.compartments-upper {top: 34px;left: 65px;background-color: #cccccc;border-top: solid 2px #999;height: 10px;width: 325px;position: absolute;z-index: 99;}
.cph {position: absolute;width: 5px;height: 5px;background: #999999;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;top: 2px;z-index: 2;}
.cp1 {left: 27px;}
.cp2 {left: 51px;}
.cp3 {left: 76px;}
.cp4 {left: 102px;}
.cp5 {left: 128px;}
.cp6 {left: 152px;}
.cp7 {left: 177px;}
.cp8 {left: 202px;}
.cp9 {left: 227px;}
.cp10 {left: 252px;}
.cp11 {left: 277px;}
.cp12 {left: 302px;}
.smokestack {top: 0px;background-color: #ff9933;border-top: solid 4px #333;height: 30px;width: 15px;position: absolute;z-index: 99;}
.ss1 {left: 100px;}
.ss2 {left: 175px;}
.ss3 {left: 275px;}
.ss4 {left: 350px;}
#ship-container {-webkit-animation: 5s ease-in-out 0s normal none infinite rockship;-moz-animation: 5s ease-in-out 0s normal none infinite rockship;}
#wholeship {-webkit-animation: moveship 20s linear infinite;-moz-animation: moveship 20s linear infinite;-o-animation: moveship 20s linear infinite;}
@keyframes moveship {
	from {left: -50%;}
	to {left: 100%;}
}
@keyframes rockship {
	0% {-webkit-transform: rotate(0deg);}
	10% {-webkit-transform: rotate(-.25deg);}
	20% {-webkit-transform: rotate(-.5deg);}
	30% {-webkit-transform: rotate(-.75deg);}
	40% {-webkit-transform: rotate(-.5deg);}
	50% {-webkit-transform: rotate(-.25deg);}
	60% {-webkit-transform: rotate(0deg);}
	70% {-webkit-transform: rotate(.25deg);}
	80% {-webkit-transform: rotate(.5deg);}
	90% {-webkit-transform: rotate(.25deg);}
	100% {-webkit-transform: rotate(0deg);}
}
.smoke {-webkit-animation-name: smoke;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;background-color: rgba(255, 255, 255, 1);bottom: 35px;left:0;border-radius: 10px;height: 15px;width: 15px;}
@-webkit-keyframes smoke {
	0% {bottom: 30px;}
	50% {background-color: rgba(255, 255, 255, 0.2);height: 30px;width: 30px;bottom: 120px;left:-50px;}
	100% {background-color: rgba(255, 255, 255, 0);height: 60px;width: 60px;bottom: 260px;left:-100px;}
}
.smoke1 {-webkit-animation-delay: 1600ms;-webkit-animation-duration: 3s;}
.smoke2 {-webkit-animation-delay: 1300ms;-webkit-animation-duration: 3s;}
.smoke3 {-webkit-animation-delay: 1000ms;-webkit-animation-duration: 3s;}
.smoke4 {-webkit-animation-delay: 700ms;-webkit-animation-duration: 3s;
}


/* #Navigation================================================== */

.start-header {opacity: 1;transform: translateY(0);padding: 10px 0;-webkit-transition : all 0.3s ease-out;transition : all 0.3s ease-out;}
.start-header.scroll-on {box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);padding: 10px 0;-webkit-transition : all 0.3s ease-out;transition : all 0.3s ease-out;}
.start-header.scroll-on .navbar-brand{padding:0px;}
.start-header.scroll-on .navbar-brand img{height: 34px;-webkit-transition : all 0.3s ease-out;transition : all 0.3s ease-out;}
.navigation-wrap{position: fixed;width: 100%;top: 0;left: 0;z-index: 1000;-webkit-transition : all 0.3s ease-out;transition : all 0.3s ease-out;}
.navbar{padding: 0;}
.navbar-brand img{height: 50px;width: auto;display: block;;-webkit-transition : all 0.3s ease-out;transition : all 0.3s ease-out;}
.navbar-toggler {float: right;border: none;padding-right: 0;}
.navbar-toggler:active,.navbar-toggler:focus {outline: none;}
.navbar-light .navbar-toggler-icon {width: 24px;height: 17px;background-image: none;position: relative;border-bottom: 1px solid #000;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before{width: 24px;position: absolute;height: 1px;background-color: #000;top: 0;left: 0;content: '';z-index: 2;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after{top: 8px;}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {transform: rotate(45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {transform: translateY(8px) rotate(-45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {border-color: transparent;}
.nav-link{color: #fff !important;font-weight: 500;transition: all 200ms linear;}
.nav-item:hover .nav-link{color: #fff !important;}
.nav-item.active .nav-link{color: #fff !important;}
.start-header.scroll-on .nav-link{color: #fff !important;font-weight: 500;transition: all 200ms linear;}
.start-header.scroll-on .nav-item:hover .nav-link{color: #fff !important;}
.start-header.scroll-on .nav-item.active .nav-link{color: #fff !important;}

.nav-link {position: relative;padding: 5px 0 !important;display: inline-block;}
.nav-item:after{position: absolute;bottom: -5px;left: 0;width: 100%;height: 2px;content: '';background-color: #ffffff;opacity: 0;transition: all 200ms linear;}
.nav-item:hover:after{bottom: 0;opacity: 1;}
.nav-item.active:after{bottom: 0;opacity: 1;}
.nav-item{position: relative;transition: all 200ms linear;}
.nav-item .dropdown-menu {transform: translate3d(0, 10px, 0);visibility: hidden;opacity: 0;max-height: 0;display: block;padding: 0;margin: 0;transition: all 200ms linear;}
.nav-item.show .dropdown-menu {opacity: 1;visibility: visible;max-height: 999px;transform: translate3d(0, 0px, 0);}
.dropdown-menu {padding: 10px!important;margin: 0;font-size: 13px;letter-spacing: 1px;color: #212121;background-color: #fcfaff;border: none;border-radius: 3px;box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);transition: all 200ms linear;}
.dropdown-toggle::after {display: none;}
.dropdown-item {padding: 3px 15px;color: #212121;border-radius: 2px;transition: all 200ms linear;font-size: 14px;}
.dropdown-item:hover, .dropdown-item:focus {color: #fff;background-color: rgb(53 75 122);}


.sub-dropdown:hover .sub-dropdown-menu {opacity: 1;visibility: visible;max-height: 999px;transform: translate3d(0, 0px, 0);}
.sub-dropdown-menu {padding: 10px!important;margin: 0;font-size: 13px;letter-spacing: 1px;color: #212121;background-color: #fcfaff;border: none;border-radius: 3px;box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);transition: all 200ms linear; right: auto;left: 100%;position: absolute;top: 0;}
.sub-dropdown-menu {transform: translate3d(0, 10px, 0);visibility: hidden;opacity: 0;max-height: 0;display: block;padding: 0;margin: 0;transition: all 200ms linear;}
.sub-dropdown-toggle::after {display: none;}
.sub-dropdown-item {padding: 3px 15px;color: #212121;border-radius: 2px;transition: all 200ms linear;}
.sub-dropdown-item:hover, 
.sub-dropdown-item:focus {color: #fff;background-color: rgb(53 75 122);}

.navbar-light .navbar-toggler {padding: 5px;padding-top: 2px;box-shadow: none;}

/* home banner================================================== */
.pos-ind{position: relative;z-index: 999;}
.elementor-shape {overflow: hidden;position: absolute;left: 0;width: 100%;line-height: 0;direction: ltr;z-index:9;}
.home-banner .elementor-shape-bottom {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.elementor-shape-bottom svg {height: 137px;display: block;width: calc(130%);position: relative;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.elementor-shape .elementor-shape-fill {fill: #fff;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
.elementor-shape .elementor-shape-fill.fill-black{fill: #000;}
.methodology-computation-cntr .elementor-shape-bottom svg {width: calc(133%);height: 500px;transform: translateX(-50%) rotateY(180deg);}
.bottomcurve2 .elementor-shape-bottom svg {width: calc(133%);height: 500px;transform: translateX(-50%) rotateY(180deg);}
.elementor-shape-top {top: -1px;}
.elementor-shape-bottom {bottom: -1px;}
.elementor-shape-bottom.rotate180 {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

section.wavecntr{position: absolute;width: 100%;background: transparent;overflow: hidden;bottom: 0;z-index: 0;}
section.wavecntr .wave{position:absolute;bottom:0;left:0;width:100%;height:100px;background:url('../images/wave-white.png');background-size:1000px 100px;}
section.wavecntr .wave.wave1{animation:animate 30s linear infinite;z-index:1000;opacity:1;animation-delay:0s;bottom: 0;}
section.wavecntr .wave.wave2{animation:animate2 15s linear infinite;z-index:999;opacity:0.5;animation-delay:-5s;bottom: 10px;}
section.wavecntr .wave.wave3{animation:animate 30s linear infinite;z-index:998;opacity:0.2;animation-delay:-2s;bottom: 15px;}
section.wavecntr .wave.wave4{animation:animate2 5s linear infinite;z-index:997;opacity:0.7;animation-delay:-5s;bottom: 20px;}

@keyframes animate{0%{background-position-x: 0;}100%{background-position-x: 1000px;}}
@keyframes animate2{0%{background-position-x: 0;}100%{background-position-x: -1000px;}}

.home-banner{height: 90vh;background-color: transparent;background-image: linear-gradient(20deg,#099abf 0%,#7de4fc 100%);}
.home-banner, 
.home-banner .header-content {position: relative;width: 100%;text-align: center;}
.home-banner {min-height: 100%;background-position: center center;background-size: cover;background-repeat: no-repeat;}
.home-banner .header-content {position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);padding: 0 50px;z-index: 10;}
.home-banner .header-content .header-content-inner {width: 100%;max-width: 1200px;margin: 0 auto;text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);margin-top: 0px}
.home-banner .slick-prev, 
.home-banner .slick-next { background: #354b7a;}
.banner-slider {margin-top: 400px;}
.banner-slider .slick-track{height: 1050px;margin-top: 180px;}
.banner-slider .slick-track{height: 1050px;}

.overfloatingcntr{position:absolute;position: absolute;top: 0;left: 0;}
.overfloatingcntr img{width:80%;box-shadow: 0px 55px 50px 0px rgba(0,0,0,.1);}
.imgcntr1{top: 200px !important;left: -10% !important;}
.imgcntr2{top: 0px !important;left: 30% !important;}
.imgcntr3{top: 150px !important;left: auto !important;right: -50px !important;}
.elementor-image {-webkit-animation: mover 2.5s infinite  alternate; animation: mover 2.5s infinite  alternate;right: 25%;width: 50%;max-width: 50%;top: 20%;position: absolute;box-shadow: 0px 35px 30px 0px rgba(0,0,0,.3);}
@-webkit-keyframes mover {0% { transform: translateY(0); }100% { transform: translateY(-80px); }}
@keyframes mover {0% { transform: translateY(0); }100% { transform: translateY(-80px); }}
.elementor-image img {border-radius: 5px;box-shadow: 0px 55px 50px 0px rgba(0,0,0,.1);}
.methodology-computation-cntr{background-color: transparent;background-image: linear-gradient(20deg,#364c7b 0%,#91d8f7 100%);padding: 250px 0 200px;background: #1ca6c9;}

.slide1,
.slide2 {position: absolute;width: 100%;height: 100%;}
.slide1 {animation:fade 10s infinite;-webkit-animation:fade 10s infinite;} 
.slide2 {animation:fade2 10s infinite;-webkit-animation:fade2 10s infinite;}
@keyframes fade{
	0%   {opacity:1}
	50% { opacity: 0}
	100% { opacity: 1}
}
@keyframes fade2{
	0%   {opacity:0}
	50% { opacity: 1 }
	100% { opacity: 0}
}




#page{width:100%;height:531px;position:absolute;}
#page .imagewrapper{width: 100%;height: 531px;position: absolute;left:50%;top:50%;transform:translate3d(-50%,-50%,0);overflow:hidden;box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);border-radius: 25px;}
.before,.after {width:100%;height:100%;background-repeat:no-repeat;background-color: white;background-size: cover;background-position: center;position: absolute;top:0;left:0;pointer-events:none;overflow: hidden;}
.content-image{height:100%;}
.after{width:125px;}
.scroller{width: 50px;height:50px;position: absolute;left:100px;top:50%;transform:translateY(-50%);border-radius:50%;background-color: transparent;opacity:0.9;pointer-events:auto;cursor: pointer;}
.scroller:hover{opacity:1;}
.scrolling{pointer-events:none;opacity:1;// z-index: 1;}
.scroller__thumb{width:100%;height:100%;padding:5px;background: #fff;border-radius: 50%;border: 2px solid #59cdd8;}
.scroller:before,.scroller:after{content:" ";display: block;width: 3px;height: 9999px;position: absolute;left: 50%;margin-left: -1.5px;z-index: 30;transition:0.1s;}
.scroller:before{top:100%;}
.scroller:after{bottom:100%;}
.scroller{border: 0px solid #fff;}
.scroller:before,.scroller:after{background: #46c7d4;}

/* about banner================================================== */
.about-banner .container{height: 60vh;align-items: center;justify-content: center;display: flex;}
.elementor-shape-bottom .elementor-shape-fill.darkblue {fill: #1ca6c9;}
.bannercount [class*="col-"]{display: grid;}
.bannercount .big{color: #1ca6c9;font-size: 80px;line-height: 70px;}
.bannercount .small{color: #000;font-size: 18px;line-height: 1.7em;}
p.about-card{box-shadow: 0px 2px 60px 0px rgba(0,0,0,.1);transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 60px 40px;background: #fff;margin: 0;min-height: 375px;}
p.about-card span{display:block;font-size: 60px;line-height: 60px;color: #ddd;}
.cardwimg{box-shadow: 0px 2px 60px 0px rgba(0,0,0,.1);transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;background: #fff;margin: 0;}
.cardwrapper{padding: 40px;}
.cardwrapper p{min-height: 160px;}


.accordion {}
.accordion .card {border: none;}
.accordion .card {border-width: 10px;border-color: #fff;box-shadow: 0 18px 40px rgba(51,51,51,.1);border: 10px solid #ffffff;/*border-top: none;*/border-top: 1px solid #eee;padding-top: 10px;}
/*
.accordion .card h2 {background: #1ca6c9 url(../images/uparrow.png) no-repeat calc(100% - 10px) center;background-size: 12px;cursor: pointer;font-size: 18px;padding: 20px 20px;border-radius: 5px;color: #fff;font-weight: 400;letter-spacing: 0.5px;}
.accordion .card h2.collapsed {background: url(../images/downarrow.png) no-repeat calc(100% - 10px) center;background-size: 12px;color: #000;}
*/

.accordion .card h2 {background: #1ca6c9;cursor: pointer;font-size: 18px;padding: 20px 20px;border-radius: 5px;color: #fff;font-weight: 400;letter-spacing: 0.5px;}
.accordion .card h2.collapsed {background: #fff;color: #000;}
.accordion .card h2:before{content: "\f077";font: normal normal normal 14px/1 FontAwesome;position: absolute;right: 10px;}
.accordion .card h2.collapsed:before{content: "\f078";top: 32px;}
.accordion .card-body {padding-left: 0;padding-right: 0;}
.basic-features-floating{top: 70px !important;left: 25% !important;}
.basic-features-floating.basic-functions {top: 380px !important;left: 0% !important;width: 100%;}

.slick-next:before, 
.slick-prev:before {font: normal normal normal 22px/1 FontAwesome;opacity: 1;}
.slick-prev {background: #1ca6c9;width: 40px;height: 40px;border-radius: 50%;margin-left: -20px;}
.slick-next {background: #1ca6c9;width: 40px;height: 40px;border-radius: 50%;margin-right: -20px;}
.slick-prev:before{content: "\f104";}
.slick-next:before{content: "\f105";}
.classes-vessels-slider .col-md-4 {outline:0;border:0;position:relative;}
.classes-vessels-slider .col-md-4 .readmorebtn {position: absolute;bottom: 10px;right: 25px;padding: 5px 20px;font-size: 16px;}
.classes-vessels-slider p{background: #1ca6c9;color: #fff;padding: 10px;text-align: left;margin-bottom: 0;}
.classes-vessels-slider p a{padding: 5px 20px; font-size:14px;float:right}
.slick-slider {margin-bottom: 0px;}
.msgoverlay{position: absolute;top: 1px;right: 0;bottom: 0;left: 15px;width: calc(100% - 30px);height: calc(100% - 53px);background: #0000008f;color: #fff;display: flex;justify-content: center;align-items: center;}
.arrow2 .slick-next,
.arrow2 .slick-prev {background: #ffffff;}
.arrow2 .slick-next:before, 
.arrow2 .slick-prev:before {color: #1ca6c9;}

.classes-vessels-baner-slider .imgcntrwhitebg{border: 1px solid #eee;}
.common-top-banner .container{height: 20vh;align-items: center;justify-content: center;display: flex;}
.common-top-banner.halfimg .container{height: 40vh;align-items: center;justify-content: center;display: flex;}

#bubbles-container .scene { position: absolute; top: 5%; right: -10%; width: 800px; height: 400px; pointer-events: none; z-index: -1; }
.scene path { fill: #1ca6c9; opacity: 0.2 }




/* .contactuscntr{background: url(../images/contact-us-bg.jpg) center 65px no-repeat;background-size: cover;background-attachment: fixed;}
.maincontactuscntr{padding:100px 0 0px;}
.maincontactusdetailscntr{text-align:center;}
.maincontactusdetailscntr img{width:650px;margin: -150px 0 50px;padding: 20px;background: #fff;}
.maincontactusdetailscntr p{text-align:center;font-size: 20px;line-height: 28px;font-weight: 600;letter-spacing: 0.5px;}
.maincontactusdetailscntr p a{font-weight: 100;text-decoration: unset;padding:0 10px;}
.maincontactusdetailscntr p a:hover{text-decoration: underline;}

.contactcntr{background: url(../images/contact-us-bg.jpg) !important;background-size: 100% !important;background-repeat: no-repeat !important;background-position: top center !important;}
.common-top-banner.halfimg.contactcntr .container{height: 60vh;} */



.contactuscntr{background: url(../images/contact-us-bg.jpg) center 65px no-repeat;background-size: cover;background-attachment: fixed;}
.contactusdetailscntr{padding-top:83vh}
ul.contact-details {align-items: center;justify-content: center;display: flex;margin: 0 -20px;}
ul.contact-details li {color: #fff;text-align: center;width: 33.333%;margin-right:0px;padding: 0 20px;}
ul.contact-details li h3{background: #003b65;color: #fff;padding: 8px 10px;border-radius: 5px;border: 1px solid #fff;margin-bottom: 20px;font-size: 26px;}
ul.contact-details li span {background: rgb(10, 117, 180, 0.8);color: #fff;padding: 5px 10px;border-radius: 5px;border: 1px solid #fff;display: block;margin-bottom: 20px;font-size: 22px;}
ul.contact-details li span.designation {background: transparent;border: 0px;margin-bottom: 0px;font-size: 17px;padding: 0;}
ul.contact-details li p {background: rgb(10, 117, 180, 0.8);color: #fff;padding: 5px 10px;border-radius: 5px;border: 1px solid #fff;margin-bottom: 20px;text-align: center;font-size: 17px;}
ul.contact-details li p a{color:#fff}
ul.contact-details li p a:hover{text-decoration:underline;}
.detailscntr2{padding-top:100px;padding-bottom:150px}
ul.contact-details li p.darkblue-bg{background:#05a1cc}

.maincontactuscntr{padding:100px 0 200px;background: url(../images/contact-us-Bottom-bg.png) left 220px no-repeat;background-size: 96%;margin-bottom: -210px;}
.maincontactusdetailscntr{text-align:center;}
.maincontactusdetailscntr img{width:650px;margin: -150px 0 50px;padding: 20px;background: #fff;}
.maincontactusdetailscntr p{text-align:center;font-size: 20px;line-height: 28px;font-weight: 600;letter-spacing: 0.5px;color: #000;}
.maincontactusdetailscntr p a{color: #000;}
.maincontactusdetailscntr p a:hover{text-decoration: underline;}



.footer-copy {
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 50px 0 0px 0;margin: 0;    letter-spacing: 1px;
}
.develped-by {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.develped-by a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
/*FOOTER*/
.footerwave{position: relative;width: 100%;background: transparent;overflow: hidden;bottom: -1px;padding-top: 180px;z-index: 9;}
.footerwave .wave{position:absolute;bottom:0;left:0;width:100%;height:100px;background:url('../images/wave.png');background-size:1000px 100px;}
.footerwave .wave.wave1{animation:animate 30s linear infinite;z-index:1000;opacity:1;animation-delay:0s;bottom: 0;}
.footerwave .wave.wave2{animation:animate2 15s linear infinite;z-index:999;opacity:0.5;animation-delay:-5s;bottom: 10px;}
.footerwave .wave.wave3{animation:animate 30s linear infinite;z-index:998;opacity:0.2;animation-delay:-2s;bottom: 15px;}
.footerwave .wave.wave4{animation:animate2 5s linear infinite;z-index:997;opacity:0.7;animation-delay:-5s;bottom: 20px;}
@keyframes animate{0%{background-position-x: 0;}100%{background-position-x: 1000px;}}
@keyframes animate2{0%{background-position-x: 0;}100%{background-position-x: -1000px;}}


footer {background: -webkit-linear-gradient(#91d8f7, #364c7b);background: linear-gradient(#91d8f7, #364c7b);color: white;background: #1ca6c9;position: relative;}
footer h4{font-size:22px;}
footer a {color: #fff;text-decoration: none;}
footer a:hover {color: #fff;text-decoration: underline;}
/* footer a {color: #fff;font-size: 14px;transition-duration: 0.2s;text-decoration: none;}
footer a:hover {color: #fff;text-decoration: underline;} */
footer ul li {color: #fff;font-size: 14px;transition-duration: 0.2s;text-decoration: none;letter-spacing: 0.8px;font-weight: 100;}
footer ul li.sublist:before { content: '-';color: #fff;padding-right: 2px;margin-right: 5px;}
.copy {font-size: 12px;padding: 0px 0 0px;}
.copy p {font-size: 15px;}
.footer-middle {padding: 50px 0 20px;color: white;}
ul.list-unstyled{margin-bottom:5px}
ul.list-unstyled li{margin-top: 5px;}
/*SOC力AL 力CONS*/
/* footer social icons */
ul.social-network {list-style: none;display: inline;margin-left: 0 !important;padding: 0;}
ul.social-network li {display: inline;margin: 0 5px;}
/* footer social icons */
.social-network a.icoFacebook:hover {background-color: #3B5998;}
.social-network a.icoLinkedin:hover {background-color: #007bb7;}
.social-network a.icoFacebook:hover i,.social-network a.icoLinkedin:hover i {color: #fff;}
.social-network a.socialIcon:hover,.socialHoverClass {color: #44BCDD;}
.social-circle li a {display: inline-block;position: relative;margin: 0 auto 0 auto;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;text-align: center;width: 30px;height: 30px;font-size: 15px;}
.social-circle li i {margin: 0;line-height: 30px;text-align: center;}
.social-circle li a:hover i,.triggeredHover {-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;-ms-transition: all 0.2s;transition: all 0.2s;}
.social-circle i {color: #595959;-webkit-transition: all 0.8s;-moz-transition: all 0.8s;-o-transition: all 0.8s;-ms-transition: all 0.8s;transition: all 0.8s;}
.social-network a {background-color: #F9F9F9;}


#video-popup-container {display:none;position: fixed;z-index: 996;width: 60%;left: 50%;margin-left: -30%;top: 20%;background-color: #fff;}
#video-popup-close {cursor: pointer;position: absolute;right: -10px;top: -10px;z-index: 998;width: 25px;height: 25px;border-radius: 25px;text-align: center;font-size: 12px;background-color: #000;line-height: 25px;color: #fff;opacity: 1;}
#video-popup-iframe-container {position: absolute;z-index: 997;width: 100%;padding-bottom: 56.25%;border: 2px solid #000;border-radius: 2px;background-color: #000;}
#video-popup-iframe {z-index: 999;position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: #000;}
#video-popup-overlay {display: none;position: fixed;z-index: 995;top: 0;background-color: #000;opacity: 0.8;width: 100%;height: 100%;}
#video-popup-close:hover {color: #DE0023;}

/*i.close_btn {position: absolute;top: 0;right: 0;font-size: 30px;padding: 10px 20px;cursor: pointer;color:#000;}*/
i.close_btn {background: none repeat scroll 0 0 #FFFFFF;color: #000;height: 30px;width: 30px;font-size: 20px;font-weight: 700;border-radius: 50px;padding: 0;position: absolute;right: 20px;top: 20px;z-index: 1002;cursor: pointer;text-align: center;font-style: normal;align-items: center;justify-content: center;display: flex;}
.form_container{max-width:800px;background: #fff;}
.enquiry_pop {position:fixed;top: 0;left: 0;background: rgba(0,0,0,0.5);width: 100vw;height: 100vh;z-index: 99;transition: all 0s ease;}
.enquiry_pop .form_container {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width:800px;margin:0px;}
.enquiry_pop a.btn.btn_style_green{margin:40px 0 0;padding: 20px}
.close_box{width: 100%;height: 100%;display: table;margin: 0 auto;}
.pop-header{background:#3dd5fe;color: #fff;padding: 20px;position: relative;}
.pop-content{padding: 20px;max-height: 400px;overflow: auto;padding-bottom: 0px;margin-bottom: 20px;}
.pop-header h3{margin:0;font-size: 28px;line-height: 36px;}
.pop-header h3 span {-webkit-clip-path:  circle(50% at 50% 50%);clip-path:  circle(50% at 50% 50%);width: 50px;height: 50px;background:#9e9e9e;display: inline-block;position:relative;float: left;top: -10px;margin-right: 10px;}
.pop-header h3 span img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 50px;}

.pop-content h3{margin:0;}
.pop-content ul{}
.pop-content ul li{padding-left:10px;position: relative;}
.pop-content ul li:before {content: "";width: 6px;height: 6px;background: #3dd5fe;position: absolute;border-radius: 50%;left: 0;top: 8px;}
.pop-content p{margin-bottom: 10px;}

.about-link a{border: 1px solid #fff;border-radius: 5px;padding: 5px 20px !important;}
.nav-item:hover.about-link a:hover{background: #fff;color: #000 !important;}







.about-link:hover:after{display:none !important;}

.autoh{height: 100% !important;}
.p0{padding: 0px !important;}
/* #Media
================================================== */
.bordercntr{border: 1px solid #eee;}
@media (max-width: 1023px) { 
.bg-light {background-color: white !important;}
.navbar-light .navbar-nav .nav-link {color: #fff !important;}
.navbar {display: block;}
.wrapper {padding-top: 70px;}
.navigation-wrap {z-index: 9999;}
ul.navbar-nav{height: 100vh !important;}
.navbar-light .navbar-brand{display: block;padding: 0;}
.show{display: flow-root !important;}
.card .collapse{display: flow-root !important;}
.navbar-light .navbar-brand img{float: left;}
.navbar-light .navbar-toggler {padding-top: 5px;}
.navbar-light .navbar-toggler-icon {border-bottom: 1px solid #fff;}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before {background-color: #fff;}
ul.navbar-nav li.active{}
ul.navbar-nav li.active .dropdown-menu {margin-top: 0px !important;margin-bottom: 0px !important;}
ul.navbar-nav li.active .dropdown-menu {opacity: 1;visibility: visible;max-height: 999px;transform: translate3d(0, 0px, 0);}
ul.navbar-nav li.active .dropdown-toggle::after{display:none}
.nav-item:after{display: none;}
.nav-item::before {position: absolute;display: block;top: 15px;left: 0;width: 11px;height: 1px;content: "";border: none;background-color: #fff;vertical-align: 0;}
.dropdown-toggle::after {position: absolute;display: block;top: 10px;left: -23px;width: 1px;height: 11px;content: "";border: none;background-color: #fff;vertical-align: 0;transition: all 200ms linear;}
.dropdown-toggle[aria-expanded="true"]::after{transform: rotate(90deg);opacity: 0;}
.dropdown-menu {padding: 0 !important;background-color: transparent;box-shadow: none;transition: all 200ms linear;}
.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {margin-top: 10px !important;margin-bottom: 20px !important;}
.dropdown-item {color: #ffffff;font-weight: 500;padding: 3px 0px 3px 20px;position: relative;display: inline-block;}
.dropdown-item::before {position: absolute;display: block;top: 12px;left: 0;width: 11px;height: 1px;content: "";border: none;background-color: #fff;vertical-align: 0;}
/*.sub-dropdown .dropdown-item::after {position: absolute;display: block;top: 7px;left: 5px;width: 1px;height: 11px;content: "";border: none;background-color: #fff;vertical-align: 0;transition: all 200ms linear;}*/
.sub-dropdown-menu {visibility: visible;opacity: 1;position: relative;left: 10px;top: -14px;right: auto;background: transparent;max-height: 100%;box-shadow: none;}
.sub-dropdown-menu .dropdown-item::after{display:none;}
.sub-dropdown:hover .sub-dropdown-menu {transform: translate3d(0, 10px, 0);}
.imgcntr2 {top: -50px !important;left: 0% !important;}
.methodology-computation-cntr .elementor-shape-bottom svg {width: calc(100%);height: auto;}
.elementor-shape-bottom svg {height: auto; width: calc(100%);}
.imgcntr3 {right: 0px !important;}
h1 {font-size: 32px;font-weight: 500;}
h2 {font-size: 24px;font-weight: 500;}
h3 {font-size: 24px;font-weight: 500;}
.home-banner .header-content .header-content-inner {margin-top: 0px;}
.banner-slider {margin-top: 0px;}
.banner-slider .mb_-700 {margin-bottom: 0px;}
.home-banner .header-content {position: relative;top: 20%;transform: translateY(0%);z-index: 10;}
.home-banner .header-content {padding: 0 20px;}
.methodology-computation-cntr {padding: 80px 0 100px;margin-top: 80px;}
.home-banner {height: 100%;}
.slick-slider {padding-bottom: 70px;}
.slick-dots {bottom: 0px;}
.slick-dots li {width: 8px;height: 8px;background: #999;border-radius: 50%;}
.slick-dots li button{width: 8px;height: 8px;padding: 0px;}
.slick-dots li.slick-active {background: #1ca6c9;}
.slick-dots li button:before{display:none;}
.beforeaftermobimages span i {background: #1ca6c9; color: #fff;padding: 10px 30px; display: inline-block;border-radius: 50px;margin-bottom: 20px;}
.beforeaftermobimages span i.subdiv {background: #fff;color: #1ca6c9;display: table;margin: 0 auto 20px;}
.overfloatingcntr img {width: 100%;}
.overfloatingcntr {position: unset !important;top: 0;left: 0;padding: 0;}
.imgcntr1 {top: 0px !important;left: 0% !important;}
.imgcntr3 {position: relative !important;top: 20px !important;left: auto !important;right: 0px !important;margin-bottom: 80px;}
.basic-features-floating {top: 10px !important;left: 0% !important;}
.col-md-9.marginauto + .col-md-12.mt_80 {max-height: 100%;width: 100%;height: auto !important;padding: 0;}
#page {width: 100%;height: 100%;position: unset;}
#page .imagewrapper {width: 100%;height: 100%;position: unset;transform: translate3d(0%,0%,0);box-shadow: none;border-radius: 0;}
.before{margin-bottom:30px}
.before, .after {width: 100% !important; height: auto;top: 0;left: 0;position: unset;}
.content-image {height: auto;width: 100%;}
.scroller { display: none;}
.bottomcurve2 .elementor-shape-bottom svg {width: calc(100%);height: auto;}
.imgcntrwhitebg {padding: 10px;}
.mobheight100{height:100% !important;}
.mobheightauto{height:100% !important;margin-top: -380px !important;}

.mobheightauto1{height:100% !important;margin-top: -300px !important;}
.common-top-banner.halfimg .container.mobheight2 {height: 40vh;}
.common-top-banner.halfimg .container.mobheight2 .common-top-about-details { margin-top: -100px;}

.common-top-banner.halfimg .container {height: 50vh;}
.common-top-banner.halfimg .container .common-top-about-details { margin-top: -200px;}



.contactuscntr {background: url(../images/contact-us-mob-bg.jpg) center 57px no-repeat;background-attachment: fixed;}
ul.contact-details {display: inline-block;margin: 0px;width: 100%;}
ul.contact-details li {width: 100%;padding: 0 10px 50px;}
.maincontactuscntr {padding: 100px 0 100px;background: url(../images/contact-us-Bottom-bg.png) left 250px no-repeat;background-size: 96%;    margin-bottom: -80px;}
.detailscntr2 {padding-top: 0px;padding-bottom: 50px;}
.maincontactusdetailscntr p {font-size: 16px;line-height: 28px;letter-spacing: 0;}
.contactusdetailscntr {padding-top: 70vh;}
.maincontactusdetailscntr img {width: 100%;}

.mt_380 {margin-top: 50px;}



.footerwave {padding-top: 120px;}
.mobnone{display:none !important}
}
