<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" type="image/png" href="images/favicon.png" />
<title>Blue Heron Motel | About the Hotel</title>
<meta name="description" content="Right on the beach. Nags Head's popular beachfront hotel. Come experience 30 beautiful ocean view rooms. Call now!">
<meta name="keywords" content="about blue heron motel">
<link href="styles/common.css" rel="stylesheet">
<link href="styles/style.css" rel="stylesheet">
</head>
<body class="innerpage">
<header>
  <section>
    <div class="hidden-md hidden-sm hidden-xs">
      <div class="attachlogo effects2"> <a href="http://blueheronnc.com/"><img src="images/logo.png" alt="Welcome to Blue Heron Motel" class="MT40"></a> </div>
    </div>
  </section>
  <section>
    <div class="dbloc dpos clearfix hidden-md hidden-sm hidden-xs">
      <div class="pull-left">
        <div class="navbar-header ">
          <div class="toggle-button" id="toggle"> <span class="bar1 top"></span> <span class="bar1 middle"></span> <span class="bar1 bottom"></span> <span class="barname">Menu</span> </div>
        </div>
      </div>
    </div>
    <div class="dbloc dpos2 clearfix hidden-md hidden-sm hidden-xs">
      <div class="pull-right reserspl"> 
          <a href="https://live.ipms247.com/booking/book-rooms-blueheronmotel" class="resme" target="_blank">Reserve Online 
          <p class="reser_text">Best Rates Guaranteed</p>
          </a>
          <a href="tel:022 25244 17447" class="tell">
          <i><svg ng-repeat="glyph in glyphs" id="iconDemo-phone" width="16" height="16" mi-view-box="0 0 24 24" viewBox="0 0 1024 1024" fill="#fff"><path ng-repeat="path in glyph.paths" class="path0" mi-d="M704 640c-64 64-64 128-128 128s-128-64-192-128-128-128-128-192 64-64 128-128-128-256-192-256-192 192-192 192c0 128 131.5 387.5 256 512s384 256 512 256c0 0 192-128 192-192s-192-256-256-192z" mi-fill="" mi-stroke="inherit" mi-stroke-width="" mi-stroke-linecap="" mi-stroke-linejoin="" mi-stroke-miterlimit="" mi-opacity="" d="M704 640c-64 64-64 128-128 128s-128-64-192-128-128-128-128-192 64-64 128-128-128-256-192-256-192 192-192 192c0 128 131.5 387.5 256 512s384 256 512 256c0 0 192-128 192-192s-192-256-256-192z" stroke="inherit"></path></svg></i>
          	252.441.7447
          </a>
      </div>
    </div>
    <nav class="overlay myoverlay" id="overlay">
      <div class="myoverlay-content">
        <div class="col-lg-8 margcent">
          <div class="clearfix">
            <ul class="col-lg-6">
              <li><a href="http://blueheronnc.com/">Home<span class="botsbo"></span></a></li>
              <li><a href="rooms">Rooms<span class="botsbo"></span></a></li>
              <li><a href="photo-gallery">Photo Gallery<span class="botsbo"></span></a></li>
            </ul>
            <ul class="col-lg-6">
              <li><a href="nearby-places">Nearby Places<span class="botsbo"></span></a></li>
              <li class="active"><a href="about">About<span class="botsbo"></span></a></li>
              <li><a href="contact">Contact<span class="botsbo"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <div class="clearfix"></div>
  <div class="mobiletop-box-divs"> <a href="tel:25244174479" class="mobPhone"> <span class="mobile-phone-span"><span class="hide">Call Welcome to Blue Heron Motel</span></span> </a> <a href="http://blueheronnc.com/"> <img style="max-width:50%;" src="images/logo.png" alt="Blue Heron Motel"/></a>
    <div class="mobile-phone-nav-dropdown"> <span class="link-navmobile-box" data-target=".mobilenavtab" data-toggle="collapse"></span>
      <div class="mobilenavtab collapse">
        <ul class="mobilenavigations">
          <li><a href="http://blueheronnc.com/" class=""><span class="glyphicon glyphicon-home F19"></span>Home</a></li>
          <li><a href="rooms" class=""><span class="fa fa-bed F16"></span>Rooms</a></li>
          <li><a href="photo-gallery" class=""><span class="glyphicon glyphicon-picture F16"></span>Photo Gallery</a></li>
          <li><a href="nearby-places" class=""><span class="glyphicon glyphicon-bullhorn F18"></span>Nearby Places</a> </li>
          <li class="active"><a href="about" class=""><span class="glyphicon glyphicon-info-sign F16"></span>About</a></li>
          <li><a href="contact" class=""><span class="glyphicon glyphicon-envelope F18"></span>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="slider col-lg-12 col-xs-12">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active"> <img src="images/about-banner.jpg" alt="About US Banner" class="W100">
          <!--<div class="effects4 shadowboxdiv NA animated slideInDown">
            <p class="color_g text-center"> <span class="red-box">About US</span> </p>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</header>
<div class="col-sm-12 col-xs-12  text-xs-center  hidden-lg hidden-md notranslate"> <a class="btn btn-success  pdr checkbut checkavail" href="https://live.ipms247.com/booking/book-rooms-blueheronmotel" target="_blank"> <span class="fa fa-calendar-check-o F20 MR10"></span> Reserve Online </a> </div>
<section class="MT60 MB60">
  <div class="text-center aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
    <div class="clearfix fontresize MT60 MB60" role="main">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container P0 main-bg-white">
          <h1 class="text-center h1_sister" id="info">About Us</h1>
          <div class="bar"></div>
          <div class="">
            <p>30 beautifully appointed rooms with breathtaking ocean view rooms. Enjoy unobstructed panoramic views of the Atlantic Ocean from your very own private balcony. Splash into our 2 ocean facing outdor pools and enjoy your time with friends and family. On cold or rainy days, don't let the fun stop. Relax in our heated indoor pool and spa and let your worries fade into oblivion. </p>
            <p>This is Blue Heron. This is where the good times begin! This is where you belong at Nags Head. Make every vacation memorable while you stay with us. Let our gracious and friendly staff help you make the most of every stay. Our warm southern hospitality shows in everything we do. Welcome to genuine smiles and great times here at the Blue Heron motel. Come, experience a vacation like none before. The ocean beckons you today! Call for easy reservations and get 15% off (limited time offer).</p>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix "></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section>
<div class="about-us-Counter">
    <div class="panel-row-style">                          
      <div class="counter-box ">
          <div class="counterbox-content">
            <div class="content-box-percentage"><span class="display-percentage" data-percentage="200">30</span><span class="counter-box-content">Rooms</span></div>
          </div>
        </div>
        <div class="counter-box ">
          <div class="counterbox-content">
            <div class="content-box-percentage"><span class="display-percentage" data-percentage="500">1</span><span class="counter-box-content">Spa/Jacuzzi</span></div>
          </div>
        </div>
        <div class="counter-box ">
          <div class="counterbox-content">
            <div class="content-box-percentage"><span class="display-percentage" data-percentage="8">1</span><span class="counter-box-content">Indoor Pool</span></div>
          </div>
        </div>
        <div class="counter-box ">
          <div class="counterbox-content">
            <div class="content-box-percentage"><span class="display-percentage" data-percentage="4">2</span><span class="counter-box-content">Outdoor Pools</span></div>
          </div>
        </div>                          
    </div>
</div>
</section>
<section class="gusrroomcntr MT60">
  <div class="text-center aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
    <p class="maintext">Our Values</p>
    <span class="bottomborder maintext_small text-center">Nags Head, NC</span> </div>
    <div class="container PT50">
      <div class="row">
      	<div class="list-html-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="item-content">
              <div class="title-list">
                <h5>1. Every guest is special. </h5>
              </div>
              <div class="desc-list">All our guests receive the same level of personal warm service. We love our guests. It's no wonder that we are rated highly on TripAdvisor and top sites. Our loyal guests have been trusting us for years. We go out of our way to treat our guests as family. </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="item-content">
              <div class="title-list">
                <h5>2. Spotless Cleanliness </h5>
              </div>
              <div class="desc-list">Immaculate cleanliness and superior customer service. Every room undergoes a deep cleaning with 20 high contact points double sanitizing to keep rooms safe for our guests. Rest assured that your room was deep cleaned and double inspected by the housekeeping manager to make it perfect for your upcoming stay.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="item-content">
              <div class="title-list">
                <h5>3. Low Rates - High Value </h5>
              </div>
              <div class="desc-list">Even during peak seasons we strive to keep our rates as low as possible. We believe that our returning loyal guests deserve bigger savings every year. Our pricing is fair. We price match to guarantee the lowest rates. So, you save on every booking with no peak surge pricing. </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="item-content">
              <div class="title-list">
                <h5>4. Hospitality Experience </h5>
              </div>
              <div class="desc-list">Our hotel management group oversees numerous properties across the Outer Banks. We have 20 years of hospitality industry experience. We know what it takes to nurture every property towards a great customer service experience. Our group understands that our guest truly is our most important asset. We truly care and are always eager to respond to guest requests. We also update and renovate our rooms to keep pace with guest requirements. </div>
            </div>
          </div>
        </div>
        <span class="line-center"></span></div>
      </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="clearfix "></div>
<div class="floating fontresize" role="contentinfo">
  <footer>
    <section class="mainfoot">
      <div class="clearfix"></div>
      <div class="fotter_head">
        <p class="text-center text-xs-center">Blue Heron Motel - Nags Head NC</p>
      </div>
      <div class="clearfix"></div>
      <div class="container topbots text-center border_style">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 P0XS">
          <ul class="PT10 PB5 footul MT10">
            <li><a href="about" class="P0XS">About Us</a></li>
            <li><a href="/sitemap.xml" class="P0XS">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 P0XS">
          <ul class="PT10 PB5 footul MT10">
            <li><a href="accessibility" class="P0XS">Accessibility</a></li>
            <li><a href="cookie-policy" class="P0XS">Cookie Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 P0XS">
          <ul class="PT10 PB5 footul MT10">
            <li><a href="privacy-policy" class="P0XS">Privacy Policy</a></li>
            <li><a href="terms-conditions" class="P0XS">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container text-left text-sm-center MT30 footerlinks">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seo_text MT20 P0">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 MB10 text-center hidden-sm hidden-xs"> &nbsp; </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 MB10 text-center"><a href="rooms">Rooms</a></div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 MB10 text-center"><a href="photo-gallery">Photo Gallery</a></div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 MB10 text-center hidden-sm hidden-xs"> &nbsp; </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 MB10 text-center hidden-sm hidden-xs"> &nbsp; </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 MB10 text-center"><a href="nearby-places">Nearby Places</a></div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 MB10 text-center"><a href="contact">Contact Us</a></div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 MB10 text-center hidden-sm hidden-xs"> &nbsp; </div>
        </div>
        <div class="clearfix MB20"></div>
        <div class="brownstripfooter hidden-sm hidden-xs"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 MB10 MT10 text-center">The Blue Heron Motel, is one of the few hotels in the OBX which can truly boast of all ocean view rooms.</div>
        <div class="clearfix"></div>
        <div class="brownstripfooter hidden-sm hidden-xs"></div>
        <div class="clearfix"></div>
        <div class="gocentric P0 text-center MT20 MB20"></div>
      </div>
      <div class="clearfix"></div>
      <div class="container clearfix mycopycont MB20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gocentric P0  text-center text-xs-center MT20">
          <p class="F14"> &copy; Blueheron Motel 2020. All rights reserved. Site by <a href="https://www.interminddigital.com/" target="_blank">Intermind</a></p>
        </div>
      </div>
    </section>
    <a href="#" id="scroll" style="display: none;">Top<span></span></a>
    <div class="clearfix"></div>
  </footer>
</div>
<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cookiepopup" style=""><span id="cookieconsent:desc" class="cc-message">To ensure the best experience, we use cookies on this website. <span class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Okay. Got it!</a></span></span>  
</div>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script>
$('.display-percentage').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<!-- Default Statcounter code for Blueheronnc.com
http://www.blueheronnc.com -->
<script type="text/javascript">
var sc_project=12354557; 
var sc_invisible=1; 
var sc_security="c6098e07"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12354557/0/c6098e07/1/"
alt="hit counter"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
