@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');


@font-face {
    font-family: Bahnschrift;
    src: url(Bahnschrift.ttf);
    font-weight: normal;
}

* {margin: 0;padding: 0;}
body {    font-family: "Open Sans",sans-serif;background: #4834d4;background: -webkit-linear-gradient(to right, #4834d4, #341f97);background: -webkit-linear-gradient(left, #4834d4, #341f97);background: linear-gradient(to right, #4834d4, #341f97);}
h1,h2,h3,h4,h5,h6 {font-family: "Bahnschrift", Arial, sans-serif;color: #fff;line-height: 1.4;font-weight: 500;}
a,a:hover,a:focus,a:active {text-decoration: none;-webkit-transition-duration: 500ms;transition-duration: 500ms;outline: none;}
li {list-style: none;}
p {line-height: 1.9;color: rgba(255, 255, 255, 0.5);font-size: 15px;}
img {max-width: 100%;height: auto;}
ul,ol {margin: 0;padding: 0;}
.relative{position: relative;}
.ml-50 {margin-left: 50px;}
.section-padding-0-100 {padding-top: 0px;padding-bottom: 100px;}
.relative{position: relative;}
.section-padding-0-100 {padding-top: 0;padding-bottom: 100px;}
.section-heading {position: relative;z-index: 1;margin-bottom: 50px;}
.section-heading h2 {font-size: 30px;text-transform: capitalize;margin-bottom: 15px;font-family: "Bahnschrift", Arial, sans-serif;}
.section-heading > p {margin-bottom: 0;line-height: 2;font-size: 16px;max-width:800px;margin: 0 auto;}
.dream-dots {display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 10px;}
.more-btn {position: relative;z-index: 1;min-width: 160px;height: 48px;line-height: 48px;font-size: 12px;font-weight: 600;letter-spacing: 1px;display: inline-block;padding: 0 20px;text-align: center;text-transform: uppercase;background-size: 200% auto;color: #fff;box-shadow: 0 3ox 20px rgba(0, 0, 0, 0.1);border-radius: 100px;background-image: linear-gradient(to right, #21d397 0%, #7450fe 50%, #21d397 100%);background-image: -webkit-linear-gradient(to right, #21d397 0%, #7450fe 50%, #21d397 100%);border: 1px solid #fff;-webkit-transition: all 500ms;transition: all 500ms;}
.more-btn:hover {background-position: right center;color: #fff;}
.hero-section{position: relative;min-height: 700px;background: url('../images/banner.png') no-repeat center;background-size: cover;display: flex;justify-content: center;align-items: center;}
.welcome-content {position: relative;z-index: 1;margin-top: 0px;margin-left: 100px;}
.promo-section {margin-bottom: 30px;}
.special-head:before{content: '';background: #fd8a36;position: absolute;top: 50%;left: 0;width: 30px;height: 2px;}
.has-shadow {-webkit-box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);border-radius: 10px}
.hero-section .welcome-content img{width:200px;margin-top: 0;margin-bottom: 20px;}
.welcome-content h1 {font-size: 36px;font-weight: 600;margin-bottom: 20px;}
.welcome-content p {font-size: 18px;color: #fff;margin-bottom: 30px;} 
.gradient-text {font-weight: bold;display: inline-block;background-image: linear-gradient(135deg, #846FF4 0%, #F17674 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.gradient-text.blue {background-image: linear-gradient(35deg, #17EAD9 0%, #6078EA 100%);}
.gradient-text.cyan{background-image: linear-gradient(135deg, cyan 0%, cyan 100%) !important}
.b-text{color: #273043 !important}
.w-text{color: #fff !important}
.g-text{color: #6d6d6d !important}
.marginauto{margin: 0 auto !important;}
.fl{float: left !important;}
.fr{float: right !important;}
.features{position: relative;}
.services-block-four{position:relative;margin-bottom:30px;background: #fff}
.icon-img-box{position: absolute;left: 0;top: 0;}
.services-block-four .inner-box{position:relative;padding-left:100px;}
.services-block-four.v2{background: transparent;}
.services-block-four.v2 .inner-box{position:relative;padding-left:70px;}
.services-block-four.v2 .inner-box .icon-img-box{max-width: 50px}
.features .services-block-four{box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);-webkit-box-shadow: 0px 2px 27px 0px rgba(154, 161, 171, 0.18);padding: 30px 20px 20px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;position: relative;overflow: hidden;}
.services-block-four .inner-box h3{position:relative;font-size:18px;font-weight:600;text-transform:capitalize;}
.services-block-four .inner-box h3 a{color: #fff;transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.services-block-four .inner-box .text{font-size:14px;color:#888;margin-top:8px;margin-bottom:10px;}
.icon_foot:before {content: '';border-left: 80px solid transparent;border-bottom: 80px solid #273043;position: absolute;right: 0px;bottom: 0px;}
.services-block-four:hover .icon_foot:before{border-bottom: 80px solid #d0192f;}
.icon_foot i {bottom: 12px;right: 8px;color: #fff;font-size: 28px;z-index: 3;position: absolute;transition: all .4s ease-in-out;}
.icon_foot:hover i{right: 5px;}
body.light-version {background: #fff !important;}
.special-head {color: #28cc8b;padding-left: 40px;font-size: 18px;position: relative;}
.light-version p {color: #6d6d6d;}
.light-version h2,
.light-version h3,
.light-version h4,
.light-version h5,
.light-version h6,
.light-version .growing-company p .counter,
.light-version .service_single_content .service_icon i,
.light-version .portfolio-menu button,
.light-version .post-meta p a,
.light-version .group label,
.light-version input:focus ~ label,
.light-version textarea:focus ~ label,
.light-version input:valid ~ label,
.light-version textarea:valid ~ label,
.light-version .copywrite_text > p > a {color: #222;}
.light-version .services-block-four .inner-box h3 a{color: #222}
.fuel-features{position: relative;overflow: hidden;}
.fuel-features:after{content: '';position: absolute;width: 100%;height: 70%;left: 0;bottom: 0;background: #f4f9ff;z-index: -1}
.fuel-features .container.has-shadow{padding: 50px 30px 20px;background: #fff;margin-top: 40px;}
.hero-section img{margin-top: 70px}
.contact-form {position: absolute;top: 120px;left: 0;padding: 0px;width: 89%;padding-left: 180px;}
.contact-form label {width: 100%;margin-bottom: 0;font-size: 14px;color: #6d6d6d;}
.contact-form input {width: 100%;font-size: 18px;line-height: 31px;border: 0;border-bottom: 1px solid #6d6d6d;margin-bottom: 10px;outline: none;font-size: 14px;color: #6d6d6d;background: transparent;}
.submit-btn{margin-top:30px;}
.submit-btn input,
#return-to-top,
.backbtn a{border: 0;border: 1px solid #d0192f;color: #fff;background: #d0192f;transition: all 0.3s ease 0s;font-weight: bold;font-size: 14px;padding: 3px 30px;font-family: "Bahnschrift", Arial, sans-serif;}
#return-to-top{position: fixed;bottom: 10px;right: 10px;z-index: 999;}
.submit-btn input:hover,
#return-to-top:hover,
.backbtn a:hover{border: 0;border: 1px solid #273043;color: #fff;background: #273043;}
.fgroup label{position: relative;top: 24px;display: revert;}
.fgroup.in label {top: 8px;left: 0px;font-size: 12px;}

::-webkit-input-placeholder { /* Edge */
  font-size: 14px;color: #6d6d6d;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 14px;color: #6d6d6d;
}
::placeholder {font-size: 14px;color: #6d6d6d;}
 
.style-arrow li {position: relative;padding-left: 30px;margin-bottom: .3125rem;font-size: 16px;line-height: 1.875rem;font-weight: 400;color: #2b2b2b;}
.style-arrow li:after {position: absolute;content: "\f178";left: 0;top: 0;color: #00a0df;font-family: fontAwesome;}
.style-arrow li.circle{padding-left: 1rem;margin-left: 30px;}
.style-arrow li.circle:after {position: absolute;content: "\f111";color: #00a0df;font-family: fontAwesome;font-size: 8px;}
.center-center {display: flex;justify-content: center;align-items: center;}

.dream-faq-area h3{font-size: 18px !important;font-weight: 800;}
 
.section-padding-100-85 {padding-top: 100px;padding-bottom: 85px;}
.light-version .faq-timeline-area {background: url(../images/bread-bg.png) no-repeat center center;background-size: cover;}
.dream-faq-area dl {width: 100%;}
.light-version .dream-faq-area dt:first-child {border-top: 1px solid #f2f4f8;}
.dream-faq-area dt {cursor: pointer;padding: 15px 25px;border-bottom: 1px solid rgba(255, 255, 255, 0.1);margin-bottom: 0;color: #fff;font-weight: 500;}
.light-version .dream-faq-area dt {color: #fff;border: 1px solid #f2f4f8;background-image: linear-gradient(to right, #846FF4 0%, #F17674 100%);background-image: -webkit-linear-gradient(to right, #846FF4 0%, #F17674 100%);border-radius: 25px;margin-bottom: 15px;}
.light-version .dream-faq-area dt.v2 {background-image: linear-gradient(to right, #21d397 0%, #7450fe 100%);}
.dream-faq-area dd {margin: 0;padding: 15px 25px;border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
.light-version .dream-faq-area dt i {float: right;position: relative;top: 5px;}
.light-version .dream-faq-area dt.active i{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}

.ripple {position: absolute;height: .25em;width: .25em;opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";z-index: -1;border-radius: 50%;background: rgba(255, 255, 255, 0.2);-webkit-transform-origin: center 50%;transform-origin: center 50%;-webkit-transition: opacity 1.6s;transition: opacity 1.6s; -webkit-animation: ripple 1.6s;animation: ripple 1.6s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.ripple-active {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
    }
    100% {
        -webkit-transform: scale3d(50, 50, 50);
        transform: scale3d(50, 50, 50);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
    }
    100% {
        -webkit-transform: scale3d(50, 50, 50);
        transform: scale3d(50, 50, 50);
    }
}

.project-list{justify-content: space-between;display: flex;}
.project-list .col-sm-6{width: 180px;flex: 180px;max-width: 180px;text-align: center;padding:0px;position: relative;padding-top: 50px;}
.project-list .col-sm-6 span{font-size:36px;font-weight:300;color: #273043;margin-bottom: 10px;display: inline-block;}
.project-list .col-sm-6 p{font-size: 14px;line-height: 20px;}
.project-icon{width: 100px;height: 100px;background: url(../images/css_sprites.png);opacity: 0.1;position: absolute;top: 35%;left: 50%;transform: translate(-50%, -50%);    z-index: -1;}
.icon1{background-position: -260px -10px;}
.icon2{background-position: -140px -260px;}
.icon3{background-position: -390px -15px;}
.icon4{background-position: -260px -140px;}
.icon5{background-position: -260px -260px;}
.icon6{background-position: -15px -260px;}

.section-padding-100-70 {padding-top: 100px;padding-bottom: 70px;}
.ico-about-bg {background: url(../images/ico-about-bg.svg) no-repeat center center;background-size: cover;}
.light-version .service_single_content {border-radius: 10px; background-color: #fff;background-image: url(../images/cards-bg.png);background-repeat: no-repeat;background-position: center;background-size: cover;-webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.11);box-shadow: 0 5px 40px 0 rgba(0,0,0,.11); border: none;padding: 40px 20px;margin-bottom: 30px !important;}
.service_single_content {position: relative;z-index: 1;transition: all .3s ease-in-out;}
.service_icon {margin-bottom: 30px;display: inline-block;align-items: center;justify-content: center;display: flex;width: 75px;height: 75px;position:relative;border-radius: 50%;}
.servicecontent .col-12:nth-child(1) .service_icon{background: #b764d8;}
.servicecontent .col-12:nth-child(2) .service_icon{background: #feb155;}
.servicecontent .col-12:nth-child(3) .service_icon{background: #39dcb1;}
.servicecontent .col-12:nth-child(4) .service_icon{background: #007bff;}
.servicecontent .col-12:nth-child(5) .service_icon{background: #e83e8c;}
.servicecontent .col-12:nth-child(6) .service_icon{background: #6c757d;}
.servicecontent .col-12:nth-child(7) .service_icon{background: #17a2b8;}
.servicecontent .col-12:nth-child(8) .service_icon{background: #6610f2;}
.servicecontent .col-12:nth-child(9) .service_icon{background: #28a745;}
.servicecontent .col-12:nth-child(10) .service_icon{background: #3157ff;}
.servicecontent .col-12:nth-child(11) .service_icon{background: #a0cc02;}
.servicecontent .col-12:nth-child(12) .service_icon{background: #ff8d21;}
.service_icon img{width: 40px;height: 40px;}

.fw100{font-weight: 100;}
.fw200{font-weight: 200;}
.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}
.fwbold{font-weight: bold;}

.registration {font-size: 12px;position: relative;top: -10px;left: 1px;}


.our-awards {border: 1px solid #cea676;border-radius: 30px;text-align: center;margin-bottom: 30px;overflow: hidden;}
.our-awards.ico-team {border: 1px solid #5128ff;}
.our-awards .team_img {position: relative;overflow: hidden;background: #fff;}
.our-awards img {width: 50%;height: auto;border: 4px dotted #5128ff;border-radius: 50%;}
.mt-30 {margin-top: 30px;}
.width-80 {max-width: 80%;}
.our-awards .team_img:after {content: "";width: 100%;height: 100%;background-color: rgba(255,255,255,0.2);position: absolute;bottom: -100%;left: 0;transition: all 0.3s ease 0s;}
.our-awards:hover .team_img:after {bottom: 0;}
.our-awards .team-content {padding: 20px 0;background: #fff;}
.our-awards.ico-team .team-content {padding: 20px 0 30px;}
.our-awards .title {font: 600 16px'Poppins', sans-serif;color: #000;text-transform: capitalize;margin: 0 0 20px;position: relative;}
.our-awards .title:before {content: "";width: 25px;height: 1px;background: #cea676;position: absolute;bottom: -10px;right: 50%;margin-right: 9px;transition-duration: 0.25s;}
.our-awards .title:after {content: "";width: 25px;height: 1px;background: #cea676;position: absolute;bottom: -10px;left: 50%;margin-left: 9px;transition-duration: 0.25s;}
.our-awards:hover .title:before, .our-awards:hover .title:after {width: 50px;}
.our-awards .post:before {content: "";display: block;width: 7px;height: 7px;border-radius: 50%;background: #cea676;margin: 0 auto;position: relative;top: -13px;}
.our-awards .post {display: inline-block;font: 500 14px 'Poppins', sans-serif;color: #666;text-transform: capitalize;}



.hero-bg {background: url(../images/hero-bg.png) no-repeat center;background-size: cover;}
.about-us-area {position: relative;z-index: 1;}
.section-padding-100 {padding-top: 100px;padding-bottom: 100px;}
.testimonials-details img{width: 50px;margin-right: 10px;}
.author-details{margin-top:5px}
.testimonials-author-details{display: flex;}
.testimonials-author-details span{display: block;}
.testimonials-author-details span.testimonials-author-name{font-size: 14px;font-weight: bold;}
.testimonials-author-details span.testimonials-author-job{font-size: 12px;}

.testimonial-slider{margin: 0 70px;overflow: hidden;}
.testimonialcntr {overflow: hidden;padding: 0;}
.testimonialcntr .swiper-button-prev:before, 
.testimonialcntr .swiper-button-prev:before, 
.testimonialcntr .swiper-button-next:before {position: absolute;width: 50px;height: 50px;text-align: center;font-size: 30px;align-items: center;justify-content: center;display: flex;border: 1px solid #fff;border-radius: 50%;padding-bottom: 7px;}
.testimonialcntr .swiper-button-prev:before{content: "←";left: 0px;right: auto;}
.testimonialcntr .swiper-button-next:before{content: "→";right: 0px;left: auto;}
.testimonialcntr .swiper-button-prev:after, 
.testimonialcntr .swiper-button-next:after{display:none;}
.testimonialcntr .swiper-button-next,
.testimonialcntr .swiper-button-prev{background: transparent;color: #fff;outline:none;border:0px;width: 50px;height: 50px;}
.testimonialcntr .swiper-button-prev {left: 0px;right: auto;}
.testimonialcntr .swiper-button-next {right: 0px;left: auto;}

.mkdf-page-footer .mkdf-footer-bottom-holder {background-color: #273043;text-align: center;}
.mkdf-page-footer .mkdf-footer-bottom-holder {display: inline-block;width: 100%;vertical-align: middle;position: relative;box-sizing: border-box;}
.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {padding: 27px 0;border-top-color: #eee;box-sizing: border-box;width: 1300px;margin: 0 auto;display: grid;}
.mkdf-grid-row {margin-left: -15px;margin-right: -15px;}
.mkdf-footer-bottom-holder .mkdf-grid-col-6:first-child {text-align: left;display: flex;}
.mkdf-grid-col-6 {position: relative;float: left;width: 50%;min-height: 1px;padding-left: 15px;padding-right: 15px;box-sizing: border-box;}
#custom_html-4 {float: left;padding-top: 8px;}
.mkdf-footer-bottom-holder .widget {margin: 0;color: #959595;font-size: 14px;display: inline-block;}
.mkdf-page-footer .mkdf-footer-bottom-holder.dark .widget, .mkdf-page-footer .mkdf-footer-bottom-holder.dark .widget a {color: #b8b8b8;}
footer .mkdf-footer-bottom-holder .widget {margin: 0!important;}
.widget.mkdf-image-widget.padding_5 {margin-right: 5px !important;float: left;background: #273043;border-radius: 50%;width: 24px;padding: 10px;border: 1px solid;display: inline-table;}
.bg-twitter {width: 24px;height: 24px;background: url(https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://www.academiaerp.com/wp-content/uploads/2019/11/img-sprites.png) -155px -83px;display: block;}
.twitter_color:hover {background: #4099ff !important;}
.bg-Facebook {width: 24px;height: 24px;background: url(https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://www.academiaerp.com/wp-content/uploads/2019/11/img-sprites.png) -103px -155px;display: block;}
.facebook_color:hover {background: #3b5998 !important;}
.bg-linkedin {width: 24px;height: 24px;background: url(https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://www.academiaerp.com/wp-content/uploads/2019/11/img-sprites.png) -57px -155px;display: block;}
.linkedin_color:hover {background: #1297d7 !important;}
.bg-Youtube {width: 24px;height: 24px;background: url(https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://www.academiaerp.com/wp-content/uploads/2019/11/img-sprites.png) -11px -155px;display: block;}
.youtube_color:hover {background: #ff0202 !important;}
.mkdf-footer-bottom-holder .mkdf-grid-col-6:last-child {text-align: right;}
.textwidget p {color: #b8b8b8;margin: 0;padding: 10px 0;}
.textwidget p a:hover {text-decoration: underline;}

.thank-you-page{}
.thank-you-page .container{min-height:65vh;align-items: center;justify-content: center;display: flex;}
.thank-you-page img{width:250px;margin-bottom:30px;}
.thank-you-page .backbtn{margin-top:30px;}




.deskonly{display: block !important;}
.mobonly{display: none;}
@media screen and (min-width:0) and (max-width:1024px) {
.welcome-content {margin-left: 0px;margin-top: 80px !important;}
.section-padding-0-100 {padding-bottom: 50px;}
.section-padding-100-85 {padding-top: 50px;padding-bottom: 50px;}
.section-padding-100-70 {padding-top: 50px;padding-bottom: 50px;}
.contact-form {padding-left: 35px;top: 70px;}
.contact-form input {margin-bottom: 0px;}
.fuel-features.features.section-padding-0-100.clearfix{margin-top: 0px !important}
.swiper-button-prev, .swiper-button-next {top: 93%;}
.testimonial-slider {margin: 0 10px 80px;}
.testimonialcntr .swiper-button-prev {left: 35%;}
.testimonialcntr .swiper-button-next {right: 35%;}
.section-padding-100 {padding-top: 50px;padding-bottom: 50px;}
.section-heading {margin-bottom: 30px;}
.our-awards .post { min-height: 50px;}
.our-awards.ico-team .team-content { padding: 20px 10px 30px;}
.hero-section img {margin-top: 50px;}
textarea.form-control {height: 65px;}
.submit-btn {margin-top: 20px;} 

.center-center {display: block;}
.mobblue{background: #025677 !important;}
.panel-body .col-md-6.col-lg-4.col-xl-2{width: 50%;float: left;}
.is-active + [data-tab-panel] {max-height: 100%;}
.lw-tab-content {padding: 40px 20px 0px;}











#return-to-top {bottom: 0px;right: 0px;width: 100%;text-align: center;padding: 10px;opacity: 1 !important;}
.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid { width: 100%;}
.mkdf-grid-col-6 {width: 100%;padding-left: 0;padding-right: 0;}
.mkdf-grid-row {margin-left: 0;margin-right: 0;}
.mkdf-grid-row p {text-align: center;}
.mkdf-footer-bottom-holder .mkdf-grid-col-6:first-child {padding-left: 40px;}
.deskonly{display: none !important;}
.mobonly{display: block !important;}
.mkdf-grid-col-6 #text-5{width: 100%;}
footer{padding-bottom: 25px;}
}