@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin-bottom: 0;
}


.btn {
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0.3em 0.5em 0.3em 0.6em;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn:after {
  font-family: "Material Icons";
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-top: -0.2em;
}
.btn:hover {
  background-color: transparent !important;
  color: #fff !important;
  border: 2px solid #fff;
}
@media all and (min-width: 30em) {
  .btn {
    padding: 0.3em 1em 0.3em 0.7em;
  }
  .btn:after {
    will-change: transform;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(0);
  }
  .btn:hover:after {
    transform: translateX(0.6em);
  }
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media all and (min-width: 85em) {
  .wrapper {
    max-width: 1260px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}


[data-tab-nav] a,
[data-accordion-header] {
  font-size: 1.125rem;
  line-height: 1;
  display: block;
  position: relative;
  text-align: center;
  will-change: background-color, color;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-accordion-header] {
  background-color: #fff;
  color: #383935;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: #fff;
  padding: 0.9375rem 50px;
  line-height: 1;
  margin-top: 7px;
}
@media all and (min-width: 56.25em) {
  [data-accordion-header] {
    display: none;
  }
}
[data-accordion-header]:hover {
  background-color: #fff;
  color: #383935;
}
[data-accordion-header]:after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 22px;
  transform: rotate(90deg);
}

.lw-accordion-header.is-active {
  background-color: #0097cd;
  color: #fff;
  border-color: #fff;
}
.lw-accordion-header.is-active:after {
  display: none;
}
.lw-accordion-header.is-active:hover {
  background-color: #0097cd;
  color: #fff;
}
.lw-accordion-header.is-active.theme-green, .lw-accordion-header.is-active.theme-green:hover {
  background-color: #70be49;
  border-color: #42683c;
}
.lw-accordion-header.is-active.theme-yellow, .lw-accordion-header.is-active.theme-yellow:hover {
  background-color: #fbb500;
  border-color: #a75a28;
}
.lw-accordion-header.is-active.theme-purple, .lw-accordion-header.is-active.theme-purple:hover {
  background-color: #8b244f;
  border-color: #3f2a55;
}

[data-tab-nav] {
  display: none;
}
@media all and (min-width: 56.25em) {
  [data-tab-nav] {
    display: block;
    margin-top: 30px;
  }
  [data-tab-nav] a {
    font-size: 1rem;
  }
}
@media all and (min-width: 75em) {
  [data-tab-nav] a {
    font-size: 1.125rem;
  }
}

[data-tab-nav] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0;
}
[data-tab-nav] li {
  list-style-type: none;
  padding: 0;
  border: 3px solid #fff;
  position: relative;
}
[data-tab-nav] li a {
  color: #383935;
  padding: 0.5em 0.5em;
  position: relative;
}
@media all and (min-width: 75em) {
  [data-tab-nav] li a {
    padding: 0.5em 1em;
  }
}
[data-tab-nav] li a:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0;
}
[data-tab-nav] li a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  will-change: border-color;
  transition: border-color 0.025s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 0.4s;
}
[data-tab-nav] li a > span {
  position: relative;
}
[data-tab-nav] li a:hover {
  color: #383935;
}
[data-tab-nav] li.is-active a {
  color: #fff;
  background-color: transparent;
}
[data-tab-nav] li.is-active a:before {
  transform: translateX(-100%) translateY(0);
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 0.025s;
}
[data-tab-nav] li.is-active a:after {
  transition: border-color 0.025s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-tab-nav] li.is-active a:hover {
  color: #fff;
}

.lw-tab-nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 0 10px;
  overflow: hidden;
}
.lw-tab-nav li {
  flex: 0 1 0;
  min-width: 110px;
  margin-left: 20px;
  margin-top: 0;
}
@media all and (min-width: 75em) {
  .lw-tab-nav li {
    min-width: 200px;
  }
}
.lw-tab-nav li:first-child {
  margin-left: 0;
}
.lw-tab-nav li a:before {
  transform: translateY(0);
}
.lw-tab-nav li a:after {
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  left: 50%;
  margin-left: -10px;
  bottom: -13px;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}
.lw-tab-nav li.is-active a:before {
  transform: translateY(-100%);
}
.lw-tab-nav li.is-active a:after {
  border-color: #fff transparent transparent transparent;
}

.lw-tabs {
  position: relative;
}
@media all and (min-width: 56.25em) {
  .lw-tabs {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
  }
  .lw-tabs h2 {
    text-align: left;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 75em) {
  .lw-tabs {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media all and (min-width: 56.25em) {
  .lw-tab-fixed {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 75em) {
  .lw-tab-fixed {
    padding-left: 50px;
    padding-right: 50px;
  }
}

[data-tab-panels] {
  margin-top: 1.875rem;
  margin-left: -20px;
  margin-right: -20px;
}
@media all and (min-width: 56.25em) {
  [data-tab-panels] {
    margin: 0;
  }
}

[data-tab-panel] {
  max-height: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  will-change: max-height;
  transition: max-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
[data-tab-panel] > * {
  position: relative;
}
[data-tab-panel] p {
  margin-left: 0;
  margin-right: 0;
}

.lw-tab-panel:before, .lw-tab-panel:after {
  content: "";
  display: block;
  position: absolute;
}
.lw-tab-panel:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 151, 205, 0.85);
  background: linear-gradient(to bottom, #015374, rgba(0, 151, 205, 0.85));
}
.lw-tab-panel:after {
  left: 50%;
  margin-left: -19px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 19px 0 19px;
  border-color: #fff transparent transparent transparent;
}
.lw-tab-panel.theme-blue:before {
  background: rgba(0, 151, 205, 0.85);
  background: linear-gradient(to bottom, #015374, rgba(0, 151, 205, 0.85)) !important;
}
.lw-tab-panel.theme-blue:after {
  border-color: #fff transparent transparent transparent;
}
.lw-tab-panel.theme-green:before {
  background: rgba(112, 190, 73, 0.85);
  background: linear-gradient(to bottom, #558b41, rgba(112, 190, 73, 0.85)) !important;
}
.lw-tab-panel.theme-green:after {
  border-color: #42683c transparent transparent transparent;
}
.lw-tab-panel.theme-yellow:before {
  background: rgba(255, 197, 47, 0.85);
  background: linear-gradient(to bottom, #cb862b, rgba(255, 197, 47, 0.85)) !important;
}
.lw-tab-panel.theme-yellow:after {
  border-color: #a75a28 transparent transparent transparent;
}
.lw-tab-panel.theme-purple:before {
  background: rgba(139, 36, 79, 0.85);
  background: linear-gradient(to bottom, #5e2852, rgba(139, 36, 79, 0.85)) !important;
}
.lw-tab-panel.theme-purple:after {
  border-color: #3f2a55 transparent transparent transparent;
}

@media all and (min-width: 56.25em) {
  [data-tab-panel] {
    max-height: none !important;
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  [data-tab-panel]:before, [data-tab-panel]:after {
    display: none;
  }
}

@media all and (min-width: 56.25em) {
  .lw-tab-panel {
    display: flex;
  }
  .lw-tab-panel.theme-blue {
    background: linear-gradient(to bottom, #015374, #0097cd) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#015374", endColorstr="#0097cd",GradientType=0 );
  }
  .lw-tab-panel.theme-green {
    background: linear-gradient(to bottom, #558b41, #70be49) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#558b41", endColorstr="#70be49",GradientType=0 );
  }
  .lw-tab-panel.theme-yellow {
    background: linear-gradient(to bottom, #cb862b, #ffc52f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cb862b", endColorstr="#ffc52f",GradientType=0 );
  }
  .lw-tab-panel.theme-purple {
    background: linear-gradient(to bottom, #5e2852, #8b244f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#5e2852", endColorstr="#8b244f",GradientType=0 );
  }
  .lw-tab-panel .lw-tab-text-move {
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(150%);
  }
}
@media all and (min-width: 75em) {
  .lw-tab-panel {
    text-align: left;
  }
}

.is-active + [data-tab-panel] {
  max-height: 400px;
  transition: max-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media all and (min-width: 56.25em) {
  .is-active + [data-tab-panel] {
    max-height: none !important;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .is-active + [data-tab-panel] .lw-tab-text-move {
    transform: translateX(0);
  }
}

.lw-tab-panel.text-going-out .lw-tab-text-move {
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(-150%);
}

.lw-tab-content {
  padding: 40px 20px 80px;
  color: #fff;
}
.lw-tab-content > *:first-child {
  margin-top: 0;
}
.lw-tab-content p {
  margin-left: 0;
}
@media all and (min-width: 56.25em) {
  .lw-tab-content {
    padding-top: 223px;
    width: 100%;
    min-width: 560px;
  }
}
@media all and (min-width: 75em) {
  .lw-tab-content {
    width: 60%;
    min-width: 100%;
    padding: 320px 50px 50px;
  }
}

@supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
  @media all and (min-width: 56.25em) {
    .lw-tab-panel {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 85% 100%, 0% 85%);
              clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 85% 100%, 0% 85%);
      overflow: hidden;
    }

    .lw-tab-content {
      padding-bottom: 200px;
    }

  }
  @media all and (min-width: 75em) {
    .lw-tab-panel {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 80%);
              clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 80%);
    }

    .lw-tab-content {
      width: 100%;
    }

  }
  @media all and (min-width: 91.25em) {
    .lw-tab-content{
      width: 60%;
    }
  }
}


.boxed {
  padding: 1.25rem;
  background-color: #fff;
  border-radius: .9375rem;
  margin-bottom: 1.875rem;
  border: .0625rem solid transparent;
}

.boxed p {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;margin: 0;    color: #000000 !important;
  text-align: center;
  font-size: 18px;line-height: 1.3;
}