@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
@import url('plugin-style.css');

body {line-height:1;font-size:16px;font-family:  'Inter', sans-serif;color:#fff;padding-bottom:0;position:relative;background:#fff;overflow-x:hidden;font-weight: 500;}
h1,h2,h3,h4,h5,h6 {padding:0px;margin:0px;line-height:1.4;color:#fff;font-weight: 500;}
p{margin:0;padding:0;border:0;font-size:20px;line-height:1.5;color:#fff;font-family: 'Lexend', sans-serif !important;}
p.small{margin:0;padding:0;border:0;font-size:15px;line-height:1.8;}
a {color:#fff;text-decoration:none;outline:0;}
a:hover{text-decoration:none;}

.topheaderbar{position:fixed;top:0px;width:100%;background: #fff;z-index: 9;}
.contact-info{float: right;padding: 11px;}
.contact-info ul li a{display: flex;justify-content: center;align-items: center;padding: 5px 0;}
.contact-info ul li{float: left;margin-left: 50px;}
.contact-info i{color: #f37d25;font-size: 30px;margin-right: 20px;}
.contact-info span{color: #60626d;font-size: 14px;}
.contact-info p{color: #272933;font-size: 15px;font-weight: bold;margin-top: 10px;}

.contact-info ul li:hover i{color: #60626d;}
.contact-info ul li:hover span{color: #f37d25;}
.contact-info ul li:hover p{color: #f37d25;}

.contact-info ul li a.sendenquiry {color: #000000;background: #fccca9;border: 2px solid #f8a76b;padding: 20px;text-transform: uppercase;display: block;font-size: 13px;font-weight: bold;border-radius: 5px;}
.contact-info ul li a.sendenquiry:hover{color: #000000;background: #f8a76b;}

.header {position:relative;z-index:999999;width:100%;transition: all 0.3s ease 0s;background: #272933;}
/* body.isscrolled .header{background:#fff;box-shadow:0 0 2px 2px rgba(0,0,0,.25);} */
.header .container {padding:0}
.logo {float:left;padding:15px 0}
.logo a{display: block;background: #fff;}
.logo a img{height: 50px;}
.nav {transition:all .3s ease;-moz-transition:all .3s ease;-webkit-transition:all .3s ease}
ul.menu {float:left}
.nav .container>ul>li {float:left;position: relative;}
.nav .container>ul>li:first-child a{padding-left: 0px;}
.nav .container>ul>li>a {display:block;font-size:14px;font-weight:500;padding: 20px;color:#fff;transition: all 0.3s ease 0s;position:relative}
.nav .container>ul>li:hover>a{color: #f58634;}
.nav .container ul li.dropdown>a:before {content:'\f107';font-family: "Font Awesome 5 Pro";font-size:13px;line-height:9px;width:auto;height:8px;color:#bbb;float:right;position:absolute;bottom:0;right: 0px;top: 13px;}
.nav li.has-sub-menu:hover .sub-menu {height:auto;background:#fff;padding:0px;border: 1px solid #eee;border-bottom: 0;width: 200px;margin-left: 50px;}
.nav li.has-sub-menu .sub-menu {position:absolute;left:0;width:100%;height:0;overflow:hidden;}
.nav li.has-sub-menu .sub-menu ul li {border-bottom:1px solid #d0d0d0;float:none}
.nav li.has-sub-menu .sub-menu ul li a {font-size:14px;line-height: 20px;color:#2a2a2a;display:block;padding:10px}
.nav li.has-sub-menu .sub-menu li.active,
.nav li.has-sub-menu .sub-menu li:hover {background-color:#f58634}
.nav li.has-sub-menu .sub-menu li.active a,
.nav li.has-sub-menu .sub-menu li:hover a {color:#fff}


.footer{width: 100%;left: 0;bottom: 0;z-index: -1;}
.footer-links {margin:0 -2%}
.footer .footer-wrapper {margin:0 auto;font-size:16px;background:#16171e;color:#fff;max-width:1281px;}
.footer dl {float:left;}
.footer dl dt {font-size:17px;font-weight:bold;padding:12px 0;margin-bottom: 30px;}
.footer dl dt a {font-size:17px;}
.footer dl li {padding: 0px;line-height: 22px;margin-bottom: 15px;font-weight: 300;}
.footer dl a {color:#fff;font-size:15px;}
.footer p,
.footer a{color:#fff;}
.footer dl a:hover {color:#f58634}
.footer .footer-wrapper {max-width:100%}
.copywritetxt p {font-size: 16px;font-weight: 300;margin: 0 20px;}
.copywritetxt span {font-size: 36px;font-weight: 100;}
.copywrite {font-size:14px;line-height:14px}
.copywrite a:hover{color:#f58634}


.subscribecntr .inputbox{position: relative;}
.subscribecntr .inputbox input {border: 2px solid #464646;background: #16171e;font-size: 18px;color: #464646;padding: 10px;margin-bottom: 20px;border-radius: 5px;width: 100%;}
.subscribecntr .inputbox a {background: #555555;color: #fff;width: 36px;height: 36px;display: flex;justify-content: center;align-items: center;font-size: 22px;border-radius: 5px;position: absolute;top: 4px;right: 4px;}
.subscribecntr .inputbox a:hover {background: #f58634;color: #fff;}

.social-network {list-style: none;margin-top: 15px;padding: 0;display: inline-block;}
.social-network a.icoFacebook:hover {background-color: #f58634;}
.social-network a.icoLinkedin:hover {background-color: #f58634;}
.social-network a:hover i {color: #fff;}
.social-network li {display: inline;margin: 0 5px;}
.social-network li i {margin: 0;line-height: 30px;text-align: center;color: #fff;}
.social-network li a {display: inline-block;position: relative;margin: 0 auto 0 auto;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;text-align: center;width: 30px;height: 30px;font-size: 15px;background: #2e2e2e;-webkit-transition: all 0.8s;-moz-transition: all 0.8s;-o-transition: all 0.8s;-ms-transition: all 0.8s;transition: all 0.8s;}
.social-network li a:hover i{-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;-ms-transition: all 0.2s;transition: all 0.2s;}
.social-network a {background-color: #F9F9F9;}

.scrollTop {position:fixed;right:20px;bottom:20px;width:40px;height:40px;text-align:center;z-index:99;display:none;border:2px solid #f58634;background-color:#fff;border-radius:50%}
.scrollTop a {display:block;color:#fff}
.scrollTop a:before {font-size:20px;line-height:36px;font-family: "Font Awesome 5 Pro";content:"\f325";color:#fe790e}
.scrollTop:hover {border:2px solid #f58634;background-color:#f58634;}
.scrollTop:hover a:before {color:#fff}

main{height: calc(100vh - 134px);margin-top: 134px;}
main.home{height: 100vh;margin: 0;}

.servicecntr i {color: #f37d25;font-size: 35px;width: 78px;height: 78px;background: #fff5ed;border-radius: 50%;display: flex;justify-content: center;align-items: center;margin: 0 auto 20px;}
.servicecntr h3 {color: #000000;font-size: 18px;font-weight: 600;margin-bottom: 25px;}
.servicecntr ul li{color: #60626d;font-size: 15px;font-weight: 500;margin-bottom: 15px;font-family: 'Lexend', sans-serif !important}

.projectlist span{font-size: 48px;font-weight: 600;margin-right: 10px;}
.projectlist p{font-size: 14px;font-weight: 300;}

.faqscntr .panel,
.faqscntr .panel-body {box-shadow: none;}
.faqscntr .panel-group .panel-heading {padding: 0;}
.faqscntr .panel-group .panel-heading a {display: block;text-decoration: none;position: relative;background: #1e1f23;border: 2px solid #2f2f2f;color: #f37d25;padding: 15px 20px;outline: 0;font-weight: 600;line-height: 1;transition: all .3s ease-in-out;border-radius: 5px;}
.faqscntr .panel-group .panel-heading a.collapsed{color: #fff;background: #3f4149;border: 2px solid #636363;}
.faqscntr .panel-group .panel-heading a:hover{color: #f37d25 !important;background: #1e1f23;border: 2px solid #2f2f2f;}
.faqscntr .panel-default>.panel-heading+.panel-collapse>.panel-body {border-top-color: #252831;border: 1px solid #252831;padding: 15px;box-sizing: border-box;line-height: 1.7;font-size: 16px;font-weight: 400;}
.faqscntr .panel-group .panel-heading a:after {content: "\f178";float: right;font-family: "Font Awesome 5 Pro";font-size:26px;line-height:15px;font-weight: 300;-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);z-index: 10;-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.faqscntr .panel-group .panel-heading a.collapsed:after {content: "\f178";font-family: "Font Awesome 5 Pro";font-size:26px;line-height:15px;font-weight: 300;-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);z-index: 10;-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.faqscntr .panel-group .panel {margin-bottom: 0;border-radius: 4px;background: #252831;border: 0;}
.faqscntr .panel-group .panel+.panel {margin-top: 20px;}
.faqscntr .panel-group .panel-heading a i{font-size: 16px;margin-right: 10px;}
.panel-default>.panel-heading {border-radius: 7px;}
.panel-body p{font-size: 15px; font-weight: 300;}
.faqbtn{position: absolute;bottom: 30px;right: 30px;}

.people-say{min-height: 270px;}
.people-say p{font-size: 17px;line-height: 2;}
.people-details {border-top: 1px solid #bbbbbb;margin-top: 20px;display: flex;justify-content: flex-start;align-items: center;}
.people-img{position: relative}
.people-img i {background: #fe790e;width: 36px;height: 36px;font-size: 18px;display: flex;justify-content: center;align-items: center;border-radius: 50px;position: absolute;top: -10px;left: 60%;transform: translateX(-50%);}
.people-details p {color: #000000;font-size: 19px;font-weight: 700;text-align: left;margin-left: 20px;}
.people-details span{display: block;color: #fe8423;font-size: 14px;font-weight: 500;font-family: 'Lexend', sans-serif !important}

.blog-caption{padding: 20px;}
.blog-caption h3 {font-size: 21px;line-height: 1.4;color: #000000;font-weight: 800;}
a:hover .blog-caption h3 {color: #f37d25;}
.blog-details {border-top: 1px solid #bbbbbb;display: flex;justify-content: space-between;align-items: center;padding: 10px 20px;}
.blog-details p{color: #f37d25;font-size: 13px;}
.blog-details span{color: #8e919a;font-family: 'Lexend', sans-serif !important}
.blog-details i {background: #ebebeb;color: #000;width: 40px;height: 40px;display: flex;justify-content: center;align-items: center;font-size: 22px;border-radius: 5px;}
a:hover .blog-details i {background: #f37d25;color: #fff;}

.logocntr {align-items: center;}
.logocntr img{height: 100%;}






@media(min-width:1200px){
	.container{max-width:1200px;width:100%;margin:0 auto;}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.container{max-width:100%;width:100%;margin: 0 auto;}
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
}
@media screen and (min-width: 1023px) and (max-width: 1365px) {
}
@media screen and (min-width: 0) and (max-width: 1023px) {
html{overflow-x: hidden;}
body {margin-bottom: 0px;padding:0;overflow-x:hidden}
.container {margin: 0 auto;width: 96%;}
.wrapper {width:100%}
.wrapper.opened .nav {left:0!important}
body.isscrolled .wrapper.opened .nav .container>ul>li.opened>a {color: #ffffff;}
body.isscrolled .wrapper.opened .nav .container>ul>li>a {color: #5a5a5a;}

.toggle-btn {background:rgba(0,0,0,0) none repeat scroll 0 0;border:0 solid #f58634;border-radius:5px;cursor:pointer;display:block;height:40px;padding:10px 0;position:absolute;right:2%;top:9px;width:40px}
.toggle-btn span {background:#f58634;display:block;height:2px;margin:0 auto 5px;width:62%}
.opened .toggle-btn span {display:none}
.opened .toggle-btn span:first-child,.opened .toggle-btn span:last-child {display:block;position:absolute;transform:rotate(45deg)}
.opened .toggle-btn span:last-child {left:7px;top:17px;transform:rotate(-45deg)}
.opened .toggle-btn span:first-child {left:7px;margin-top:5px;top:12px}

.header .container {padding:5px 0}
.header .logo {padding:0;float:none}
.header .logo a {padding: 5px;}
.header .logo a img {height: 35px;}
.nav {overflow:auto;position:absolute;right:-320px;top:55px;transition:all .3s ease 0s;z-index:100;left:-100%!important;border-top: 1px solid #000;float:none;width:100%}
.menu-wraper {overflow:auto;background:#fff;width:100%;height: 100vh;padding: 0px;}
ul.menu {float: left;width: 100%;}

.nav .container>ul>li,.nav li,.nav li:last-child {float:none;border-bottom:1px solid #fff}
.nav .container>ul>li>a {padding:10px 20px;background:#fff}
.nav .container>ul>li,
.nav li,
.nav li:last-child {border-bottom:1px solid #d0d0d0}
.nav .container>ul>li:last-child {border-bottom:1px solid #d0d0d0}
.nav .container>ul>li>a {margin-left: 0px;margin-top: 0px;}
.nav .container>ul>li>a {color: #5a5a5a;}
.nav .container ul li a:hover {color: #ffffff !important;}
.nav .container ul li>a:before {display:none}
.nav .container>ul>li.has-sub-menu:hover>a,
.nav .container>ul>li.opened>a,
.nav .container>ul>li>a.active,
.nav .container>ul>li>a:hover {background:#f58634 none repeat scroll 0 0;color:#fff !important}

.nav li.has-sub-menu {position:relative}
.nav li.has-sub-menu:after {color:#fff;content:"+";position:absolute;right:10px;top:6px;background:#f58634;width:21px;height:22px;line-height:17px;padding:0 0 0 5px;border-radius:4px;border:1px solid #fff}
.nav li.has-sub-menu .sub-menu {width:100%;position: relative;padding:0;width:100%;max-height:0;}
.nav li.has-sub-menu.opened::after,
.nav li.has-sub-menu:hover:after {color:#fff;content:"-";width:20px;height:20px;background:#f58634;line-height:17px;padding:0 0 0 6px;border-radius:4px}
.nav li.has-sub-menu.opened .sub-menu,
.nav li.has-sub-menu.opened:hover .sub-menu {background:#fff none repeat scroll 0 0;height:auto;max-height:3000px;padding:0;}
.nav li.has-sub-menu .sub-menu {height:0;padding:0;margin-left: 30px;border: 1px solid #eee;}
.nav li.has-sub-menu:hover .sub-menu {height:0;padding:0;width: 100%;margin-left: 20px;}
.nav li:hover .sub-menu {padding:0;height:0}
.nav li.has-sub-menu .sub-menu:before {display:none}
.nav li.has-sub-menu .sub-menu li {border:none}
.nav li.has-sub-menu .sub-menu li:last-child {border:none}
.nav li.has-sub-menu .sub-menu ul li a {padding:6px 10px}
.nav li.has-sub-menu .sub-menu {box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.nav li.has-sub-menu .sub-menu li.active, 
.nav li.has-sub-menu .sub-menu li:hover {background-color: #f58634}

.footer {position:static}
.footer-links {margin: 0;}
.footer .container {padding: 20px 0 15px;}
.footer dl {border-bottom:1px solid rgba(255,255,255,.4);float:none;padding:0;width:100%!important}
.footer dl.active dd{margin-bottom: 20px;}
.footer dl dt {padding:12px 40px 12px 0;position:relative;cursor:pointer}
.footer dl dt:after {content:"+";font:300 26px/40px 'Inter', sans-serif;position:absolute;right:11px;top:0;color:rgba(255,255,255,.8)}
.footer dl.active dt:after {content:'-';right: 14.5px;}
.footer dl dd {padding:0 0 13px}
.footer .container {padding:0px}
.footer dl dd {display:none}
.footer dl dt,
.footer dl dt a {font-size: 15px;}


}