
.main-banner { background-attachment: fixed; background-color: #2eb8e9;/* background-image: url("../img/banner.jpg"); background-position: center bottom; background-repeat: no-repeat; background-size: cover; */overflow: hidden }
.main-banner ul li { text-align: center }
.main-banner ul li h2 { color: #fff; font-size: 38px; padding: 90px 0 40px 0 }
.main-banner ul li h2 span { display: block; font-size: 22px; font-family: 'Rubik', sans-serif; }


.dis-table {display: table;width: 100%;height: 100%;}
.dis-tablecell {display: table-cell;width: 100%;height: 100%;vertical-align: middle;}

.banner{position:relative;}
.banner .slick-initialized .slick-slide {height: 84vh;position: relative;outline: none;overflow:hidden;}

.slick-slide img{transform: scale(1.2);transform-origin: center;transition: transform 3s ease-in-out;}	
.slick-slide.slick-current.slick-active img{transform: scale(1);transform-origin: center;transition: transform 3s ease-in-out;}
.slider-row.slick-slide.slick-current.active img{transform: scale(1);transform-origin: center;transition: transform 3s ease-in-out;}

.banner.mt0{margin-top:0px}

/*Slider*/
.full-slider { position: relative; }
.slider-Large-txt { position: absolute; right: 0%; top: 45%;  margin-top: -155px; z-index: 999;padding: 20px;background-color: rgba(23, 190, 194, 0.9);}
.slider-Large-txt .s-Big-txt {font-size: 50px;line-height: 50px;color: #fff;font-weight: 400;width: 500px;}
.slider-Large-txt .s-Big-txt span {display: block;font-size: 28px;line-height: normal;}
.slider-Large-txt .s-Big-txt p  {font-size: 18px;line-height: 28px;margin-top:10px;color:#fff;}
.slider-Large-txt .s-Big-txt a{padding: 20px;color: #2985ba;line-height: 11px;font-size: 14px;background-color: #fff;display: inline-block;margin-top: 0px;font-weight: 500;}
.slider-Large-txt .s-Big-txt a:hover{color: #fff;background-color: #00445e;}
.slick-initialized .slick-slide {display: inline-table;}

.dis-table { display: table; width: 100%; height: 100%; }
.dis-tablecell { display: table-cell; vertical-align: middle; height: 100%; width: 100%; }
.slider-row .container{position: absolute;height: 100%;right: 5%;}
/*.homebannerimage{position: absolute;bottom: 0;width: 100%;}
.slick-initialized .slick-slide{height:80vh;}*/
.bgfull{position: absolute;width: 100%;height: 100%;bottom: 0;left: 0;background-color: rgba(0, 0, 0, 0.2);}

.banner ul.slick-dots{display:none !important;}
.slick-prev { left: 20px; background-image: url(../img/prev-arrow.png);z-index: 9;}
.slick-next { right: 20px; background-image: url(../img/next-arrow.png);z-index: 9;}
.slick-prev, .slick-next {top: 46%;}
/*Slider end*/


.outer-div {display: table;height: 140px;width: 100%;padding-top: 20px;}
.middle-div{display: table-cell ; vertical-align: middle;}

.mobdisp{display:none !important;}
.desdisp{display:block !important;}
.portfolio_right_text h3{margin-bottom:20px;}
.portfolio_right_text p,
.portfolio_right_text ul{width:80%;}



.vision-mission-cntr {background-image: url(../img/vision-mission.jpg);background-repeat: no-repeat;height:625px;background-size: cover;}
.vision-mission-cntr .grid-6 {padding-top: 100px;}
.vision-mission-cntr .grid-6{width:60%}
.vision-mission-cntr .grid-6 + .grid-6{width:40%;}
.vision-mission-cntr .grid-6 i{display: block;text-align: center;font-style: normal;}
.vision-mission-cntr .grid-6 span{color: #fff;font-size: 36px;line-height: 42px;font-weight: 300;padding-top: 10px;text-align:center;display: block;}
.vision-mission-cntr .grid-6 p{color: #fff;font-family: "Poppins", sans-serif;font-size: 18px;font-weight: 200;line-height: 1.625em;padding-top: 30px;width: 80%;margin: 0 auto;}
.vision-mission-cntr .grid-6 ul{padding-top: 55px;}
.vision-mission-cntr .grid-6 ul li{position:relative;color:#fff;font-family: "Poppins", sans-serif;font-size: 18px;font-weight: 200;line-height: 1.625em;width: 100%;margin: 0 auto;}

.owl-nav{display:none;}
.owl-dots{margin-top:30px;}

#logo img{width:140px;}
.map-wrap iframe{width:100%;height:100%;}

.single-post p{text-align: justify;}
/*Media Queries for responsive*/
@media(min-width:1200px) {/*For big desktop*/
}
@media(min-width:1025px) {
}
@media(min-width:769px) {/*For Desktop Only*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 2% }
.grid-layout { margin: 0 -2% }
.grid-12 { width: 100%; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
}
@media screen and (min-width: 1600px) and (max-width:1920px) {
}
@media screen and (min-width: 0) and (max-width:1199px) {
}
@media screen and (min-width: 0px) and (max-width:1024px) {
.main-banner {
    background-attachment: fixed;
    background-color: #2985ba;
    overflow: hidden;
}

.slider-row .container {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 0%;
}
.slider-Large-txt .s-Big-txt {
    font-size: 24px;
    line-height: normal;
    color: #fff;
    font-weight: 400;
    width: 100%;
}
.slider-Large-txt {
    position: absolute;
    left: 0%;
    top: 30%;
    margin-top: 00px;
    z-index: 999;
    padding: 20px;
    background-color: transparent;
}
.main-banner {
    background-attachment: fixed;
    background-color: #2985ba;
    overflow: hidden;
}
.slick-prev, .slick-next {
    top: 20%;
}
.top-category-widget-area .single-cat-widget .content-details p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-top ul {padding: 0px;}
.header-top ul li { margin-left: 0px;margin-right: 10px;}
li.get-started{position:fixed;bottom:0px;left:0px;width:100%;text-align: center;}
#logo img {width: 100px;}
}
@media screen and (min-width: 0) and (max-width:979px) {
}
@media screen and (min-width: 0) and (max-width:768px) {/*For small tabs*/
}
@media screen and (min-width: 0) and (max-width:767px) {
}
@media screen and (min-width: 0) and (max-width:568px) {/*For Big Screen mobile*/
}
@media screen and (min-width: 0) and (max-width:480px) {/*For mobile*/
}
@media screen and (min-width: 0) and (max-width:320px) {/*For Small screen mobile*/

}
