@media screen and (device-width:1024px) {
    .featured-services .services {
        min-height: 341px;
    }
}

@media only screen and (min-device-width:800px) and (max-device-width:820px) {
    .featured-services .services {
        margin-bottom: 20px;
    }

    .our-project .get-touch .man {
        bottom: -71px;
        right: -21px;
    }

    footer strong {
        padding-top: 20px;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {

    .navbar .navbar-nav .nav-item,
    header.sticky .navbar .navbar-nav .nav-item {
        margin-right: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 13px;
    }

    footer strong {
        padding-top: 20px;
    }
}

@media (max-width:767px) {
    .row {
        margin: 0;
    }

    .heading {
        font-size: 25px;
        line-height: 34px;
    }

    .heading2 {
        font-size: 21px;
        line-height: 28px;
    }

    p {
        font-size: 14px;
        line-height: 19px;
    }

    .btn {
        padding: 12px 21px;
    }

    .sub-heading {
        font-size: 15px;
    }

    .navbar .navbar-brand {
        width: 40%;
        padding-left: 10px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        display: block;
    }

    .navbar .navbar-toggler {
        display: inline-block;
        float: right;
        background: transparent;
        border: 0;
        border-width: 0;
    }


    .navbar .navbar-toggler .navbar-toggler-icon svg {
        width: 30px;
        height: 30px;
    }

    .navbar .navigation {
        float: none;
        display: none;
    }

    .navbar .navigation.navbar-collapse.collapse.show {
        display: block;
    }

    .navbar .navbar-nav .nav-item,
    .navbar .navbar-nav .nav-item.dropdown {
        margin-right: 0;
        display: block;
    }

    header.sticky .navbar .navbar-nav .nav-item {
        margin-right: 0;
    }

    .data-science .data-left {
        top: -39px;
        width: 38%;
    }

    .data-science .content-of-banner {
        padding-top: 0;
    }

    .about-us span {
        font-size: 15px;
    }

    .synapttein-works .works-arrow:before {
        content: none;
    }

    .featured-services .grow-bussiness {
        top: 11%;
        right: 0;
    }

    .featured-services .services {
        margin-bottom: 20px;
    }

    .our-project .get-touch .man {
        position: static;
        margin: 10px auto 0;
        display: block;
    }

    .partners .partners-list {
        width: 49%;
        margin-bottom: 10px;
    }

    .our-project .get-in-touch {
        width: auto;
        margin-top: 20px;
    }

    footer {
        padding: 30px 0 30px;
    }

    footer .footer-content {
        padding-bottom: 30px;
    }

    footer strong {
        padding: 20px 0 30px;
    }
}

@media only screen and (min-device-width:600px) and (max-device-width:610px) {
    .partners .partners-list {
        width: 32%;
    }
}