@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
*{font-size: 16px;margin:0;padding: 0}

h1{font-size: 60px;font-weight: 400;font-family: 'Rubik', sans-serif;}
h2{font-size: 48px;font-weight: 400;margin: 0 0 30px;font-family: 'Rubik', sans-serif;}
h3{font-size: 28px;font-weight: 400;font-family: 'Rubik', sans-serif;}
h4 {font-size: 18px;margin: 15px 0;font-weight: 400;font-family: rubik;letter-spacing: -0.5px;}
h5{font-weight: 400;font-family: 'Rubik', sans-serif;}
h6{font-weight: 400;font-family: 'Rubik', sans-serif;}
p{font-weight:400;margin-bottom: 15px;color:#696969;font-size: 16px;line-height: 26px;font-family: 'Lora', sans-serif;}
p:last-child{margin-bottom:0px !important;padding-bottom:0px !important;}
strong{font-weight: bold}
a{text-decoration: none;font-weight: 400;cursor: pointer;font-family: 'Lora', sans-serif;}
#slider2 {padding-bottom:0px;}
section{padding:100px 0}
img{max-width:100%;}
.clear { clear: both }
.p0{padding:0px !important;}
.pt0{padding-top:0 !important;}
.pb0{padding-bottom:0 !important;}
.pr0{padding-right:0 !important;}
.pl0{padding-left:0 !important;}

.m0{margin:0px !important;}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom:0 !important;}
.mr0{margin-right:0 !important;}
.ml0{margin-left:0 !important;}

.fl{float:left !important;}
.fr{float:right !important;}

.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt60{padding-top:60px !important;}
.pt90{padding-top:90px !important;}
.pt100{padding-top:100px !important;}
.pt150{padding-top:150px !important;}

.pb30{padding-bottom:30px !important;}
.pb60{padding-bottom:60px !important;}
.pb90{padding-bottom:90px !important;}
.pb100{padding-bottom:100px !important;}
.pb150{padding-bottom:150px !important;}

.mt30{margin-top:30px !important;}
.mt60{margin-top:60px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}
.mt150{margin-top:150px !important;}

.mb30{margin-bottom:30px !important;}
.mb60{margin-bottom:60px !important;}
.mb90{margin-bottom:90px !important;}
.mb100{margin-bottom:100px !important;}
.mb150{margin-bottom:150px !important;}

ul li{list-style: none;line-height: 32px;position: relative;font-family: 'Lora', sans-serif;}
a.btn.btn-border {padding: 12px 20px;display: block;border: 1px solid #fff;color: #fff;display: inline-block;margin:30px 0 10px;font-weight: 700;text-transform: uppercase;font-size: 14px;background: transparent;}
#slider .caption a.btn.btn-border:hover{background: #ea1454;border-color:#ea1454;}
nav li {float: left;}
nav li a {display: block;color: #000;padding: 30px 16px;font-weight: 400;font-size: 16px;text-transform: uppercase;font-family: 'Rubik', sans-serif;}
nav li a.active{color: #d6285c;}
nav li a.search-ico{padding: 34px 20px;}
nav {float: right;}
nav li ul {display: none;position: absolute;top: 92px;left: 20px; right: 0;background: #4f4f4f;width: 280px;padding: 0px;}
nav li ul li {width: 100%;}
nav li:hover ul{display: block;z-index: 9;}
nav li:hover ul:before{width:70px;height:8px;content:"";background:#e8194f;position:absolute;top:-8px;left:0px;}
nav li ul li a {color: #fff;font-size: 14px;line-height:14px;display: block;float: none;padding: 12px 10px;}
nav li ul li a:hover{background:#e8194f;}

nav li:hover .submenu-level2{display: block;z-index: 9;}
.submenu-level2{display:none;}
.submenu-level2{width: 800px;position: absolute;top: 92px;left: -300px;right: 0;background: #4f4f4f;padding: 0px;height: 128px;}
.submenu-level2 ul {width:100%;top: 0px;left: 0;height: 100%;}
.submenu-level2 ul li {width: 33.333%;border-right: 1px solid rgba(255, 255, 255, 0.20);height: 128px;}
.submenu-level2 ul li a{text-transform: uppercase;}
.submenu-level2 ul li ul.dropdown-content{top: 38px;}
.submenu-level2 ul li ul.dropdown-content li {width: 100%;}
.submenu-level2 ul li ul.dropdown-content li a{background: transparent;}
.submenu-level2 ul li ul.dropdown-content li a:hover{background: #e8194f;}
nav li:hover .submenu-level2 ul:before {width: 70px;height: 8px;content: "";background: #e8194f;position: absolute;top: -8px;left: calc(50% - 80px);}
nav li:hover .submenu-level2 ul li ul.dropdown-content:before{left:0px;display:none;}
nav li:hover .submenu-level2 ul li ul.dropdown-content{display: inline-table;height: 90px;}
nav li:hover .submenu-level2 ul li ul.dropdown-content li{border-right: 0px ;height: auto;}
nav li:hover .submenu-level2 ul li ul.dropdown-content li a{font-size:12px;padding: 8px 10px;padding-left: 30px;background: url(../images/bullet1.png) no-repeat 14px 11px;background-size: 6px;text-transform: none;}
nav li:hover .submenu-level2 ul li ul.dropdown-content li a:hover{padding: 8px 10px;padding-left: 30px;background: #e8194f url(../images/bullet1.png) no-repeat 14px 11px;background-size: 6px;}

span.close_btn {background: none repeat scroll 0 0 #FFFFFF;color: #000;height: 25px;width: 25px;font-size: 20px;line-height: 22px;font-weight: 400;border-radius: 5px;padding: 0;position: absolute;right: 20px;top: 20px;z-index: 1002;cursor: pointer;text-align: center;font-family: 'Rubik', sans-serif;}
.form_container{max-width:800px;background: #fff;}
.enquiry_pop {position:fixed;top: 0;left: 0;background: rgba(0,0,0,0.5);width: 100vw;height: 100vh;z-index: 99;transition: all 0s ease;}
.enquiry_pop .form_container {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width:800px;margin:0px;z-index: 9;}
.enquiry_pop a.btn.btn_style_green{margin:40px 0 0;padding: 20px}
.close_box {width: 100vw;height: 100vh;margin: 0 auto;display: block;top: 0;left: 0;position: absolute;z-index: 1;}
.pop-header{background:#d6285c;color: #fff;padding: 20px;position: relative;}
.pop-content{padding: 20px;max-height: 400px;overflow: auto;padding-bottom: 0px;margin-bottom: 20px;}
.pop-header h3{margin:0;font-size: 22px;line-height: 28px;color:#fff;}
.pop-header h3 span.img {-webkit-clip-path:  circle(50% at 50% 50%);clip-path:  circle(50% at 50% 50%);width: 50px;height: 50px;background:#9e9e9e;display: inline-block;position:relative;float: left;top: 0px;margin-right: 10px;}
.pop-header h3 .designation{display: block;font-size: 12px;line-height: 18px;}
.pop-header h3 span img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 50px;}
.pop-content h3{margin:0;}
.pop-content p{margin-bottom: 20px;font-size: 18px;line-height: 36px;color: #4d4d4d;}

header .row{overflow:visible !important}
header .col-4 {padding-top: 10px;padding-bottom:10px;}
.breadcrumb {display: block;width: 100%;color: #fff;font-size: 12px;margin-bottom:5px;font-family: 'Rubik', sans-serif;}
.breadcrumb a{color: #fff;font-size: 12px;font-family: 'Rubik', sans-serif;font-weight:700;}
.breadcrumb a:hover{text-decoration:underline;}

body{padding-top:92px;}
header{padding: 0px 0;position: fixed;top: 0;left: 0;width: 100%;z-index: 9;background: #fff;box-shadow: 0px 0px 8px #eee}
a.search-ico{padding-top: 22px;}
.row{overflow: hidden !important;}
.light-grey{background:#f7f7f7;}
.padT0{padding-top:0 !important;}
.padB0{padding-bottom: 0 !important}
.text-center{text-align: center;}
.marT50{margin-top: 50px}
.marB50{margin-bottom: 50px}
.mobile-only{display: none;}
.wrapper{max-width: 100%;width:1280px;margin: 0 auto}
.border-none{border:0;}
.link-style{color:#df2b5f;}
.link-style:hover{text-decoration:underline;color: #4863ab;transition: all .2s ease;}
#news a:hover .link-style{text-decoration:underline;color: #4863ab;transition: all .2s ease;}
#news a{margin: 30px 0;}
#video-carousel .card{margin: 0px 0;}
.card{background:#fff;padding:30px;display: inline-block;width: 100%;}
#news .col-4 .card:first-child{min-height: 280px;}
#news .col-4 a + .card{margin-bottom:50px;}
#news .col-4 a + .card a{margin:0px;}
#news h4 a {color: #080808;}
#news h4 a:hover {box-shadow: none;}
#news h4 a:hover span{text-decoration:underline;}
.card.card-without-pad{padding:0;}
#news  h4{color:#080808;}
.card p{font-size: 14px;line-height: 22px;}
.card-pink{background: #df2b5f;color:#fff;}
#news .card-pink h4{color:#fff;}
.card.btn-style{padding:30px}
.card.btn-style img{margin: 6px 0;}
.card-name h3{background:url(../images/arrow.png) center right no-repeat;background-size: 50px;transition: all .2s ease;padding: 0px 0 0px;font-weight: 400;font-size: 25px;color: #080808;}
.layout-2 a h3{background:transparent;}
.card-name p{font-size:15px;line-height: 30px;}
.card:hover .card-name h3{background-position: 90% center}
.card-caption{padding: 23px 20px;}
.card-caption h4{margin-bottom:0px;}
#news a{display: inline-block;transition: all .2s ease}
#news a:hover{box-shadow: 0px 0px 23px #c1c1c1;}
.wrap1024{max-width: 1024px}
.align-v-center{display: flex;flex-direction: column;justify-content: center;}
#slider h3{font-size:32px;font-weight:300;}
#slider{padding: 0}
.slide-bg {background-size: cover;display: flex;justify-content: flex-end;}
#slider .caption {width: 480px;float: right;padding:100px 50px;position:relative;right:-780px;color:#fff;left: unset;}
#slider .caption p{margin:30px 0;font-size: 15px;color:#fff;font-weight:300;line-height:28px;}
#slider .caption a{display:none;}
#slider .caption p strong{font-weight:bold;}
#slider .slide-bg .caption{height:70vh;}
.banner-height{min-height: 600px}
.caption {width: 630px;padding: 40px;position: relative;left: 50px;color:#fff;background: rgba(223,48,100,1);
background: -moz-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,48,100,.9)), color-stop(25%, rgba(200,55,111,.9)), color-stop(51%, rgba(147,72,133,.9)), color-stop(76%, rgba(96,86,153,.9)), color-stop(100%, rgba(61,99,169,.9)));
background: -webkit-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -o-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -ms-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: linear-gradient(to bottom, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df3064', endColorstr='#3d63a9', GradientType=0 );}
.caption h4{margin: 0 0 15px;font-size: 20px}

#news{background: url(../images/news-bg.jpg) 0 0 no-repeat;background-size: cover}
#news .sub-text{font-size: 12px;color:#979797;font-family: 'Lora', sans-serif;}
#video-carousel .caption{padding: 19px 30px;}
#video-carousel .caption h4{margin:5px 0 5px}

.layout-2 .card{min-height: 365px;color:#fff;}
.layout-2 .col-4 img{width:100%;}
.layout-2 .card{display: flex;justify-content: flex-end;flex-direction: column;transition: all .2s ease}
.layout-2 .card:hover{box-shadow:0 0 15px 0 rgba(0,0,0,.5);}
.layout-2 p.sub-head{color:#d6285c;line-height: 20px;margin-top:5px;}
.layout-2 .btn.btn-border{color:#4863ab;padding: 8px 14px;transition:all ease .2s;border: 1px solid #4863ab;display: inline-block;margin: 30px 0 10px;font-weight: 700;text-transform: uppercase;font-size: 14px;margin:0px;}
.layout-2 a:hover .btn.btn-border{background:#4863ab;color:#fff;}
.layout-2 a:hover {background: #f9f9f9;}
.layout-2 .col-4 a:hover img {-webkit-filter: grayscale(100%);filter: grayscale(100%);}

.layout-2 .col-4.active a .btn.btn-border{background:#4863ab;color:#fff;}
.layout-2 .col-4.active a {background: #f9f9f9;}
.layout-2 .col-4.active a img {-webkit-filter: grayscale(100%);filter: grayscale(100%);}

.layout-2 a{display: inline-block;}
.layout-2 .col-4 a{display: inline-block;width: 100%;}
#cash-management{background:url(../images/cash-management.jpg) 0 0 no-repeat;background-size: cover}
#managed-services{background:url(../images/managed-services.jpg) 0 0 no-repeat;background-size: cover}
#card-solutions{background:url(../images/card-solution.jpg) 0 0 no-repeat;background-size: cover}
/*#video-carousel .card-without-pad img {width:100%;}*/
#video-carousel .card-without-pad img {float: left;}
.card-caption {padding: 10px 20px;width: 60%;float: left;}
.card-caption h4{font-size:18px;margin-top: 10px;}

.column-count{column-count: 2;column-gap: 110px;margin-top:30px;}
#cash-management-solution h2,
#what-we-do h2{font-weight:100;}

#about-cms{background:url(../images/about-bg.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 720px;padding:200px 0 100px;background-attachment: fixed;}
.parallax-countings .wrapper{}
.parallax-countings .number{font-size: 60px;font-weight: 400;font-family: 'Rubik', sans-serif;display: grid;}
.parallax-countings .col-4{padding:0px;}
.parallax-countings .col-4 h4{font-size:16px;line-height: 24px;font-family: 'Lora', sans-serif;letter-spacing:0px;}
.parallax-countings .col-4:nth-child(1){max-width:35%;flex: 35%;}
.parallax-countings .col-4:nth-child(2){padding:0 50px;max-width:45%;flex: 45%;}
.parallax-countings .col-4:nth-child(3){max-width:20%;flex: 20%;}
.parallax-countings p{color:#fff;max-width: 100%;margin:0px 0 20px;width:80%;font-size:16px}
#about-cms a{font-size:30px;display:block;font-weight:500;color:#fff;text-align: center;padding: 30px 0;background:#35599b;margin:70px 0 30px;transition: all .2s ease}
#about-cms a:hover{background:#e8194f;}
#about-cms a img{vertical-align: bottom;margin-left: 10px}
#years-progress{background:url(../images/about-parallax.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 600px;padding:200px 0 100px;background-attachment: fixed;}
#cms-network{background:url(../images/network-parallx.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 600px;padding:150px 0;background-attachment: fixed;}

footer{padding:100px 0;background:#383838;color:#b4b4b4;}
footer li strong{font-size: 18px;font-family: 'Rubik', sans-serif;}
footer li{font-size: 14px}
footer li:first-child a{color:#b4b4b4}

footer p{font-size: 12px}
footer a{color:#969696;margin-right: 10px;transition: all .2s ease;font-size: 14px;}
footer a:hover{color:#e8194f;text-decoration:underline;}
#social{margin:20px 0;}
#social li{display: inline-block;}
.copyrights{max-width: 480px;float: right}
.menu-icon{display: none}

#slider2 h1{margin: 0 0 15px;font-size: 20px;font-weight: 500;font-family: rubik;letter-spacing: -0.5px;padding: 0;}
#slider2 p{font-size: 32px;font-weight: 300;font-family: 'Rubik', sans-serif;margin: 0;padding: 0;color: #fff;line-height: 36px;}
#slider2 p strong{font-size: 32px;}
#slider2 p span{display:block;}

.txt h2{font-size: 32px;margin-top: 0}
.txt p{font-size: 16px;margin:0 0 40px;}

.bx-pager-item a {display: block;text-indent: 25px;height: 12px;width: 12px;background: rgba(255, 255, 255, .5);overflow: hidden;border-radius: 50%;margin: 0 5px;}
.bx-wrapper{position:relative;}
.bx-pager.bx-default-pager {position: absolute;text-align: center;width: 100%;bottom: 20px;}
.bx-pager-item {display: inline-block;}
.bx-pager-item a.active {background: #fff;}

#business-point{padding: 0 35px}

.mob-view{display:none}
.layout-4{padding: 100px 0 140px}
#cash-management-solution{padding: 100px 0 140px}
.layout-4 .row{height:300px;}

.table-wrapper{background:#f9f9f9;padding:100px 0;}
.business-module-table {width: 100%;margin: 0 auto;display: table;border: 1px solid #eaeaea;margin-top:80px;background:#fff;margin-top:0px;border-bottom: 0px solid #eaeaea;}
.business-module-table h3 {color: #fff;font-size: 24px;line-height: 28px;font-weight: 300;text-align: left;width: 100%;padding: 20px 20px;border-bottom: 1px solid #eaeaea;background: #4863ab;    font-family: rubik;}
.business-module-table ul li{display: flex;position:relative;border-bottom: 1px solid #eaeaea;}
.business-module-table ul li .col-12{padding:15px 30px;font-weight: 300;border-right:1px solid #eaeaea;font-size: 18px;line-height: 28px;color: #4d4d4d;background: url(../images/bullet.png) no-repeat 20px 18px;    background-size: 25px;padding-left: 60px;}


ul.bullet{margin-top: 10px;display: inline-block;}
ul.bullet li{padding-left: 35px;background: url(../images/bullet.png) no-repeat 0px center;background-size: 20px;font-size: 14px;margin-bottom: 15px;}
ul.bullet li:last-child{margin-bottom:0px;}

ul.bullet2{margin-top: 10px;display: inline-block;}
ul.bullet2 li{padding-left: 35px;background: url(../images/bullet.png) no-repeat 0px center;background-size: 20px;font-size: 14px;margin-bottom: 15px;width:45%;float:left;margin-right:30px;}
ul.bullet2 li:nth-child(2n + 2){margin-right:0px;}
ul.bullet2 li:last-child{margin-bottom:0px;}


.bullet{margin-top: 10px;display: inline-block;}
.bullet ul li{padding-left: 35px;background: url(../images/bullet2.png) no-repeat 0px 4px;background-size: 20px;width:100%;float:left;font-size: 18px;border-bottom: 1px solid #eee;padding-bottom: 8px;margin-bottom: 8px;}
.bullet ul li:last-child{margin-bottom:0px;}

.bullet2{margin-top: 10px;display: inline-block;}
.bullet2 ul li{padding-left: 35px;background: url(../images/bullet2.png) no-repeat 0px 4px;background-size: 20px;width:40%;float:left;margin-right:240px;font-size: 18px;border-bottom: 1px solid #eee;padding-bottom: 8px;margin-bottom: 8px;}
.bullet2 ul li:nth-child(2n + 2){margin-right:0px;}
.bullet2 ul li:last-child{margin-bottom:0px;}

#migrate-cards-to-emv-standards-in-india-grid3 .col-4{margin-bottom:80px;}
#migrate-cards-to-emv-standards-in-india-grid3 .col-4:nth-last-child(1),
#migrate-cards-to-emv-standards-in-india-grid3 .col-4:nth-last-child(2),
#migrate-cards-to-emv-standards-in-india-grid3 .col-4:nth-last-child(3){margin-bottom:0px;}
#migrate-cards-to-emv-standards-in-india-grid3 .col-4 h3{margin: -30px -30px 20px -30px;border-bottom: 1px solid #eee;padding: 15px 30px;background: #4863ab;color: #fff;}
#migrate-cards-to-emv-standards-in-india-grid3 .col-4 p{margin-bottom:0px;}
#migrate-cards-to-emv-standards-in-india-grid3 .col-4 a{background:#fff;}

#about .business-module-table ul.grid2 li{width:50%;float:left;}
#about .business-module-table ul.grid2 li:last-child{border-bottom:0px;}
#about .business-module-table ul.grid2 li:nth-child(2n + 2) .col-12{border-right:0px;}
#about .business-module-table{border-bottom: 1px solid #eaeaea;}

.contact-cntr{padding:180px 0;}
.contact-cntr .grid-12{padding:0px;position:relative;}
.anq-qust h2 {padding-bottom: 30px;color: #fff;font-size: 36px;line-height: 42px;}



.contect-details{width:50%;float:left;padding: 50px;height: 670px;}
.enquiry-form {width: 50%;height: auto;float:right;background-color: #fff;padding: 50px;border: 1px solid #f2f2f2;}
.enquiry-form h2{padding-bottom: 30px;color: #000;font-size: 36px;line-height: 42px;}
.enquiry-form h3 {color: #dadada;border-bottom: 1px solid #f0f0f0;display: inline-block;padding-bottom: 10px;margin-bottom: 10px;}
.form-fields ul li{width:48%;float:left;margin-bottom:25px;}
.form-fields ul li:nth-child(odd){margin-right:17px;}
.form-fields ul li:nth-child(5),
.form-fields ul li:nth-child(6){width:100%;}
.form-fields ul li:last-child{width:100%;position:relative}
.captcha_image{position: absolute;bottom: 2px;right: 2px;}
.captcha_image img{height:35px}
.address-cntr p {
    padding-left: 35px;
    margin-bottom: 10px;
}
input[type=submit].submit-btn {background-color: #003d6e;border: 0px;padding: 18px 20px;font-size: 18px;color: #fff;min-width: 160px;text-align: center;border-radius: 0px;text-transform: uppercase;border:2px solid #003d6e;}
input[type=submit].submit-btn:hover{background-color: #fff;color: #003d6e;border:2px solid #003d6e;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {width: 100%;border: 1px solid #ddd;margin: 0;font-size: 14px;font-family: 'Rubik', sans-serif;outline: none;background-color: #f4f4f4;padding: 20px;color: #696969;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #696969;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #696969;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #696969;
}
:-moz-placeholder { /* Firefox 18- */
	color: #696969;
}

.address-cntr p{margin-bottom:10px;}
.btn.btn-border{color:#4863ab;padding: 10px 14px;transition:all ease .2s;border: 1px solid #4863ab;display: inline-block;margin:30px 0 10px;font-weight:700;text-transform:uppercase;font-size: 14px;margin:0px;background:#fff;    font-family: 'Lora', sans-serif;}
.btn.btn-border:hover{background:#4863ab;color:#fff;}



.addressPin {background: url(../images/address-pin.png) 0 3px no-repeat;background-size: 24px;}
.phone-icon {background: url(../images/phone-icon.png) 0 2px no-repeat;background-size: 18px;}
.email-icon {background: url(../images/email-icon.png) 0 2px no-repeat;background-size: 20px;}
.phoneicon {background: url(../images/tellicon.png) 0 2px no-repeat;}

.our-location-info p {padding-left:35px;padding-bottom:10px;}
.our-location-info p.addressicon{padding-left:0px;background:none;}
.mobile-infographic{display:none;}



.qst-ans-cntr{padding:0px 0 0px;}
.qst-ans-cntr .col-5{padding: 0px;width: 30%;float:left;}
.qst-ans-cntr .col-5 p {line-height: normal;margin-bottom:0px;}
.qst-ans-cntr .col-5 p a {border-bottom: 1px solid rgba(255, 255, 255, 0.2);padding: 10px 15px;display: block;margin-bottom: 0px;margin-right: 10px;background-color:#4863ab;position: relative;}
.qst-ans-cntr .col-5 p a span{display: inline-block;padding-left:0px;}
.qst-ans-cntr .col-5 p a span.btn.btn-border {color: #d6285c;padding: 8px 14px;position: absolute;right: 15px;top: 18px;font-size: 12px;border-color: #d6285c;display:none;}
.qst-ans-cntr .col-5 p a span.btn.btn-border:hover {color: #fff;border-color: #4863ab;}
.qst-ans-cntr .col-5 p a.active span.btn.btn-border{display:block;}
.qst-ans-cntr .col-5 p a span.location{line-height:14px;padding-top:0px;}
.qst-ans-cntr .col-5 p a span.job-listing-meta.meta{}
.qst-ans-cntr .col-5 p a .count-number {color: rgba(0, 0, 0, 0.05);letter-spacing: -1px;text-transform: uppercase;font-size: 60px;font-weight: 600;}
.qst-ans-cntr .col-5 p a .tab-text {color: #fff;font-size: 18px;font-weight: 300;margin-bottom:5px;width: 100%;}
.qst-ans-cntr .col-5 p a.active {background: #FFF url(../images/active-arrow.png) no-repeat 98% center;background-size: 30px;background:#fff;}
.qst-ans-cntr .col-5 p a.active .tab-text {color: #4d4d4d;font-weight:bold;}
.qst-ans-cntr .col-5 p:last-child a{margin-bottom:0px;}
.qst-ans-cntr .col-7 .careers-cntr{display:none;}
.qst-ans-cntr .col-7{padding: 0px;width: 65%;position:relative;background:#fff;float:left;max-width: 65%;margin-left: 42px;}
.bullet-points{display:none;padding: 50px 80px;}
.qst-ans-cntr .col-7 p{font-size: 18px;line-height: 36px;color: #4d4d4d;}
.bullet-points ul li{font-size: 20px;color:rgba(255, 255, 255, 0.88);margin-bottom: 30px;}
.bullet-points ul li:last-child{margin-bottom:0px;}
.meta {color: #fff;font-size: 18px;font-weight: 300;}
.qst-ans-cntr .container>div{position:static !important;}
.meta span {margin: 0 1em 0 0;padding: .5em;float: left;color: #fff;font-size: 12px;}
/*.meta span.location{background: url(../images/address-pin-white.png) 0 3px no-repeat;background-size: 20px;padding-left:25px;}
.meta span.date-posted{background: url(../images/calendar-white.png) 0 3px no-repeat;background-size: 20px;padding-left:25px;margin:0px;padding-right:0px;}*/

.active .meta span {margin: 0 1em 0 0;padding: .5em;float: left;color: #4d4d4d;font-size: 12px;}
/*.active .meta span.location{background: url(../images/address-pin.png) 0 3px no-repeat;background-size: 20px;padding-left:25px;}
.active .meta span.date-posted{background: url(../images/calendar.png) 0 3px no-repeat;background-size: 20px;padding-left:25px;margin:0px;padding-right:0px;}*/

.careers-cntr{padding:30px;}
.careers-cntr h2{font-size: 32px;color:#000;font-family: 'Rubik', sans-serif;margin-bottom:10px;padding-top: 20px;font-weight: 100;}
.careers-cntr h3{font-size: 24px;color:#000;font-family: 'Rubik', sans-serif;margin-bottom:10px;}
.careers-cntr p{font-size: 18px;line-height: 36px;color: #4d4d4d;margin: 10px 0 30px;}
.careers-cntr ul {margin: 0px 0 20px;display: inline-block;}
.careers-cntr ul li{padding-left: 35px;background: url(../images/bullet2.png) no-repeat 0px 7px;background-size: 20px;width: 100%;float: left;font-size: 18px;margin-bottom: 8px;}
.careers-cntr ul li:last-child{margin-bottom:0px;}

.blockInfo{border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;}
.blockInfo h2 {}
.blockInfo h2 span {display: block; padding-top: 10px;}
.blockattempt{margin-top:0px;}
.blockattempt.w50 .scoreba{float: left;width: 50%;}
.blockInfo .scoreba {float: left;width: 100%;}
.blockInfo .blockattempt h3 {font-size: 16px;line-height: 24px;color: #4d4d4d;font-family: 'Rubik', sans-serif;margin:0px 0 30px;font-weight: bold;}
.blockInfo .blockattempt h3 span {display:block;font-size: 24px;line-height: 36px;color: #000;font-family: 'Lora', sans-serif;margin-bottom: 10px;font-weight:300;color: #4d4d4d;}
.blockattempt + .blockattempt h3{margin-bottom:0px;}
.press-cntr{padding: 0px;width: 70%;position:relative;background:#fff;float:left;max-width: 70%;}
.press-cntr h2{font-size: 32px;color:#000;font-family: 'Rubik', sans-serif;margin-bottom:10px;padding-top: 20px;font-weight: 100;}
.press-cntr h3{font-size: 24px;color:#000;font-family: 'Rubik', sans-serif;margin-bottom:10px;}
.press-cntr p{font-size: 18px;line-height: 36px;color: #4d4d4d;margin: 10px 0 30px;}
.press-cntr ul {margin: 0px 0 20px;display: inline-block;}
.press-cntr ul li{padding-left: 35px;background: url(../images/bullet2.png) no-repeat 0px 7px;background-size: 20px;width: 100%;float: left;font-size: 18px;margin-bottom: 8px;}
.press-cntr ul li:last-child{margin-bottom:0px;}
.press-info{padding: 10px 0;}

.press-section{padding: 0px;width: 30%;float:left;max-width: 100%;}
.more-press{}
.more-press {background: #f1f1f1;margin-bottom: 20px;}
.more-press h3 {font-weight: bold;font-size: 18px;padding: 10px 16px;background: #e2e2e2;font-family:'Playfair Display', serif;}
.more-press h3 a {font-size: 12px;line-height: 14px;float: right;margin: 0;padding: 5px 10px;background: #fff;color: #f04a76;margin-top: -5px;}
.more-press h3 a:hover{background-color: #f04a76;color: #fff;}
.more-press ul.list{margin:0px;}
.more-press ul.list.disc li {list-style-type: none;border-top: 1px solid #ddd;padding: 0px;margin:0px;font: 14px/20px 'Archivo', sans-serif;position: relative;}
.more-press ul.list.disc li:after{ content: ' ';width: 0;height: 0;border-left: 5px solid #f04a76;border-top: 5px solid transparent;border-bottom: 5px solid transparent;position: absolute; top: 17px;left: 15px;}
.more-press ul.list.disc li a{padding: 14px 30px;display: block;color:#4d4d4d;font-size:13px;}
.more-press ul.list.disc li a span{display: block;font-size:12px;margin-top:5px;line-height: 18px;color:#9c9c9c}
.more-press ul.list.disc li:nth-child(odd){background:#f7f7f7;}
.press-section a.btn.btn-border{border: 1px solid #4863ab;color: #fff;background:#4863ab; margin-top: 0;}
.press-section a.btn.btn-border:hover{background: #fff;color: #4863ab;}
.press-cntr + div{position:static !important;}
.col-7.press-cntr{width:65%;margin-right:42px;}

a.btn.btn_style_green {background: #009933;color: #fff;display: block;padding: 15px 20px;text-align: center;font-weight: bold;font-family: 'swis721_hv_btheavy';}
input.btn.btn_style_green {background: #009933;color: #fff;display: block;padding: 15px 20px;text-align: center;font-weight: bold;margin: 0;margin-top: 40px;width: 100%;font-family:swis721_hv_btheavy;cursor: pointer;}

.enquiry_pop.careers-popp .form_container{width:600px;}
#enquiry_form ul{margin:0 0px;}
#enquiry_form ul li {width: 45%;float: left;margin-right:50px;margin-bottom:20px;}
#enquiry_form ul li:nth-child(2n + 2){margin-right:0px;}
#enquiry_form ul li:nth-last-child(1),
#enquiry_form ul li:nth-last-child(2){width:100%;}
#enquiry_form ul li input,#enquiry_form ul li textarea, #enquiry_form ul li select, #enquiry_form ul li .g-recaptcha{margin:0px;width:100%;}
#enquiry_form ul li.grid3{width:30%;margin-right: 25px;}
#enquiry_form ul li.grid3:nth-child(5){margin-right:0px;}
#enquiry_form ul li input, 
#enquiry_form ul li textarea, 
#enquiry_form ul li select {display: block;border: none;border-bottom: 1px solid #7d7d7d;padding: 15px 0;color: #7d7d7d;background: transparent;outline:none;}
/*#enquiry_form input.btn.btn-border {background: #4863ab;color: #fff;display: block;padding: 15px 20px;text-align: center;font-weight: bold;margin: 0;margin-top: 40px;width: 100%;cursor: pointer;}*/
#enquiry_form input.btn.btn-border {cursor: pointer;padding: 10px 50px;margin: 0 auto;display: block;}

.enquiry_pop.careers-popp .form_container .pop-content{max-height: 450px;}
.customfile-wrap{position:relative}
.customfile-upload{border: none;display: inline-block;margin-left: -1px;position: absolute;bottom: 1px;right: 0;width: 25%;padding: 14px 0;color: #7d7d7d;font-size: 14px;font-family: 'Rubik', sans-serif;cursor: pointer;}
.customfile-upload::-moz-focus-inner{padding:0;border:0}

.location-icons{padding: 30px 0; margin: 0 auto; max-width: 1000px;}
.location-icons img{ vertical-align: middle;}
.location-icons ul li{font-size: 14px; background: none;display: inline-block;color: #161616; display: inline-block; padding: 0; margin: 0; }



.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}
.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-next,.slick-prev{font-size:0;line-height:0;top:50%;width:20px;height:35px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;opacity:.75;color:#fff}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}.slick-dots{bottom:-25px;width:50px;margin:0;list-style:none;text-align:center;right:0}.slick-dots li{position:relative;display:inline-block;width:8px;height:8px;margin:5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:8px;height:8px;padding:3px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000}.slick-dots li.slick-active button:before{opacity:.75;color:#000}.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block;width:100%}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block;outline:0}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

.cms-cash2home-page{}
.cms-cash2home-page #cms-cash2home{background-image: linear-gradient(#fff, #e1d7ff);padding: 100px 0 150px;}
.cms-cash2home-page .txt p, 
.cms-cash2home-page .layout-4 p{margin: 0 0 20px;font-size: 16px;line-height: 27px;color: #4d4d4d;margin-top:30px;margin-bottom:0px;}

.cms-cash2home-left-cntr{padding-left: 0;padding-right: 6%;}
.cms-cash2home-left-cntr img {margin-top: 0px;}
.cms-cash2home-right-cntr{}
.cms-cash2home-right-cntr img{}
.cms-cash2home-right-cntr p.big{font-weight: 400;font-family: 'Rubik', sans-serif;font-size: 20px;line-height: 30px;}
.cms-cash2home-right-cntr p{}
.cms-cash2home-right-cntr a{color:#f11a5d;font-size: 20px;line-height: 30px;}
.cms-cash2home-right-cntr a:hover{text-decoration:underline;}
.cms-cash2home-right-cntr p.big span{color:#f11a5d;font-weight: 600;font-size: 20px;line-height: 30px;}

.happy-clients-cntr .bx-wrapper .bx-pager {text-align:center;font-size:.85em;position:absolute;left:0;width:100%;bottom:100px}
.happy-clients-cntr .bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.happy-clients-cntr .bx-wrapper .bx-pager .bx-pager-item {display:inline-block}
.happy-clients-cntr .bx-wrapper .bx-pager.bx-default-pager a {background:#bbb;text-indent:-9999px;display:block;width:10px;height:10px;margin:0;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.happy-clients-cntr .bx-wrapper .bx-pager.bx-default-pager a.active,.happy-clients-cntr .bx-wrapper .bx-pager.bx-default-pager a:hover {background:#f83871}
.happy-clients-cntr {position:relative}
.happy-clients-cntr .bx-viewport {min-height:600px}
.happy-clients-cntr h2 {font-size:48px;color:#000;font-weight:300;text-align:center;margin: 100px auto 0;}
.happy-clients-cntr p {text-align:center;margin-top:80px}
.happy-clients-cntr ul {margin:40px 0 100px;display:inline-block;width:100%}
.happy-clients-cntr ul li {width:20%;float:left;text-align:center;margin-bottom:0px;max-width: 125px;width: 125px;min-width: 125px;margin-right: 17px;margin-left: 17px;}
.happy-clients-cntr ul li img {border-radius:0%;border:1px solid #eee;min-width: 125px;width:125px;max-width: 125px;min-height: 125px;height:125px;max-height: 125px;margin:0 auto;}
.happy-clients-cntr ul li.desk-block {width:30%}

#outer {position:absolute;top:-100px;left:calc(50% - 100px);width:200px;height:400px;overflow:hidden;transform:rotate(.25turn);z-index:-1}
#inner {transform:rotate(45deg);background-color:rgb(22, 6, 77);width:400px;height:400px;top:calc(50% - 200px);left:calc(50% - 400px);position:relative;border-radius:0 60px}

.cms-cash2home-page ul.bottomSlider{position:relative;min-height: auto;}
.cms-cash2home-page ul.bottomSlider .slick-dots {position: absolute;width: 100%;bottom: 0px;padding-top: 15px;margin: 0 auto;display:none}
.cms-cash2home-page ul.bottomSlider ul.slick-dots li {border-radius: 0;font-size: 0;background-color: #bfbfbf;height: 10px;width: 10px;min-width: 10px;border-radius: 50%;margin: 0 6px;float: none;padding: 0px;}
.cms-cash2home-page ul.bottomSlider ul.slick-dots li.slick-active{background: #e7114d;}
.cms-cash2home-page ul.bottomSlider .slick-dots li button:before{display:none;}
.cms-cash2home-page ul.sliderbv1.bottomSlider .slick-dots{bottom: 60px;}
.cms-cash2home-page ul.sliderbv2.bottomSlider .slick-dots{bottom: 60px;}

.free-service-cntr{margin-top: -75px;background: #3f4893;}
.free-service-detail-cntr {background: #3f4893;width: 70%;margin: 0 auto;padding: 35px 40px 30px 310px;position: relative;}
.free-service-cntr img {position: absolute;left: 90px;top: -22px;}
.free-service-cntr p {color: #fff;font-family: 'Rubik', sans-serif;display: inline-grid;}
.free-service-cntr p strong{font-weight: 500;}
.free-service-cntr p span.bg{background: #4f5ab4;padding: 10px 35px;border-radius: 5px;}
.free-service-cntr p span{padding: 10px 35px 0;}

/*.btn-detail-cntr {display: table;margin: 0 auto;}*/
/*.btn-detail-cntr li {width: 200px;margin: 0 20px;display: inline-block;}*/
/*.btn-detail-cntr li a {color: #4863ab;padding: 0px;transition: all ease .2s;border: 1px solid #4863ab;display: inline-block;font-weight: 700;text-transform: uppercase;font-size: 14px;line-height: 24px;margin: 0px;text-align: left;width: 100%;}*/


.btn-cntr{background: #f7f7f7;}
.btn-detail-cntr {display: block;margin: 30px auto 0;}
.btn-detail-cntr li {margin: 0 10px;display: inline-block;}
.btn-detail-cntr li:first-child{margin-left:0px}
.btn-detail-cntr li:last-child{margin-right:0px}
.btn-detail-cntr li a{color: #4863ab;padding: 8px 14px;transition: all ease .2s;border: 1px solid #4863ab;display: inline-block;margin: 30px 0 10px;font-weight: 600;font-size: 18px;margin: 0px;}
.btn-detail-cntr li a span.title{font-family: 'Rubik', sans-serif;padding: 20px 25px;display: block;font-weight: 400;font-size: 20px;line-height:28px;}
.btn-detail-cntr li a span.ClickHere {display: block;background: #4863ab;color: #fff;padding: 5px 20px;}
.btn-detail-cntr li a:hover{color: #fff;border: 1px solid #4863ab;background: #4863ab;text-decoration:none !important}
.btn-detail-cntr li a:hover span.ClickHere{color: #4863ab;background: #fff;}

.enquiry_pop#cashhome .form_container {width: 400px;}
.enquiry_pop#cashhome .form_container .pop-content{padding: 0;margin: 0;}
.enquiry_pop#cashhome .form_container ul li{text-transform: capitalize;padding: 6px 10px;line-height: normal;font-size: 15px;}
.enquiry_pop#cashhome .form_container ul li:nth-child(odd){background:#eee;}










::selection {background: #e8194f;color: #fff;}
@media (min-width:1920px){
.wrapper{width:1400px}
#about-cms .wrapper{width:1600px}
h4 {font-size: 22px;}
p {font-size: 18px;}
.parallax-countings p{line-height: 24px;font-size:16px}
.card {padding: 40px 30px;}
.card.btn-style {padding: 56px 30px;}
#video-carousel .caption{padding: 12px 30px;}
#video-carousel .caption h4{margin:0px 0 5px}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 30px;
    padding-left: 30px;
}

}
@media screen and (min-width: 768px) and (max-width: 1280px){
	.wrapper{width:calc(100% - 30px);}
}

@media screen and (min-width: 768px) and (max-width: 1023px){

html,body{max-width: 100%;overflow-x: hidden;}
body{padding-top: 62px;}
h2 {margin-bottom: 20px;font-size: 32px;text-align: left;margin-top: 40px !important;}
h3{font-size: 24px}
a.btn{font-size: 16px}
footer{padding:50px 10px;}
.copyrights{margin:30px 0;float: none}
nav ul{display: none}
header{padding: 10px 20px}
header div[class^="col-"]{width:50%;}
.menu-icon {border-top:1px solid #333;display: block;width: 40px;/* margin: 30px 10px 0 0; */position: relative;cursor: pointer;padding: 20px 0;position: absolute;top: 16px;right: 0;}
.menu-icon:after {content: '';display: block;background: #333;position: absolute;top: 20px;height: 1px;width: 40px;}
.menu-icon:before {content: '';display: block;background: #333;position: absolute;top: 10px;height: 1px;width: 40px;}
footer div[class^="col-"]{max-width: 33.33%}
nav.active:before {content: '';height: 100vh;width: 100vw;position: fixed;top: 0;left: 0;background: #f5f5f5;transition: all .5s ease;z-index: 9;}
nav.active ul {display: block;position: fixed;left: 0;width: 100%;z-index: 99;top: 70px;max-height: 89vh;overflow: auto;}
nav.active ul li ul {position: relative;top: 0;padding: 10px 0 5px;}
nav li a {padding: 5px 20px;}
nav li.active ul:before{width:70px;height:8px;content:"";background:#e8194f;position:absolute;top:-8px;left:20px;}
nav li ul:before {width: 5px;height: 82%;content: "";top: 5px;background: #e8194f;position: absolute;left: 20px;}
nav li ul {background: transparent;}
nav li.active ul {background: #4f4f4f;}
nav li ul li{padding-left:30px;}
nav li ul li a{color:#4f4f4f;}
nav li.active ul li a{color:#f5f5f5;}
.submenu-level2 {display: block;height: auto;width: 100%;left: 0;position: static;}
.submenu-level2 ul li {width: 100%;height: auto;padding-left: 0;}
.submenu-level2 ul li ul.dropdown-content {top: 0px;padding: 0 0 5px;}
.submenu-level2 ul li ul.dropdown-content li a{font-size: 12px;padding: 8px 10px;padding-left: 30px;background: url(../images/bullet1.png) no-repeat 14px 11px;background-size: 6px;text-transform: none;}
.submenu.submenu-level2 ul:before{display:none;}
.submenu.submenu-level2:before {width: 70px;height: 8px;content: "";background: #e8194f;position: absolute;top: 34px;left: 20px;}

nav li:hover ul:before{left:20px;}
nav li ul li a {padding: 7px 10px;}
nav ul li {display: block;float: none;text-align: left;}
nav ul li:last-child {display: none;}
nav.active .mobile-only {display: block;}
nav li ul li:last-child {display: block;}

nav ul li input[type=text] {border: 1px solid #ccc;padding: 10px 41px 10px 10px;font-size: 14px;width: calc(100% - 60px);margin-bottom: 30px;line-height: 24px;max-width: 480px;margin-top:0px;margin-bottom:10px;margin-left:30px;}
nav.active{padding-top:100px;} 
.active .menu-icon {border: none;z-index: 9;position:fixed;top:30px;right: 40px}
.active .menu-icon:before {transform: rotate(45deg);}
.active .menu-icon:after {transform: rotate(-45deg);left: 0px;top: 11px;}
.search-input input[type=text]{background-image:url(../images/search.png);background-repeat: no-repeat;background-position: calc(100% - 10px) center;}

#video-carousel .card-without-pad img {float: left;width: 38%;}

}
@media screen and (max-width: 768px){
html,body{max-width: 100%;overflow-x: hidden;}
body{padding-top: 62px;}
h2 {margin-bottom: 20px;font-size: 32px;text-align: left;margin-top: 40px !important;}
h3{font-size: 24px}
a.btn{font-size: 16px}
.wrapper{width: 100%;padding:0 15px;}
div[class^="col-"]{padding: 0 5px;}
#news .wrapper{padding:0 25px;}
.card{margin:0 0 10px 0;}
.find-atm{background: rgba(40, 77, 148);
background: -moz-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40, 77, 148)), color-stop(49%, rgba(40, 77, 148)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0283d9', endColorstr='#ffffff', GradientType=1 );text-align: center;}
.slide-bg .caption{height:100vh;}
#slider .caption {padding: 50px 30px;width:100%}
a.btn.btn-border{margin-top:0px;}
#what-we-do .col-4 {max-width: 33.33%}
.card .card-name h3 {font-size: 16px;background-size: 40px;}
.parallax-countings{text-align: center;min-height: 550px;padding: 100px 0 50px;}
.parallax-countings div[class^="col-"]{margin-bottom: 30px}
footer{padding:50px 10px;}
.copyrights{margin:30px 0;float: none}
nav ul{display: none}
header{padding: 10px 20px}
header div[class^="col-"]{width:50%;}
.menu-icon {border-top:1px solid #333;display: block;width: 40px;/* margin: 30px 10px 0 0; */position: relative;cursor: pointer;padding: 20px 0;position: absolute;top: 16px;right: 0;}
.menu-icon:after {content: '';display: block;background: #333;position: absolute;top: 20px;height: 1px;width: 40px;}
.menu-icon:before {content: '';display: block;background: #333;position: absolute;top: 10px;height: 1px;width: 40px;}
footer div[class^="col-"]{max-width: 33.33%}
nav.active:before {content: '';height: 100vh;width: 100vw;position: fixed;top: 0;left: 0;background: #f5f5f5;transition: all .5s ease;z-index: 9;}
nav.active ul {display: block;position: fixed;left: 0;width: 100%;z-index: 99;top: 70px;max-height: 89vh;overflow: auto;}
nav.active ul li ul {position: relative;top: 0;padding: 10px 0 5px;}
nav li a {padding: 5px 20px;}
nav li.active ul:before{width:70px;height:8px;content:"";background:#e8194f;position:absolute;top:-8px;left:20px;}
nav li ul:before {width: 5px;height: 82%;content: "";top: 5px;background: #e8194f;position: absolute;left: 20px;}
nav li ul {background: transparent;}
nav li.active ul {background: #4f4f4f;}
nav li ul li{padding-left:30px;}
nav li ul li a{color:#4f4f4f;}
nav li.active ul li a{color:#f5f5f5;}
.submenu-level2 {display: block;height: auto;width: 100%;left: 0;position: static;}
.submenu-level2 ul li {width: 100%;height: auto;padding-left: 0;}
.submenu-level2 ul li ul.dropdown-content {top: 0px;padding: 0 0 5px;}
.submenu-level2 ul li ul.dropdown-content li a{font-size: 12px;padding: 8px 10px;padding-left: 30px;background: url(../images/bullet1.png) no-repeat 14px 11px;background-size: 6px;text-transform: none;}
.submenu.submenu-level2 ul:before{display:none;}
.submenu.submenu-level2:before {width: 70px;height: 8px;content: "";background: #e8194f;position: absolute;top: 34px;left: 20px;}

nav li:hover ul:before{left:20px;}
nav li ul li a {padding: 7px 10px;}
nav ul li {display: block;float: none;text-align: left;}
nav ul li:last-child {display: none;}
nav.active .mobile-only {display: block;}
nav li ul li:last-child {display: block;}

nav ul li input[type=text] {border: 1px solid #ccc;padding: 10px 41px 10px 10px;font-size: 14px;width: calc(100% - 60px);margin-bottom: 30px;line-height: 24px;max-width: 480px;margin-top:0px;margin-bottom:10px;margin-left:30px;}
nav.active{padding-top:100px;} 
.active .menu-icon {border: none;z-index: 9;position:fixed;top:30px;right: 40px}
.active .menu-icon:before {transform: rotate(45deg);}
.active .menu-icon:after {transform: rotate(-45deg);left: 0px;top: 11px;}
.search-input input[type=text]{background-image:url(../images/search.png);background-repeat: no-repeat;background-position: calc(100% - 10px) center;}
.parallax-countings{background-position: center center !important }
.parallax-countings .col-4:nth-child(1){max-width: 100%;flex: 100%;}	
.parallax-countings .col-4:nth-child(2){max-width: 100%;flex: 100%;padding:0px;}
.parallax-countings .col-4:nth-child(3){max-width: 100%;flex: 100%;}
.parallax-countings .number {font-size: 26px;width: 30%;float: left;text-align: left;}
.parallax-countings .col-4 h4{float:right;width:65%;margin-top:0px;font-size:14px;text-align: left;}
.parallax-countings .col-4 h4 br{display:none;}
.parallax-countings .col-4 h4 br.mob-view{display:block;}
.parallax-countings a {font-size: 20px;line-height: 34px;margin-top:40px;}
.parallax-countings p{max-width: 70%;float:right;text-align: left;}
#business-point{padding: 0}
.mob-view{display:block;}
.layout-2 div[class^="col-"] {margin-bottom: 40px}
.layout-4 div[class^="col-"] p {margin-top: 40px}
.layout-4 .row{height:auto;}
#slider .slide-bg .caption {height: 91vh;}
.txt h2 {font-size: 28px !important;margin-top:15px;}
.txt p {font-size: 18px;line-height: 30px;}
section {padding: 80px 0;}
p.large-font {font-weight: 400;font-size: 24px !important;line-height: 36px !important;margin: 0 0 20px!important;}
p.large-font br{display:none;}
.row {margin-right: 0px;margin-left: 0px;}
.qst-ans-cntr .container{padding-right: 0;padding-left: 0;margin-top:50px}
.qst-ans-cntr .col-5,
.qst-ans-cntr .col-7{width:100%;}
.qst-ans-cntr .col-7 {max-width: 100%;margin-left:0px;margin-top:50px;}
.layout-2 .col-4:nth-last-child(1), .layout-2 .col-4:nth-last-child(2), .layout-2 .col-4:nth-last-child(3),
.layout-2 .col-3:nth-last-child(1), .layout-2 .col-3:nth-last-child(2), .layout-2 .col-3:nth-last-child(3), .layout-2 .col-3:nth-last-child(4){margin-bottom: 40px !important;}
.col-7.press-cntr{width:100%;margin-right:0px;}
 .container{padding-right: 0;padding-left: 0;}
.col-5.press-section{margin-top:50px ;}
p.large-font.caption {left: 0 !important;min-width: 100%;}
.overlap-wrapper {position: relative !important;top: 80px !important;left: 0 !important;}
.overlap-wrapper + .row {margin-top: 150px !important;}
.layout-2 .col-3 img{width:100%;}
#cash-management-solution {padding: 0px 0 80px !important;}
.layout-2 .btn.btn-border {position: relative !important;bottom: 0px !important;left: 0px !important;margin-top:15px !important;}
.layout-2 p.sub-head{margin-bottom:0px;}
.qst-ans-cntr .col-5 p a.active span.btn.btn-border {display: block;position: fixed;bottom: 0;top: auto;left: 0;width: 100%;z-index: 999;text-align: center;}
.blockInfo .blockattempt h3 span {font-size: 18px;line-height: 30px;}
.careers-cntr {padding: 10px;}
.enquiry_pop.careers-popp .form_container {width: 96%;}
#enquiry_form ul li {width: 100%;margin-right: 0px;}
.qst-ans-cntr .col-5 p a { margin-right: 0px;}
.careers-cntr h2 {font-size: 26px;}
span.large-font p {font-size: 23px !important;}
.bullet2 ul li {width: 100%;float: left;margin-right: 0px;}
section{opacity: 1  !important;transform: translateZ(0) !important;}
#about .business-module-table ul.grid2 li {width: 100%;float: left;}
#slider h3 {font-size: 26px;font-weight: 300;}
.overlap-wrapper .wrapper{padding:0px;}
.enquiry_pop .form_container {width: 96%;}
.pop-header h3 {font-size: 17px;}
.txt p {font-size: 16px !important;line-height: 28px;}

.location-icons ul li { margin: 8px 0;}

#news .col-4 a + .card {margin-bottom: 0px;}
#video-carousel .card-without-pad img {width: 100%;float: left;}
.card-caption {padding: 10px 20px;width: 100%;float: left;}







.cms-cash2home-left-cntr{padding-left: 0;padding-right: 0%;}
.cms-cash2home-page #cms-cash2home {padding: 20px 0 50px;}
.cms-cash2home-left-cntr img {margin-top: 0;margin-bottom:20px;}
.happy-clients-cntr ul li {width:47.2%;float:left;text-align:center;margin:5px;min-width:360px}
.happy-clients-cntr ul li.desk-block {display:none}
.happy-clients-cntr ul li img {width:150px;height:150px;}
.happy-clients-cntr ul li {min-width: auto;max-width: 100%;}
.cms-cash2home-page ul.bottomSlider {min-height: 230px;}
.happy-clients-cntr ul {margin: 30px 0 50px;}
.free-service-cntr {margin-top: 0px;}
.free-service-detail-cntr {width: 100%;margin: 0 auto;padding: 30px;position: relative;}
.free-service-cntr img { position: unset;left: 0;top: 0px;display: block;margin: 0 auto 20px;height: 150px;}
.free-service-cntr p br{display:none}

.btn-detail-cntr li {width: 180px; margin: 0 10px;}
.btn-detail-cntr li a span.title {padding: 15px;font-size: 18px;}
section.btn-cntr {padding: 50px 0;}







}
@media screen and (max-width: 600px){
#what-we-do .col-4 {max-width: 100%;margin-bottom: 40px}
#what-we-do .card{margin-bottom: 0}
header .row > div:nth-child(2){width: 70px;}
header .row > div:first-child{width: calc(100% - 80px);margin-right: 10px}
div[class^="col-"]{max-width:100%;width:100%;flex:none;display: block}
footer div[class^="col-"]{max-width: 100%}
footer ul li:nth-child(2) {display: none;}
footer ul li:first-child {margin-bottom: 0px;}
footer ul {margin-bottom: 20px;}
.caption {max-width: 100%;left: 0;}
}
