@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
*{font-size: 16px;margin:0;padding: 0}

h1{font-size: 60px;font-weight: 400;font-family: 'Montserrat', sans-serif;}
h2{font-size: 48px;font-weight: 400;margin:30px 0;font-family: 'Montserrat', sans-serif;}
h3{font-size: 28px;font-weight: 400;font-family: 'Montserrat', sans-serif;}
h4{font-size: 18px;margin:15px 0;font-weight: 400;font-family: 'Montserrat', sans-serif;}
h5{font-weight: 400;font-family: 'Montserrat', sans-serif;}
h6{font-weight: 400;font-family: 'Montserrat', sans-serif;}
p{font-weight:300;margin-bottom: 15px;color:#696969;font-size: 16px;line-height: 26px;font-family: 'Lora', sans-serif;}
/*p:last-child{margin-bottom:0px;padding-bottom:0px;}*/
strong{font-weight: 600}
a{text-decoration: none;font-weight: 400;cursor: pointer;font-family: 'Lora', sans-serif;}
#slider2 {padding-bottom:0px;}
section{padding:140px 0}
img{max-width:100%;}
ul li{list-style: none;line-height: 32px;position: relative;}
a.btn.btn-border {padding: 12px 20px;display: block;border: 1px solid #fff;color: #fff;display: inline-block;margin:30px 0 10px;font-weight: 700;text-transform: uppercase;}
nav li {float: left;}
nav li a {display: block;color: #000;padding: 30px 20px;font-weight: 700;font-size: 16px;text-transform: uppercase;}
nav {float: right;}
nav li ul {display: none;position: absolute;top: 92px;left: 0; right: 0;background: #4f4f4f;width: 280px;padding: 10px;}
nav li ul li {width: 100%;}
nav li:hover ul{display: block;z-index: 9;}
nav li:hover ul:before{width:70px;height:8px;content:"";background:#e8194f;position:absolute;top:-8px;left:0px;}
nav li ul li a {color: #fff;font-size: 14px;line-height:14px;display: block;float: none;padding: 12px 10px;}
nav li ul li a:hover{background:#e8194f;}
header .row{overflow:visible !important}
header .col-4 {padding-top: 10px;padding-bottom:10px;}
.breadcrumb {display: block;width: 100%;color: #fff;font-size: 12px;margin-bottom:5px;font-family: 'Montserrat', sans-serif;}
.breadcrumb a{color: #fff;font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight:700;}
.breadcrumb a:hover{text-decoration:underline;}

header{padding: 0px 0}
a.search-ico{padding-top: 22px;}
.row{overflow: hidden !important;}
.light-grey{background:#f7f7f7;}
.padT0{padding-top:0 !important;}
.padB0{padding-bottom: 0 !important}
.text-center{text-align: center;}
.marT50{margin-top: 50px}
.marB50{margin-bottom: 50px}
.mobile-only{display: none;}
.wrapper{max-width: 100%;width:1280px;margin: 0 auto}
.border-none{border:0;}
.link-style{color:#df2b5f;}
.card{background:#fff;padding:30px;margin: 40px 0;display: block}
.card.card-without-pad{padding:0;}
.card p{font-size: 14px;line-height: 20px;}
.card-pink{background: #df2b5f;color:#fff;}
.card.btn-style{padding:30px}
.card.btn-style img{margin: 6px 0;}
.card-name h3{background:url(../images/arrow.png) center right no-repeat;background-size: 50px;transition: all .2s ease;color: #000;margin: 20px 0 10px;font-weight: 600;font-size: 20px;color: #4d4d4d;text-transform:uppercase;}
.card-name p{}
.card:hover .card-name h3{background-position: 90% center}
.card-caption{padding: 20px;}
.wrap1024{max-width: 1024px}
.align-v-center{display: flex;flex-direction: column;justify-content: center;}

#slider{padding: 0}
.slide-bg {background-size: cover;display: flex;justify-content: flex-end;}
#slider .caption {width: 480px;float: right;padding:100px 50px;position:relative;right:-780px;color:#fff;left: unset;}
#slider .caption p{margin:30px 0;line-height: 24px;color:#fff;}
#slider .caption p strong{font-weight:bold;}
#slider .slide-bg .caption{height:70vh;}
.banner-height{min-height: 600px}
.caption {width: 630px;padding: 40px;position: relative;left: 50px;color:#fff;background: rgba(223,48,100,1);
background: -moz-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,48,100,.9)), color-stop(25%, rgba(200,55,111,.9)), color-stop(51%, rgba(147,72,133,.9)), color-stop(76%, rgba(96,86,153,.9)), color-stop(100%, rgba(61,99,169,.9)));
background: -webkit-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -o-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: -ms-linear-gradient(top, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
background: linear-gradient(to bottom, rgba(223,48,100,.9) 0%, rgba(200,55,111,.9) 25%, rgba(147,72,133,.9) 51%, rgba(96,86,153,.9) 76%, rgba(61,99,169,.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df3064', endColorstr='#3d63a9', GradientType=0 );}
.caption h4{margin: 0 0 15px;font-size: 20px}

#news{background: url(../images/news-bg.jpg) 0 0 no-repeat;background-size: cover}
#news .sub-text{font-size: 12px;color:#979797;}
#video-carousel .caption{padding: 19px 30px;}
#video-carousel .caption h4{margin:5px 0 5px}

.layout-2 .card{min-height: 365px;color:#fff;}
.layout-2 .col-4 img{width:100%;}
.layout-2 .card{display: flex;justify-content: flex-end;flex-direction: column;transition: all .2s ease}
.layout-2 .card:hover{box-shadow:0 0 15px 0 rgba(0,0,0,.5);}
.layout-2 p.sub-head{color:#d6285c;}
.layout-2 .btn.btn-border{color: #4863ab;border-color: #4863ab;margin-top: 0;padding: 8px 14px;transition:all ease .2s;}
.layout-2 .btn.btn-border:hover{background:#4863ab;color:#fff;}
#cash-management{background:url(../images/cash-management.jpg) 0 0 no-repeat;background-size: cover}
#managed-services{background:url(../images/managed-services.jpg) 0 0 no-repeat;background-size: cover}
#card-solutions{background:url(../images/card-solution.jpg) 0 0 no-repeat;background-size: cover}
#video-carousel .card-without-pad img {width:100%;}

.column-count{column-count: 2;column-gap: 110px;margin-top:30px;}
#cash-management-solution h2{font-weight:100;}

#about-cms{background:url(../images/about-bg.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 720px;padding:200px 0 100px;background-attachment: fixed;}
.parallax-countings .wrapper{max-width: 1024px}
.parallax-countings .number{font-size: 60px;font-weight: 400;font-family: 'Montserrat', sans-serif;display: grid;}
.parallax-countings .col-4{padding:0px;}
.parallax-countings .col-4 h4{font-size:18px}
.parallax-countings .col-4:nth-child(1){max-width:35%;flex: 35%;}
.parallax-countings .col-4:nth-child(2){padding:0 50px;max-width:45%;flex: 45%;}
.parallax-countings .col-4:nth-child(3){max-width:20%;flex: 20%;}
.parallax-countings p{color:#fff;max-width: 100%;margin:20px 0;}
#about-cms a{font-size:30px;display:block;font-weight:500;color:#fff;text-align: center;padding: 30px 0;background:#35599b;margin:70px 0 30px;}
#about-cms a img{vertical-align: bottom;margin-left: 10px}
#years-progress{background:url(../images/about-parallax.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 600px;padding:200px 0 100px;background-attachment: fixed;}
#cms-network{background:url(../images/network-parallx.jpg) 0 0 no-repeat; background-size: cover;color:#fff;position:relative;min-height: 600px;padding:150px 0;background-attachment: fixed;}

footer{padding:50px 0;background:#383838;color:#b4b4b4;}
footer li strong{font-size: 18px}
footer li{font-size: 16px}
footer p{font-size: 12px}
footer a{color:#969696;margin-right: 10px}
#social{margin:20px 0;}
#social li{display: inline-block;}
.copyrights{max-width: 480px;float: right}
.menu-icon{display: none}


.txt h2{font-size: 36px;margin-top: 0}
.txt p{font-size: 16px;margin:0 0 40px;}

.bx-pager-item a {display: block;text-indent: 25px;height: 12px;width: 12px;background: rgba(255, 255, 255, .5);overflow: hidden;border-radius: 50%;margin: 0 5px;}
.bx-wrapper{position:relative;}
.bx-pager.bx-default-pager {position: absolute;text-align: center;width: 100%;bottom: 20px;}
.bx-pager-item {display: inline-block;}
.bx-pager-item a.active {background: #fff;}

#business-point{padding: 0 35px}

.mob-view{display:none}
.layout-4{padding: 70px 0}
.layout-4 .row{height:300px;}

@media (min-width:1920px){
.wrapper{width:1400px}
#about-cms .wrapper{width:1600px}
h4 {font-size: 22px;}
p {font-size: 18px;}
.card {padding: 40px 30px;}
.card.btn-style {padding: 40px 30px;}
#video-carousel .caption{padding: 12px 30px;}
#video-carousel .caption h4{margin:0px 0 5px}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 30px;
    padding-left: 30px;
}

}
@media screen and (min-width: 768px) and (max-width: 1280px){
	.wrapper{width:calc(100% - 30px);}
}
@media screen and (max-width: 768px){
	html,body{max-width: 100%;overflow-x: hidden;}
	h2{margin-bottom: 30px;font-size: 48px;text-align: center;}
	h3{font-size: 24px}
	a.btn{font-size: 16px}
	.wrapper{width: 100%;padding:0 30px;}
	div[class^="col-"]{padding: 0 5px;}
	#news .wrapper{padding:0 25px;}
	.card{margin:0 0 10px 0;}
	.find-atm{background: rgba(40, 77, 148);
background: -moz-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40, 77, 148)), color-stop(49%, rgba(40, 77, 148)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(40, 77, 148) 0%, rgba(40, 77, 148) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0283d9', endColorstr='#ffffff', GradientType=1 );text-align: center;}
.slide-bg .caption{height:100vh;}
#slider .caption {padding: 50px 50px;}
a.btn.btn-border{margin-top:0px;}
	#what-we-do .col-4 {max-width: 33.33%}
	.card .card-name h3 {font-size: 16px;background-size: 40px;}
	.parallax-countings{text-align: center;min-height: 550px;padding: 100px 0 50px;}
	.parallax-countings div[class^="col-"]{margin-bottom: 30px}
	footer{padding:50px 30px;}
	.copyrights{margin:30px 0;float: none}
	nav ul{display: none}
	header{padding: 10px 20px}
	header div[class^="col-"]{width:50%;}
	.menu-icon {border-top:1px solid #333;display: block;width: 40px;/* margin: 30px 10px 0 0; */position: relative;cursor: pointer;padding: 20px 0;position: absolute;top: 16px;right: 0;}
	.menu-icon:after {content: '';display: block;background: #333;position: absolute;top: 20px;height: 1px;width: 40px;}
	.menu-icon:before {content: '';display: block;background: #333;position: absolute;top: 10px;height: 1px;width: 40px;}
	footer div[class^="col-"]{max-width: 33.33%}
	nav.active:before {content: '';height: 100vh;width: 100vw;position: fixed;top: 0;left: 0;background: #f5f5f5;transition: all .5s ease;z-index: 9;}
	nav.active ul {display: block;position: fixed;left: 0;width: 100%;z-index: 99;top: 70px;}
	nav.active ul li ul {position: relative;top: 0;}
	nav li a {padding: 5px 20px;}
	nav li ul:before{width:70px;height:8px;content:"";background:#e8194f;position:absolute;top:-8px;left:20px;}
	nav li:hover ul:before{left:20px;}
	nav li ul li a {padding: 7px 10px;}
	nav ul li {display: block;float: none;text-align: left;}
	nav ul li:last-child {display: none;}
	nav.active .mobile-only {display: block;}
	nav li ul li:last-child {display: block;}
	
	nav ul li input[type=text] {border: 1px solid #ccc;padding: 10px 41px 10px 10px;font-size: 14px;width: calc(100% - 60px);margin-bottom: 30px;line-height: 24px;max-width: 480px;margin-top:0px;margin-bottom:10px;margin-left:30px;}
	nav.active{padding-top:100px;} 
	.active .menu-icon {border: none;z-index: 9;position:fixed;top:30px;right: 40px}
	.active .menu-icon:before {transform: rotate(45deg);}
	.active .menu-icon:after {transform: rotate(-45deg);left: 0px;top: 11px;}
	.search-input input[type=text]{background-image:url(../images/search.png);background-repeat: no-repeat;background-position: calc(100% - 10px) center;}
	.parallax-countings{background-position: center center !important }
	.parallax-countings .col-4:nth-child(1){max-width: 100%;flex: 100%;}	
	.parallax-countings .col-4:nth-child(2){max-width: 100%;flex: 100%;padding:0px;}
	.parallax-countings .col-4:nth-child(3){max-width: 100%;flex: 100%;}
	.parallax-countings .number {font-size: 26px;width: 30%;float: left;text-align: left;}
	.parallax-countings .col-4 h4{float:right;width:65%;margin-top:0px;font-size:14px;text-align: left;}
	.parallax-countings .col-4 h4 br{display:none;}
	.parallax-countings .col-4 h4 br.mob-view{display:block;}
	.parallax-countings a {font-size: 20px;line-height: 34px;margin-top:40px;}
	.parallax-countings p{max-width: 70%;float:right;text-align: left;}
	#business-point{padding: 0}
	.mob-view{display:block;}
	.layout-2 div[class^="col-"] {margin-bottom: 40px}
	.layout-4 div[class^="col-"] p {margin-top: 40px}
	.layout-4 .row{height:auto;}
	#slider .slide-bg .caption {height: 91vh;}
	
	
	
}
@media screen and (max-width: 600px){
	#what-we-do .col-4 {max-width: 100%;margin-bottom: 40px}
	#what-we-do .card{margin-bottom: 0}
	header .row > div:nth-child(2){width: 70px;}
	header .row > div:first-child{width: calc(100% - 80px);margin-right: 10px}
	div[class^="col-"]{max-width:100%;width:100%;flex:none;display: block}
	footer div[class^="col-"]{max-width: 100%}
	footer ul li:nth-child(2) {display: none;}
	footer ul li:first-child {margin-bottom: 0px;}
	footer ul {margin-bottom: 20px;}
	.caption {max-width: 100%;left: 0;}
}
