@font-face {
  font-family: 'Nexa Light';
 /* src:url(../font/Nexalight.otf);*/
  src: url('../font/Nexalight.otf') format('embedded-opentype'),
  		url('../font/Nexalight.woff2') format('woff2'),
   		url('../font/Nexalight.woff')  format('woff');
  
       /*url('../font/revicons90c6.woff?5510888') format('woff'),
       url('../font/revicons90c6.ttf?5510888') format('truetype'),
       url('../font/revicons90c6.svg?5510888#revicons') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa Bold';
  /*src:url(../font/Nexabold.otf);*/
  src: url('../font/Nexabold.otf') format('embedded-opentype'),
  url('../font/Nexabold.woff2') format('woff2'),
  url('../font/Nexabold.woff')  format('woff');
       /*url('../font/revicons90c6.woff?5510888') format('woff'),
       url('../font/revicons90c6.ttf?5510888') format('truetype'),
       url('../font/revicons90c6.svg?5510888#revicons') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
p {
	/*line-height: 1.6em;*/
	line-height: 1.4em;
	margin-bottom: 1.6em;
  font-weight: 300;
  font-size:22px;
  color:#fff;
}
.btn-default {
     color: #fff; 
    background-color: transparent;
    border-color: #fff;
	/*box-shadow:1px 2px #fff;*/
}
.btn-default-black {
     color: #000; 
    background-color: transparent;
    border-color: #000;
	/*box-shadow:1px 2px #fff;*/
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nexa Bold', helvetica, arial, sans-serif;
	font-weight:bold;
}
blockquote {
    /*padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 1px solid #373435;
	border-color: #373435;*/
	/*padding: 0px 107px;*/
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 1px solid #373435;
    border-color: #373435;
    padding-left: 112px;
    padding-right: 102px;
}

.bq1{
 margin: 0 0 20px;
    font-size: 17.5px;
	 padding-left: 112px;
    padding-right: 102px;
	}

.bg1 {
    background-color:#00aff0;
	height:90%;
	margin-top: -102px;
}
.bg2 {
    background-color: #fff;
	    margin-top: -197px;
}
.bg3 {
    background-color: #dfddde;
	    margin-top: -171px;
}
.bg4{
	background:#a8cf45;
	margin-top: 1px;	
	padding-bottom: 115px;
	}
.last {
  float:right;
  margin-top: -28px;
}
footer {
   font-size: 14px;
   padding: 60px 0px;
   padding-bottom:0px;
   margin: -90px;
   text-align: center;
   color: #7b7a7a;
   background:#373435;
}
.footerhead{
	color:#c3c3c3;
}
.r8{
	float:right;
	margin-top:0px;	
	}
.lt{
	float:left;
	margin-top:0px;	
	}
.whitebg{
	color:#000;
	font-size:15px;	
	}
.parallax-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 0px 60px 0px;
}

.social-icon a {
    color: #8f9194;	
}
.social-icon {
    margin-top: 10px;
}

.p-l{
	padding-left:40px;	
	}
	.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -9%;
}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
		.r8img{
		   /*float: right;*/
		   position: relative;
		  margin-bottom: -3px;
			  margin-top: -431px;
		   margin-right: 0%;
		z-index: 100;
		}
		.resbtn {
		   bottom: 102px;
		}	
		.font20{
		font-size:15px;
		   bottom: 50px;
		}
		.white {
	   color: #ffffff !important;
	   /*margin-top:100px;*/
	   bottom: 50px;
	   }
		.about{
	    margin-top: -340px;
	    font-size: 20px;
		margin-bottom:0px;
		}
		.aboutdetails{
		font-size:14px;
		}
        .lead {
        font-size: 12px;
		text-align:center;
		display:block;
		   }  
		.leadbtn {
			   font-size: 12px;
		text-align:center;
		display:block;
		margin-top:10px;
		   }  
		.lead1 {
			   font-size: 13px;
		text-align:center;
		display:block;
		   }  
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
.r8img{
   /*float: right;*/
   position: relative;
  margin-bottom: -3px;
      margin-top: -431px;
   margin-right: 0%;
z-index: 100;
}
.resbtn {
   bottom: 77px;
}
.font20{
	font-size:15px;
}
.white {
   color: #ffffff !important;
   margin-top:120px;
  }		
.about{
   margin-top: -441px;
   font-size: 28px;
}
.aboutdetails{
font-size:15px;
}		
blockquote {
     margin: 0px 230px 30px;
    font-size: 17.5px;
	border-left: none; 
}
.lead {
       font-size: 14px;
text-align:center;
display:block;
   }
.leadbtn {
       font-size: 14px;
text-align:center;
display:block;
   }
.lead1 {
       font-size: 14px;
text-align:center;
display:block;
   }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
.r8img{
   /*float: right;*/
   position: relative;
  margin-bottom: -3px;
      margin-top: -431px;
   margin-right: 0%;
z-index: 100;
}
.resbtn {
   bottom: 77px;
}
.font20{
font-size:16px;
}
.white {
   color: #ffffff !important;
   margin-top:162px;
}		
.about{
   margin-top: -441px;
   font-size: 28px;
}
.aboutdetails{
font-size:15px;
}
blockquote {
   margin: 0px 242px 30px;
    font-size: 17.5px;
	border-left: none;   
}

.bq1{
 margin: 0 0 20px;
    font-size: 17.5px;
	 padding-left: 112px;
    padding-right: 102px;
	}
.lead {
       font-size: 14px;
text-align:center;
display:block;
   }
.leadbtn {
       font-size: 14px;
text-align:center;
display:block;
   }
.lead1 {
       font-size: 17px;
		text-align:center;
		display:block;
   }	
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
	.r8img{
   /*float: right;*/
   position: relative;
  margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
} 
	.resbtn {
   bottom: 60px;
}
	.font20{
	font-size:15px;
	}
	.white {
    color: #ffffff !important;
	margin-top:172px;
	}	
	.lead {
   margin-bottom: 20px;
   font-size: 19px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}
.leadbtn {
   margin-bottom: 20px;
   font-size: 19px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}
.lead1 {
   margin-bottom: 20px;
   font-size: 19px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1280px) {
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
.r8img{
   /*float: right;*/
   position: relative;
  margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
}
.resbtn {
   bottom: 60px;
}
.font20{
font-size:19px;
}
.white {
   color: #ffffff !important;
   margin-top:164px;
}		
.about{
   margin-top: -441px;
   font-size: 28px;
}
.aboutdetails{
font-size:15px;
}		
blockquote {
    margin: 0 0 20px;
    font-size: 17.5px;
     border-left: 1px solid #373435;
    border-color: #373435;   
    padding-left: 112px;
    padding-right: 102px;
}

.bq1{
    margin: 0 0 20px;
    font-size: 17.5px;
	 padding-left: 112px;
    padding-right: 102px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.lead {
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}
.leadbtn {
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}

.lead1 {
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.4;
text-align:center;
}
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1280px) {
footer {
  font-size: 14px;
  padding: 60px 0px;
  padding-bottom:0px;
  margin: -91px;
  text-align: center;
  color: #7b7a7a;
  background:#373435;
}		
blockquote {
    margin: 0 5px 20px;
    font-size: 17.5px;
    border-left: 1px solid #373435;
    border-color: #373435;    
   padding-left: 93px;
    padding-right: 61px;
}

	.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -13%;
}
.bq1{
 margin: 0 0 20px;
    font-size: 17.5px;
	 padding-left: 112px;
    padding-right: 102px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.tvimg {
   float: left;
  top:80px;
}

 }

    /* Medium Devices, Desktops */
    @media(max-width : 992px) {
footer {
  font-size: 17px;
  padding: 60px 0px;
  padding-bottom:0px;
  margin: -90px;
  text-align: center;
  color: #7b7a7a;
  background:#373435;
}
blockquote {
   margin: 0px 242px 30px;
    font-size: 17.5px;
	border-left: none;   
}
.bq1{
 margin: 0 0 20px;
    font-size: 17.5px;
	 padding-left: 112px;
    padding-right: 102px;
	}

.r8{
	float:left;
	margin-top:0px;	
	}
.lt{
	float:left;
	margin-top:0px;	
	}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -16%;
}
.tvimg {
   float: left;
  top:80px;
}
    }

    /* Small Devices, Tablets */
    @media (max-width : 768px) {
footer {
  font-size: 17px;
  padding: 60px 0px;
padding-bottom:0px;
  margin-top: -90px;
  margin-bottom: -90px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: #7b7a7a;
  background:#373435;
}
blockquote {
	margin-left:31%;
    font-size: 17.5px;
	border-left: none; 
}

.r8{
	margin-left:17%;	
	}
.lt{
	margin-left:17%;
	}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -45px;
    margin-left: -8%;
}

.p-l {
    padding-left: 20px;
    padding-right: 20px;
}
.item_top {
	top: -30px;
	opacity: 0;
	position: relative;
}
.item_bottom {
	bottom: -30px;
	opacity: 0;
	position: relative;
}
.item_left {
	left: -60px;
	opacity: 0;
	position: relative;
}
.item_right {
	right: -60px;
	opacity: 0;
	position: relative;
}
.item_fade_in {
	opacity: 0;
	position: relative;
	padding-left: 0px;
	right: 0px;
}
    }
 @media (max-width : 740px) {
blockquote {
     margin: 0px 222px 30px;
    font-size: 17.5px;
	border-left: none; 
}

 }
	  
    /* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
footer {
  font-size: 17px;
  padding: 60px 0px;
padding-bottom:0px;
  margin-top: -90px;
  margin-bottom: -90px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: #7b7a7a;
  background:#373435;
}
.resbtn{
bottom: 100px;
}	 
.font20{
font-size:17px;
}
.font25{
font-size:20px;
}		
.tvimg {
   float: left;
  top:80px;
}		
blockquote {
     margin: 0px 70px 30px;
    font-size: 17.5px;
	border-left: none; 
}

.r8{
	margin-left:5%;	
	}
.lt{
	margin-left:5%;
	}
	
	
.whitebg {
   color: #000;
   font-size: 15px;
}

p {
    /* line-height: 1.6em; */
    line-height: 1.2em;
    margin-bottom: 3.3em;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
}
	   }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
     footer {
  font-size: 17px;
  padding: 60px 0px;
padding-bottom:0px;
  margin: -90px;
  text-align: center;
  color: #7b7a7a;
  background:#373435;
}
	 blockquote {
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: none;    
    padding-left: 112px;
    padding-right: 102px;
}

  }


.oblique .obliqueCut {
	padding-top:12px;
}
.lightSection, .lightSection.obliqueCut::before {
	background: #FFF;
	color: #999;
}
.lightSection.obliqueCut svg path{
	fill:#00aff0;
}
.obliqueCut {
	padding-top: 120px;
	padding-bottom: 180px;
	position: relative;
}
.obliqueCut::before {
	background: #00aff0;
	color: #999;
}

svg:not(:root) {
	overflow: hidden;
}
.obliqueCut > svg {
	display: none;
}
.oblique .obliqueCut svg {
	position: absolute;
	display: block;
	z-index: 100;
	height: 122px;
	width: 100%;
}
.oblique .obliqueCut.separatorTop svg:first-of-type {
	top: -121px;
	bottom: auto;
}	



.oblique .obliqueCut1 {
	padding-top:12px;
}
.lightSection, .lightSection.obliqueCut1::before {
	background: #FFF;
	color: #999;
}
.lightSection.obliqueCut1 svg path{
	fill:#fff;
}
.obliqueCut1 {
	padding-bottom: 180px;
	position: relative;
}
.obliqueCut1::before {
	background: #FFF;
	color: #999;
}

.obliqueCut1 > svg {
	display: none;
}
.oblique .obliqueCut1 svg {
	position: absolute;
	display: block;
	z-index: 100;
	height: 122px;
	width: 100%;
}
.oblique .obliqueCut1.separatorTop svg:first-of-type {
	top: -306px;
	bottom: auto;
}	




.oblique .obliqueCut2 {
	padding-top:12px;
}
.lightSection, .lightSection.obliqueCut2::before {
	background: #FFF;
	color: #000;
}
.lightSection.obliqueCut2 svg path{
	fill:#dfddde;
}
.obliqueCut2 {
	padding-top: 120px;
	position: relative;
}
.obliqueCut2::before {
	background: #FFF;
	color: #000;
}

.obliqueCut2 > svg {
	display: none;
}
.oblique .obliqueCut2 svg {
	position: absolute;
	display: block;
	z-index: 100;
	height: 122px;
	width: 100%;
}
.oblique .obliqueCut2.separatorTop svg:first-of-type {
	top: -280px;
	bottom: auto;
}	






.oblique .obliqueCut3 {
	padding-top:12px;
}
.lightSection, .lightSection.obliqueCut3::before {
	background: #FFF;
}
.lightSection.obliqueCut3 svg path{
	fill:#a8cf45;
}
.obliqueCut3 {
	position: relative;
}
.obliqueCut3::before {
	background: #FFF;
}

svg:not(:root) {
	overflow: hidden;
}
.obliqueCut3 > svg {
	display: none;
}
.oblique .obliqueCut3 svg {
	position: absolute;
	display: block;
	z-index: 100;
	height: 122px;
	width: 100%;
}
.oblique .obliqueCut3.separatorTop svg:first-of-type {
	top: -108px;
	bottom: auto;
}	

.oblique .obliqueCut4 {
	padding-top:12px;
}
.lightSection, .lightSection.obliqueCut4::before {
	background: #FFF;
}
.lightSection.obliqueCut4 svg path{
	fill:#373435;
}
.obliqueCut4 {
	position: relative;
}
.obliqueCut4::before {
	background: #FFF;
}

svg:not(:root) {
	overflow: hidden;
}
.obliqueCut3 > svg {
	display: none;
}
.oblique .obliqueCut4 svg {
	position: absolute;
	display: block;
	z-index: 100;
	height: 122px;
	width: 100%;
}
.oblique .obliqueCut4.separatorTop svg:first-of-type {
	top: -199px;
	bottom: auto;
}	

@media screen and (min-width: 1280px){
.font25{
font-size:24.5px;
margin-top:50px;
}	
.container {
    width: 1170px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -23%;
}
	
	.oblique .obliqueCut1.separatorTop svg:first-of-type {
    top: -325px;
    bottom: auto;
}
.bg2 {
    background-color: #fff;
    margin-top: -216px;
}

.tvimg {
   float: left;
  top:80px;
}
}

@media screen and (min-width: 1281px) and (max-width: 1365px){
.r8img{
   /*float: right;*/
   position: relative;
   margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
}	
.about{
   margin-top: -441px;
   font-size: 28px;
}
.aboutdetails{
font-size:15px;
}	
.container {
    width: 1250px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -23%;
}

	.oblique .obliqueCut1.separatorTop svg:first-of-type {
    top: -325px;
    bottom: auto;
}
.bg2 {
    background-color: #fff;
    margin-top: -216px;
}

}

@media screen and (min-width: 1366px) and (max-width: 1439px){
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
.r8img{
   /*float: right;*/
   position: relative;
   margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
}	
.resbtn {
   bottom: 60px;
}
.font20{
font-size:20px;
}	
.font25{
font-size:24.5px;
margin-top:50px;
}	
.about{
   margin-top: -441px;
   font-size: 28px;
}
.aboutdetails{
font-size:15px;
}	
.tvimg {
   float: left;
  top:80px;
}	
.container {
    /*width: 1350px;*/
	width: 1280px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -23%;
}

	.oblique .obliqueCut1.separatorTop svg:first-of-type {
    top: -325px;
    bottom: auto;
}
.bg2 {
    background-color: #fff;
    margin-top: -216px;
}

}

@media screen and (min-width: 1440px) and (max-width: 1599px){
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}
.r8img{
   position: relative;
   margin-bottom: -3px;
   margin-right: 0%;
z-index: 100;
}	
.resbtn {
   bottom: 60px;
}
.font20{
font-size:24px;
}
.font25{
font-size:24.5px;
margin-top:50px;
}
.about{
   margin-top: 172px;
   font-size: 28px;
}
.aboutdetails{
font-size:16px;
}
.tvimg {
   float: left;
  top:80px;
}	
.container {
    width: 1502px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    margin-left: -17%;
}
	
	.oblique .obliqueCut1.separatorTop svg:first-of-type {
    top: -325px;
    bottom: auto;
}
.bg2 {
    background-color: #fff;
    margin-top: -216px;
}

h5, .h5 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 18px;
    padding-right: 30px;
}
}

@media screen and (min-width: 1600px) and (max-width: 1919px){
.footerhead {
   color: #c3c3c3;
   margin-left: 0%;
}	
.r8img{
   /*float: right;*/
   position: relative;
   margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
}
.resbtn {
   bottom: 60px;
}
.font20{
font-size:24px;
}
.font25{
font-size:29px;
margin-top:80px;
}
.about{
   margin-top: 172px;
   font-size: 28px;
}
.aboutdetails{
font-size:20px;
}
.tvimg {
   float: left;
  top:80px;
}
.container {
    /*width: 1642px;*/
	width: 1482px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
    /*margin-left: -9%;*/
	margin-left: -16%;
}
	
blockquote {
    margin: 0 0 20px;
    border-left: 1px solid #373435;
    border-color: #373435;
    padding-left: 134px;
    padding-right: 102px;
}
h5{
	font-size:19px;
	}	

.whitebg {
   color: #000;
   font-size: 20px;
}

}

@media screen and (min-width: 1920px){
.r8img{
   /*float: right;*/
   position: relative;
   margin-bottom: -3px;
   /*   margin-top: -431px;*/
   margin-right: 0%;
z-index: 100;
}
.resbtn {
   bottom: 60px;
}
.font20{
font-size:24px;
}
.font25{
font-size:29px;
margin-top:80px;
}	
.about{
   margin-top: 172px;
   font-size: 28px;
}
.aboutdetails{
font-size:20px;
}	
.tvimg {
   float: left;
  top:80px;
}
.container {
    width: 1642px;
}
.leftimg {
    float:left;
    margin-bottom: -55px;
    margin-top: -56px;
	margin-left: -39%;
}
	
blockquote {
    margin: 0 0 20px;
    border-left: 1px solid #373435;
    border-color: #373435;
    padding-left: 134px;
    padding-right: 102px;
}
h5{
	font-size:22px;
	}	

.whitebg {
   color: #000;
   font-size: 20px;
}

}


html[xmlns*=""]:root #trece  { color: red  }