/* colors  */

:root {
    --main_col:#003773;
    --textcol_2:#057daf;
    --textcol_3:#000000;
    --textcol_4:#7b7e81;
    --textcol_5:#FFFFFF;
    --star_1:#ffc107;
    --star_2:#bdbdbd;
    --footer:#f3f3f3;

    --Montserrat_mid:500 0px 'Montserrat', sans-serif;
    --Montserrat_bold:700 0px 'Montserrat', sans-serif;
    --Poppins_reg:400 0px 'Poppins', sans-serif;
    --Poppins_sm_bold:600 0px 'Poppins', sans-serif;
    --Poppins_bold:700 0px 'Poppins', sans-serif;
}