@font-face{
    font-family:agency fb;
    font-style:normal;
    font-weight:400;
    src:local('Agency FB'),
    local('AgencyFB-Regular'),
    url(http://allfont.net/cache/fonts/agency-fb.woff) format('woff'),
    url(http://allfont.net/cache/fonts/agency-fb.ttf) format('truetype')
}