RewriteEngine on

<Files route.php>
    Order Allow,Deny
    Allow from all
</Files>

DirectoryIndex route.php

RewriteCond %{REQUEST_URI} .php



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./route.php?url=$1 [L,QSA]