/* CSS Document */
/*Media Queries for responsive*/
@media(min-width:1200px) {/*For big desktop*/
.container { max-width: 1200px; width: 100%; }
}
@media(min-width:769px) {/*For Desktop Only*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
.scrollTop { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; text-align: center; z-index: 6; display: none; background: #4fa812; border-radius: 100%; }
.scrollTop:hover{background:#666}
.scrollTop a { display: block; color: #fff; }
.scrollTop a:before { font: 20px/40px FontAwesome; content: '\f102'; }
}
@media screen and (min-width: 0) and (max-width:1199px) {
/*overlay*/
.overlay-box { width: 96%; min-width: 0 }
/*overlay end*/
}
@media screen and (min-width: 1025px) and (max-width:1199px) {
.footer-copy{width:24%}
}
@media screen and (min-width: 0) and (max-width:1024px) {/*For ipad and tab*/

.home-bg{background-attachment:scroll}
.big-text{font-size:32px}
.circle-center{width:250px; height:250px}
.small-text{font-size:16px;}
.hm-play-btn{height:50px; width:50px; background-size:100% auto}
.pulse{height:450px; width:450px}
.hm-login{padding:5% 0}
.footer-copy{width:24%}
.library-info h2 {font: 16px/18px "gautamib";}
.library-info{padding-right:55px}
.library-info p{font-size:14px;}
.filter-menu{float:none; width:50%; position:absolute;left:-102%; top:50px; background:#1a1a1a; z-index:999}
.filter-menu ul li{float:none; border:none; padding:5px 15px; border-bottom:#313131 solid 1px;}
.filter-menu ul li:last-child{border-bottom:none}
.filter-mobile{display:block; float:left; color:#fff; font-size:20px;}
.search-cntr{float:right; width:30%;}
.login-box{padding:25px}
.rqst-access-box{padding:25px}
}
@media screen and (min-width:0) and (max-width:960px) {
	.footer-copy{width:50%; text-align:left}
.condition-links{width:50%; text-align:left; margin-top:2px}
.footer-content{text-align:center}
.social-footer{float:none; clear:both; padding-top:15px}
.social-footer ul li{display:inline-block; float:none}
.hm-login{padding:17% 0}
.logo{float:none; text-align:center}
.request-btn-hm{float:none; text-align:center}
.request-btn-hm ul li{float:none; display:inline-block}
.header{padding:15px 0}
.account-link{padding:15px}
.rqst-access-box{float:none; width:75%; margin:0 auto}
.login-box{margin:15px auto 0 auto; float:none; width:75%; min-height:auto !important}
.library-list{text-align:center}
.library-list ul li{width:278px; display:inline-block; float:none; text-align:left}
.library-list ul li:nth-child(4n){margin-right:2.4%}
	}
@media screen and (min-width: 0) and (max-width:768px) {/*For small tabs*/

}
 @media screen and (min-width: 0) and (max-width:767px) {/*For Big Screen mobile*/
body{padding-bottom:0}
.footer{position:static}
.header{position:relative; padding:10px 0}
.home-header.header{padding:10px 0}

.footer-copy{float:none; width:100%; display:none}
.condition-links{float:none; width:100%; margin-top:0px; text-align:center;}
.condition-links ul li{display:inline-block; float:none; margin-left:0; margin-right:12px;}
.condition-links ul li:last-child{margin-right:0}
.social-footer{margin-top:0px;}
.hm-login{width:55%;}
.mobile-copy{display:block; margin-top:10px; font-size:13px}
.footer .container{padding:25px 0 10px 0}
.wrapper{overflow-x:hidden}
.request-btn-hm{position:absolute; margin-top:0; width:100%; right:-100%; top:73px; z-index:999; background:#1a1a1a;}
#mobile-nav{display:block}
html{overflow-x:hidden}
.logo{float:left}
.request-btn-hm ul li{float:none; display:block; text-align:left; padding:0 10px; border-bottom:rgba(255,255,255,0.5) solid 1px; margin:0}
.request-btn-hm ul li:last-child{text-align:center; border-bottom:none; padding-top:10px; padding-bottom:10px}
.request-btn-hm ul li a:hover{text-decoration:none}
.common-top{margin-top:0px !important}

.rqst-access-box{float:none; width:100%; padding:15px}
.login-box{float:none; margin:10px 0 0 0; width:100%; padding:15px; min-height:0px !important}
.reqst-fields ul li{float:none; width:100%;}
.reqst-fields ul li:nth-child(2n){margin-left:0}
.reqst-fields ul li:last-child{text-align:center}
.login-bx-btn{float:none; text-align:center}
.forgot-chklink{float:none}

.account-link{padding:15px;}
.link-account{float:none; width:100%}
.feilds-accnt{float:none; width:100%; margin:0 auto; padding-top:15px}
.your-accnts-fld ul li{float:none; width:100%;}
.your-accnts-fld ul li:nth-child(2n){margin-left:0}
.your-accnts-fld ul li:last-child{text-align:center}

.library-list ul li{width:49%; display:block; float:left; margin:0 auto 10px auto !important;}
.library-img > img{width:100%;}
.library-list ul li:nth-child(2n){margin-left:2% !important; }
.library-info h2 {font: 16px/19px "gautamib";}
.library-info p{font-size:14px;}
.library-info{padding-right:50px;}
.search-cntr{float:right; width:60%;}
.library-list{margin-top:0; padding-top:25px}
.request-btn-hm ul li a{display:block}
}
@media screen and (min-width: 0) and (max-width:480px) {/*For mobile*/
.hm-login{width:85%;}
.small-text{font-size:14px; margin-top:30px}
.hm-play-btn{margin:0 auto 5px;}
.circle-center{width:200px; height:200px;}
.pulse{width:378px; height:378px; left:-100px; top:-100px;}
.big-text{font-size:24px;}
.library-list ul li{width:278px; margin:0 auto 10px auto !important; float:none}
.library-list ul li:nth-child(2n){margin-left:auto !important; }
.forgot-lnk{margin-left:15px;}
.reqst-login .container h2{font-size:21px}
.reqst-login .container h2 span{line-height:17px; margin-top:10px}
.search-cntr{float:right; width:67%;}
}
@media screen and (min-width: 0) and (max-width:320px) {/*For Small screen mobile*/
}

